Repository eventespresso/barista, changes with the labels that .github/labeler.yml gives for each.
All labels: C: accessibility ♿, C: assets 💎, C: automation & deployment ⚙️, C: build process 🔨, C: data systems 🗑, C: services 🤝, C: UI/UX 🚽, D: EDTR ✏️, D: EE CORE ☕, D: Event Smart 🛒, D: GB Blocks 🧱, D: Packages 📦, D: REM ♺, D: WP admin 🏠, D: WP User Add-on 👤

.github/labeler.yml:

"C: accessibility ♿":
- packages/i18n/*
- packages/i18n/**/*

"C: assets 💎":
- packages/adapters/*
- packages/adapters/**/*
- packages/icons/*
- packages/icons/**/*
- yarn.lock

"C: automation & deployment ⚙️":
- .github/*
- .github/**/*
- .husky/*
- .husky/**/*
- eslint/*
- tools/*
- .eslintignore
- .eslintrc.json
- .prettierrc.js

"C: build process 🔨":
- config/*
- scripts/*
- .wp-env.json
- babel.config.js
- composer.*
- lerna.json
- package.json
- tsconfig.*
- workspaces.json

"C: data systems 🗑":
- packages/constants/*
- packages/constants/**/*
- packages/data/*
- packages/data/**/*
- packages/dates/*
- packages/dates/**/*
- packages/edtr-services/*
- packages/edtr-services/**/*
- packages/form/*
- packages/form/**/*
- packages/form-builder/*
- packages/form-builder/**/*
- packages/rich-text-editor/*
- packages/rich-text-editor/**/*
- packages/rrule-generator/*
- packages/rrule-generator/**/*
- packages/storage/*
- packages/storage/**/*
- packages/toaster/*
- packages/toaster/**/*
- packages/tpc/*
- packages/tpc/**/*

"C: documentation 📑":
- docs/*
- docs/**/*
- any ['**/*.md']

"C: services 🤝":
- packages/events/*
- packages/events/**/*
- packages/helpers/*
- packages/helpers/**/*
- packages/hooks/*
- packages/hooks/**/*
- packages/ioc/*
- packages/ioc/**/*
- packages/plugins/*
- packages/plugins/**/*
- packages/predicates/*
- packages/predicates/**/*
- packages/registry/*
- packages/registry/**/*
- packages/services/*
- packages/services/**/*
- packages/slot-fill/*
- packages/slot-fill/**/*
- packages/utils/*
- packages/utils/**/*

"C: tests 🧪":
- .storybook/*
- storybook-static/*
- packages/storybook/*
- packages/storybook/**/*
- jest.config.ts
- any ['**/tests/*', '**/*.test.*']

"C: UI/UX 🚽":
- packages/ee-components/*
- packages/ee-components/**/*
- packages/react-exit-modal-typeform/*
- packages/react-exit-modal-typeform/**/*
- packages/styles/*
- packages/styles/**/*
- packages/ui-components/*
- packages/ui-components/**/*

"D: EDTR ✏️":
- domains/eventEditor/*
- domains/eventEditor/**/*

"D: EE CORE ☕":
- domains/core/*
- domains/core/**/*

"D: Event Smart 🛒":
- domains/eventSmart/*
- domains/eventSmart/**/*

"D: GB Blocks 🧱":
- domains/blocks/*
- domains/blocks/**/*

"D: Packages 📦":
- packages/*
- packages/**/*

"D: REM ♺":
- domains/rem/*
- domains/rem/**/*

"D: REPO 💾":
- any ['!domains/*', '!domains/**/*']

"D: WP admin 🏠":
- domains/wpPluginsPage/*
- domains/wpPluginsPage/**/*

"D: WP User Add-on 👤":
- domains/wpUser/*
- domains/wpUser/**/*

"S:1 new 👶🏻":
- any ['*', '**/*']

Work-in-progress
  domains/core/admin/eventEditor/src/ui/EventRegistrationOptions/types.ts
  domains/core/admin/eventEditor/src/ui/EventRegistrationOptions/withData.tsx
  packages/adapters/src/InlineEdit/InlineEdit/Adapter.tsx
  packages/adapters/src/InlineEdit/InlineEdit/InlineEdit.tsx
  packages/adapters/src/InlineEdit/InlineEdit/index.ts
  packages/adapters/src/InlineEdit/InlineEditInput/Adapter.tsx
  packages/adapters/src/InlineEdit/InlineEditInput/InlineEditInput.tsx
  packages/adapters/src/InlineEdit/InlineEditInput/index.ts
  packages/adapters/src/InlineEdit/index.ts
  packages/adapters/src/InlineEdit/types.ts
  packages/ui-components/src/InlineEdit/InlineEditInput/InlineEdit.tsx
  packages/ui-components/src/InlineEdit/InlineEditInput/types.ts
Labels: C: assets 💎, C: UI/UX 🚽, D: EE CORE ☕, D: Packages 📦

Set TypeScript to strict type
  packages/adapters/src/InlineEdit/tsconfig.json
Labels: C: assets 💎, D: Packages 📦

Create Adapter.tsx
  packages/adapters/src/InlineEdit/InlineEdit/Adapter.tsx
  packages/adapters/src/InlineEdit/types.ts
Labels: C: assets 💎, D: Packages 📦

Create utility function insertStrAt()
  packages/utils/src/text/index.ts
  packages/utils/src/text/insertStrAt/index.test.ts
  packages/utils/src/text/insertStrAt/index.ts
  packages/utils/src/text/insertStrAt/insertStrAt.ts
Labels: C: services 🤝, D: Packages 📦

Create Adapter.tsx
  packages/adapters/src/InlineEdit/InlineEditInput/Adapter.tsx
  packages/adapters/src/InlineEdit/types.ts
Labels: C: assets 💎, D: Packages 📦

Update InlineEditInput.tsx
  packages/adapters/src/InlineEdit/InlineEditInput/InlineEditInput.tsx
  packages/adapters/src/InlineEdit/types.ts
Labels: C: assets 💎, D: Packages 📦

Split component InlineEditInput.tsx
  packages/adapters/src/InlineEdit/InlineEditInput/Text.tsx
  packages/adapters/src/InlineEdit/InlineEditInput/Textarea.tsx
  packages/adapters/src/InlineEdit/types.ts
Labels: C: assets 💎, D: Packages 📦

Remove unnecessary components
  packages/adapters/src/InlineEdit/InlineEditInput/Adapter.tsx
  packages/adapters/src/InlineEdit/InlineEditInput/InlineEditInput.tsx
  packages/adapters/src/InlineEdit/InlineEditInput/index.ts
Labels: C: assets 💎, D: Packages 📦

Complete InlineEdit.tsx
  packages/adapters/src/InlineEdit/InlineEdit/InlineEdit.tsx
  packages/adapters/src/InlineEdit/types.ts
Labels: C: assets 💎, D: Packages 📦

Flatten directory structure
  packages/adapters/src/InlineEdit/Adapter.tsx
  packages/adapters/src/InlineEdit/InlineEdit.tsx
  packages/adapters/src/InlineEdit/InlineEdit/index.ts
  packages/adapters/src/InlineEdit/Text.tsx
  packages/adapters/src/InlineEdit/Textarea.tsx
  packages/adapters/src/InlineEdit/index.ts
Labels: C: assets 💎, D: Packages 📦

Consolidate folders
  packages/adapters/src/InlineEdit/InlineEdit/Text.tsx
  packages/adapters/src/InlineEdit/InlineEdit/Textarea.tsx
  packages/adapters/src/InlineEdit/InlineEdit/index.ts
  packages/adapters/src/InlineEdit/InlineEditInput/index.ts
Labels: C: assets 💎, D: Packages 📦

Fix types
  packages/adapters/src/InlineEdit/Adapter.tsx
  packages/adapters/src/InlineEdit/InlineEdit.tsx
  packages/adapters/src/InlineEdit/Text.tsx
  packages/adapters/src/InlineEdit/Textarea.tsx
Labels: C: assets 💎, D: Packages 📦

Fix type export
  packages/adapters/src/InlineEdit/index.ts
Labels: C: assets 💎, D: Packages 📦

Work-in-progress
  packages/adapters/src/InlineEdit/Adapter.tsx
  packages/adapters/src/InlineEdit/InlineEdit.tsx
  packages/adapters/src/InlineEdit/types.ts
Labels: C: assets 💎, D: Packages 📦

Silence eslinter
  packages/utils/src/text/insertStrAt/index.test.ts
Labels: C: services 🤝, D: Packages 📦

Remove InlineEditPreview.tsx
  packages/adapters/src/InlineEdit/InlineEdit.tsx
  packages/adapters/src/InlineEdit/InlineEditPreview.tsx
Labels: C: assets 💎, D: Packages 📦

Work-in-progress
  packages/adapters/src/InlineEdit/Adapter.tsx
  packages/adapters/src/InlineEdit/InlineEdit.tsx
  packages/adapters/src/InlineEdit/InlineEditPreview.tsx
  packages/adapters/src/InlineEdit/Text.tsx
  packages/adapters/src/InlineEdit/index.ts
  packages/adapters/src/InlineEdit/types.ts
Labels: C: assets 💎, D: Packages 📦

Add BUG
  packages/adapters/src/InlineEdit/InlineEdit.tsx
Labels: C: assets 💎, D: Packages 📦

Add TODO
  packages/adapters/src/InlineEdit/InlineEdit.tsx
Labels: C: assets 💎, D: Packages 📦

Work-in-progress
  packages/adapters/src/InlineEdit/InlineEdit.tsx
Labels: C: assets 💎, D: Packages 📦

Update LATER
  packages/adapters/src/InlineEdit/types.ts
Labels: C: assets 💎, D: Packages 📦

Refactor use of hook useEditable in InlineEdit.tsx
  packages/adapters/src/InlineEdit/InlineEdit.tsx
Labels: C: assets 💎, D: Packages 📦

Update TODO
  packages/adapters/src/InlineEdit/Adapter.tsx
Labels: C: assets 💎, D: Packages 📦

Fix type-related bug in InlineEdit.tsx
  packages/adapters/src/InlineEdit/Adapter.tsx
  packages/adapters/src/InlineEdit/InlineEdit.tsx
  packages/adapters/src/InlineEdit/types.ts
Labels: C: assets 💎, D: Packages 📦

Complete a type related TODO
  packages/adapters/src/InlineEdit/InlineEdit.tsx
Labels: C: assets 💎, D: Packages 📦

Remove a completed TODO
  packages/adapters/src/InlineEdit/Textarea.tsx
Labels: C: assets 💎, D: Packages 📦

Rename property
  packages/adapters/src/InlineEdit/Adapter.tsx
  packages/adapters/src/InlineEdit/InlineEdit.tsx
  packages/adapters/src/InlineEdit/types.ts
Labels: C: assets 💎, D: Packages 📦

Update property names
  packages/adapters/src/InlineEdit/Adapter.tsx
  packages/adapters/src/InlineEdit/InlineEdit.tsx
  packages/adapters/src/InlineEdit/types.ts
Labels: C: assets 💎, D: Packages 📦

Create legacy-types.ts
  packages/adapters/src/InlineEdit/index.ts
  packages/adapters/src/InlineEdit/legacy-types.ts
Labels: C: assets 💎, D: Packages 📦

Work-in-progress
  packages/adapters/src/InlineEdit/Adapter/Adapter.tsx
  packages/adapters/src/InlineEdit/Adapter/convertProps.ts
  packages/adapters/src/InlineEdit/Adapter/types.ts
  packages/adapters/src/InlineEdit/InlineEdit/Fries.tsx
  packages/adapters/src/InlineEdit/InlineEdit/InlineEdit.tsx
  packages/adapters/src/InlineEdit/InlineEdit/types.ts
  packages/adapters/src/InlineEdit/Preview/Preview.tsx
  packages/adapters/src/InlineEdit/Preview/types.ts
  packages/adapters/src/InlineEdit/types.ts
Labels: C: assets 💎, D: Packages 📦

Work-in-progress
  packages/adapters/src/InlineEdit/InlineEdit/types.ts
  packages/adapters/src/InlineEdit/Preview/Preview.tsx
  packages/adapters/src/InlineEdit/Preview/convertToLegacyProps.ts
  packages/adapters/src/InlineEdit/Preview/types.ts
Labels: C: assets 💎, D: Packages 📦

Work-in-progress
  packages/adapters/src/InlineEdit/Adapter/Adapter.tsx
  packages/adapters/src/InlineEdit/Adapter/convertInputType.ts
  packages/adapters/src/InlineEdit/Adapter/convertProps.ts
  packages/adapters/src/InlineEdit/Adapter/index.ts
  packages/adapters/src/InlineEdit/Adapter/types.ts
  packages/adapters/src/InlineEdit/InlineEdit.tsx
  packages/adapters/src/InlineEdit/InlineEdit/Fries.tsx
  packages/adapters/src/InlineEdit/InlineEdit/InlineEdit.tsx
  packages/adapters/src/InlineEdit/InlineEdit/index.ts
  packages/adapters/src/InlineEdit/InlineEdit/types.ts
  packages/adapters/src/InlineEdit/Input/Input.tsx
  packages/adapters/src/InlineEdit/Input/index.ts
  packages/adapters/src/InlineEdit/Input/onKeyDown.ts
  packages/adapters/src/InlineEdit/Input/types.ts
  packages/adapters/src/InlineEdit/Preview/Preview.tsx
  packages/adapters/src/InlineEdit/Preview/index.ts
  packages/adapters/src/InlineEdit/Preview/types.ts
  packages/adapters/src/InlineEdit/Textarea.tsx
Labels: C: assets 💎, D: Packages 📦

Fix linter errors
  packages/adapters/src/InlineEdit/InlineEdit/InlineEdit.tsx
  packages/adapters/src/InlineEdit/Input/Input.tsx
  packages/adapters/src/InlineEdit/Preview/Preview.tsx
  packages/adapters/src/InlineEdit/Preview/types.ts
Labels: C: assets 💎, D: Packages 📦

Work-in-progress
  packages/adapters/src/InlineEdit/Adapter/Component.tsx
  packages/adapters/src/InlineEdit/Adapter/convertProps.ts
  packages/adapters/src/InlineEdit/Adapter/createInputProp.ts
  packages/adapters/src/InlineEdit/Adapter/types.ts
Labels: C: assets 💎, D: Packages 📦

Complete TODOs
  packages/adapters/src/InlineEdit/InlineEdit/Fries.tsx
  packages/adapters/src/InlineEdit/InlineEdit/InlineEdit.tsx
  packages/adapters/src/InlineEdit/InlineEdit/types.ts
  packages/adapters/src/InlineEdit/Preview/types.ts
  packages/adapters/src/InlineEdit/Textarea.tsx
  packages/adapters/src/InlineEdit/index.ts
  packages/adapters/src/InlineEdit/types.ts
Labels: C: assets 💎, D: Packages 📦

Fix type-related bugs (work-in-progress)
  domains/core/admin/eventEditor/src/ui/EventRegistrationOptions/types.ts
  domains/core/admin/eventEditor/src/ui/EventRegistrationOptions/withData.tsx
  packages/adapters/src/InlineEdit/Adapter/Adapter.tsx
  packages/adapters/src/InlineEdit/Adapter/convertProps.ts
  packages/adapters/src/InlineEdit/Adapter/index.ts
  packages/adapters/src/InlineEdit/Adapter/types.ts
  packages/adapters/src/InlineEdit/InlineEdit/index.ts
  packages/adapters/src/InlineEdit/InlineEdit/types.ts
  packages/adapters/src/InlineEdit/Input/index.ts
  packages/adapters/src/InlineEdit/Preview/index.ts
  packages/adapters/src/InlineEdit/Preview/types.ts
  packages/adapters/src/InlineEdit/index.ts
  packages/adapters/src/InlineEdit/legacy-types.ts
  packages/ui-components/src/InlineEdit/InlineEditInput/InlineEdit.tsx
Labels: C: assets 💎, C: UI/UX 🚽, D: EE CORE ☕, D: Packages 📦

Fix component Preview not having a value
  packages/adapters/src/InlineEdit/InlineEdit/InlineEdit.tsx
Labels: C: assets 💎, D: Packages 📦

Fix type bug
  packages/ui-components/src/InlineEdit/InlineEditInput/types.ts
Labels: C: UI/UX 🚽, D: Packages 📦

Complete TODO
  packages/adapters/src/InlineEdit/Adapter/Component.tsx
  packages/adapters/src/InlineEdit/Adapter/convertProps.ts
  packages/adapters/src/InlineEdit/Preview/types.ts
Labels: C: assets 💎, D: Packages 📦

Add missing chakra state props to components
  packages/adapters/src/InlineEdit/Input/Input.tsx
  packages/adapters/src/InlineEdit/Preview/Preview.tsx
Labels: C: assets 💎, D: Packages 📦
