Repository eventespresso/barista, changes with the labels that .github/labeler.yml gives for each.
All labels: C: accessibility ♿, C: assets 💎, C: automation & deployment ⚙️, C: build process 🔨, C: data systems 🗑, C: services 🤝, C: UI/UX 🚽, D: EDTR ✏️, D: EE CORE ☕, D: Event Smart 🛒, D: GB Blocks 🧱, D: Packages 📦, D: REM ♺, D: WP admin 🏠, D: WP User Add-on 👤

Move Venue Sorting into useVenues() Hook (#1276)
  domains/core/admin/eventEditor/src/ui/venue/VenueDetails.tsx
  packages/edtr-services/src/apollo/queries/venues/useVenues.ts
Labels: C: data systems 🗑, D: EE CORE ☕, D: Packages 📦

Encrypt Playwright artifacts (#1275)
  .github/workflows/e2e-checks.yml
Labels: C: automation & deployment ⚙️

add popover footer
  packages/adapters/src/Popover/Popover.tsx
  packages/adapters/src/Popover/types.ts
Labels: C: assets 💎, D: Packages 📦

export EntityStatusSelector
  packages/ui-components/src/index.ts
Labels: C: UI/UX 🚽, D: Packages 📦

Update domains/core/admin/eventEditor/src/ui/datetimes/datesList/cardView/DatetimeStatus.tsx
  domains/core/admin/eventEditor/src/ui/datetimes/datesList/cardView/DatetimeStatus.tsx
Labels: D: EE CORE ☕

new icons
  packages/icons/src/icons/Asterisk.tsx
  packages/icons/src/icons/HelpOutlined.tsx
  packages/icons/src/icons/index.ts
  packages/icons/src/svg/asterisk.svg
  packages/icons/src/svg/helpOutlined.svg
  packages/icons/src/svg/info-circle-filled.svg
Labels: C: assets 💎, D: Packages 📦

add new DatetimeStatus component to DateCard
  domains/core/admin/eventEditor/src/ui/datetimes/datesList/cardView/DateCardSidebar.tsx
  domains/core/admin/eventEditor/src/ui/datetimes/datesList/cardView/DatetimeStatus.tsx
Labels: D: EE CORE ☕

use explicit DateStatus enum
  packages/edtr-services/src/apollo/types.ts
Labels: C: data systems 🗑, D: Packages 📦

add new EntityStatusSelector component
  packages/ui-components/src/EntityStatusSelector/EntityStatusSelector.tsx
  packages/ui-components/src/EntityStatusSelector/index.ts
  packages/ui-components/src/EntityStatusSelector/styles.scss
  packages/ui-components/src/EntityStatusSelector/types.ts
Labels: C: UI/UX 🚽, D: Packages 📦

add new statuses to legend
  domains/core/admin/eventEditor/src/ui/datetimes/datesList/config.ts
Labels: D: EE CORE ☕

after yarn update
  .husky/pre-commit
  tools/create-pull-request.sh
Labels: C: automation & deployment ⚙️

improve comment
  packages/helpers/src/datetimes/statusBgColorClassName.ts
Labels: C: services 🤝, D: Packages 📦

add new statuses and flags to datetime data model
  packages/edtr-services/src/apollo/mutations/datetimes/types.ts
  packages/edtr-services/src/apollo/mutations/datetimes/useOptimisticResponse.ts
  packages/edtr-services/src/apollo/mutations/utils.ts
  packages/edtr-services/src/apollo/queries/datetimes/queries.ts
  packages/edtr-services/src/apollo/queries/datetimes/test/data.ts
  packages/edtr-services/src/apollo/types.ts
  packages/predicates/src/datetimes/datetimeFields.ts
Labels: C: data systems 🗑, C: services 🤝, D: Packages 📦

update ticket status label to match datecard
  domains/core/admin/eventEditor/src/ui/tickets/ticketsList/cardView/TicketCardSidebar.tsx
Labels: D: EE CORE ☕

use predefined contants
  packages/helpers/src/datetimes/getStatusTextLabel.ts
Labels: C: services 🤝, D: Packages 📦

bunch of style tweaks
  packages/ui-components/src/BiggieCalendarDate/style.scss
  packages/ui-components/src/EntityCard/styles.scss
  packages/ui-components/src/EntityList/style.scss
  packages/ui-components/src/Popover/style.scss
Labels: C: UI/UX 🚽, D: Packages 📦

update status codes and labels
  packages/constants/src/datetime.ts
  packages/helpers/src/datetimes/getStatusTextLabel.ts
  packages/helpers/src/datetimes/status.ts
  packages/helpers/src/datetimes/statusBgColorClassName.ts
Labels: C: data systems 🗑, C: services 🤝, D: Packages 📦

update predicates to handle new statuses
  packages/predicates/src/common/isExpired/index.ts
  packages/predicates/src/datetimes/constants.ts
  packages/predicates/src/datetimes/filters/tests/data.ts
  packages/predicates/src/datetimes/index.ts
  packages/predicates/src/datetimes/isActive/index.ts
  packages/predicates/src/datetimes/isCancelled/index.ts
  packages/predicates/src/datetimes/isPostponed/index.ts
  packages/predicates/src/datetimes/isUpcoming/index.ts
Labels: C: services 🤝, D: Packages 📦

fix linting
  packages/helpers/src/datetimes/statusBgColorClassName.ts
Labels: C: services 🤝, D: Packages 📦

Remove unused import in getStatusTextLabel.ts
  packages/helpers/src/datetimes/getStatusTextLabel.ts
Labels: C: services 🤝, D: Packages 📦

fix linting
  packages/predicates/src/datetimes/isActive/index.ts
  packages/predicates/src/datetimes/isUpcoming/index.ts
Labels: C: services 🤝, D: Packages 📦

Update caniuse-lite to version 1.0.30001568
  yarn.lock
Labels: C: assets 💎

add status to ticket fields
  packages/edtr-services/src/apollo/mutations/tickets/types.ts
  packages/edtr-services/src/apollo/mutations/tickets/useOptimisticResponse.ts
  packages/edtr-services/src/apollo/queries/tickets/queries.ts
  packages/edtr-services/src/apollo/queries/tickets/test/data.ts
  packages/predicates/src/tickets/test/data.ts
  packages/predicates/src/tickets/ticketFields.ts
Labels: C: data systems 🗑, C: services 🤝, D: Packages 📦

Refactor isExpired function to include ignoreFlag parameter
  packages/predicates/src/common/isExpired/index.test.ts
Labels: C: services 🤝, D: Packages 📦

Add show all option to Pagination component
  packages/ui-components/src/Pagination/Pagination.tsx
  packages/ui-components/src/Pagination/constants.ts
  packages/ui-components/src/Pagination/style.scss
Labels: C: UI/UX 🚽, D: Packages 📦

move total items display into perPage component
  packages/ui-components/src/Pagination/Pagination.tsx
  packages/ui-components/src/Pagination/PerPage.tsx
  packages/ui-components/src/Pagination/style.scss
Labels: C: UI/UX 🚽, D: Packages 📦

Fix optional property handling in DateCard component
  domains/core/admin/eventEditor/src/ui/datetimes/datesList/cardView/DateCard.tsx
Labels: D: EE CORE ☕

Fix optional property handling in DateCard component (#1283)
  domains/core/admin/eventEditor/src/ui/datetimes/datesList/cardView/DateCard.tsx
Labels: D: EE CORE ☕

Update WDS_SOCKET_PORT default value
  config/env.js
  config/webpackDevServer.config.js
Labels: C: build process 🔨

Remove @emotion/styled dependency
  packages/adapters/package.json
Labels: C: assets 💎, D: Packages 📦

display error if "id" prop is missing
  packages/ui-components/src/dnd/DragAndDrop.tsx
Labels: C: UI/UX 🚽, D: Packages 📦

add key to list items
  packages/edtr-services/src/apollo/mutations/useReorderEntities.ts
Labels: C: data systems 🗑, D: Packages 📦

Add isTBD and isNotTBD functions to handle datetime status
  packages/predicates/src/datetimes/isTBD/index.ts
Labels: C: services 🤝, D: Packages 📦

Add isTBD status to datetimeStatus
  packages/constants/src/datetime.ts
Labels: C: data systems 🗑, D: Packages 📦

Add isTBD and isNotTBD predicates
  packages/predicates/src/datetimes/index.ts
Labels: C: services 🤝, D: Packages 📦

Refactor datetime filters to use index imports
  packages/predicates/src/datetimes/filters/activeUpcoming/index.ts
  packages/predicates/src/datetimes/filters/upcomingOnly/index.ts
Labels: C: services 🤝, D: Packages 📦

Refactor soldOutOnly filter function
  packages/predicates/src/datetimes/filters/soldOutOnly/index.ts
Labels: C: services 🤝, D: Packages 📦

Add support for checking cancellation status in isCancelled predicate
  packages/predicates/src/datetimes/isCancelled/index.ts
Labels: C: services 🤝, D: Packages 📦

Add support for 'status' property in isPostponed predicate
  packages/predicates/src/datetimes/isPostponed/index.ts
Labels: C: services 🤝, D: Packages 📦

Refactor isUpcoming function to handle additional conditions
  packages/predicates/src/datetimes/isUpcoming/index.ts
Labels: C: services 🤝, D: Packages 📦

.github/labeler.yml:

"C: accessibility ♿":
- packages/i18n/*
- packages/i18n/**/*

"C: assets 💎":
- packages/adapters/*
- packages/adapters/**/*
- packages/icons/*
- packages/icons/**/*
- yarn.lock

"C: automation & deployment ⚙️":
- .github/*
- .github/**/*
- .husky/*
- .husky/**/*
- eslint/*
- tools/*
- .eslintignore
- .eslintrc.json
- .prettierrc.js

"C: build process 🔨":
- config/*
- scripts/*
- .wp-env.json
- babel.config.js
- composer.*
- lerna.json
- package.json
- tsconfig.*
- workspaces.json

"C: data systems 🗑":
- packages/constants/*
- packages/constants/**/*
- packages/data/*
- packages/data/**/*
- packages/dates/*
- packages/dates/**/*
- packages/edtr-services/*
- packages/edtr-services/**/*
- packages/form/*
- packages/form/**/*
- packages/form-builder/*
- packages/form-builder/**/*
- packages/rich-text-editor/*
- packages/rich-text-editor/**/*
- packages/rrule-generator/*
- packages/rrule-generator/**/*
- packages/storage/*
- packages/storage/**/*
- packages/toaster/*
- packages/toaster/**/*
- packages/tpc/*
- packages/tpc/**/*

"C: documentation 📑":
- docs/*
- docs/**/*
- any ['**/*.md']

"C: services 🤝":
- packages/events/*
- packages/events/**/*
- packages/helpers/*
- packages/helpers/**/*
- packages/hooks/*
- packages/hooks/**/*
- packages/ioc/*
- packages/ioc/**/*
- packages/plugins/*
- packages/plugins/**/*
- packages/predicates/*
- packages/predicates/**/*
- packages/registry/*
- packages/registry/**/*
- packages/services/*
- packages/services/**/*
- packages/slot-fill/*
- packages/slot-fill/**/*
- packages/utils/*
- packages/utils/**/*

"C: tests 🧪":
- .storybook/*
- storybook-static/*
- packages/storybook/*
- packages/storybook/**/*
- jest.config.ts
- any ['**/tests/*', '**/*.test.*']

"C: UI/UX 🚽":
- packages/ee-components/*
- packages/ee-components/**/*
- packages/react-exit-modal-typeform/*
- packages/react-exit-modal-typeform/**/*
- packages/styles/*
- packages/styles/**/*
- packages/ui-components/*
- packages/ui-components/**/*

"D: EDTR ✏️":
- domains/eventEditor/*
- domains/eventEditor/**/*

"D: EE CORE ☕":
- domains/core/*
- domains/core/**/*

"D: Event Smart 🛒":
- domains/eventSmart/*
- domains/eventSmart/**/*

"D: GB Blocks 🧱":
- domains/blocks/*
- domains/blocks/**/*

"D: Packages 📦":
- packages/*
- packages/**/*

"D: REM ♺":
- domains/rem/*
- domains/rem/**/*

"D: REPO 💾":
- any ['!domains/*', '!domains/**/*']

"D: WP admin 🏠":
- domains/wpPluginsPage/*
- domains/wpPluginsPage/**/*

"D: WP User Add-on 👤":
- domains/wpUser/*
- domains/wpUser/**/*

"S:1 new 👶🏻":
- any ['*', '**/*']
