Repository eventespresso/barista, changes with the labels that .github/labeler.yml gives for each.
All labels: C: accessibility ♿, C: assets 💎, C: automation & deployment ⚙️, C: build process 🔨, C: data systems 🗑, C: services 🤝, C: UI/UX 🚽, D: EDTR ✏️, D: EE CORE ☕, D: Event Smart 🛒, D: GB Blocks 🧱, D: Packages 📦, D: REM ♺, D: WP admin 🏠, D: WP User Add-on 👤

Update renamed helper functions for datetime and ticket status
  domains/core/admin/eventEditor/src/ui/datetimes/datesList/tableView/useBodyRowGenerator.tsx
  domains/core/admin/eventEditor/src/ui/tickets/ticketsList/cardView/TicketCard.tsx
  domains/core/admin/eventEditor/src/ui/tickets/ticketsList/tableView/useBodyRowGenerator.tsx
Labels: D: EE CORE ☕

Refactor DateCard component to use modified datetime status
  domains/core/admin/eventEditor/src/ui/datetimes/datesList/cardView/DateCard.tsx
Labels: D: EE CORE ☕

Add modifyDatetimeStatusBasedOnTickets utility function
  packages/edtr-services/src/utils/index.ts
  packages/edtr-services/src/utils/modifyDatetimeStatusBasedOnTickets.ts
Labels: C: data systems 🗑, D: Packages 📦

fix entity.__typename is null issue for isTicket; remove __typename from Datetime since it is declared on Entity
  packages/edtr-services/src/apollo/types.ts
Labels: C: data systems 🗑, D: Packages 📦

Work-in-progress
  packages/tpc/src/components/price/base-field/Factory.tsx
  packages/tpc/src/components/price/base-field/types.ts
  packages/ui-components/src/NumberInput/index.tsx
Labels: C: data systems 🗑, C: UI/UX 🚽, D: Packages 📦

Work-in-progress
  packages/tpc/src/components/price/base-field/Factory.tsx
  packages/tpc/src/components/price/base-field/types.ts
  packages/ui-components/src/NumberInput/index.tsx
Labels: C: data systems 🗑, C: UI/UX 🚽, D: Packages 📦

Complete some TODOs
  packages/tpc/src/components/price/base-field/Factory.tsx
  packages/tpc/src/components/price/base-field/IsPropsType.ts
  packages/tpc/src/components/price/base-field/index.ts
  packages/tpc/src/components/price/base-field/types.ts
  packages/tpc/src/components/price/base-field/useFactory.ts
Labels: C: data systems 🗑, D: Packages 📦

Complete some TODOs
  packages/tpc/src/components/price/base-field/Factory.tsx
  packages/tpc/src/components/price/base-field/IsPropsType.ts
  packages/tpc/src/components/price/base-field/index.ts
  packages/tpc/src/components/price/base-field/types.ts
  packages/tpc/src/components/price/base-field/useFactory.ts
Labels: C: data systems 🗑, D: Packages 📦

Work-in-progress
  packages/tpc/src/components/price/base-field/Factory.tsx
  packages/tpc/src/components/price/base-field/IsPropsType.ts
  packages/tpc/src/components/price/base-field/types.ts
  packages/tpc/src/components/price/base-field/useFactory.ts
Labels: C: data systems 🗑, D: Packages 📦

Work-in-progress
  packages/tpc/src/components/price/base-field/Factory.tsx
  packages/tpc/src/components/price/base-field/IsPropsType.ts
  packages/tpc/src/components/price/base-field/types.ts
  packages/tpc/src/components/price/base-field/useFactory.ts
Labels: C: data systems 🗑, D: Packages 📦

Update useFactory.ts
  packages/tpc/src/components/price/base-field/useFactory.ts
Labels: C: data systems 🗑, D: Packages 📦

Update useFactory.ts
  packages/tpc/src/components/price/base-field/useFactory.ts
Labels: C: data systems 🗑, D: Packages 📦

Move factory to its own directory
  packages/tpc/src/components/price/base-field/index.ts
  packages/tpc/src/components/price/factory/Factory.tsx
  packages/tpc/src/components/price/factory/Fries.tsx
  packages/tpc/src/components/price/factory/IsPropsType.ts
  packages/tpc/src/components/price/factory/index.ts
  packages/tpc/src/components/price/factory/types.ts
  packages/tpc/src/components/price/factory/useFactory.ts
  packages/tpc/src/components/price/index.ts
Labels: C: data systems 🗑, D: Packages 📦

Move factory to its own directory
  packages/tpc/src/components/price/base-field/index.ts
  packages/tpc/src/components/price/factory/Factory.tsx
  packages/tpc/src/components/price/factory/Fries.tsx
  packages/tpc/src/components/price/factory/IsPropsType.ts
  packages/tpc/src/components/price/factory/index.ts
  packages/tpc/src/components/price/factory/types.ts
  packages/tpc/src/components/price/factory/useFactory.ts
  packages/tpc/src/components/price/index.ts
Labels: C: data systems 🗑, D: Packages 📦

load and initialize Barista during core bootstrap process
  ee-barista.php
Labels: none

save FF config after making updates
  lib/FeatureFlagsAdminPage.php
Labels: none

display overridden notice and disable switch if overridden
  lib/FeatureFlagsConfigForm.php
Labels: none

Allow setting attribute "pattern" on component NumberInput
  packages/adapters/src/NumberInput/types.ts
Labels: C: assets 💎, D: Packages 📦

Allow setting attribute "pattern" on component NumberInput
  packages/adapters/src/NumberInput/types.ts
Labels: C: assets 💎, D: Packages 📦

Use factory for component FormattedPrice
  packages/tpc/src/components/price/factory/Factory.tsx
  packages/tpc/src/components/price/factory/types.ts
  packages/tpc/src/components/price/factory/useFactory.ts
  packages/tpc/src/components/price/input/FormattedPrice.tsx
Labels: C: data systems 🗑, D: Packages 📦

Use factory for component FormattedPrice
  packages/tpc/src/components/price/factory/Factory.tsx
  packages/tpc/src/components/price/factory/types.ts
  packages/tpc/src/components/price/factory/useFactory.ts
  packages/tpc/src/components/price/input/FormattedPrice.tsx
Labels: C: data systems 🗑, D: Packages 📦

Consolidate some types
  packages/tpc/src/components/price/input/FormattedPrice.tsx
  packages/tpc/src/components/price/input/amount/useAmount.tsx
  packages/tpc/src/components/price/types.ts
Labels: C: data systems 🗑, D: Packages 📦

Consolidate some types
  packages/tpc/src/components/price/input/FormattedPrice.tsx
  packages/tpc/src/components/price/input/amount/useAmount.tsx
  packages/tpc/src/components/price/types.ts
Labels: C: data systems 🗑, D: Packages 📦

Remove invalid DOM property
  packages/tpc/src/components/table/useFooterRowGenerator.tsx
Labels: C: data systems 🗑, D: Packages 📦

Remove invalid DOM property
  packages/tpc/src/components/table/useFooterRowGenerator.tsx
Labels: C: data systems 🗑, D: Packages 📦

Update Factory.tsx
  packages/tpc/src/components/price/factory/Factory.tsx
Labels: C: data systems 🗑, D: Packages 📦

Update Factory.tsx
  packages/tpc/src/components/price/factory/Factory.tsx
Labels: C: data systems 🗑, D: Packages 📦

Refactor component Description to use Factory
  packages/tpc/src/components/price/input/Description.tsx
Labels: C: data systems 🗑, D: Packages 📦

Refactor component Description to use Factory
  packages/tpc/src/components/price/input/Description.tsx
Labels: C: data systems 🗑, D: Packages 📦

Refactor some components to use Factory instead of BaseField
  packages/tpc/src/components/price/input/Description.tsx
  packages/tpc/src/components/price/input/Input.tsx
  packages/tpc/src/components/price/input/Name.tsx
  packages/tpc/src/components/price/input/Order.tsx
  packages/tpc/src/components/price/input/Type.tsx
  packages/tpc/src/components/price/input/index.ts
  packages/tpc/src/components/price/input/useData.ts
  packages/tpc/src/components/price/types.ts
  packages/ui-components/src/Select/types.ts
Labels: C: data systems 🗑, C: UI/UX 🚽, D: Packages 📦

Refactor some components to use Factory instead of BaseField
  packages/tpc/src/components/price/input/Description.tsx
  packages/tpc/src/components/price/input/Input.tsx
  packages/tpc/src/components/price/input/Name.tsx
  packages/tpc/src/components/price/input/Order.tsx
  packages/tpc/src/components/price/input/Type.tsx
  packages/tpc/src/components/price/input/index.ts
  packages/tpc/src/components/price/input/useData.ts
  packages/tpc/src/components/price/types.ts
  packages/ui-components/src/Select/types.ts
Labels: C: data systems 🗑, C: UI/UX 🚽, D: Packages 📦

Refactor type in useData.ts
  packages/tpc/src/components/price/input/useData.ts
Labels: C: data systems 🗑, D: Packages 📦

Refactor type in useData.ts
  packages/tpc/src/components/price/input/useData.ts
Labels: C: data systems 🗑, D: Packages 📦

Add attribute "disabled"
  packages/adapters/src/NumberInput/types.ts
Labels: C: assets 💎, D: Packages 📦

Add attribute "disabled"
  packages/adapters/src/NumberInput/types.ts
Labels: C: assets 💎, D: Packages 📦

Update component Amount and its associated hook useAmount
  packages/tpc/src/components/price/input/amount/Amount.tsx
  packages/tpc/src/components/price/input/amount/useAmount.tsx
Labels: C: data systems 🗑, D: Packages 📦

Update component Amount and its associated hook useAmount
  packages/tpc/src/components/price/input/amount/Amount.tsx
  packages/tpc/src/components/price/input/amount/useAmount.tsx
Labels: C: data systems 🗑, D: Packages 📦

Remove test code
  packages/tpc/src/components/price/factory/Fries.tsx
  packages/tpc/src/fields/factory.tsx
  packages/tpc/src/fields/fries.tsx
  packages/tpc/src/fields/types-refactored.ts
Labels: C: data systems 🗑, D: Packages 📦

Remove test code
  packages/tpc/src/components/price/factory/Fries.tsx
  packages/tpc/src/fields/factory.tsx
  packages/tpc/src/fields/fries.tsx
  packages/tpc/src/fields/types-refactored.ts
Labels: C: data systems 🗑, D: Packages 📦

Remove component Input
  packages/tpc/src/components/price/input/Input.tsx
  packages/tpc/src/components/price/input/index.ts
Labels: C: data systems 🗑, D: Packages 📦

.github/labeler.yml:

"C: accessibility ♿":
- packages/i18n/*
- packages/i18n/**/*

"C: assets 💎":
- packages/adapters/*
- packages/adapters/**/*
- packages/icons/*
- packages/icons/**/*
- yarn.lock

"C: automation & deployment ⚙️":
- .github/*
- .github/**/*
- .husky/*
- .husky/**/*
- eslint/*
- tools/*
- .eslintignore
- .eslintrc.json
- .prettierrc.js

"C: build process 🔨":
- config/*
- scripts/*
- .wp-env.json
- babel.config.js
- composer.*
- lerna.json
- package.json
- tsconfig.*
- workspaces.json

"C: data systems 🗑":
- packages/constants/*
- packages/constants/**/*
- packages/data/*
- packages/data/**/*
- packages/dates/*
- packages/dates/**/*
- packages/edtr-services/*
- packages/edtr-services/**/*
- packages/form/*
- packages/form/**/*
- packages/form-builder/*
- packages/form-builder/**/*
- packages/rich-text-editor/*
- packages/rich-text-editor/**/*
- packages/rrule-generator/*
- packages/rrule-generator/**/*
- packages/storage/*
- packages/storage/**/*
- packages/toaster/*
- packages/toaster/**/*
- packages/tpc/*
- packages/tpc/**/*

"C: documentation 📑":
- docs/*
- docs/**/*
- any ['**/*.md']

"C: services 🤝":
- packages/events/*
- packages/events/**/*
- packages/helpers/*
- packages/helpers/**/*
- packages/hooks/*
- packages/hooks/**/*
- packages/ioc/*
- packages/ioc/**/*
- packages/plugins/*
- packages/plugins/**/*
- packages/predicates/*
- packages/predicates/**/*
- packages/registry/*
- packages/registry/**/*
- packages/services/*
- packages/services/**/*
- packages/slot-fill/*
- packages/slot-fill/**/*
- packages/utils/*
- packages/utils/**/*

"C: tests 🧪":
- .storybook/*
- storybook-static/*
- packages/storybook/*
- packages/storybook/**/*
- jest.config.ts
- any ['**/tests/*', '**/*.test.*']

"C: UI/UX 🚽":
- packages/ee-components/*
- packages/ee-components/**/*
- packages/react-exit-modal-typeform/*
- packages/react-exit-modal-typeform/**/*
- packages/styles/*
- packages/styles/**/*
- packages/ui-components/*
- packages/ui-components/**/*

"D: EDTR ✏️":
- domains/eventEditor/*
- domains/eventEditor/**/*

"D: EE CORE ☕":
- domains/core/*
- domains/core/**/*

"D: Event Smart 🛒":
- domains/eventSmart/*
- domains/eventSmart/**/*

"D: GB Blocks 🧱":
- domains/blocks/*
- domains/blocks/**/*

"D: Packages 📦":
- packages/*
- packages/**/*

"D: REM ♺":
- domains/rem/*
- domains/rem/**/*

"D: REPO 💾":
- any ['!domains/*', '!domains/**/*']

"D: WP admin 🏠":
- domains/wpPluginsPage/*
- domains/wpPluginsPage/**/*

"D: WP User Add-on 👤":
- domains/wpUser/*
- domains/wpUser/**/*

"S:1 new 👶🏻":
- any ['*', '**/*']
