Repository eventespresso/barista, changes with the labels that .github/labeler.yml gives for each.
All labels: C: accessibility ♿, C: assets 💎, C: automation & deployment ⚙️, C: build process 🔨, C: data systems 🗑, C: services 🤝, C: UI/UX 🚽, D: EDTR ✏️, D: EE CORE ☕, D: Event Smart 🛒, D: GB Blocks 🧱, D: Packages 📦, D: REM ♺, D: WP admin 🏠, D: WP User Add-on 👤

.github/labeler.yml:

"C: accessibility ♿":
- packages/i18n/*
- packages/i18n/**/*

"C: assets 💎":
- packages/adapters/*
- packages/adapters/**/*
- packages/icons/*
- packages/icons/**/*
- yarn.lock

"C: automation & deployment ⚙️":
- .github/*
- .github/**/*
- .husky/*
- .husky/**/*
- eslint/*
- tools/*
- .eslintignore
- .eslintrc.json
- .prettierrc.js

"C: build process 🔨":
- config/*
- scripts/*
- .wp-env.json
- babel.config.js
- composer.*
- lerna.json
- package.json
- tsconfig.*
- workspaces.json

"C: data systems 🗑":
- packages/constants/*
- packages/constants/**/*
- packages/data/*
- packages/data/**/*
- packages/dates/*
- packages/dates/**/*
- packages/edtr-services/*
- packages/edtr-services/**/*
- packages/form/*
- packages/form/**/*
- packages/form-builder/*
- packages/form-builder/**/*
- packages/rich-text-editor/*
- packages/rich-text-editor/**/*
- packages/rrule-generator/*
- packages/rrule-generator/**/*
- packages/storage/*
- packages/storage/**/*
- packages/toaster/*
- packages/toaster/**/*
- packages/tpc/*
- packages/tpc/**/*

"C: documentation 📑":
- docs/*
- docs/**/*
- any ['**/*.md']

"C: services 🤝":
- packages/events/*
- packages/events/**/*
- packages/helpers/*
- packages/helpers/**/*
- packages/hooks/*
- packages/hooks/**/*
- packages/ioc/*
- packages/ioc/**/*
- packages/plugins/*
- packages/plugins/**/*
- packages/predicates/*
- packages/predicates/**/*
- packages/registry/*
- packages/registry/**/*
- packages/services/*
- packages/services/**/*
- packages/slot-fill/*
- packages/slot-fill/**/*
- packages/utils/*
- packages/utils/**/*

"C: tests 🧪":
- .storybook/*
- storybook-static/*
- packages/storybook/*
- packages/storybook/**/*
- jest.config.ts
- any ['**/tests/*', '**/*.test.*']

"C: UI/UX 🚽":
- packages/ee-components/*
- packages/ee-components/**/*
- packages/react-exit-modal-typeform/*
- packages/react-exit-modal-typeform/**/*
- packages/styles/*
- packages/styles/**/*
- packages/ui-components/*
- packages/ui-components/**/*

"D: EDTR ✏️":
- domains/eventEditor/*
- domains/eventEditor/**/*

"D: EE CORE ☕":
- domains/core/*
- domains/core/**/*

"D: Event Smart 🛒":
- domains/eventSmart/*
- domains/eventSmart/**/*

"D: GB Blocks 🧱":
- domains/blocks/*
- domains/blocks/**/*

"D: Packages 📦":
- packages/*
- packages/**/*

"D: REM ♺":
- domains/rem/*
- domains/rem/**/*

"D: REPO 💾":
- any ['!domains/*', '!domains/**/*']

"D: WP admin 🏠":
- domains/wpPluginsPage/*
- domains/wpPluginsPage/**/*

"D: WP User Add-on 👤":
- domains/wpUser/*
- domains/wpUser/**/*

"S:1 new 👶🏻":
- any ['*', '**/*']

Make global window tyoe "eventEspressoData" optional
  types/global.ts
Labels: none

Update types.ts
  packages/config/src/types.ts
Labels: D: Packages 📦

Make package "config" use strict TS settings
  packages/config/tsconfig.json
Labels: D: Packages 📦

Complete Factory.ts
  packages/config/src/Factory.ts
  packages/config/src/Locale.ts
  packages/config/src/SiteUrls.ts
  packages/config/src/index.ts
  packages/config/src/types.ts
  packages/services/src/context/useConfigData.ts
Labels: C: services 🤝, D: Packages 📦

Make package "config" L0
  eslint/levels.js
Labels: C: automation & deployment ⚙️

Consolidate DateTimeFormat.ts
  packages/config/src/DateTimeFormats.ts
  packages/config/src/defaultDateTimeFormats.ts
Labels: D: Packages 📦

yarn install
  yarn.lock
Labels: C: assets 💎

Update useConfigData.ts
  packages/config/src/Factory.ts
  packages/services/src/context/useConfigData.ts
Labels: C: services 🤝, D: Packages 📦

Fix types
  domains/core/admin/eventEditor/src/services/context/types.ts
  domains/eventSmart/admin/upsellEditor/src/services/apollo/mutations/types.ts
  domains/rem/src/data/types.ts
  packages/data/src/queries/attendees/types.ts
  packages/data/src/queries/generalSettings/useUpdateGeneralSettingsCache.ts
  packages/edtr-services/src/apollo/queries/types.ts
  packages/edtr-services/src/hooks/edtrState/useVisibleDatetimeIds.ts
  packages/ee-components/src/EntityList/types.ts
  packages/predicates/src/common/selectionById/index.ts
  packages/registry/src/entityCardDetails/types.ts
  packages/tpc/src/hooks/useMutateTicket.ts
  packages/ui-components/src/EntityList/types.ts
Labels: C: data systems 🗑, C: services 🤝, C: UI/UX 🚽, D: EE CORE ☕, D: Event Smart 🛒, D: Packages 📦, D: REM ♺

Remove TS strict mode on package "config"
  packages/config/tsconfig.json
Labels: D: Packages 📦

Upgrade TypeScript to latest version
  package.json
  yarn.lock
Labels: C: assets 💎, C: build process 🔨

Set @chakra-ui/react@^1.6 to be an explicit root-level dependency
  package.json
  yarn.lock
Labels: C: assets 💎, C: build process 🔨

Downgrade TypeScript to version ^4
  package.json
  yarn.lock
Labels: C: assets 💎, C: build process 🔨

Revert "Temporary fix for E2E tests (#1294)"
  .github/workflows/e2e-cache-warmup.yml
  .github/workflows/e2e-checks.yml
Labels: C: automation & deployment ⚙️

Create package "types"
  eslint/levels.js
  packages/types/package.json
  packages/types/src/index.ts
  packages/types/tsconfig.json
Labels: C: automation & deployment ⚙️, D: Packages 📦

Create TODOs
  domains/core/admin/blocks/src/event-attendees/types.ts
  domains/core/admin/blocks/src/services/apollo/types.ts
  domains/core/admin/eventEditor/src/ui/tickets/defaultTickets/data/types.ts
  domains/rem/src/services/apollo/mutations/recurrences/types.ts
  domains/rem/src/ui/generatedDates/types.ts
  domains/wpUser/src/types.ts
  packages/adapters/src/Pagination/types.ts
  packages/data/src/queries/currentUser/types.ts
  packages/data/src/queries/recurrences/types.ts
  packages/data/src/queries/registrations/types.ts
  packages/data/src/queries/tickets/types.ts
  packages/data/src/queries/types.ts
  packages/data/src/types.ts
  packages/dates/src/types.ts
  packages/edtr-services/src/apollo/mutations/datetimes/types.ts
  packages/edtr-services/src/apollo/mutations/prices/types.ts
  packages/edtr-services/src/apollo/mutations/tickets/types.ts
  packages/edtr-services/src/apollo/types.ts
  packages/edtr-services/src/types.ts
  packages/ee-components/src/EditDateRangeButton/types.ts
  packages/ee-components/src/EntityList/types.ts
  packages/predicates/src/datetimes/filters/types.ts
  packages/registry/src/entityActionsMenu/types.ts
  packages/registry/src/entityCardDetails/types.ts
  packages/registry/src/modals/types.ts
  packages/rich-text-editor/src/components/RichTextEditor/types.ts
  packages/rich-text-editor/src/rte-old/components/RichTextEditor/types.ts
  packages/services/src/config/types.ts
  packages/services/src/filterState/types.ts
  packages/services/src/permissions/types.ts
  packages/services/src/types.ts
  packages/ui-components/src/CalendarDateSwitcher/types.ts
  packages/ui-components/src/CurrencyDisplay/types.ts
  packages/ui-components/src/MoneyInputWrapper/types.ts
  packages/ui-components/src/Pagination/types.ts
  packages/ui-components/src/TabbableText/types.ts
  packages/ui-components/src/dnd/types.ts
  packages/utils/src/types.ts
  types/global.ts
Labels: C: assets 💎, C: data systems 🗑, C: services 🤝, C: UI/UX 🚽, D: EE CORE ☕, D: Packages 📦, D: REM ♺, D: WP User Add-on 👤

Complete TODO for creating package "types"
  packages/edtr-services/src/context/test/useDomTestData.ts
  packages/services/src/utils/getEEDomData.ts
  packages/types/src/index.ts
  types/global.ts
  types/index.ts
Labels: C: data systems 🗑, C: services 🤝, D: Packages 📦

Convert TODOs to LATERs
  packages/adapters/src/Pagination/types.ts
  packages/ui-components/src/Pagination/types.ts
Labels: C: assets 💎, C: UI/UX 🚽, D: Packages 📦

Small code update
  packages/types/src/index.ts
  packages/types/src/window-types.ts
Labels: D: Packages 📦

Refactor type "StartAndEndDate"
  domains/core/admin/eventEditor/src/ui/tickets/defaultTickets/data/types.ts
  domains/rem/src/data/types.ts
  domains/rem/src/data/useMutateTickets.ts
  domains/rem/src/ui/Tickets/types.ts
  domains/rem/src/utils/date.ts
  packages/dates/src/types.ts
  packages/edtr-services/src/apollo/types.ts
  packages/ee-components/src/EditDateRangeButton/types.ts
  packages/types/src/generic-types.ts
  packages/types/src/index.ts
  packages/ui-components/src/CalendarDateRange/types.ts
  packages/ui-components/src/CalendarDateSwitcher/types.ts
  packages/ui-components/src/EditDateRangeButton/types.ts
Labels: C: data systems 🗑, C: UI/UX 🚽, D: EE CORE ☕, D: Packages 📦, D: REM ♺

Fix formatting in validate.js
  eslint/validate.js
Labels: C: automation & deployment ⚙️

Add package "types" to workspaces.json
  workspaces.json
Labels: C: build process 🔨

Fix import bug for global types
  packages/data/src/index.ts
  packages/edtr-services/src/index.ts
  packages/i18n/src/index.ts
Labels: C: accessibility ♿, C: data systems 🗑, D: Packages 📦

Fix import bug for global types (addendum)
  domains/core/admin/eventEditor/src/index.ts
  domains/core/admin/wpPluginsPage/src/index.ts
  domains/eventSmart/admin/upsellEditor/src/index.ts
Labels: D: EE CORE ☕, D: Event Smart 🛒

Revert: Temporary fix for E2E tests #1294 (#1296)
  .github/workflows/e2e-cache-warmup.yml
  .github/workflows/e2e-checks.yml
Labels: C: automation & deployment ⚙️

Complete TODO in package 'services'
  packages/services/src/filterState/types.ts
Labels: C: services 🤝, D: Packages 📦

Remove unused utility type Intersection
  packages/utils/src/types.ts
Labels: C: services 🤝, D: Packages 📦

Move utility type Merge
  packages/edtr-services/src/apollo/mutations/types.ts
  packages/utils/src/types.ts
Labels: C: data systems 🗑, C: services 🤝, D: Packages 📦

Remove type Disclosure
  domains/core/admin/eventEditor/src/ui/tickets/defaultTickets/multiStep/types.ts
  domains/rem/src/ui/Tickets/multiStep/types.ts
  packages/ee-components/src/EntityEditForm/types.ts
  packages/utils/src/types.ts
Labels: C: services 🤝, C: UI/UX 🚽, D: EE CORE ☕, D: Packages 📦, D: REM ♺

Move type OmitFirstFromArray
  packages/ioc/src/hooks.ts
  packages/utils/src/types.ts
Labels: C: services 🤝, D: Packages 📦

Add LATER
  packages/predicates/src/prices/selectionPredicates/index.ts
Labels: C: services 🤝, D: Packages 📦

Reorder workspaces.js
  workspaces.json
Labels: C: build process 🔨

Move type KeysOfType
  packages/edtr-services/src/apollo/mutations/datetimes/constants.ts
  packages/edtr-services/src/apollo/mutations/prices/constants.ts
  packages/edtr-services/src/apollo/mutations/tickets/constants.ts
  packages/edtr-services/src/apollo/mutations/types.ts
  packages/utils/src/types.ts
Labels: C: data systems 🗑, C: services 🤝, D: Packages 📦

Move types BoolField and EntityFieldPred
  packages/predicates/src/prices/selectionPredicates/index.ts
  packages/utils/src/types.ts
Labels: C: services 🤝, D: Packages 📦

Move type PropsPath
  packages/form-builder/src/FormElement/useUpdateElement.ts
  packages/form-builder/src/FormSection/useUpdateSection.ts
  packages/form-builder/src/types.ts
  packages/utils/src/types.ts
Labels: C: data systems 🗑, C: services 🤝, D: Packages 📦

Fix import for type EntityFieldPred
  packages/predicates/src/common/isDefault/index.ts
  packages/predicates/src/common/isTrashed/index.ts
  packages/predicates/src/prices/selectionPredicates/index.ts
Labels: C: services 🤝, D: Packages 📦

Merge types.ts
  packages/predicates/src/datetimes/filters/types.ts
  packages/predicates/src/datetimes/index.ts
  packages/predicates/src/datetimes/types.ts
Labels: C: services 🤝, D: Packages 📦

Fix import of type DatetimeSales
  packages/predicates/src/datetimes/filters/salesFilter.ts
Labels: C: services 🤝, D: Packages 📦

Fix import of type DatesStatusFilter
  packages/predicates/src/datetimes/filters/statusFilter.ts
Labels: C: services 🤝, D: Packages 📦

Create first data types in package "types"
  packages/types/src/data/datetime.ts
  packages/types/src/data/entity.ts
  packages/types/src/data/event.ts
  packages/types/src/data/index.ts
  packages/types/src/data/user.ts
  packages/types/src/data/venue.ts
  packages/types/src/index.ts
Labels: D: Packages 📦
