Repository eventespresso/barista, changes with the labels that .github/labeler.yml gives for each.
All labels: C: accessibility ♿, C: assets 💎, C: automation & deployment ⚙️, C: build process 🔨, C: data systems 🗑, C: services 🤝, C: UI/UX 🚽, D: EDTR ✏️, D: EE CORE ☕, D: Event Smart 🛒, D: GB Blocks 🧱, D: Packages 📦, D: REM ♺, D: WP admin 🏠, D: WP User Add-on 👤

.github/labeler.yml:

"C: accessibility ♿":
- packages/i18n/*
- packages/i18n/**/*

"C: assets 💎":
- packages/adapters/*
- packages/adapters/**/*
- packages/icons/*
- packages/icons/**/*
- yarn.lock

"C: automation & deployment ⚙️":
- .github/*
- .github/**/*
- .husky/*
- .husky/**/*
- eslint/*
- tools/*
- .eslintignore
- .eslintrc.json
- .prettierrc.js

"C: build process 🔨":
- config/*
- scripts/*
- .wp-env.json
- babel.config.js
- composer.*
- lerna.json
- package.json
- tsconfig.*
- workspaces.json

"C: data systems 🗑":
- packages/constants/*
- packages/constants/**/*
- packages/data/*
- packages/data/**/*
- packages/dates/*
- packages/dates/**/*
- packages/edtr-services/*
- packages/edtr-services/**/*
- packages/form/*
- packages/form/**/*
- packages/form-builder/*
- packages/form-builder/**/*
- packages/rich-text-editor/*
- packages/rich-text-editor/**/*
- packages/rrule-generator/*
- packages/rrule-generator/**/*
- packages/storage/*
- packages/storage/**/*
- packages/toaster/*
- packages/toaster/**/*
- packages/tpc/*
- packages/tpc/**/*

"C: documentation 📑":
- docs/*
- docs/**/*
- any ['**/*.md']

"C: services 🤝":
- packages/events/*
- packages/events/**/*
- packages/helpers/*
- packages/helpers/**/*
- packages/hooks/*
- packages/hooks/**/*
- packages/ioc/*
- packages/ioc/**/*
- packages/plugins/*
- packages/plugins/**/*
- packages/predicates/*
- packages/predicates/**/*
- packages/registry/*
- packages/registry/**/*
- packages/services/*
- packages/services/**/*
- packages/slot-fill/*
- packages/slot-fill/**/*
- packages/utils/*
- packages/utils/**/*

"C: tests 🧪":
- .storybook/*
- storybook-static/*
- packages/storybook/*
- packages/storybook/**/*
- jest.config.ts
- any ['**/tests/*', '**/*.test.*']

"C: UI/UX 🚽":
- packages/ee-components/*
- packages/ee-components/**/*
- packages/react-exit-modal-typeform/*
- packages/react-exit-modal-typeform/**/*
- packages/styles/*
- packages/styles/**/*
- packages/ui-components/*
- packages/ui-components/**/*

"D: EDTR ✏️":
- domains/eventEditor/*
- domains/eventEditor/**/*

"D: EE CORE ☕":
- domains/core/*
- domains/core/**/*

"D: Event Smart 🛒":
- domains/eventSmart/*
- domains/eventSmart/**/*

"D: GB Blocks 🧱":
- domains/blocks/*
- domains/blocks/**/*

"D: Packages 📦":
- packages/*
- packages/**/*

"D: REM ♺":
- domains/rem/*
- domains/rem/**/*

"D: REPO 💾":
- any ['!domains/*', '!domains/**/*']

"D: WP admin 🏠":
- domains/wpPluginsPage/*
- domains/wpPluginsPage/**/*

"D: WP User Add-on 👤":
- domains/wpUser/*
- domains/wpUser/**/*

"S:1 new 👶🏻":
- any ['*', '**/*']

Revert "Narrow prop types for package "adapters""
  packages/adapters/src/types.ts
Labels: C: assets 💎, D: Packages 📦

Remove (broken) internal hook for removing illegal characters
  packages/tpc/src/components/price/input/useInputFilter.ts
Labels: C: data systems 🗑, D: Packages 📦

Fix FormattedPrice not being editable
  packages/adapters/src/NumberInput/types.ts
  packages/tpc/src/components/price/input/FormattedPrice.tsx
Labels: C: assets 💎, C: data systems 🗑, D: Packages 📦

Fix Amount not being editable
  packages/tpc/src/components/price/input/amount/Amount.tsx
Labels: C: data systems 🗑, D: Packages 📦

Update types for InlineEdit
  packages/adapters/src/InlineEdit/types.ts
Labels: C: assets 💎, D: Packages 📦

Allow all Chakra props for InlineEdit component
  packages/adapters/src/InlineEdit/InlineEdit.tsx
Labels: C: assets 💎, D: Packages 📦

Update types in useMemoStringify
  packages/hooks/src/useMemoStringify.ts
Labels: C: services 🤝, D: Packages 📦

Code update to refactor and fix bugs
  packages/tpc/src/components/price/input/FormattedPrice.tsx
  packages/tpc/src/components/price/input/amount/Amount.tsx
  packages/tpc/src/components/price/input/amount/useAmount.tsx
Labels: C: data systems 🗑, D: Packages 📦

Ignore internal hook usePattern for now
  packages/tpc/src/components/price/input/useInputFilter.ts
Labels: C: data systems 🗑, D: Packages 📦

Set default types for hook useMemoStringify
  packages/hooks/src/useMemoStringify.ts
Labels: C: services 🤝, D: Packages 📦

Revert "Allow all Chakra props for InlineEdit component"
  packages/adapters/src/InlineEdit/InlineEdit.tsx
Labels: C: assets 💎, D: Packages 📦

Revert "Update types for InlineEdit"
  packages/adapters/src/InlineEdit/types.ts
Labels: C: assets 💎, D: Packages 📦

Fix Feature Flags Admin (#1308)
  ee-barista.php
  lib/FeatureFlagsAdminPage.php
  lib/FeatureFlagsConfigForm.php
Labels: none

add ItemCount to Reg Link
  domains/core/admin/eventEditor/src/ui/datetimes/datesList/DateRegistrationsLink.tsx
Labels: D: EE CORE ☕

Add ItemCount to Datetime Registrations Link (#1309)
  domains/core/admin/eventEditor/src/ui/datetimes/datesList/DateRegistrationsLink.tsx
Labels: D: EE CORE ☕

Remove strange type "Hook"
  packages/tpc/src/components/price/factory/IsPropsType.ts
  packages/tpc/src/components/price/factory/types.ts
Labels: C: data systems 🗑, D: Packages 📦

Remove strange type "Hook"
  packages/tpc/src/components/price/factory/IsPropsType.ts
  packages/tpc/src/components/price/factory/types.ts
Labels: C: data systems 🗑, D: Packages 📦

Remove redundant constraint
  packages/tpc/src/components/price/factory/IsPropsType.ts
  packages/tpc/src/components/price/factory/types.ts
Labels: C: data systems 🗑, D: Packages 📦

Remove redundant constraint
  packages/tpc/src/components/price/factory/IsPropsType.ts
  packages/tpc/src/components/price/factory/types.ts
Labels: C: data systems 🗑, D: Packages 📦

Refactor types for component NumberInput
  packages/adapters/src/NumberInput/types.ts
Labels: C: assets 💎, D: Packages 📦

Refactor types for component NumberInput
  packages/adapters/src/NumberInput/types.ts
Labels: C: assets 💎, D: Packages 📦

Add 'onBlur' to prop to component NumberInput
  packages/adapters/src/NumberInput/types.ts
Labels: C: assets 💎, D: Packages 📦

Add 'onBlur' to prop to component NumberInput
  packages/adapters/src/NumberInput/types.ts
Labels: C: assets 💎, D: Packages 📦

Fix JSDoc comments in useMoneyDisplay.ts
  packages/services/src/hooks/useMoneyDisplay.ts
Labels: C: services 🤝, D: Packages 📦

Fix JSDoc comments in useMoneyDisplay.ts
  packages/services/src/hooks/useMoneyDisplay.ts
Labels: C: services 🤝, D: Packages 📦

Fix bug with FormattedPrice component
  packages/tpc/src/components/price/input/FormattedPrice.tsx
Labels: C: data systems 🗑, D: Packages 📦

Update types.ts
  packages/tpc/src/components/price/factory/types.ts
Labels: C: data systems 🗑, D: Packages 📦

Create package "@eventespresso/codemod"
  packages/codemod/package.json
Labels: D: Packages 📦

Add package jscodeshift with types
  packages/codemod/package.json
  yarn.lock
Labels: C: assets 💎, D: Packages 📦

Work-in-progress
  packages/codemod/src/experiment.ts
  packages/codemod/test/App.tsx
  packages/codemod/test/Component.tsx
  packages/codemod/tsconfig.json
Labels: D: Packages 📦

Fix typo in type
  packages/adapters/src/NumberInput/types.ts
Labels: C: assets 💎, D: Packages 📦

Refactor module Props
  packages/tpc/src/components/price/factory/types.ts
Labels: C: data systems 🗑, D: Packages 📦

Fix FormattedPrice component not being editable (#1319)
  packages/adapters/src/NumberInput/types.ts
  packages/services/src/hooks/useMoneyDisplay.ts
  packages/tpc/src/components/price/factory/IsPropsType.ts
  packages/tpc/src/components/price/factory/types.ts
  packages/tpc/src/components/price/input/FormattedPrice.tsx
Labels: C: assets 💎, C: data systems 🗑, C: services 🤝, D: Packages 📦

Update levels.js
  eslint/levels.js
Labels: C: automation & deployment ⚙️

Update comment in FormattedPrice.tsx
  packages/tpc/src/components/price/input/FormattedPrice.tsx
Labels: C: data systems 🗑, D: Packages 📦

Fix typo in Amount.tsx
  packages/tpc/src/components/price/input/amount/Amount.tsx
Labels: C: data systems 🗑, D: Packages 📦

Add support for Node v20
  package.json
Labels: C: build process 🔨

Update yarn to latest version which v1.22.22
  .yarnrc
Labels: none

Upgrade @wordpress/eslint-plugin to latest version
  package.json
  yarn.lock
Labels: C: assets 💎, C: build process 🔨

Change nvmrc to Node v20
  .nvmrc
Labels: none
