Repository eventespresso/barista, changes with the labels that .github/labeler.yml gives for each.
All labels: C: accessibility ♿, C: assets 💎, C: automation & deployment ⚙️, C: build process 🔨, C: data systems 🗑, C: services 🤝, C: UI/UX 🚽, D: EDTR ✏️, D: EE CORE ☕, D: Event Smart 🛒, D: GB Blocks 🧱, D: Packages 📦, D: REM ♺, D: WP admin 🏠, D: WP User Add-on 👤

Add constriant to the interface's generic
  packages/data/src/queries/types.ts
Labels: C: data systems 🗑, D: Packages 📦

Create TODO
  packages/data/src/queries/prices/types.ts
Labels: C: data systems 🗑, D: Packages 📦

do nothing if on the WP themes admin page
  lib/Barista.php
Labels: none

Work-in-progress
  packages/types/src/data/edge.ts
  packages/types/src/data/entity.ts
  packages/types/src/data/fields.ts
  packages/types/src/data/index.ts
  packages/types/src/data/node.ts
Labels: D: Packages 📦

Convert TODOs to LATERs
  domains/core/admin/blocks/src/event-attendees/types.ts
  domains/core/admin/blocks/src/services/apollo/types.ts
  domains/core/admin/eventEditor/src/ui/tickets/defaultTickets/data/types.ts
  domains/wpUser/src/types.ts
  packages/data/src/queries/currentUser/types.ts
  packages/data/src/queries/prices/types.ts
  packages/data/src/queries/recurrences/types.ts
  packages/data/src/queries/registrations/types.ts
  packages/data/src/queries/tickets/types.ts
  packages/data/src/types.ts
  packages/edtr-services/src/apollo/mutations/datetimes/types.ts
  packages/edtr-services/src/apollo/mutations/prices/types.ts
  packages/edtr-services/src/apollo/mutations/tickets/types.ts
  packages/edtr-services/src/apollo/types.ts
  packages/edtr-services/src/types.ts
  packages/services/src/permissions/types.ts
  packages/services/src/types.ts
Labels: C: data systems 🗑, C: services 🤝, D: EE CORE ☕, D: Packages 📦, D: WP User Add-on 👤

Remove unused type
  packages/services/src/config/types.ts
Labels: C: services 🤝, D: Packages 📦

Move type
  packages/data/src/queries/generalSettings/test/data.ts
  packages/data/src/queries/generalSettings/test/useInitGeneralSettingsTestCache.ts
  packages/data/src/queries/generalSettings/useGeneralSettings.ts
  packages/data/src/queries/generalSettings/useUpdateGeneralSettingsCache.ts
  packages/data/src/types.ts
  packages/edtr-services/src/types.ts
  packages/services/src/config/types.ts
  packages/services/src/types.ts
Labels: C: data systems 🗑, C: services 🤝, D: Packages 📦

Fix type errors in package "types"
  packages/types/src/data/datetime.ts
  packages/types/src/data/event.ts
  packages/types/src/data/node.ts
  packages/types/src/data/venue.ts
Labels: D: Packages 📦

Update TODOs
  packages/data/src/types.ts
  packages/services/src/types.ts
Labels: C: data systems 🗑, C: services 🤝, D: Packages 📦

Create package "config" (work-in-progress)
  eslint/levels.js
  packages/config/package.json
  packages/config/src/Currency.ts
  packages/config/src/DateTimeFormats.ts
  packages/config/src/Locale.ts
  packages/config/src/SiteUrl.ts
  packages/config/src/Timezone.ts
  packages/config/src/index.ts
  packages/config/src/test/data.ts
  packages/config/src/types.ts
  packages/config/src/useConfig.ts
  packages/config/src/useConfigData.ts
  packages/config/tsconfig.json
  workspaces.json
Labels: C: automation & deployment ⚙️, C: build process 🔨, D: Packages 📦

Update publicPath.ts
  packages/edtr-services/src/publicPath.ts
Labels: C: data systems 🗑, D: Packages 📦

Work-in-progress
  packages/config/src/Currency.ts
  packages/config/src/DateTimeFormats.ts
  packages/config/src/Locale.ts
  packages/config/src/SiteUrl.ts
  packages/config/src/Timezone.ts
  packages/config/src/index.ts
  packages/config/src/types.ts
  packages/config/src/types/global.ts
  packages/config/src/types/index.ts
  packages/config/src/types/types.ts
  packages/config/src/useConfig.ts
  packages/config/src/useConfigData.ts
  packages/types/src/index.ts
  packages/types/src/window-types.ts
Labels: D: Packages 📦

Work-in-progress
  packages/config/src/Config.ts
  packages/config/src/types/global.ts
  packages/config/src/types/index.ts
  packages/config/src/types/types.ts
  packages/config/src/types/window.ts
Labels: D: Packages 📦

Complete package "config"
  packages/config/src/BrandName.ts
  packages/config/src/Config.ts
  packages/config/src/DateTimeFormats.ts
  packages/config/src/Factory.ts
  packages/config/src/GeneralSettings.ts
  packages/config/src/Locale.ts
  packages/config/src/Nonce.ts
  packages/config/src/SitePermissions.ts
  packages/config/src/SiteUrl.ts
  packages/config/src/SiteUrls.ts
  packages/config/src/Timezone.ts
  packages/config/src/User.ts
  packages/config/src/WpDebug.ts
  packages/config/src/index.ts
  packages/config/src/types/types.ts
  packages/config/src/types/window.ts
Labels: D: Packages 📦

Fix type typo due to rename
  packages/config/src/test/data.ts
Labels: D: Packages 📦

Update package "service"
  packages/services/src/config/Currency.ts
  packages/services/src/config/DateTimeFormats.ts
  packages/services/src/config/Locale.ts
  packages/services/src/config/SiteUrl.ts
  packages/services/src/config/Timezone.ts
  packages/services/src/config/defaultDateTimeFormats.ts
  packages/services/src/config/index.ts
  packages/services/src/config/test/data.ts
  packages/services/src/config/types.ts
  packages/services/src/config/useConfig.ts
  packages/services/src/config/useConfigData.ts
Labels: C: services 🤝, D: Packages 📦

Fix typo in levels.js
  eslint/levels.js
Labels: C: automation & deployment ⚙️

Fix lint-related errors
  packages/config/src/Currency.ts
  packages/config/src/Factory.ts
  packages/services/src/config/useConfigData.ts
Labels: C: services 🤝, D: Packages 📦

Fix bugs
  packages/config/src/index.ts
  packages/config/src/test/data.ts
  packages/config/src/test/index.ts
  packages/edtr-services/src/context/test/useDomTestData.ts
  packages/services/src/context/ConfigProvider.tsx
  packages/services/src/context/test/ConfigProvider.test.tsx
  packages/services/src/context/test/data.ts
  packages/services/src/hooks/test/useMoneyDisplay.test.ts
Labels: C: data systems 🗑, C: services 🤝, D: Packages 📦

Add type "media" on global window object "wp"
  packages/config/src/types/window.ts
  packages/form/src/adapters/WPMediaImage.tsx
  packages/types/src/index.ts
  packages/types/src/window-types.ts
Labels: C: data systems 🗑, D: Packages 📦

Fix more bugs
  packages/services/src/hooks/useMoneyDisplay.ts
  packages/services/src/permissions/useSitePermissions.ts
  packages/services/src/types.ts
  packages/services/src/utils/getEEDomData.ts
Labels: C: services 🤝, D: Packages 📦

Remove types.ts
  packages/services/src/index.ts
  packages/services/src/types.ts
Labels: C: services 🤝, D: Packages 📦

Upgrade typescript to v4.9.5 (#1295)
  package.json
  yarn.lock
Labels: C: assets 💎, C: build process 🔨

Separate module import from type
  packages/services/src/context/ConfigProvider.tsx
Labels: C: services 🤝, D: Packages 📦

Update env var BASE_DIR in tools directory (bash scripts)
  tools/clone-repo.sh
  tools/commit-changes.sh
  tools/copy-changes.sh
  tools/create-branch.sh
Labels: C: automation & deployment ⚙️

Fix typo in copy-changes.sh
  tools/copy-changes.sh
Labels: C: automation & deployment ⚙️

Fix margin issue in NumberInput
  packages/ui-components/src/NumberInput/style.scss
Labels: C: UI/UX 🚽, D: Packages 📦

fix width for CalendarDateRange component
  packages/ui-components/src/CalendarDateRange/style.scss
Labels: C: UI/UX 🚽, D: Packages 📦

Add useConfig import and update sanitizeAmount function
  packages/utils/src/money/sanitizeAmount.ts
Labels: C: services 🤝, D: Packages 📦

rename parsedAmount.test.ts
  packages/utils/src/money/test/sanitizeAmount.test.ts
Labels: C: services 🤝, D: Packages 📦

attempted fix
  packages/adapters/src/NumberInput/NumberInput.tsx
  packages/predicates/src/prices/updatePredicates.ts
  packages/tpc/src/fields/BaseField.tsx
  packages/tpc/src/fields/TicketPriceField.tsx
  packages/tpc/src/fields/types.ts
  packages/tpc/src/fields/useBaseField.tsx
  packages/tpc/src/fields/usePriceAmount.tsx
  packages/tpc/src/inputs/PriceAmountInput.tsx
  packages/tpc/src/inputs/styles.scss
  packages/tpc/src/stateListeners/useInitStateListeners.ts
  packages/tpc/src/utils/applyPriceModifiers.ts
  packages/tpc/src/utils/calculateBasePrice.ts
  packages/tpc/src/utils/calculateTicketTotal.ts
  packages/tpc/src/utils/undoPriceModifiers.ts
  packages/ui-components/src/EspressoTable/style/cell.scss
  packages/ui-components/src/InlineEdit/InlineEditCurrency/InlineEditCurrency.tsx
  packages/ui-components/src/NumberInput/index.tsx
  packages/ui-components/src/TextInput/InputWithLabel/style.scss
  packages/utils/src/money/amountsMatch.ts
  packages/utils/src/money/formatAmount.ts
  packages/utils/src/money/index.ts
  packages/utils/src/money/parsedAmount.ts
  packages/utils/src/money/sanitizeAmount.ts
  packages/utils/src/money/test/parsedAmount.test.ts
Labels: C: assets 💎, C: data systems 🗑, C: services 🤝, C: UI/UX 🚽, D: Packages 📦

Add styles for form builder separator and adjust padding
  packages/form-builder/src/styles.scss
Labels: C: data systems 🗑, D: Packages 📦

remove small class from form input type
  packages/form-builder/src/FormElement/Tabs/InputType.tsx
Labels: C: data systems 🗑, D: Packages 📦

Add additional options to MAPS_TO_OPTIONS constant
  domains/core/admin/eventEditor/src/ui/registrationForm/constants.ts
Labels: D: EE CORE ☕

reduce padding around switches
  domains/core/admin/eventEditor/src/ui/EventRegistrationOptions/style.scss
Labels: D: EE CORE ☕

fix input max-width
  packages/form-builder/src/styles.scss
Labels: C: data systems 🗑, D: Packages 📦

Add separator in AddFormElementPopover component
  packages/form-builder/src/FormSection/AddFormElementPopover.tsx
Labels: C: data systems 🗑, D: Packages 📦

Update toaster font size and line height
  packages/toaster/src/style.scss
Labels: C: data systems 🗑, D: Packages 📦

Add classNames import and update className prop in FormHelperText component
  packages/adapters/src/FormHelperText/FormHelperText.tsx
Labels: C: assets 💎, D: Packages 📦

add margin to switch to match other others
  packages/ui-components/src/Switch/style.scss
Labels: C: UI/UX 🚽, D: Packages 📦

.github/labeler.yml:

"C: accessibility ♿":
- packages/i18n/*
- packages/i18n/**/*

"C: assets 💎":
- packages/adapters/*
- packages/adapters/**/*
- packages/icons/*
- packages/icons/**/*
- yarn.lock

"C: automation & deployment ⚙️":
- .github/*
- .github/**/*
- .husky/*
- .husky/**/*
- eslint/*
- tools/*
- .eslintignore
- .eslintrc.json
- .prettierrc.js

"C: build process 🔨":
- config/*
- scripts/*
- .wp-env.json
- babel.config.js
- composer.*
- lerna.json
- package.json
- tsconfig.*
- workspaces.json

"C: data systems 🗑":
- packages/constants/*
- packages/constants/**/*
- packages/data/*
- packages/data/**/*
- packages/dates/*
- packages/dates/**/*
- packages/edtr-services/*
- packages/edtr-services/**/*
- packages/form/*
- packages/form/**/*
- packages/form-builder/*
- packages/form-builder/**/*
- packages/rich-text-editor/*
- packages/rich-text-editor/**/*
- packages/rrule-generator/*
- packages/rrule-generator/**/*
- packages/storage/*
- packages/storage/**/*
- packages/toaster/*
- packages/toaster/**/*
- packages/tpc/*
- packages/tpc/**/*

"C: documentation 📑":
- docs/*
- docs/**/*
- any ['**/*.md']

"C: services 🤝":
- packages/events/*
- packages/events/**/*
- packages/helpers/*
- packages/helpers/**/*
- packages/hooks/*
- packages/hooks/**/*
- packages/ioc/*
- packages/ioc/**/*
- packages/plugins/*
- packages/plugins/**/*
- packages/predicates/*
- packages/predicates/**/*
- packages/registry/*
- packages/registry/**/*
- packages/services/*
- packages/services/**/*
- packages/slot-fill/*
- packages/slot-fill/**/*
- packages/utils/*
- packages/utils/**/*

"C: tests 🧪":
- .storybook/*
- storybook-static/*
- packages/storybook/*
- packages/storybook/**/*
- jest.config.ts
- any ['**/tests/*', '**/*.test.*']

"C: UI/UX 🚽":
- packages/ee-components/*
- packages/ee-components/**/*
- packages/react-exit-modal-typeform/*
- packages/react-exit-modal-typeform/**/*
- packages/styles/*
- packages/styles/**/*
- packages/ui-components/*
- packages/ui-components/**/*

"D: EDTR ✏️":
- domains/eventEditor/*
- domains/eventEditor/**/*

"D: EE CORE ☕":
- domains/core/*
- domains/core/**/*

"D: Event Smart 🛒":
- domains/eventSmart/*
- domains/eventSmart/**/*

"D: GB Blocks 🧱":
- domains/blocks/*
- domains/blocks/**/*

"D: Packages 📦":
- packages/*
- packages/**/*

"D: REM ♺":
- domains/rem/*
- domains/rem/**/*

"D: REPO 💾":
- any ['!domains/*', '!domains/**/*']

"D: WP admin 🏠":
- domains/wpPluginsPage/*
- domains/wpPluginsPage/**/*

"D: WP User Add-on 👤":
- domains/wpUser/*
- domains/wpUser/**/*

"S:1 new 👶🏻":
- any ['*', '**/*']
