Repository eventespresso/barista, changes with the labels that .github/labeler.yml gives for each.
All labels: C: accessibility ♿, C: assets 💎, C: automation & deployment ⚙️, C: build process 🔨, C: data systems 🗑, C: services 🤝, C: UI/UX 🚽, D: EDTR ✏️, D: EE CORE ☕, D: Event Smart 🛒, D: GB Blocks 🧱, D: Packages 📦, D: REM ♺, D: WP admin 🏠, D: WP User Add-on 👤

.github/labeler.yml:

"C: accessibility ♿":
- packages/i18n/*
- packages/i18n/**/*

"C: assets 💎":
- packages/adapters/*
- packages/adapters/**/*
- packages/icons/*
- packages/icons/**/*
- yarn.lock

"C: automation & deployment ⚙️":
- .github/*
- .github/**/*
- .husky/*
- .husky/**/*
- eslint/*
- tools/*
- .eslintignore
- .eslintrc.json
- .prettierrc.js

"C: build process 🔨":
- config/*
- scripts/*
- .wp-env.json
- babel.config.js
- composer.*
- lerna.json
- package.json
- tsconfig.*
- workspaces.json

"C: data systems 🗑":
- packages/constants/*
- packages/constants/**/*
- packages/data/*
- packages/data/**/*
- packages/dates/*
- packages/dates/**/*
- packages/edtr-services/*
- packages/edtr-services/**/*
- packages/form/*
- packages/form/**/*
- packages/form-builder/*
- packages/form-builder/**/*
- packages/rich-text-editor/*
- packages/rich-text-editor/**/*
- packages/rrule-generator/*
- packages/rrule-generator/**/*
- packages/storage/*
- packages/storage/**/*
- packages/toaster/*
- packages/toaster/**/*
- packages/tpc/*
- packages/tpc/**/*

"C: documentation 📑":
- docs/*
- docs/**/*
- any ['**/*.md']

"C: services 🤝":
- packages/events/*
- packages/events/**/*
- packages/helpers/*
- packages/helpers/**/*
- packages/hooks/*
- packages/hooks/**/*
- packages/ioc/*
- packages/ioc/**/*
- packages/plugins/*
- packages/plugins/**/*
- packages/predicates/*
- packages/predicates/**/*
- packages/registry/*
- packages/registry/**/*
- packages/services/*
- packages/services/**/*
- packages/slot-fill/*
- packages/slot-fill/**/*
- packages/utils/*
- packages/utils/**/*

"C: tests 🧪":
- .storybook/*
- storybook-static/*
- packages/storybook/*
- packages/storybook/**/*
- jest.config.ts
- any ['**/tests/*', '**/*.test.*']

"C: UI/UX 🚽":
- packages/ee-components/*
- packages/ee-components/**/*
- packages/react-exit-modal-typeform/*
- packages/react-exit-modal-typeform/**/*
- packages/styles/*
- packages/styles/**/*
- packages/ui-components/*
- packages/ui-components/**/*

"D: EDTR ✏️":
- domains/eventEditor/*
- domains/eventEditor/**/*

"D: EE CORE ☕":
- domains/core/*
- domains/core/**/*

"D: Event Smart 🛒":
- domains/eventSmart/*
- domains/eventSmart/**/*

"D: GB Blocks 🧱":
- domains/blocks/*
- domains/blocks/**/*

"D: Packages 📦":
- packages/*
- packages/**/*

"D: REM ♺":
- domains/rem/*
- domains/rem/**/*

"D: REPO 💾":
- any ['!domains/*', '!domains/**/*']

"D: WP admin 🏠":
- domains/wpPluginsPage/*
- domains/wpPluginsPage/**/*

"D: WP User Add-on 👤":
- domains/wpUser/*
- domains/wpUser/**/*

"S:1 new 👶🏻":
- any ['*', '**/*']

Pin DDEV version to 1.22.6 for E2E workflow (#1287)
  .github/workflows/e2e-checks.yml
Labels: C: automation & deployment ⚙️

Extract Feature Flag Details (#1288)
  lib/FeatureFlagsConfigForm.php
Labels: none

Fix typo in e2e workflow (#1289)
  .github/workflows/e2e-checks.yml
Labels: C: automation & deployment ⚙️

Temporary fix for E2E tests (#1294)
  .github/workflows/e2e-cache-warmup.yml
  .github/workflows/e2e-checks.yml
Labels: C: automation & deployment ⚙️

after npx update-browserslist-db@latest
  yarn.lock
Labels: C: assets 💎

move basic model entity GQL types into constants package
  domains/core/admin/blocks/src/services/apollo/queries/attendees/test/data.ts
  domains/core/admin/blocks/src/services/apollo/types.ts
  packages/constants/src/index.ts
  packages/constants/src/modelInterfaces.ts
  packages/edtr-services/src/apollo/types.ts
  workspaces.json
Labels: C: build process 🔨, C: data systems 🗑, D: EE CORE ☕, D: Packages 📦

extract config into new config package
  packages/config/package.json
  packages/config/src/Currency.ts
  packages/config/src/DateTimeFormats.ts
  packages/config/src/Locale.ts
  packages/config/src/SiteUrl.ts
  packages/config/src/Timezone.ts
  packages/config/src/defaultDateTimeFormats.ts
  packages/config/src/index.ts
  packages/config/src/test/data.ts
  packages/config/src/types.ts
  packages/config/src/useConfigData.ts
  packages/config/tsconfig.json
  packages/services/src/config/useConfig.ts
Labels: C: services 🤝, D: Packages 📦

except useConfig() which moves to context
  packages/services/src/context/index.ts
  packages/services/src/context/useConfig.ts
Labels: C: services 🤝, D: Packages 📦

move useMemoStringify() to utils/memo
  packages/utils/src/memo/index.ts
  packages/utils/src/memo/useMemoStringify.ts
Labels: C: services 🤝, D: Packages 📦

add config as L1 package
  eslint/levels.js
Labels: C: automation & deployment ⚙️

Update domains/core/admin/eventEditor/src/ui/datetimes/dateForm/useDateFormConfig.ts
  domains/core/admin/eventEditor/src/ui/datetimes/dateForm/useDateFormConfig.ts
Labels: D: EE CORE ☕

Update domains/core/admin/eventEditor/src/ui/datetimes/datesList/actionsMenu/DateActionsMenu.tsx
  domains/core/admin/eventEditor/src/ui/datetimes/datesList/actionsMenu/DateActionsMenu.tsx
Labels: D: EE CORE ☕

after yarn install
  yarn.lock
Labels: C: assets 💎

Update packages/edtr-services/src/apollo/mutations/datetimes/useBulkDeleteDatetimes.ts
  packages/edtr-services/src/apollo/mutations/datetimes/useBulkDeleteDatetimes.ts
Labels: C: data systems 🗑, D: Packages 📦

Update domains/core/admin/eventEditor/src/ui/tickets/defaultTickets/multiStep/useTicketFormConfig.ts
  domains/core/admin/eventEditor/src/ui/tickets/defaultTickets/multiStep/useTicketFormConfig.ts
Labels: D: EE CORE ☕

Update domains/rem/src/ui/datetimeDetails/DatetimeDetails.tsx
  domains/rem/src/ui/datetimeDetails/DatetimeDetails.tsx
Labels: D: REM ♺

Update domains/core/admin/eventEditor/src/ui/ticketAssignmentsManager/data/useDatesAndTickets.ts
  domains/core/admin/eventEditor/src/ui/ticketAssignmentsManager/data/useDatesAndTickets.ts
Labels: D: EE CORE ☕

Update domains/core/admin/eventEditor/src/ui/tickets/ticketsList/bulkEdit/prices/editTogether/useOnSubmitPrices.ts
  domains/core/admin/eventEditor/src/ui/tickets/ticketsList/bulkEdit/prices/editTogether/useOnSubmitPrices.ts
Labels: D: EE CORE ☕

Update packages/edtr-services/src/apollo/mutations/tickets/useMutationHandler.ts
  packages/edtr-services/src/apollo/mutations/tickets/useMutationHandler.ts
Labels: C: data systems 🗑, D: Packages 📦

Update packages/edtr-services/src/apollo/queries/priceTypes/test/data.ts
  packages/edtr-services/src/apollo/queries/priceTypes/test/data.ts
Labels: C: data systems 🗑, D: Packages 📦

Update packages/edtr-services/src/apollo/queries/datetimes/useLazyDatetime.ts
  packages/edtr-services/src/apollo/queries/datetimes/useLazyDatetime.ts
Labels: C: data systems 🗑, D: Packages 📦

Update packages/edtr-services/src/apollo/queries/datetimes/test/data.ts
  packages/edtr-services/src/apollo/queries/datetimes/test/data.ts
Labels: C: data systems 🗑, D: Packages 📦

Update packages/edtr-services/src/apollo/queries/priceTypes/test/data.ts
  packages/edtr-services/src/apollo/queries/priceTypes/test/data.ts
Labels: C: data systems 🗑, D: Packages 📦

Update packages/services/src/permissions/useSitePermissions.ts
  packages/services/src/permissions/useSitePermissions.ts
Labels: C: services 🤝, D: Packages 📦

Update packages/services/src/context/ConfigProvider.tsx
  packages/services/src/context/ConfigProvider.tsx
Labels: C: services 🤝, D: Packages 📦

Update packages/predicates/src/datetimes/filters/tests/data.ts
  packages/predicates/src/datetimes/filters/tests/data.ts
Labels: C: services 🤝, D: Packages 📦

Update packages/services/src/context/test/ConfigProvider.test.tsx
  packages/services/src/context/test/ConfigProvider.test.tsx
Labels: C: services 🤝, D: Packages 📦

Update packages/tpc/src/hooks/usePrepTemplatePrices.ts
  packages/tpc/src/hooks/usePrepTemplatePrices.ts
Labels: C: data systems 🗑, D: Packages 📦

Update packages/tpc/src/hooks/usePriceModifier.ts
  packages/tpc/src/hooks/usePriceModifier.ts
Labels: C: data systems 🗑, D: Packages 📦

import TicketFormShape as type. ht @alexkuc
  domains/core/admin/eventEditor/src/ui/tickets/ticketForm/multiStep/ContextProvider.tsx
Labels: D: EE CORE ☕

fix linting issues
  domains/core/admin/eventEditor/src/hooks/entityCardDetails/useEntityCardDetailsItems.ts
  domains/core/admin/eventEditor/src/ui/datetimes/dateForm/multiStep/types.ts
  domains/core/admin/eventEditor/src/ui/datetimes/dateForm/multiStep/useOnSubmit.ts
  domains/core/admin/eventEditor/src/ui/datetimes/datesList/actionsMenu/dropdown/useActions.ts
  domains/core/admin/eventEditor/src/ui/datetimes/datesList/tableView/useBodyRowGenerator.tsx
  domains/core/admin/eventEditor/src/ui/datetimes/hooks/useDateCardDetailsItems.ts
  domains/core/admin/eventEditor/src/ui/tickets/hooks/useDeleteTicketHandler.ts
  domains/core/admin/eventEditor/src/ui/tickets/ticketForm/multiStep/types.ts
  domains/core/admin/eventEditor/src/ui/tickets/ticketsList/tableView/useBodyRowGenerator.tsx
Labels: D: EE CORE ☕

Update packages/edtr-services/src/apollo/queries/datetimes/test/data.ts
  packages/edtr-services/src/apollo/queries/datetimes/test/data.ts
Labels: C: data systems 🗑, D: Packages 📦

Refactor DateTimeFormats.ts
  packages/config/src/DateTimeFormats.ts
Labels: D: Packages 📦

Refactor Currency.ts
  packages/config/src/Currency.ts
Labels: D: Packages 📦

Refactor SiteUrl.ts
  packages/config/src/SiteUrl.ts
Labels: D: Packages 📦

Refactor Timezone.ts
  packages/config/src/Timezone.ts
Labels: D: Packages 📦

Create Factory.ts
  packages/config/src/Factory.ts
Labels: D: Packages 📦

Refactor Locale.ts
  packages/config/src/Locale.ts
Labels: D: Packages 📦

Create GeneralSettings.ts
  packages/config/src/GeneralSettings.ts
  packages/config/src/index.ts
  packages/config/src/types.ts
  packages/data/src/queries/generalSettings/useGeneralSettings.ts
  packages/edtr-services/src/types.ts
Labels: C: data systems 🗑, D: Packages 📦

Move useConfigData back to package "services"
  packages/services/src/context/ConfigProvider.tsx
  packages/services/src/context/index.ts
  packages/services/src/context/useConfigData.ts
Labels: C: services 🤝, D: Packages 📦
