Repository eventespresso/barista, changes with the labels that .github/labeler.yml gives for each.
All labels: C: accessibility ♿, C: assets 💎, C: automation & deployment ⚙️, C: build process 🔨, C: data systems 🗑, C: services 🤝, C: UI/UX 🚽, D: EDTR ✏️, D: EE CORE ☕, D: Event Smart 🛒, D: GB Blocks 🧱, D: Packages 📦, D: REM ♺, D: WP admin 🏠, D: WP User Add-on 👤

Remove @emotion/react dependency
  packages/adapters/package.json
Labels: C: assets 💎, D: Packages 📦

fix formatting
  packages/predicates/src/datetimes/filters/upcomingOnly/index.ts
  packages/predicates/src/datetimes/isCancelled/index.ts
  packages/predicates/src/datetimes/isPostponed/index.ts
Labels: C: services 🤝, D: Packages 📦

Fix isUpcoming predicate logic
  packages/predicates/src/datetimes/isUpcoming/index.ts
Labels: C: services 🤝, D: Packages 📦

Fix Datetime TBD Status Predicates (#1284)
  config/env.js
  config/webpackDevServer.config.js
  packages/adapters/package.json
  packages/constants/src/datetime.ts
  packages/edtr-services/src/apollo/mutations/useReorderEntities.ts
  packages/predicates/src/datetimes/filters/activeUpcoming/index.ts
  packages/predicates/src/datetimes/filters/soldOutOnly/index.ts
  packages/predicates/src/datetimes/filters/upcomingOnly/index.ts
  packages/predicates/src/datetimes/index.ts
  packages/predicates/src/datetimes/isCancelled/index.ts
  packages/predicates/src/datetimes/isPostponed/index.ts
  packages/predicates/src/datetimes/isTBD/index.ts
  packages/predicates/src/datetimes/isUpcoming/index.ts
  packages/ui-components/src/dnd/DragAndDrop.tsx
Labels: C: assets 💎, C: build process 🔨, C: data systems 🗑, C: services 🤝, C: UI/UX 🚽, D: Packages 📦

Update copy-changes.sh script to include BASE_DIR variable
  tools/copy-changes.sh
Labels: C: automation & deployment ⚙️

Update copy-changes.sh script to include build path
  .github/workflows/deploy-to-cafe.yml
Labels: C: automation & deployment ⚙️

Update copy-changes.sh script paths
  .github/workflows/deploy-to-cafe.yml
Labels: C: automation & deployment ⚙️

Update copy-changes.sh script
  tools/copy-changes.sh
Labels: C: automation & deployment ⚙️

Update file permissions for shell scripts
  tools/clone-repo.sh
  tools/commit-changes.sh
  tools/configure-git.sh
  tools/create-branch.sh
  tools/create-pull-request.sh
  tools/deploy.sh
  tools/may-be-deploy-rc.sh
  tools/utils.sh
Labels: C: automation & deployment ⚙️

move total items display into perPage component
  packages/ui-components/src/Pagination/Pagination.tsx
  packages/ui-components/src/Pagination/PerPage.tsx
  packages/ui-components/src/Pagination/style.scss
Labels: C: UI/UX 🚽, D: Packages 📦

Add show all option to Pagination component
  packages/ui-components/src/Pagination/Pagination.tsx
  packages/ui-components/src/Pagination/constants.ts
  packages/ui-components/src/Pagination/style.scss
Labels: C: UI/UX 🚽, D: Packages 📦

set WDS_SOCKET_PORT
  scripts/start.js
  scripts/watch.js
Labels: C: build process 🔨

remove small class from form input type
  packages/form-builder/src/FormElement/Tabs/InputType.tsx
Labels: C: data systems 🗑, D: Packages 📦

add margin to switch to match other others
  packages/ui-components/src/Switch/style.scss
Labels: C: UI/UX 🚽, D: Packages 📦

fix input max-width
  packages/form-builder/src/styles.scss
Labels: C: data systems 🗑, D: Packages 📦

Add classNames import and update className prop in FormHelperText component
  packages/adapters/src/FormHelperText/FormHelperText.tsx
Labels: C: assets 💎, D: Packages 📦

Add additional options to MAPS_TO_OPTIONS constant
  domains/core/admin/eventEditor/src/ui/registrationForm/constants.ts
Labels: D: EE CORE ☕

Add separator in AddFormElementPopover component
  packages/form-builder/src/FormSection/AddFormElementPopover.tsx
Labels: C: data systems 🗑, D: Packages 📦

Add styles for form builder separator and adjust padding
  packages/form-builder/src/styles.scss
Labels: C: data systems 🗑, D: Packages 📦

reduce padding around switches
  domains/core/admin/eventEditor/src/ui/EventRegistrationOptions/style.scss
Labels: D: EE CORE ☕

Update toaster font size and line height
  packages/toaster/src/style.scss
Labels: C: data systems 🗑, D: Packages 📦

Allow manual trigger for E2E job
  .github/workflows/e2e-checks.yml
Labels: C: automation & deployment ⚙️

Update lettercase in e2e-cache-warmup.yml
  .github/workflows/e2e-cache-warmup.yml
Labels: C: automation & deployment ⚙️

Update timeout in e2e-cache-warmup.yml
  .github/workflows/e2e-cache-warmup.yml
Labels: C: automation & deployment ⚙️

Update e2e-checks.yml
  .github/workflows/e2e-checks.yml
Labels: C: automation & deployment ⚙️

Update description
  .github/workflows/e2e-checks.yml
Labels: C: automation & deployment ⚙️

Update lettercase in e2e-cache-warmup.yml
  .github/workflows/e2e-cache-warmup.yml
Labels: C: automation & deployment ⚙️

Update 'e2e-checks.yml'
  .github/workflows/e2e-checks.yml
Labels: C: automation & deployment ⚙️

Add concurrency check for E2E workflow
  .github/workflows/e2e-checks.yml
Labels: C: automation & deployment ⚙️

Avoid running E2E for multiple PR approvals
  .github/workflows/e2e-checks.yml
Labels: C: automation & deployment ⚙️

Fix bug with 'gh pr view'
  .github/workflows/e2e-checks.yml
Labels: C: automation & deployment ⚙️

Small update
  .github/workflows/e2e-checks.yml
Labels: C: automation & deployment ⚙️

Allow manual trigger for E2E job (#1286)
  .github/workflows/e2e-cache-warmup.yml
  .github/workflows/e2e-checks.yml
Labels: C: automation & deployment ⚙️

add Feature Flag for EDD licensing
  lib/FeatureFlagsAdminPage.php
  lib/FeatureFlagsConfigForm.php
Labels: none

Update e2e-checks.yml
  .github/workflows/e2e-checks.yml
Labels: C: automation & deployment ⚙️

Pin DDEV version to 1.22.6 for E2E workflow (#1287)
  .github/workflows/e2e-checks.yml
Labels: C: automation & deployment ⚙️

extract $feature_flags_form_options
  lib/FeatureFlagsConfigForm.php
Labels: none

Extract Feature Flag Details (#1288)
  lib/FeatureFlagsConfigForm.php
Labels: none

Fix typo
  .github/workflows/e2e-checks.yml
Labels: C: automation & deployment ⚙️

Fix typo in e2e workflow (#1289)
  .github/workflows/e2e-checks.yml
Labels: C: automation & deployment ⚙️

.github/labeler.yml:

"C: accessibility ♿":
- packages/i18n/*
- packages/i18n/**/*

"C: assets 💎":
- packages/adapters/*
- packages/adapters/**/*
- packages/icons/*
- packages/icons/**/*
- yarn.lock

"C: automation & deployment ⚙️":
- .github/*
- .github/**/*
- .husky/*
- .husky/**/*
- eslint/*
- tools/*
- .eslintignore
- .eslintrc.json
- .prettierrc.js

"C: build process 🔨":
- config/*
- scripts/*
- .wp-env.json
- babel.config.js
- composer.*
- lerna.json
- package.json
- tsconfig.*
- workspaces.json

"C: data systems 🗑":
- packages/constants/*
- packages/constants/**/*
- packages/data/*
- packages/data/**/*
- packages/dates/*
- packages/dates/**/*
- packages/edtr-services/*
- packages/edtr-services/**/*
- packages/form/*
- packages/form/**/*
- packages/form-builder/*
- packages/form-builder/**/*
- packages/rich-text-editor/*
- packages/rich-text-editor/**/*
- packages/rrule-generator/*
- packages/rrule-generator/**/*
- packages/storage/*
- packages/storage/**/*
- packages/toaster/*
- packages/toaster/**/*
- packages/tpc/*
- packages/tpc/**/*

"C: documentation 📑":
- docs/*
- docs/**/*
- any ['**/*.md']

"C: services 🤝":
- packages/events/*
- packages/events/**/*
- packages/helpers/*
- packages/helpers/**/*
- packages/hooks/*
- packages/hooks/**/*
- packages/ioc/*
- packages/ioc/**/*
- packages/plugins/*
- packages/plugins/**/*
- packages/predicates/*
- packages/predicates/**/*
- packages/registry/*
- packages/registry/**/*
- packages/services/*
- packages/services/**/*
- packages/slot-fill/*
- packages/slot-fill/**/*
- packages/utils/*
- packages/utils/**/*

"C: tests 🧪":
- .storybook/*
- storybook-static/*
- packages/storybook/*
- packages/storybook/**/*
- jest.config.ts
- any ['**/tests/*', '**/*.test.*']

"C: UI/UX 🚽":
- packages/ee-components/*
- packages/ee-components/**/*
- packages/react-exit-modal-typeform/*
- packages/react-exit-modal-typeform/**/*
- packages/styles/*
- packages/styles/**/*
- packages/ui-components/*
- packages/ui-components/**/*

"D: EDTR ✏️":
- domains/eventEditor/*
- domains/eventEditor/**/*

"D: EE CORE ☕":
- domains/core/*
- domains/core/**/*

"D: Event Smart 🛒":
- domains/eventSmart/*
- domains/eventSmart/**/*

"D: GB Blocks 🧱":
- domains/blocks/*
- domains/blocks/**/*

"D: Packages 📦":
- packages/*
- packages/**/*

"D: REM ♺":
- domains/rem/*
- domains/rem/**/*

"D: REPO 💾":
- any ['!domains/*', '!domains/**/*']

"D: WP admin 🏠":
- domains/wpPluginsPage/*
- domains/wpPluginsPage/**/*

"D: WP User Add-on 👤":
- domains/wpUser/*
- domains/wpUser/**/*

"S:1 new 👶🏻":
- any ['*', '**/*']
