Repository eventespresso/barista, changes with the labels that .github/labeler.yml gives for each.
All labels: C: accessibility ♿, C: assets 💎, C: automation & deployment ⚙️, C: build process 🔨, C: data systems 🗑, C: services 🤝, C: UI/UX 🚽, D: EDTR ✏️, D: EE CORE ☕, D: Event Smart 🛒, D: GB Blocks 🧱, D: Packages 📦, D: REM ♺, D: WP admin 🏠, D: WP User Add-on 👤

Remove component Input
  packages/tpc/src/components/price/input/Input.tsx
  packages/tpc/src/components/price/input/index.ts
Labels: C: data systems 🗑, D: Packages 📦

Remove folder "base-field" and its components/hooks
  packages/tpc/src/components/price/base-field/BaseField.tsx
  packages/tpc/src/components/price/base-field/index.ts
  packages/tpc/src/components/price/base-field/useBaseField.tsx
  packages/tpc/src/components/price/index.ts
Labels: C: data systems 🗑, D: Packages 📦

Remove folder "base-field" and its components/hooks
  packages/tpc/src/components/price/base-field/BaseField.tsx
  packages/tpc/src/components/price/base-field/index.ts
  packages/tpc/src/components/price/base-field/useBaseField.tsx
  packages/tpc/src/components/price/index.ts
Labels: C: data systems 🗑, D: Packages 📦

check for array indexes before using (golden rule)
  lib/FeatureFlagsConfigForm.php
Labels: none

Remove redundant types
  packages/tpc/src/components/price/factory/types.ts
Labels: C: data systems 🗑, D: Packages 📦

Remove redundant types
  packages/tpc/src/components/price/factory/types.ts
Labels: C: data systems 🗑, D: Packages 📦

Remove redundant types
  packages/tpc/src/components/price/index.ts
  packages/tpc/src/components/price/input/FormattedPrice.tsx
  packages/tpc/src/components/price/types.ts
  packages/tpc/src/components/table/useFooterRowGenerator.tsx
Labels: C: data systems 🗑, D: Packages 📦

Remove redundant types
  packages/tpc/src/components/price/index.ts
  packages/tpc/src/components/price/input/FormattedPrice.tsx
  packages/tpc/src/components/price/types.ts
  packages/tpc/src/components/table/useFooterRowGenerator.tsx
Labels: C: data systems 🗑, D: Packages 📦

Format .eslintrc.json
  .eslintrc.json
Labels: C: automation & deployment ⚙️

Format .eslintrc.json
  .eslintrc.json
Labels: C: automation & deployment ⚙️

Add "varsIgnorePattern" to eslint for rule @typescript-eslint/no-unused-vars
  .eslintrc.json
Labels: C: automation & deployment ⚙️

Add "varsIgnorePattern" to eslint for rule @typescript-eslint/no-unused-vars
  .eslintrc.json
Labels: C: automation & deployment ⚙️

Remove unused hook
  packages/tpc/src/components/price/factory/index.ts
  packages/tpc/src/components/price/factory/useFactory.ts
Labels: C: data systems 🗑, D: Packages 📦

Remove unused hook
  packages/tpc/src/components/price/factory/index.ts
  packages/tpc/src/components/price/factory/useFactory.ts
Labels: C: data systems 🗑, D: Packages 📦

Fix eslint rule "@typescript-eslint/no-unused-vars" in Factory.tsx
  packages/tpc/src/components/price/factory/Factory.tsx
Labels: C: data systems 🗑, D: Packages 📦

Fix eslint rule "@typescript-eslint/no-unused-vars" in Factory.tsx
  packages/tpc/src/components/price/factory/Factory.tsx
Labels: C: data systems 🗑, D: Packages 📦

Fix eslint rule "react-hooks/exhaustive-deps"
  packages/tpc/src/components/price/input/FormattedPrice.tsx
  packages/tpc/src/components/price/input/useData.ts
Labels: C: data systems 🗑, D: Packages 📦

Fix eslint rule "react-hooks/exhaustive-deps"
  packages/tpc/src/components/price/input/FormattedPrice.tsx
  packages/tpc/src/components/price/input/useData.ts
Labels: C: data systems 🗑, D: Packages 📦

Fix eslint rule "react-perf/jsx-no-new-function-as-prop"
  packages/tpc/src/components/price/input/amount/Amount.tsx
Labels: C: data systems 🗑, D: Packages 📦

Fix eslint rule "react-perf/jsx-no-new-function-as-prop"
  packages/tpc/src/components/price/input/amount/Amount.tsx
Labels: C: data systems 🗑, D: Packages 📦

Fix eslint rule "react-hooks/rules-of-hooks"
  packages/tpc/src/components/price/input/useData.ts
Labels: C: data systems 🗑, D: Packages 📦

Fix eslint rule "react-hooks/rules-of-hooks"
  packages/tpc/src/components/price/input/useData.ts
Labels: C: data systems 🗑, D: Packages 📦

Fix type bug in IsPropsType.ts
  packages/tpc/src/components/price/factory/IsPropsType.ts
Labels: C: data systems 🗑, D: Packages 📦

Fix type bug in IsPropsType.ts
  packages/tpc/src/components/price/factory/IsPropsType.ts
Labels: C: data systems 🗑, D: Packages 📦

Sort properties alphabetically in types.ts
  packages/adapters/src/NumberInput/types.ts
Labels: C: assets 💎, D: Packages 📦

Remove double comment in Description.tsx
  packages/tpc/src/components/price/input/Description.tsx
Labels: C: data systems 🗑, D: Packages 📦

Lower dependency level for "services" package
  eslint/levels.js
Labels: C: automation & deployment ⚙️

Small refactor for useMoneyDisplay.ts
  packages/services/src/hooks/useMoneyDisplay.ts
Labels: C: services 🤝, D: Packages 📦

Lower dependency level for package "services"
  eslint/levels.js
Labels: C: automation & deployment ⚙️

Refactor FormattedPrice.tsx
  packages/tpc/src/components/price/input/FormattedPrice.tsx
Labels: C: data systems 🗑, D: Packages 📦

Narrow prop types for package "adapters"
  packages/adapters/src/types.ts
Labels: C: assets 💎, D: Packages 📦

Update comment for function parsedAmount()
  packages/utils/src/money/parsedAmount.ts
Labels: C: services 🤝, D: Packages 📦

Update comment for function formatAmount()
  packages/utils/src/money/formatAmount.ts
Labels: C: services 🤝, D: Packages 📦

Add comments for functions in useMoneyDisplay hook
  packages/services/src/hooks/useMoneyDisplay.ts
Labels: C: services 🤝, D: Packages 📦

Create custom hook useInputFilter
  packages/tpc/src/components/price/input/index.ts
  packages/tpc/src/components/price/input/useInputFilter.ts
Labels: C: data systems 🗑, D: Packages 📦

Update component FormattedPrice to support decimal places
  packages/tpc/src/components/price/input/FormattedPrice.tsx
Labels: C: data systems 🗑, D: Packages 📦

Do not export hook usePattern
  packages/tpc/src/components/price/input/useInputFilter.ts
Labels: C: data systems 🗑, D: Packages 📦

Apply hook useFilterInput on component Amount
  packages/tpc/src/components/price/input/amount/Amount.tsx
  packages/tpc/src/components/price/input/amount/useAmount.tsx
Labels: C: data systems 🗑, D: Packages 📦

Remove redundant logic from FormattedPrice
  packages/tpc/src/components/price/input/FormattedPrice.tsx
Labels: C: data systems 🗑, D: Packages 📦

Fix React dependencies for hooks
  packages/tpc/src/components/price/input/FormattedPrice.tsx
  packages/tpc/src/components/price/input/amount/Amount.tsx
Labels: C: data systems 🗑, D: Packages 📦

.github/labeler.yml:

"C: accessibility ♿":
- packages/i18n/*
- packages/i18n/**/*

"C: assets 💎":
- packages/adapters/*
- packages/adapters/**/*
- packages/icons/*
- packages/icons/**/*
- yarn.lock

"C: automation & deployment ⚙️":
- .github/*
- .github/**/*
- .husky/*
- .husky/**/*
- eslint/*
- tools/*
- .eslintignore
- .eslintrc.json
- .prettierrc.js

"C: build process 🔨":
- config/*
- scripts/*
- .wp-env.json
- babel.config.js
- composer.*
- lerna.json
- package.json
- tsconfig.*
- workspaces.json

"C: data systems 🗑":
- packages/constants/*
- packages/constants/**/*
- packages/data/*
- packages/data/**/*
- packages/dates/*
- packages/dates/**/*
- packages/edtr-services/*
- packages/edtr-services/**/*
- packages/form/*
- packages/form/**/*
- packages/form-builder/*
- packages/form-builder/**/*
- packages/rich-text-editor/*
- packages/rich-text-editor/**/*
- packages/rrule-generator/*
- packages/rrule-generator/**/*
- packages/storage/*
- packages/storage/**/*
- packages/toaster/*
- packages/toaster/**/*
- packages/tpc/*
- packages/tpc/**/*

"C: documentation 📑":
- docs/*
- docs/**/*
- any ['**/*.md']

"C: services 🤝":
- packages/events/*
- packages/events/**/*
- packages/helpers/*
- packages/helpers/**/*
- packages/hooks/*
- packages/hooks/**/*
- packages/ioc/*
- packages/ioc/**/*
- packages/plugins/*
- packages/plugins/**/*
- packages/predicates/*
- packages/predicates/**/*
- packages/registry/*
- packages/registry/**/*
- packages/services/*
- packages/services/**/*
- packages/slot-fill/*
- packages/slot-fill/**/*
- packages/utils/*
- packages/utils/**/*

"C: tests 🧪":
- .storybook/*
- storybook-static/*
- packages/storybook/*
- packages/storybook/**/*
- jest.config.ts
- any ['**/tests/*', '**/*.test.*']

"C: UI/UX 🚽":
- packages/ee-components/*
- packages/ee-components/**/*
- packages/react-exit-modal-typeform/*
- packages/react-exit-modal-typeform/**/*
- packages/styles/*
- packages/styles/**/*
- packages/ui-components/*
- packages/ui-components/**/*

"D: EDTR ✏️":
- domains/eventEditor/*
- domains/eventEditor/**/*

"D: EE CORE ☕":
- domains/core/*
- domains/core/**/*

"D: Event Smart 🛒":
- domains/eventSmart/*
- domains/eventSmart/**/*

"D: GB Blocks 🧱":
- domains/blocks/*
- domains/blocks/**/*

"D: Packages 📦":
- packages/*
- packages/**/*

"D: REM ♺":
- domains/rem/*
- domains/rem/**/*

"D: REPO 💾":
- any ['!domains/*', '!domains/**/*']

"D: WP admin 🏠":
- domains/wpPluginsPage/*
- domains/wpPluginsPage/**/*

"D: WP User Add-on 👤":
- domains/wpUser/*
- domains/wpUser/**/*

"S:1 new 👶🏻":
- any ['*', '**/*']
