Repository eventespresso/barista, changes with the labels that .github/labeler.yml gives for each.
All labels: C: accessibility ♿, C: assets 💎, C: automation & deployment ⚙️, C: build process 🔨, C: data systems 🗑, C: services 🤝, C: UI/UX 🚽, D: EDTR ✏️, D: EE CORE ☕, D: Event Smart 🛒, D: GB Blocks 🧱, D: Packages 📦, D: REM ♺, D: WP admin 🏠, D: WP User Add-on 👤

Fix type related bug with parsedAmount (undefined value)
  packages/utils/src/money/parsedAmount.ts
  packages/utils/src/money/types.ts
Labels: C: services 🤝, D: Packages 📦

Fix NaN bug with parsedAmount
  packages/utils/src/money/parsedAmount.ts
Labels: C: services 🤝, D: Packages 📦

Fix NaN bug with parsedAmount
  packages/utils/src/money/parsedAmount.ts
Labels: C: services 🤝, D: Packages 📦

Fix E2E workflow failing to obtain head_ref from pull request
  .github/workflows/e2e-checks.yml
Labels: C: automation & deployment ⚙️

Fix E2E workflow failing to obtain head_ref from pull request (#1272)
  .github/workflows/e2e-checks.yml
Labels: C: automation & deployment ⚙️

add namespace for barista lib folder
  ee-barista.php
Labels: none

add namespace and hook into Maintenance_Admin_Page
  lib/Barista.php
Labels: none

FeatureFlagsConfig: UI for managing Feature Flags configuration
  lib/FeatureFlagsAdminPage.php
Labels: none

FeatureFlagsConfigForm
  lib/FeatureFlagsConfigForm.php
Labels: none

extend Size; add size modifier class, tweak styles
  packages/ui-components/src/EntityList/filterBar/style.scss
  packages/ui-components/src/FilterBarFilter/FilterBarFilter.tsx
Labels: C: UI/UX 🚽, D: Packages 📦

add width prop and class
  packages/ui-components/src/FilterBarFilter/FilterBarFilter.tsx
Labels: C: UI/UX 🚽, D: Packages 📦

add max767px breakpoint
  packages/styles/src/mixins/_breakpoints.scss
Labels: C: UI/UX 🚽, D: Packages 📦

add Sizes type & Width interface
  packages/ui-components/src/types.ts
Labels: C: UI/UX 🚽, D: Packages 📦

update types after removing showBulkActions
  packages/ee-components/src/EntityList/types.ts
  packages/services/src/filterState/types.ts
Labels: C: services 🤝, C: UI/UX 🚽, D: Packages 📦

dont track showBulkActions in state
  domains/core/admin/eventEditor/src/ui/datetimes/datesList/bulkEdit/actions/Actions.tsx
  domains/core/admin/eventEditor/src/ui/datetimes/datesList/tableView/useBodyRowGenerator.tsx
  domains/core/admin/eventEditor/src/ui/datetimes/datesList/tableView/useHeaderRowGenerator.tsx
  domains/core/admin/eventEditor/src/ui/tickets/ticketsList/bulkEdit/actions/Actions.tsx
  domains/core/admin/eventEditor/src/ui/tickets/ticketsList/tableView/useBodyRowGenerator.tsx
  domains/core/admin/eventEditor/src/ui/tickets/ticketsList/tableView/useHeaderRowGenerator.tsx
  packages/ee-components/src/EntityList/EntityList.tsx
  packages/ee-components/src/EntityList/EntityListFilterBar.tsx
  packages/services/src/filterState/useEntityListFilterStateManager.ts
  packages/services/src/filterState/useStateReducer.ts
Labels: C: services 🤝, C: UI/UX 🚽, D: EE CORE ☕, D: Packages 📦

tweak FilterBarFilter widths
  domains/core/admin/eventEditor/src/ui/datetimes/registryInit.tsx
  domains/core/admin/eventEditor/src/ui/tickets/registryInit.tsx
Labels: D: EE CORE ☕

tweak label
  domains/core/admin/eventEditor/src/ui/tickets/ticketsList/filterBar/controls/options.ts
Labels: D: EE CORE ☕

simplify button labels
  packages/ee-components/src/filterBar/SortByControl/index.tsx
  packages/ui-components/src/EntityList/filterBar/buttons/ToggleFiltersButton.tsx
  packages/ui-components/src/Legend/ToggleLegendButton.tsx
Labels: C: UI/UX 🚽, D: Packages 📦

fix sortby control styles
  packages/ee-components/src/filterBar/SortByControl/style.scss
Labels: C: UI/UX 🚽, D: Packages 📦

add width prop and class to Select
  packages/ui-components/src/Select/Select.tsx
  packages/ui-components/src/Select/types.ts
Labels: C: UI/UX 🚽, D: Packages 📦

add input width classes
  packages/styles/src/mixins/_base-styles.scss
Labels: C: UI/UX 🚽, D: Packages 📦

fix pagination/legend display
  packages/ui-components/src/EntityList/EntityList.tsx
  packages/ui-components/src/EntityList/style.scss
  packages/ui-components/src/Pagination/style.scss
Labels: C: UI/UX 🚽, D: Packages 📦

tweak filter & filter tag styles
  packages/ui-components/src/ActiveFilters/FilterTag/styles.scss
  packages/ui-components/src/ActiveFilters/styles.scss
  packages/ui-components/src/EntityList/filterBar/style.scss
  packages/ui-components/src/bulkEdit/styles.scss
Labels: C: UI/UX 🚽, D: Packages 📦

add note about bulk edit + REM
  lib/FeatureFlagsAdminPage.php
  lib/FeatureFlagsConfigForm.php
Labels: none

Add New Feature Flags Admin UI (#1269)
  domains/core/admin/eventEditor/src/ui/datetimes/datesList/bulkEdit/actions/Actions.tsx
  domains/core/admin/eventEditor/src/ui/datetimes/datesList/tableView/useBodyRowGenerator.tsx
  domains/core/admin/eventEditor/src/ui/datetimes/datesList/tableView/useHeaderRowGenerator.tsx
  domains/core/admin/eventEditor/src/ui/datetimes/registryInit.tsx
  domains/core/admin/eventEditor/src/ui/tickets/registryInit.tsx
  domains/core/admin/eventEditor/src/ui/tickets/ticketsList/bulkEdit/actions/Actions.tsx
  domains/core/admin/eventEditor/src/ui/tickets/ticketsList/filterBar/controls/options.ts
  domains/core/admin/eventEditor/src/ui/tickets/ticketsList/tableView/useBodyRowGenerator.tsx
  domains/core/admin/eventEditor/src/ui/tickets/ticketsList/tableView/useHeaderRowGenerator.tsx
  ee-barista.php
  lib/Barista.php
  lib/FeatureFlagsAdminPage.php
  lib/FeatureFlagsConfigForm.php
  packages/ee-components/src/EntityList/EntityList.tsx
  packages/ee-components/src/EntityList/EntityListFilterBar.tsx
  packages/ee-components/src/EntityList/types.ts
  packages/ee-components/src/filterBar/SortByControl/index.tsx
  packages/ee-components/src/filterBar/SortByControl/style.scss
  packages/services/src/filterState/types.ts
  packages/services/src/filterState/useEntityListFilterStateManager.ts
  packages/services/src/filterState/useStateReducer.ts
  packages/styles/src/mixins/_base-styles.scss
  packages/styles/src/mixins/_breakpoints.scss
  packages/ui-components/src/ActiveFilters/FilterTag/styles.scss
  packages/ui-components/src/ActiveFilters/styles.scss
  packages/ui-components/src/EntityList/EntityList.tsx
  packages/ui-components/src/EntityList/filterBar/buttons/ToggleFiltersButton.tsx
  packages/ui-components/src/EntityList/filterBar/style.scss
  packages/ui-components/src/EntityList/style.scss
  packages/ui-components/src/FilterBarFilter/FilterBarFilter.tsx
  packages/ui-components/src/Legend/ToggleLegendButton.tsx
  packages/ui-components/src/Pagination/style.scss
  packages/ui-components/src/Select/Select.tsx
  packages/ui-components/src/Select/types.ts
  packages/ui-components/src/bulkEdit/styles.scss
  packages/ui-components/src/types.ts
Labels: C: services 🤝, C: UI/UX 🚽, D: EE CORE ☕, D: Packages 📦

add styles for rdw-option-active
  packages/rich-text-editor/src/rte-old/components/RichTextEditor/style.scss
Labels: C: data systems 🗑, D: Packages 📦

fix some margins
  packages/rich-text-editor/src/components/RichTextEditor/style.scss
Labels: C: data systems 🗑, D: Packages 📦

Fix RTE Button Active State Styles (#1242)
  packages/rich-text-editor/src/components/RichTextEditor/style.scss
  packages/rich-text-editor/src/rte-old/components/RichTextEditor/style.scss
Labels: C: data systems 🗑, D: Packages 📦

required tickets should always be displayed first
  packages/predicates/src/tickets/sorters/index.ts
Labels: C: services 🤝, D: Packages 📦

tweak tooltip text
  domains/core/admin/eventEditor/src/ui/tickets/ticketForm/useTicketFormConfig.ts
  domains/rem/src/ui/Tickets/useTicketFormConfig.ts
Labels: D: EE CORE ☕, D: REM ♺

increase tooltip specificity cuz Chakra
  packages/ui-components/src/withTooltip/style.scss
Labels: C: UI/UX 🚽, D: Packages 📦

Fix Required Ticket Sort Order in EDTR (#1244)
  domains/core/admin/eventEditor/src/ui/tickets/ticketForm/useTicketFormConfig.ts
  domains/rem/src/ui/Tickets/useTicketFormConfig.ts
  packages/predicates/src/tickets/sorters/index.ts
  packages/ui-components/src/withTooltip/style.scss
Labels: C: services 🤝, C: UI/UX 🚽, D: EE CORE ☕, D: Packages 📦, D: REM ♺

load Feature Flags from db when Barista Tester on
  lib/Barista.php
Labels: none

Add PayPal Commerce parameters for end-to-end testing
  .github/workflows/e2e-checks.yml
Labels: C: automation & deployment ⚙️

Add credit card parameter for E2E tests for PayPal Commerce (#1273)
  .github/workflows/e2e-checks.yml
Labels: C: automation & deployment ⚙️

bump up query limits to 250
  domains/core/admin/blocks/src/event-attendees/attributes.ts
  domains/core/admin/blocks/src/services/apollo/queries/datetimes/useDatetimesQueryOptions.ts
  domains/core/admin/blocks/src/services/apollo/queries/events/useEventsQueryOptions.ts
  domains/core/admin/blocks/src/services/apollo/queries/tickets/useTicketsQueryOptions.ts
Labels: D: EE CORE ☕

Update e2e-checks.yml
  .github/workflows/e2e-checks.yml
Labels: C: automation & deployment ⚙️

sort venues via locale and natural sort order
  domains/core/admin/eventEditor/src/ui/venue/VenueDetails.tsx
Labels: D: EE CORE ☕

Increase Query Limit to 250 (#1274)
  domains/core/admin/blocks/src/event-attendees/attributes.ts
  domains/core/admin/blocks/src/services/apollo/queries/datetimes/useDatetimesQueryOptions.ts
  domains/core/admin/blocks/src/services/apollo/queries/events/useEventsQueryOptions.ts
  domains/core/admin/blocks/src/services/apollo/queries/tickets/useTicketsQueryOptions.ts
  domains/core/admin/eventEditor/src/ui/venue/VenueDetails.tsx
Labels: D: EE CORE ☕

move venue sorting into useVenues()
  domains/core/admin/eventEditor/src/ui/venue/VenueDetails.tsx
  packages/edtr-services/src/apollo/queries/venues/useVenues.ts
Labels: C: data systems 🗑, D: EE CORE ☕, D: Packages 📦

.github/labeler.yml:

"C: accessibility ♿":
- packages/i18n/*
- packages/i18n/**/*

"C: assets 💎":
- packages/adapters/*
- packages/adapters/**/*
- packages/icons/*
- packages/icons/**/*
- yarn.lock

"C: automation & deployment ⚙️":
- .github/*
- .github/**/*
- .husky/*
- .husky/**/*
- eslint/*
- tools/*
- .eslintignore
- .eslintrc.json
- .prettierrc.js

"C: build process 🔨":
- config/*
- scripts/*
- .wp-env.json
- babel.config.js
- composer.*
- lerna.json
- package.json
- tsconfig.*
- workspaces.json

"C: data systems 🗑":
- packages/constants/*
- packages/constants/**/*
- packages/data/*
- packages/data/**/*
- packages/dates/*
- packages/dates/**/*
- packages/edtr-services/*
- packages/edtr-services/**/*
- packages/form/*
- packages/form/**/*
- packages/form-builder/*
- packages/form-builder/**/*
- packages/rich-text-editor/*
- packages/rich-text-editor/**/*
- packages/rrule-generator/*
- packages/rrule-generator/**/*
- packages/storage/*
- packages/storage/**/*
- packages/toaster/*
- packages/toaster/**/*
- packages/tpc/*
- packages/tpc/**/*

"C: documentation 📑":
- docs/*
- docs/**/*
- any ['**/*.md']

"C: services 🤝":
- packages/events/*
- packages/events/**/*
- packages/helpers/*
- packages/helpers/**/*
- packages/hooks/*
- packages/hooks/**/*
- packages/ioc/*
- packages/ioc/**/*
- packages/plugins/*
- packages/plugins/**/*
- packages/predicates/*
- packages/predicates/**/*
- packages/registry/*
- packages/registry/**/*
- packages/services/*
- packages/services/**/*
- packages/slot-fill/*
- packages/slot-fill/**/*
- packages/utils/*
- packages/utils/**/*

"C: tests 🧪":
- .storybook/*
- storybook-static/*
- packages/storybook/*
- packages/storybook/**/*
- jest.config.ts
- any ['**/tests/*', '**/*.test.*']

"C: UI/UX 🚽":
- packages/ee-components/*
- packages/ee-components/**/*
- packages/react-exit-modal-typeform/*
- packages/react-exit-modal-typeform/**/*
- packages/styles/*
- packages/styles/**/*
- packages/ui-components/*
- packages/ui-components/**/*

"D: EDTR ✏️":
- domains/eventEditor/*
- domains/eventEditor/**/*

"D: EE CORE ☕":
- domains/core/*
- domains/core/**/*

"D: Event Smart 🛒":
- domains/eventSmart/*
- domains/eventSmart/**/*

"D: GB Blocks 🧱":
- domains/blocks/*
- domains/blocks/**/*

"D: Packages 📦":
- packages/*
- packages/**/*

"D: REM ♺":
- domains/rem/*
- domains/rem/**/*

"D: REPO 💾":
- any ['!domains/*', '!domains/**/*']

"D: WP admin 🏠":
- domains/wpPluginsPage/*
- domains/wpPluginsPage/**/*

"D: WP User Add-on 👤":
- domains/wpUser/*
- domains/wpUser/**/*

"S:1 new 👶🏻":
- any ['*', '**/*']
