Repository eventespresso/barista, changes with the labels that .github/labeler.yml gives for each.
All labels: C: accessibility ♿, C: assets 💎, C: automation & deployment ⚙️, C: build process 🔨, C: data systems 🗑, C: services 🤝, C: UI/UX 🚽, D: EDTR ✏️, D: EE CORE ☕, D: Event Smart 🛒, D: GB Blocks 🧱, D: Packages 📦, D: REM ♺, D: WP admin 🏠, D: WP User Add-on 👤

.github/labeler.yml:

"C: accessibility ♿":
- packages/i18n/*
- packages/i18n/**/*

"C: assets 💎":
- packages/adapters/*
- packages/adapters/**/*
- packages/icons/*
- packages/icons/**/*
- yarn.lock

"C: automation & deployment ⚙️":
- .github/*
- .github/**/*
- .husky/*
- .husky/**/*
- eslint/*
- tools/*
- .eslintignore
- .eslintrc.json
- .prettierrc.js

"C: build process 🔨":
- config/*
- scripts/*
- .wp-env.json
- babel.config.js
- composer.*
- lerna.json
- package.json
- tsconfig.*
- workspaces.json

"C: data systems 🗑":
- packages/constants/*
- packages/constants/**/*
- packages/data/*
- packages/data/**/*
- packages/dates/*
- packages/dates/**/*
- packages/edtr-services/*
- packages/edtr-services/**/*
- packages/form/*
- packages/form/**/*
- packages/form-builder/*
- packages/form-builder/**/*
- packages/rich-text-editor/*
- packages/rich-text-editor/**/*
- packages/rrule-generator/*
- packages/rrule-generator/**/*
- packages/storage/*
- packages/storage/**/*
- packages/toaster/*
- packages/toaster/**/*
- packages/tpc/*
- packages/tpc/**/*

"C: documentation 📑":
- docs/*
- docs/**/*
- any ['**/*.md']

"C: services 🤝":
- packages/events/*
- packages/events/**/*
- packages/helpers/*
- packages/helpers/**/*
- packages/hooks/*
- packages/hooks/**/*
- packages/ioc/*
- packages/ioc/**/*
- packages/plugins/*
- packages/plugins/**/*
- packages/predicates/*
- packages/predicates/**/*
- packages/registry/*
- packages/registry/**/*
- packages/services/*
- packages/services/**/*
- packages/slot-fill/*
- packages/slot-fill/**/*
- packages/utils/*
- packages/utils/**/*

"C: tests 🧪":
- .storybook/*
- storybook-static/*
- packages/storybook/*
- packages/storybook/**/*
- jest.config.ts
- any ['**/tests/*', '**/*.test.*']

"C: UI/UX 🚽":
- packages/ee-components/*
- packages/ee-components/**/*
- packages/react-exit-modal-typeform/*
- packages/react-exit-modal-typeform/**/*
- packages/styles/*
- packages/styles/**/*
- packages/ui-components/*
- packages/ui-components/**/*

"D: EDTR ✏️":
- domains/eventEditor/*
- domains/eventEditor/**/*

"D: EE CORE ☕":
- domains/core/*
- domains/core/**/*

"D: Event Smart 🛒":
- domains/eventSmart/*
- domains/eventSmart/**/*

"D: GB Blocks 🧱":
- domains/blocks/*
- domains/blocks/**/*

"D: Packages 📦":
- packages/*
- packages/**/*

"D: REM ♺":
- domains/rem/*
- domains/rem/**/*

"D: REPO 💾":
- any ['!domains/*', '!domains/**/*']

"D: WP admin 🏠":
- domains/wpPluginsPage/*
- domains/wpPluginsPage/**/*

"D: WP User Add-on 👤":
- domains/wpUser/*
- domains/wpUser/**/*

"S:1 new 👶🏻":
- any ['*', '**/*']

Fix layout issue in .ee-number-field-stepper
  packages/ui-components/src/NumberInput/style.scss
Labels: C: UI/UX 🚽, D: Packages 📦

Convert to logical properties
  packages/ui-components/src/NumberInput/style.scss
Labels: C: UI/UX 🚽, D: Packages 📦

fix chevron icons
  packages/icons/src/icons/ChevronDoubleLeft.tsx
  packages/icons/src/icons/ChevronDoubleRight.tsx
  packages/icons/src/icons/ChevronLeft.tsx
  packages/icons/src/icons/ChevronRight.tsx
  packages/icons/src/svg/chevron-double-left.svg
  packages/icons/src/svg/chevron-double-right.svg
  packages/icons/src/svg/chevron-left.svg
  packages/icons/src/svg/chevron-right.svg
Labels: C: assets 💎, D: Packages 📦

debugFields supplied by default now
  domains/core/admin/eventEditor/src/ui/datetimes/dateForm/useDateFormConfig.ts
  domains/core/admin/eventEditor/src/ui/datetimes/datesList/bulkEdit/details/useBulkEditFormConfig.ts
  domains/core/admin/eventEditor/src/ui/tickets/ticketForm/useTicketFormConfig.ts
  domains/core/admin/eventEditor/src/ui/tickets/ticketsList/bulkEdit/details/useBulkEditFormConfig.ts
  domains/eventSmart/admin/upsellEditor/src/ui/UpsellForm/useUpsellFormConfig.ts
  domains/rem/src/ui/Tickets/useTicketFormConfig.ts
  domains/rem/src/ui/datetimeDetails/useDateFormConfig.ts
Labels: D: EE CORE ☕, D: Event Smart 🛒, D: REM ♺

UI adjustment in REM (#1251)
  .gitignore
  config/env.js
  domains/core/admin/eventEditor/src/ui/datetimes/dateForm/useDateFormConfig.ts
  domains/core/admin/eventEditor/src/ui/datetimes/datesList/bulkEdit/details/useBulkEditFormConfig.ts
  domains/core/admin/eventEditor/src/ui/tickets/ticketForm/useTicketFormConfig.ts
  domains/core/admin/eventEditor/src/ui/tickets/ticketsList/bulkEdit/details/useBulkEditFormConfig.ts
  domains/eventSmart/admin/upsellEditor/src/ui/UpsellForm/useUpsellFormConfig.ts
  domains/rem/src/ui/Tickets/useTicketFormConfig.ts
  domains/rem/src/ui/datetimeDetails/useDateFormConfig.ts
  domains/rem/src/ui/recurrence/PatternEditor.tsx
  package.json
  packages/form/src/RenderFields/styles.scss
  packages/form/src/fields/Field/style.scss
  packages/form/src/renderers/FormRenderer.tsx
  packages/icons/src/icons/ChevronDoubleLeft.tsx
  packages/icons/src/icons/ChevronDoubleRight.tsx
  packages/icons/src/icons/ChevronLeft.tsx
  packages/icons/src/icons/ChevronRight.tsx
  packages/icons/src/svg/chevron-double-left.svg
  packages/icons/src/svg/chevron-double-right.svg
  packages/icons/src/svg/chevron-left.svg
  packages/icons/src/svg/chevron-right.svg
  packages/rrule-generator/src/components/styles.scss
  packages/ui-components/src/DebugInfo/DebugInfo.tsx
  packages/ui-components/src/DebugInfo/types.ts
  packages/ui-components/src/NumberInput/style.scss
  packages/ui-components/src/SimpleEntityList/EntityOptionsRow/style.scss
Labels: C: assets 💎, C: build process 🔨, C: data systems 🗑, C: UI/UX 🚽, D: EE CORE ☕, D: Event Smart 🛒, D: Packages 📦, D: REM ♺

Remove @ts-ignore from NumberInput in BaseField component
  packages/adapters/src/NumberInput/types.ts
  packages/adapters/src/types.ts
  packages/tpc/src/fields/BaseField.tsx
  packages/tpc/src/fields/types.ts
  packages/tpc/src/fields/useBaseField.tsx
Labels: C: assets 💎, C: data systems 🗑, D: Packages 📦

Remove @ts-ignore from NumberInput in BaseField component
  packages/adapters/src/NumberInput/types.ts
  packages/adapters/src/types.ts
  packages/tpc/src/fields/BaseField.tsx
  packages/tpc/src/fields/types.ts
  packages/tpc/src/fields/useBaseField.tsx
Labels: C: assets 💎, C: data systems 🗑, D: Packages 📦

use regex to sanitize numberish values
  packages/utils/src/money/parsedAmount.ts
Labels: C: services 🤝, D: Packages 📦

use regex to sanitize numberish values
  packages/utils/src/money/parsedAmount.ts
Labels: C: services 🤝, D: Packages 📦

use parseFloat() here
  packages/utils/src/money/formatAmount.ts
Labels: C: services 🤝, D: Packages 📦

use parseFloat() here
  packages/utils/src/money/formatAmount.ts
Labels: C: services 🤝, D: Packages 📦

fix onChange()
  packages/tpc/src/fields/useBaseField.tsx
Labels: C: data systems 🗑, D: Packages 📦

fix onChange()
  packages/tpc/src/fields/useBaseField.tsx
Labels: C: data systems 🗑, D: Packages 📦

don't use Math.abs()
  packages/tpc/src/fields/usePriceAmount.tsx
Labels: C: data systems 🗑, D: Packages 📦

don't use Math.abs()
  packages/tpc/src/fields/usePriceAmount.tsx
Labels: C: data systems 🗑, D: Packages 📦

get formatter from useMoneyDisplay()
  packages/tpc/src/inputs/PriceAmountInput.tsx
Labels: C: data systems 🗑, D: Packages 📦

get formatter from useMoneyDisplay()
  packages/tpc/src/inputs/PriceAmountInput.tsx
Labels: C: data systems 🗑, D: Packages 📦

pass string value to onChangeValue()
  packages/adapters/src/NumberInput/NumberInput.tsx
Labels: C: assets 💎, D: Packages 📦

pass string value to onChangeValue()
  packages/adapters/src/NumberInput/NumberInput.tsx
Labels: C: assets 💎, D: Packages 📦

Update variable name
  packages/tpc/src/fields/usePriceAmount.tsx
Labels: C: data systems 🗑, D: Packages 📦

Update variable name
  packages/tpc/src/fields/usePriceAmount.tsx
Labels: C: data systems 🗑, D: Packages 📦

Revert type for InputProps
  packages/tpc/src/fields/types.ts
Labels: C: data systems 🗑, D: Packages 📦

Revert type for InputProps
  packages/tpc/src/fields/types.ts
Labels: C: data systems 🗑, D: Packages 📦

Fix NaN bug with formatAmount
  packages/utils/src/money/formatAmount.ts
Labels: C: services 🤝, D: Packages 📦

Fix NaN bug with formatAmount
  packages/utils/src/money/formatAmount.ts
Labels: C: services 🤝, D: Packages 📦

Remove redudant code
  packages/tpc/src/fields/BaseField.tsx
Labels: C: data systems 🗑, D: Packages 📦

Remove redudant code
  packages/tpc/src/fields/BaseField.tsx
Labels: C: data systems 🗑, D: Packages 📦

Fix useBaseField not using correct formatter
  packages/tpc/src/fields/useBaseField.tsx
Labels: C: data systems 🗑, D: Packages 📦

Fix useBaseField not using correct formatter
  packages/tpc/src/fields/useBaseField.tsx
Labels: C: data systems 🗑, D: Packages 📦

Update function parsedAmount
  packages/utils/src/money/parsedAmount.ts
Labels: C: services 🤝, D: Packages 📦

Update function parsedAmount
  packages/utils/src/money/parsedAmount.ts
Labels: C: services 🤝, D: Packages 📦

Update price input field
  packages/tpc/src/fields/usePriceAmount.tsx
  packages/tpc/src/inputs/PriceAmountInput.tsx
Labels: C: data systems 🗑, D: Packages 📦

Update price input field
  packages/tpc/src/fields/usePriceAmount.tsx
  packages/tpc/src/inputs/PriceAmountInput.tsx
Labels: C: data systems 🗑, D: Packages 📦

Fix overload for function onChangeValue
  packages/adapters/src/types.ts
Labels: C: assets 💎, D: Packages 📦

Fix overload for function onChangeValue
  packages/adapters/src/types.ts
Labels: C: assets 💎, D: Packages 📦

Always show summary of unit tests
  jest.config.ts
Labels: none

Always show summary of unit tests
  jest.config.ts
Labels: none

Fix type related bug with parsedAmount (null value)
  packages/utils/src/money/parsedAmount.ts
  packages/utils/src/money/types.ts
Labels: C: services 🤝, D: Packages 📦

Fix type related bug with parsedAmount (null value)
  packages/utils/src/money/parsedAmount.ts
  packages/utils/src/money/types.ts
Labels: C: services 🤝, D: Packages 📦

Fix type related bug with parsedAmount (undefined value)
  packages/utils/src/money/parsedAmount.ts
  packages/utils/src/money/types.ts
Labels: C: services 🤝, D: Packages 📦
