Repository eventespresso/barista, changes with the labels that .github/labeler.yml gives for each.
All labels: C: accessibility ♿, C: assets 💎, C: automation & deployment ⚙️, C: build process 🔨, C: data systems 🗑, C: services 🤝, C: UI/UX 🚽, D: EDTR ✏️, D: EE CORE ☕, D: Event Smart 🛒, D: GB Blocks 🧱, D: Packages 📦, D: REM ♺, D: WP admin 🏠, D: WP User Add-on 👤

.github/labeler.yml:

"C: accessibility ♿":
- packages/i18n/*
- packages/i18n/**/*

"C: assets 💎":
- packages/adapters/*
- packages/adapters/**/*
- packages/icons/*
- packages/icons/**/*
- yarn.lock

"C: automation & deployment ⚙️":
- .github/*
- .github/**/*
- .husky/*
- .husky/**/*
- eslint/*
- tools/*
- .eslintignore
- .eslintrc.json
- .prettierrc.js

"C: build process 🔨":
- config/*
- scripts/*
- .wp-env.json
- babel.config.js
- composer.*
- lerna.json
- package.json
- tsconfig.*
- workspaces.json

"C: data systems 🗑":
- packages/constants/*
- packages/constants/**/*
- packages/data/*
- packages/data/**/*
- packages/dates/*
- packages/dates/**/*
- packages/edtr-services/*
- packages/edtr-services/**/*
- packages/form/*
- packages/form/**/*
- packages/form-builder/*
- packages/form-builder/**/*
- packages/rich-text-editor/*
- packages/rich-text-editor/**/*
- packages/rrule-generator/*
- packages/rrule-generator/**/*
- packages/storage/*
- packages/storage/**/*
- packages/toaster/*
- packages/toaster/**/*
- packages/tpc/*
- packages/tpc/**/*

"C: documentation 📑":
- docs/*
- docs/**/*
- any ['**/*.md']

"C: services 🤝":
- packages/events/*
- packages/events/**/*
- packages/helpers/*
- packages/helpers/**/*
- packages/hooks/*
- packages/hooks/**/*
- packages/ioc/*
- packages/ioc/**/*
- packages/plugins/*
- packages/plugins/**/*
- packages/predicates/*
- packages/predicates/**/*
- packages/registry/*
- packages/registry/**/*
- packages/services/*
- packages/services/**/*
- packages/slot-fill/*
- packages/slot-fill/**/*
- packages/utils/*
- packages/utils/**/*

"C: tests 🧪":
- .storybook/*
- storybook-static/*
- packages/storybook/*
- packages/storybook/**/*
- jest.config.ts
- any ['**/tests/*', '**/*.test.*']

"C: UI/UX 🚽":
- packages/ee-components/*
- packages/ee-components/**/*
- packages/react-exit-modal-typeform/*
- packages/react-exit-modal-typeform/**/*
- packages/styles/*
- packages/styles/**/*
- packages/ui-components/*
- packages/ui-components/**/*

"D: EDTR ✏️":
- domains/eventEditor/*
- domains/eventEditor/**/*

"D: EE CORE ☕":
- domains/core/*
- domains/core/**/*

"D: Event Smart 🛒":
- domains/eventSmart/*
- domains/eventSmart/**/*

"D: GB Blocks 🧱":
- domains/blocks/*
- domains/blocks/**/*

"D: Packages 📦":
- packages/*
- packages/**/*

"D: REM ♺":
- domains/rem/*
- domains/rem/**/*

"D: REPO 💾":
- any ['!domains/*', '!domains/**/*']

"D: WP admin 🏠":
- domains/wpPluginsPage/*
- domains/wpPluginsPage/**/*

"D: WP User Add-on 👤":
- domains/wpUser/*
- domains/wpUser/**/*

"S:1 new 👶🏻":
- any ['*', '**/*']

Revert "Update hook useIfMounted"
  packages/hooks/src/test/useIfMounted.test.ts
  packages/hooks/src/useIfMounted.ts
Labels: C: services 🤝, D: Packages 📦

added initial setup
  .github/workflows/deploy-to-cafe.yml
  domains/calendar/package.json
  domains/calendar/src/App.tsx
  domains/calendar/src/index.html
  domains/calendar/src/index.tsx
  domains/calendar/tsconfig.json
  package.json
  workspaces.json
Labels: C: automation & deployment ⚙️, C: build process 🔨

unsuccessful try to connect with cafe calendar
  .github/workflows/deploy-to-cafe.yml
  domains/calendar/src/App.tsx
  domains/calendar/src/index.tsx
Labels: C: automation & deployment ⚙️

add $public_domains prop and enqueuePublicScripts()
  lib/Barista.php
Labels: none

calendar cells view ui implementation[continue]
  domains/calendar/package.json
  domains/calendar/src/App.css
  domains/calendar/src/App.tsx
  domains/calendar/src/assets/icons/ClockIcon.tsx
  domains/calendar/src/assets/icons/LocationPinIcon.tsx
  domains/calendar/src/components/calendar/event/index.tsx
  domains/calendar/src/components/calendar/index.tsx
  domains/calendar/src/global.d.ts
  domains/calendar/src/index.tsx
  domains/calendar/src/utils/types.ts
  package.json
  yarn.lock
Labels: C: assets 💎, C: build process 🔨

designed cells events ui
  domains/calendar/src/App.css
  domains/calendar/src/assets/icons/ClockIcon.tsx
  domains/calendar/src/components/calendar/event/index.tsx
  domains/calendar/src/components/calendar/index.tsx
Labels: none

worked on a custom tooltip for event to show more details about the event
  domains/calendar/src/components/calendar/event/index.tsx
  domains/calendar/src/components/calendar/index.tsx
  domains/calendar/src/components/ui/Tooltip/index.tsx
  domains/calendar/src/lib/types.ts
  domains/calendar/src/lib/utils.ts
  domains/calendar/src/utils/types.ts
  domains/calendar/tsconfig.json
Labels: none

replaced moment library with date-fns
  domains/calendar/package.json
  domains/calendar/src/components/calendar/index.tsx
Labels: none

add isCaffeinated, isDecaf, & isMultiSite flags to config
  packages/config/src/Factory.ts
  packages/config/src/test/data.ts
  packages/config/src/types/types.ts
  packages/config/src/types/window.ts
Labels: D: Packages 📦

only show New Date button if site isCaffeinated
  domains/core/admin/eventEditor/src/ui/datetimes/datesList/newDateOptions/NewDateButton.tsx
Labels: D: EE CORE ☕

fix legend icons classes
  domains/core/admin/eventEditor/src/ui/datetimes/datesList/config.ts
  domains/core/admin/eventEditor/src/ui/tickets/ticketsList/config.ts
  packages/ui-components/src/Legend/Legend.tsx
Labels: C: UI/UX 🚽, D: EE CORE ☕, D: Packages 📦

created ui for events tooltip/popover for more details about the events
  domains/calendar/src/App.css
  domains/calendar/src/App.tsx
  domains/calendar/src/assets/icons/LocationPinIcon.tsx
  domains/calendar/src/components/calendar/event-popover/index.tsx
  domains/calendar/src/components/calendar/event/index.tsx
  domains/calendar/src/components/calendar/index.tsx
  domains/calendar/src/theme.ts
Labels: none

fixed image height and removed extra date checks for same day
  domains/calendar/src/components/calendar/event-popover/index.tsx
Labels: none

Refactored isSameDate logic to start and end dates in popover
  domains/calendar/src/components/calendar/event-popover/index.tsx
Labels: none

structured sub directory in calendar domain for frontend and admin side
  domains/calendar/admin/package.json
  domains/calendar/admin/src/index.tsx
  domains/calendar/admin/tsconfig.json
  domains/calendar/frontend/package.json
  domains/calendar/frontend/src/App.css
  domains/calendar/frontend/src/App.tsx
  domains/calendar/frontend/src/assets/icons/ClockIcon.tsx
  domains/calendar/frontend/src/assets/icons/LocationPinIcon.tsx
  domains/calendar/frontend/src/components/calendar/event-popover/index.tsx
  domains/calendar/frontend/src/components/calendar/event/index.tsx
  domains/calendar/frontend/src/components/calendar/index.tsx
  domains/calendar/frontend/src/components/ui/Tooltip/index.tsx
  domains/calendar/frontend/src/global.d.ts
  domains/calendar/frontend/src/index.html
  domains/calendar/frontend/src/index.tsx
  domains/calendar/frontend/src/lib/types.ts
  domains/calendar/frontend/src/lib/utils.ts
  domains/calendar/frontend/src/theme.ts
  domains/calendar/frontend/tsconfig.json
  workspaces.json
  yarn.lock
Labels: C: assets 💎, C: build process 🔨

removed extra unused tooltip code
  domains/calendar/frontend/src/components/calendar/index.tsx
Labels: none

replaced events date in calendar cell with date-fns
  domains/calendar/frontend/src/components/calendar/event-popover/index.tsx
  domains/calendar/frontend/src/components/calendar/event/index.tsx
  domains/calendar/frontend/src/components/ui/Tooltip/index.tsx
Labels: none

added basic detail modal structure for event detail and its context api for state handling
  domains/calendar/frontend/src/App.tsx
  domains/calendar/frontend/src/components/calendar/event-detail-modal/index.tsx
  domains/calendar/frontend/src/components/calendar/event-popover/index.tsx
  domains/calendar/frontend/src/components/calendar/index.tsx
  domains/calendar/frontend/src/lib/context/modalContext.tsx
Labels: none

added fill props in icons ,and a skeleton animation in modal
  domains/calendar/frontend/src/assets/icons/ClockIcon.tsx
  domains/calendar/frontend/src/assets/icons/LocationPinIcon.tsx
  domains/calendar/frontend/src/components/calendar/event-detail-modal/index.tsx
  domains/calendar/frontend/src/components/calendar/event-popover/index.tsx
Labels: none

added register event bottons on modal
  domains/calendar/frontend/src/components/calendar/event-detail-modal/index.tsx
Labels: none

created custom toolbar ui
  domains/calendar/frontend/src/components/calendar/Toolbar/index.tsx
  domains/calendar/frontend/src/components/calendar/index.tsx
Labels: none

changed package name for calendar-admin side
  domains/calendar/admin/package.json
Labels: none

updated workspaces.json
  workspaces.json
Labels: C: build process 🔨

fix linting
  domains/core/admin/eventEditor/src/ui/datetimes/datesList/config.ts
Labels: D: EE CORE ☕

Advanced Editor Changes for Decaf (#1330)
  domains/core/admin/eventEditor/src/ui/datetimes/datesList/config.ts
  domains/core/admin/eventEditor/src/ui/datetimes/datesList/newDateOptions/NewDateButton.tsx
  domains/core/admin/eventEditor/src/ui/tickets/ticketsList/config.ts
  packages/config/src/Factory.ts
  packages/config/src/test/data.ts
  packages/config/src/types/types.ts
  packages/config/src/types/window.ts
  packages/ui-components/src/Legend/Legend.tsx
Labels: C: UI/UX 🚽, D: EE CORE ☕, D: Packages 📦

added interfaces for event , refactored code , made the event modal dynamic , and ui adjustments in modal
  domains/calendar/frontend/src/components/calendar/Toolbar/index.tsx
  domains/calendar/frontend/src/components/calendar/event-detail-modal/index.tsx
  domains/calendar/frontend/src/components/calendar/event-popover/index.tsx
  domains/calendar/frontend/src/components/calendar/event/index.tsx
  domains/calendar/frontend/src/components/calendar/index.tsx
  domains/calendar/frontend/src/lib/context/modalContext.tsx
  domains/calendar/frontend/src/lib/types.ts
Labels: none

removed static data and accessed it from json object espressoCalendarData
  domains/calendar/frontend/src/components/calendar/event/index.tsx
  domains/calendar/frontend/src/components/calendar/index.tsx
Labels: none

changed custom toolbar component to functional component
  domains/calendar/frontend/src/components/calendar/Toolbar/index.tsx
  domains/calendar/frontend/src/components/calendar/event/index.tsx
Labels: none

rename everything to Calendar Plus
  domains/calendar/frontend/src/global.d.ts
  domains/calendar/frontend/src/index.html
  domains/calendarPlus/admin/package.json
  domains/calendarPlus/admin/src/index.tsx
  domains/calendarPlus/admin/tsconfig.json
  domains/calendarPlus/frontend/package.json
  domains/calendarPlus/frontend/src/App.css
  domains/calendarPlus/frontend/src/App.tsx
  domains/calendarPlus/frontend/src/assets/icons/ClockIcon.tsx
  domains/calendarPlus/frontend/src/assets/icons/LocationPinIcon.tsx
  domains/calendarPlus/frontend/src/components/calendar/Toolbar/index.tsx
  domains/calendarPlus/frontend/src/components/calendar/event-detail-modal/index.tsx
  domains/calendarPlus/frontend/src/components/calendar/event-popover/index.tsx
  domains/calendarPlus/frontend/src/components/calendar/event/index.tsx
  domains/calendarPlus/frontend/src/components/calendar/index.tsx
  domains/calendarPlus/frontend/src/global.d.ts
  domains/calendarPlus/frontend/src/index.tsx
  domains/calendarPlus/frontend/src/lib/context/modalContext.tsx
  domains/calendarPlus/frontend/src/lib/types.ts
  domains/calendarPlus/frontend/src/lib/utils.ts
  domains/calendarPlus/frontend/src/theme.ts
  domains/calendarPlus/frontend/tsconfig.json
  lib/Barista.php
  workspaces.json
Labels: C: build process 🔨

load admin scripts
  lib/Barista.php
Labels: none

load AdminApp
  domains/calendarPlus/admin/src/AdminApp.tsx
  domains/calendarPlus/admin/src/index.tsx
  domains/calendarPlus/admin/src/styles.css
Labels: none

added basic views settings in admin page , created context api for calendar settings , and used settings for displaying views.
  domains/calendarPlus/admin/src/AdminApp.tsx
  domains/calendarPlus/admin/src/components/settings/index.tsx
  domains/calendarPlus/admin/src/global.d.ts
  domains/calendarPlus/frontend/src/App.tsx
  domains/calendarPlus/frontend/src/components/calendar/index.tsx
  domains/calendarPlus/frontend/src/global.d.ts
  domains/calendarPlus/frontend/src/lib/context/calendarSettingsContext.tsx
Labels: none

removed unecessary comments
  domains/calendarPlus/admin/src/global.d.ts
Labels: none

set calendar settings to the context
  domains/calendarPlus/frontend/src/global.d.ts
  domains/calendarPlus/frontend/src/lib/context/calendarSettingsContext.tsx
Labels: none

added theme settings to chakra , refactored api logic , added success hook for saved settings, added loading while fetching settings, refactored component.
  domains/calendarPlus/admin/src/AdminApp.tsx
  domains/calendarPlus/admin/src/components/settings/index.tsx
  domains/calendarPlus/admin/src/lib/api.ts
  domains/calendarPlus/admin/src/lib/hooks.ts
  domains/calendarPlus/admin/src/lib/types.ts
  domains/calendarPlus/admin/src/theme.ts
Labels: none

added default view selection in settings
  domains/calendarPlus/admin/src/components/settings/index.tsx
  domains/calendarPlus/admin/src/lib/types.ts
  domains/calendarPlus/frontend/src/components/calendar/index.tsx
  domains/calendarPlus/frontend/src/lib/context/calendarSettingsContext.tsx
Labels: none
