Repository eventespresso/barista, changes with the labels that .github/labeler.yml gives for each.
All labels: C: accessibility ♿, C: assets 💎, C: automation & deployment ⚙️, C: build process 🔨, C: data systems 🗑, C: services 🤝, C: UI/UX 🚽, D: EDTR ✏️, D: EE CORE ☕, D: Event Smart 🛒, D: GB Blocks 🧱, D: Packages 📦, D: REM ♺, D: WP admin 🏠, D: WP User Add-on 👤

Add aria-label for ticket assignment modal
  domains/core/admin/eventEditor/src/ui/ticketAssignmentsManager/components/TicketAssignmentsManagerModal.tsx
Labels: D: EE CORE ☕

Fix logical error in aria-label in TicketAssignmentsManagerModal.tsx
  domains/core/admin/eventEditor/src/ui/ticketAssignmentsManager/components/TicketAssignmentsManagerModal.tsx
Labels: D: EE CORE ☕

Add aria attributes to certain generic component type props
  packages/ui-components/src/Container/types.ts
Labels: C: UI/UX 🚽, D: Packages 📦

Update label component types
  packages/ui-components/src/Label/index.tsx
  packages/ui-components/src/withLabel/withLabel.tsx
Labels: C: UI/UX 🚽, D: Packages 📦

Update type AssignmentStatus for ticket assignment manager
  domains/core/admin/eventEditor/src/ui/ticketAssignmentsManager/types.ts
Labels: D: EE CORE ☕

Update aria-label in withLabel component
  packages/ui-components/src/Label/index.tsx
  packages/ui-components/src/withLabel/withLabel.tsx
Labels: C: UI/UX 🚽, D: Packages 📦

Update venue card aria labels
  domains/core/admin/eventEditor/src/ui/venue/VenueDetails.tsx
  packages/ui-components/src/Address/Address.tsx
  packages/ui-components/src/Heading/types.ts
Labels: C: UI/UX 🚽, D: EE CORE ☕, D: Packages 📦

Add aria-label to component VenueDetails
  domains/core/admin/eventEditor/src/ui/venue/VenueDetails.tsx
Labels: D: EE CORE ☕

Update aria-label in BodyCell component
  domains/core/admin/eventEditor/src/ui/ticketAssignmentsManager/components/table/BodyCell.tsx
Labels: D: EE CORE ☕

Add aria-label to ticket card component
  domains/core/admin/eventEditor/src/ui/tickets/ticketForm/multiStep/Modal.tsx
  domains/core/admin/eventEditor/src/ui/tickets/ticketsList/cardView/TicketCard.tsx
Labels: D: EE CORE ☕

Special case for aria-label when creating a new ticket without a name
  domains/core/admin/eventEditor/src/ui/ticketAssignmentsManager/components/table/BodyCell.tsx
Labels: D: EE CORE ☕

Update aria-label for component BodyCell
  domains/core/admin/eventEditor/src/ui/ticketAssignmentsManager/components/table/BodyCell.tsx
  domains/core/admin/eventEditor/src/ui/ticketAssignmentsManager/types.ts
Labels: D: EE CORE ☕

Add aria-label to modal for creating new tickets
  domains/core/admin/eventEditor/src/ui/tickets/ticketForm/multiStep/Modal.tsx
Labels: D: EE CORE ☕

Fix logical error with aria-label in BodyCell component
  domains/core/admin/eventEditor/src/ui/ticketAssignmentsManager/components/table/BodyCell.tsx
Labels: D: EE CORE ☕

Remove feature flags filter since it is now supplied by Cafe repo
  ee-barista.php
Labels: none

Update imports in DateCard.tsx
  domains/core/admin/eventEditor/src/ui/datetimes/datesList/cardView/DateCard.tsx
Labels: D: EE CORE ☕

Restore attribute aria-labelledby in withLabel.tsx
  packages/ui-components/src/withLabel/withLabel.tsx
Labels: C: UI/UX 🚽, D: Packages 📦

Refactor event editor entry points
  domains/core/admin/eventEditor/src/hooks/useEditorInitialization.ts
  domains/core/admin/eventEditor/src/ui/EventEditor.tsx
  domains/core/admin/eventEditor/src/ui/Init.tsx
Labels: D: EE CORE ☕

Fix broken aria-label in component withLabel.tsx
  packages/ui-components/src/withLabel/withLabel.tsx
Labels: C: UI/UX 🚽, D: Packages 📦

Fix typo in BodyCell.tsx
  domains/core/admin/eventEditor/src/ui/ticketAssignmentsManager/components/table/BodyCell.tsx
Labels: D: EE CORE ☕

Refactor toaster notifications in event editor
  domains/core/admin/eventEditor/src/ui/EventEditor.tsx
  domains/core/admin/eventEditor/src/ui/notifications/Notifications.tsx
  domains/core/admin/eventEditor/src/ui/notifications/useNotifications.ts
  packages/edtr-services/src/apollo/initialization/useCacheRehydration.ts
Labels: C: data systems 🗑, D: EE CORE ☕, D: Packages 📦

Fix the issue of re-render causing duplicate toast notifications
  domains/core/admin/eventEditor/src/ui/notifications/Notifications.tsx
  domains/core/admin/eventEditor/src/ui/notifications/useNotifications.ts
Labels: D: EE CORE ☕

remove inverseStatus(), fix button, improve labels
  domains/core/admin/eventEditor/src/ui/ticketAssignmentsManager/components/table/BodyCell.tsx
Labels: D: EE CORE ☕

fix tooltip styles
  packages/ui-components/src/withTooltip/style.scss
Labels: C: UI/UX 🚽, D: Packages 📦

Explicitly define supported Node version
  package.json
Labels: C: build process 🔨

Automatically switch node if nvm is present
  .nvmrc
Labels: none

Update translators comment for sprintf()
  domains/core/admin/eventEditor/src/ui/datetimes/dateForm/multiStep/Modal.tsx
  domains/core/admin/eventEditor/src/ui/ticketAssignmentsManager/components/table/BodyCell.tsx
  domains/core/admin/eventEditor/src/ui/tickets/ticketForm/multiStep/Modal.tsx
  domains/rem/src/ui/Tickets/multiStep/Modal.tsx
  packages/ui-components/src/DropdownMenu/DropdownToggle/index.tsx
Labels: C: UI/UX 🚽, D: EE CORE ☕, D: Packages 📦, D: REM ♺

Set aria attributes to null by default for EnttiyPaperFrame context
  packages/ui-components/src/EntityPaperFrame/Contexts.ts
Labels: C: UI/UX 🚽, D: Packages 📦

Update codebase for critical E2E test 'Create Event' (#1263)
  .nvmrc
  domains/core/admin/blocks/src/services/apollo/types.ts
  domains/core/admin/eventEditor/src/hooks/useEditorInitialization.ts
  domains/core/admin/eventEditor/src/ui/EventEditor.tsx
  domains/core/admin/eventEditor/src/ui/Init.tsx
  domains/core/admin/eventEditor/src/ui/datetimes/dateForm/multiStep/Modal.tsx
  domains/core/admin/eventEditor/src/ui/datetimes/datesList/actionsMenu/dropdown/DateMainMenu.tsx
  domains/core/admin/eventEditor/src/ui/datetimes/datesList/cardView/DateCard.tsx
  domains/core/admin/eventEditor/src/ui/notifications/Notifications.tsx
  domains/core/admin/eventEditor/src/ui/notifications/useNotifications.ts
  domains/core/admin/eventEditor/src/ui/ticketAssignmentsManager/components/TicketAssignmentsManagerModal.tsx
  domains/core/admin/eventEditor/src/ui/ticketAssignmentsManager/components/table/BodyCell.tsx
  domains/core/admin/eventEditor/src/ui/ticketAssignmentsManager/types.ts
  domains/core/admin/eventEditor/src/ui/tickets/ticketForm/multiStep/Modal.tsx
  domains/core/admin/eventEditor/src/ui/tickets/ticketsList/cardView/TicketCard.tsx
  domains/core/admin/eventEditor/src/ui/venue/VenueDetails.tsx
  domains/rem/src/ui/Tickets/multiStep/Modal.tsx
  ee-barista.php
  package.json
  packages/adapters/src/Modal/Modal.tsx
  packages/adapters/src/Modal/types.ts
  packages/edtr-services/src/apollo/initialization/useCacheRehydration.ts
  packages/edtr-services/src/apollo/mutations/datetimes/useOptimisticResponse.ts
  packages/edtr-services/src/apollo/types.ts
  packages/predicates/src/datetimes/filters/tests/data.ts
  packages/ui-components/src/Address/Address.tsx
  packages/ui-components/src/Container/types.ts
  packages/ui-components/src/DropdownMenu/DropdownMenuItem.tsx
  packages/ui-components/src/DropdownMenu/DropdownToggle/index.tsx
  packages/ui-components/src/DropdownMenu/types.ts
  packages/ui-components/src/EntityPaperFrame/Contexts.ts
  packages/ui-components/src/EntityPaperFrame/EntityPaperFrame.tsx
  packages/ui-components/src/Heading/types.ts
  packages/ui-components/src/Label/index.tsx
  packages/ui-components/src/Modal/Modal.tsx
  packages/ui-components/src/VenueSelector/VenueSelector.tsx
  packages/ui-components/src/withLabel/withLabel.tsx
  packages/ui-components/src/withTooltip/style.scss
Labels: C: assets 💎, C: build process 🔨, C: data systems 🗑, C: services 🤝, C: UI/UX 🚽, D: EE CORE ☕, D: Packages 📦, D: REM ♺

combine slack notification workflows
  .github/workflows/ready-for-review.yml
  .github/workflows/ready-for-testing.yml
  .github/workflows/slack-notifications.yml
Labels: C: automation & deployment ⚙️

ignore env files like .env.local
  .gitignore
Labels: none

Remove flex wrapping from .ee-container on 720px breakpoint
  packages/rrule-generator/src/components/styles.scss
Labels: C: data systems 🗑, D: Packages 📦

fix input width to account for margin
  packages/form/src/fields/Field/style.scss
Labels: C: data systems 🗑, D: Packages 📦

fix node watch
  config/env.js
  package.json
Labels: C: build process 🔨

Fix spacing for select button
  packages/ui-components/src/SimpleEntityList/EntityOptionsRow/style.scss
Labels: C: UI/UX 🚽, D: Packages 📦

don't modify number input wrappers
  packages/form/src/RenderFields/styles.scss
Labels: C: data systems 🗑, D: Packages 📦

remove DebugInfo as its already on modal
  domains/rem/src/ui/recurrence/PatternEditor.tsx
Labels: D: REM ♺

change DebugInfo to be form errors
  packages/form/src/renderers/FormRenderer.tsx
Labels: C: data systems 🗑, D: Packages 📦

add buttonText prop to DebugInfo
  packages/ui-components/src/DebugInfo/DebugInfo.tsx
  packages/ui-components/src/DebugInfo/types.ts
Labels: C: UI/UX 🚽, D: Packages 📦

oops... offset needs to be negative
  packages/ui-components/src/NumberInput/style.scss
Labels: C: UI/UX 🚽, D: Packages 📦

.github/labeler.yml:

"C: accessibility ♿":
- packages/i18n/*
- packages/i18n/**/*

"C: assets 💎":
- packages/adapters/*
- packages/adapters/**/*
- packages/icons/*
- packages/icons/**/*
- yarn.lock

"C: automation & deployment ⚙️":
- .github/*
- .github/**/*
- .husky/*
- .husky/**/*
- eslint/*
- tools/*
- .eslintignore
- .eslintrc.json
- .prettierrc.js

"C: build process 🔨":
- config/*
- scripts/*
- .wp-env.json
- babel.config.js
- composer.*
- lerna.json
- package.json
- tsconfig.*
- workspaces.json

"C: data systems 🗑":
- packages/constants/*
- packages/constants/**/*
- packages/data/*
- packages/data/**/*
- packages/dates/*
- packages/dates/**/*
- packages/edtr-services/*
- packages/edtr-services/**/*
- packages/form/*
- packages/form/**/*
- packages/form-builder/*
- packages/form-builder/**/*
- packages/rich-text-editor/*
- packages/rich-text-editor/**/*
- packages/rrule-generator/*
- packages/rrule-generator/**/*
- packages/storage/*
- packages/storage/**/*
- packages/toaster/*
- packages/toaster/**/*
- packages/tpc/*
- packages/tpc/**/*

"C: documentation 📑":
- docs/*
- docs/**/*
- any ['**/*.md']

"C: services 🤝":
- packages/events/*
- packages/events/**/*
- packages/helpers/*
- packages/helpers/**/*
- packages/hooks/*
- packages/hooks/**/*
- packages/ioc/*
- packages/ioc/**/*
- packages/plugins/*
- packages/plugins/**/*
- packages/predicates/*
- packages/predicates/**/*
- packages/registry/*
- packages/registry/**/*
- packages/services/*
- packages/services/**/*
- packages/slot-fill/*
- packages/slot-fill/**/*
- packages/utils/*
- packages/utils/**/*

"C: tests 🧪":
- .storybook/*
- storybook-static/*
- packages/storybook/*
- packages/storybook/**/*
- jest.config.ts
- any ['**/tests/*', '**/*.test.*']

"C: UI/UX 🚽":
- packages/ee-components/*
- packages/ee-components/**/*
- packages/react-exit-modal-typeform/*
- packages/react-exit-modal-typeform/**/*
- packages/styles/*
- packages/styles/**/*
- packages/ui-components/*
- packages/ui-components/**/*

"D: EDTR ✏️":
- domains/eventEditor/*
- domains/eventEditor/**/*

"D: EE CORE ☕":
- domains/core/*
- domains/core/**/*

"D: Event Smart 🛒":
- domains/eventSmart/*
- domains/eventSmart/**/*

"D: GB Blocks 🧱":
- domains/blocks/*
- domains/blocks/**/*

"D: Packages 📦":
- packages/*
- packages/**/*

"D: REM ♺":
- domains/rem/*
- domains/rem/**/*

"D: REPO 💾":
- any ['!domains/*', '!domains/**/*']

"D: WP admin 🏠":
- domains/wpPluginsPage/*
- domains/wpPluginsPage/**/*

"D: WP User Add-on 👤":
- domains/wpUser/*
- domains/wpUser/**/*

"S:1 new 👶🏻":
- any ['*', '**/*']
