Repository eventespresso/barista, changes with the labels that .github/labeler.yml gives for each.
All labels: C: accessibility ♿, C: assets 💎, C: automation & deployment ⚙️, C: build process 🔨, C: data systems 🗑, C: services 🤝, C: UI/UX 🚽, D: EDTR ✏️, D: EE CORE ☕, D: Event Smart 🛒, D: GB Blocks 🧱, D: Packages 📦, D: REM ♺, D: WP admin 🏠, D: WP User Add-on 👤

Add workaround for npm script "build"
  package.json
Labels: C: build process 🔨

Add workaround for npm script "dev"
  package.json
Labels: C: build process 🔨

Add workaround for npm script "start"
  package.json
Labels: C: build process 🔨

Add support for Node v20 Iron (#1324)
  .nvmrc
  .yarnrc
  package.json
  yarn.lock
Labels: C: assets 💎, C: build process 🔨

Remove support for Node v16 Gallium
  package.json
Labels: C: build process 🔨

Increase type strictness
  packages/tpc/src/components/price/tsconfig.json
Labels: C: data systems 🗑, D: Packages 📦

Update types
  packages/adapters/src/NumberInput/types.ts
  packages/edtr-services/src/apollo/types.ts
  packages/tpc/src/components/price/factory/types.ts
Labels: C: assets 💎, C: data systems 🗑, D: Packages 📦

Fix type-related bugs
  packages/tpc/src/components/price/input/FormattedPrice.tsx
  packages/tpc/src/components/price/input/amount/Amount.tsx
Labels: C: data systems 🗑, D: Packages 📦

Add cross-env package as a dev dependency
  package.json
  yarn.lock
Labels: C: assets 💎, C: build process 🔨

Use cross-env for npm scripts
  package.json
Labels: C: build process 🔨

Remove support for Node v16 Gallium (#1326)
  package.json
  yarn.lock
Labels: C: assets 💎, C: build process 🔨

Add support for decimals in Ticket Price Calculator (#1311)
  eslint/levels.js
  packages/adapters/src/NumberInput/types.ts
  packages/edtr-services/src/apollo/types.ts
  packages/hooks/src/useMemoStringify.ts
  packages/services/src/hooks/useMoneyDisplay.ts
  packages/tpc/src/components/price/factory/types.ts
  packages/tpc/src/components/price/input/FormattedPrice.tsx
  packages/tpc/src/components/price/input/amount/Amount.tsx
  packages/tpc/src/components/price/input/amount/useAmount.tsx
  packages/tpc/src/components/price/input/index.ts
  packages/tpc/src/components/price/input/useInputFilter.ts
  packages/tpc/src/components/price/tsconfig.json
  packages/utils/src/money/formatAmount.ts
  packages/utils/src/money/parsedAmount.ts
Labels: C: assets 💎, C: automation & deployment ⚙️, C: data systems 🗑, C: services 🤝, D: Packages 📦

Narrow prop types for package "adapters"
  packages/adapters/src/types.ts
Labels: C: assets 💎, D: Packages 📦

Revert "Narrow prop types for package "adapters""
  packages/adapters/src/types.ts
Labels: C: assets 💎, D: Packages 📦

Update types for InlineEdit
  packages/adapters/src/InlineEdit/types.ts
Labels: C: assets 💎, D: Packages 📦

Allow all Chakra props for InlineEdit component
  packages/adapters/src/InlineEdit/InlineEdit.tsx
Labels: C: assets 💎, D: Packages 📦

Revert "Update types for InlineEdit"
  packages/adapters/src/InlineEdit/types.ts
Labels: C: assets 💎, D: Packages 📦

Revert "Allow all Chakra props for InlineEdit component"
  packages/adapters/src/InlineEdit/InlineEdit.tsx
Labels: C: assets 💎, D: Packages 📦

Remove unused export
  packages/adapters/src/InlineEdit/Editable.tsx
  packages/adapters/src/InlineEdit/index.ts
Labels: C: assets 💎, D: Packages 📦

Type refactor in types.ts for inline edit adapter
  packages/adapters/src/InlineEdit/types.ts
Labels: C: assets 💎, D: Packages 📦

Small refactor for component InlineEditInput
  packages/adapters/src/InlineEdit/InlineEditInput.tsx
Labels: C: assets 💎, D: Packages 📦

Minor refactor for props type
  packages/adapters/src/InlineEdit/InlineEdit.tsx
  packages/adapters/src/InlineEdit/InlineEditInput.tsx
  packages/adapters/src/InlineEdit/InlineEditPreview.tsx
  packages/adapters/src/InlineEdit/types.ts
Labels: C: assets 💎, D: Packages 📦

Update hook useIfMounted
  packages/hooks/src/test/useIfMounted.test.ts
  packages/hooks/src/useIfMounted.ts
Labels: C: services 🤝, D: Packages 📦

Reduce external type-related dependencies in types.ts
  packages/ui-components/src/InlineEdit/InlineEditInput/types.ts
Labels: C: UI/UX 🚽, D: Packages 📦

Remove attribute test-id
  packages/adapters/src/InlineEdit/InlineEdit.tsx
  packages/adapters/src/InlineEdit/InlineEditInput.tsx
  packages/adapters/src/InlineEdit/types.ts
Labels: C: assets 💎, D: Packages 📦

Fix types prior to refactoring
  packages/adapters/src/InlineEdit/types.ts
Labels: C: assets 💎, D: Packages 📦

Remove InlineEditPreview.tsx
  packages/adapters/src/InlineEdit/InlineEdit.tsx
  packages/adapters/src/InlineEdit/InlineEditPreview.tsx
Labels: C: assets 💎, D: Packages 📦

Minor refactor for types.ts
  packages/adapters/src/InlineEdit/types.ts
Labels: C: assets 💎, D: Packages 📦

Fix eslint warning
  packages/adapters/src/InlineEdit/InlineEdit.tsx
Labels: C: assets 💎, D: Packages 📦

Refactor types.ts
  domains/core/admin/eventEditor/src/ui/EventRegistrationOptions/types.ts
  domains/core/admin/eventEditor/src/ui/EventRegistrationOptions/withData.tsx
  packages/adapters/src/InlineEdit/InlineEdit.tsx
  packages/adapters/src/InlineEdit/InlineEditInput.tsx
  packages/adapters/src/InlineEdit/index.ts
  packages/adapters/src/InlineEdit/types.ts
  packages/ui-components/src/InlineEdit/InlineEditInput/InlineEdit.tsx
Labels: C: assets 💎, C: UI/UX 🚽, D: EE CORE ☕, D: Packages 📦

Refactor types.ts (another file)
  packages/ui-components/src/InlineEdit/InlineEditInput/types.ts
Labels: C: UI/UX 🚽, D: Packages 📦

Remove test-id attribute
  packages/ui-components/src/InlineEdit/InlineEditInput/Preview.tsx
Labels: C: UI/UX 🚽, D: Packages 📦

Refactor props for component InlineEdit
  packages/adapters/src/InlineEdit/InlineEdit.tsx
  packages/adapters/src/InlineEdit/InlineEditInput.tsx
  packages/adapters/src/InlineEdit/types.ts
Labels: C: assets 💎, D: Packages 📦

Convert TODO to LATER
  packages/data/src/types.ts
Labels: C: data systems 🗑, D: Packages 📦

Update types.ts due to change in props
  domains/core/admin/eventEditor/src/ui/EventRegistrationOptions/types.ts
  domains/core/admin/eventEditor/src/ui/EventRegistrationOptions/withData.tsx
  packages/adapters/src/InlineEdit/InlineEdit.tsx
Labels: C: assets 💎, D: EE CORE ☕, D: Packages 📦

Update types.ts
  packages/adapters/src/InlineEdit/types.ts
Labels: C: assets 💎, D: Packages 📦

Create legacy props for adapter pattern
  packages/adapters/src/InlineEdit/types.ts
Labels: C: assets 💎, D: Packages 📦

Revert back to using legacy props for consumers
  domains/core/admin/eventEditor/src/ui/EventRegistrationOptions/types.ts
  domains/core/admin/eventEditor/src/ui/EventRegistrationOptions/withData.tsx
Labels: D: EE CORE ☕

Revert back to using legacy props for consumers (continue)
  domains/core/admin/eventEditor/src/ui/EventRegistrationOptions/types.ts
  domains/core/admin/eventEditor/src/ui/EventRegistrationOptions/withData.tsx
  packages/adapters/src/InlineEdit/InlineEdit.tsx
  packages/adapters/src/InlineEdit/InlineEditInput.tsx
  packages/adapters/src/InlineEdit/types.ts
  packages/ui-components/src/InlineEdit/InlineEditInput/InlineEdit.tsx
  packages/ui-components/src/InlineEdit/InlineEditInput/types.ts
Labels: C: assets 💎, C: UI/UX 🚽, D: EE CORE ☕, D: Packages 📦

Update InlineEdit.tsx
  packages/adapters/src/InlineEdit/InlineEdit/InlineEdit.tsx
  packages/adapters/src/InlineEdit/types.ts
Labels: C: assets 💎, D: Packages 📦

.github/labeler.yml:

"C: accessibility ♿":
- packages/i18n/*
- packages/i18n/**/*

"C: assets 💎":
- packages/adapters/*
- packages/adapters/**/*
- packages/icons/*
- packages/icons/**/*
- yarn.lock

"C: automation & deployment ⚙️":
- .github/*
- .github/**/*
- .husky/*
- .husky/**/*
- eslint/*
- tools/*
- .eslintignore
- .eslintrc.json
- .prettierrc.js

"C: build process 🔨":
- config/*
- scripts/*
- .wp-env.json
- babel.config.js
- composer.*
- lerna.json
- package.json
- tsconfig.*
- workspaces.json

"C: data systems 🗑":
- packages/constants/*
- packages/constants/**/*
- packages/data/*
- packages/data/**/*
- packages/dates/*
- packages/dates/**/*
- packages/edtr-services/*
- packages/edtr-services/**/*
- packages/form/*
- packages/form/**/*
- packages/form-builder/*
- packages/form-builder/**/*
- packages/rich-text-editor/*
- packages/rich-text-editor/**/*
- packages/rrule-generator/*
- packages/rrule-generator/**/*
- packages/storage/*
- packages/storage/**/*
- packages/toaster/*
- packages/toaster/**/*
- packages/tpc/*
- packages/tpc/**/*

"C: documentation 📑":
- docs/*
- docs/**/*
- any ['**/*.md']

"C: services 🤝":
- packages/events/*
- packages/events/**/*
- packages/helpers/*
- packages/helpers/**/*
- packages/hooks/*
- packages/hooks/**/*
- packages/ioc/*
- packages/ioc/**/*
- packages/plugins/*
- packages/plugins/**/*
- packages/predicates/*
- packages/predicates/**/*
- packages/registry/*
- packages/registry/**/*
- packages/services/*
- packages/services/**/*
- packages/slot-fill/*
- packages/slot-fill/**/*
- packages/utils/*
- packages/utils/**/*

"C: tests 🧪":
- .storybook/*
- storybook-static/*
- packages/storybook/*
- packages/storybook/**/*
- jest.config.ts
- any ['**/tests/*', '**/*.test.*']

"C: UI/UX 🚽":
- packages/ee-components/*
- packages/ee-components/**/*
- packages/react-exit-modal-typeform/*
- packages/react-exit-modal-typeform/**/*
- packages/styles/*
- packages/styles/**/*
- packages/ui-components/*
- packages/ui-components/**/*

"D: EDTR ✏️":
- domains/eventEditor/*
- domains/eventEditor/**/*

"D: EE CORE ☕":
- domains/core/*
- domains/core/**/*

"D: Event Smart 🛒":
- domains/eventSmart/*
- domains/eventSmart/**/*

"D: GB Blocks 🧱":
- domains/blocks/*
- domains/blocks/**/*

"D: Packages 📦":
- packages/*
- packages/**/*

"D: REM ♺":
- domains/rem/*
- domains/rem/**/*

"D: REPO 💾":
- any ['!domains/*', '!domains/**/*']

"D: WP admin 🏠":
- domains/wpPluginsPage/*
- domains/wpPluginsPage/**/*

"D: WP User Add-on 👤":
- domains/wpUser/*
- domains/wpUser/**/*

"S:1 new 👶🏻":
- any ['*', '**/*']
