Repository eventespresso/barista, changes with the labels that .github/labeler.yml gives for each.
All labels: C: accessibility ♿, C: assets 💎, C: automation & deployment ⚙️, C: build process 🔨, C: data systems 🗑, C: services 🤝, C: UI/UX 🚽, D: EDTR ✏️, D: EE CORE ☕, D: Event Smart 🛒, D: GB Blocks 🧱, D: Packages 📦, D: REM ♺, D: WP admin 🏠, D: WP User Add-on 👤

.github/labeler.yml:

"C: accessibility ♿":
- packages/i18n/*
- packages/i18n/**/*

"C: assets 💎":
- packages/adapters/*
- packages/adapters/**/*
- packages/icons/*
- packages/icons/**/*
- yarn.lock

"C: automation & deployment ⚙️":
- .github/*
- .github/**/*
- .husky/*
- .husky/**/*
- eslint/*
- tools/*
- .eslintignore
- .eslintrc.json
- .prettierrc.js

"C: build process 🔨":
- config/*
- scripts/*
- .wp-env.json
- babel.config.js
- composer.*
- lerna.json
- package.json
- tsconfig.*
- workspaces.json

"C: data systems 🗑":
- packages/constants/*
- packages/constants/**/*
- packages/data/*
- packages/data/**/*
- packages/dates/*
- packages/dates/**/*
- packages/edtr-services/*
- packages/edtr-services/**/*
- packages/form/*
- packages/form/**/*
- packages/form-builder/*
- packages/form-builder/**/*
- packages/rich-text-editor/*
- packages/rich-text-editor/**/*
- packages/rrule-generator/*
- packages/rrule-generator/**/*
- packages/storage/*
- packages/storage/**/*
- packages/toaster/*
- packages/toaster/**/*
- packages/tpc/*
- packages/tpc/**/*

"C: documentation 📑":
- docs/*
- docs/**/*
- any ['**/*.md']

"C: services 🤝":
- packages/events/*
- packages/events/**/*
- packages/helpers/*
- packages/helpers/**/*
- packages/hooks/*
- packages/hooks/**/*
- packages/ioc/*
- packages/ioc/**/*
- packages/plugins/*
- packages/plugins/**/*
- packages/predicates/*
- packages/predicates/**/*
- packages/registry/*
- packages/registry/**/*
- packages/services/*
- packages/services/**/*
- packages/slot-fill/*
- packages/slot-fill/**/*
- packages/utils/*
- packages/utils/**/*

"C: tests 🧪":
- .storybook/*
- storybook-static/*
- packages/storybook/*
- packages/storybook/**/*
- jest.config.ts
- any ['**/tests/*', '**/*.test.*']

"C: UI/UX 🚽":
- packages/ee-components/*
- packages/ee-components/**/*
- packages/react-exit-modal-typeform/*
- packages/react-exit-modal-typeform/**/*
- packages/styles/*
- packages/styles/**/*
- packages/ui-components/*
- packages/ui-components/**/*

"D: EDTR ✏️":
- domains/eventEditor/*
- domains/eventEditor/**/*

"D: EE CORE ☕":
- domains/core/*
- domains/core/**/*

"D: Event Smart 🛒":
- domains/eventSmart/*
- domains/eventSmart/**/*

"D: GB Blocks 🧱":
- domains/blocks/*
- domains/blocks/**/*

"D: Packages 📦":
- packages/*
- packages/**/*

"D: REM ♺":
- domains/rem/*
- domains/rem/**/*

"D: REPO 💾":
- any ['!domains/*', '!domains/**/*']

"D: WP admin 🏠":
- domains/wpPluginsPage/*
- domains/wpPluginsPage/**/*

"D: WP User Add-on 👤":
- domains/wpUser/*
- domains/wpUser/**/*

"S:1 new 👶🏻":
- any ['*', '**/*']

Add stub for cafe repository function espresso_version()
  stubs/cafe.php
Labels: none

Add stub for cafe repository function espresso_version() (#1257)
  stubs/cafe.php
Labels: none

test
  test-file
Labels: none

Fix branch name for E2E tests cache warmup workflow
  .github/workflows/e2e-cache-warmup.yml
Labels: C: automation & deployment ⚙️

Fix branch name for E2E tests cache warmup workflow (#1260)
  .github/workflows/e2e-cache-warmup.yml
Labels: C: automation & deployment ⚙️

Add aria labels for ticket assignment in Ticket Assignment Manager
  domains/core/admin/eventEditor/src/ui/ticketAssignmentsManager/components/table/BodyCell.tsx
Labels: D: EE CORE ☕

Update react-datepicker to latest version
  packages/dates/package.json
  yarn.lock
Labels: C: assets 💎, C: data systems 🗑, D: Packages 📦

Update react-datepicker type to latest version
  packages/dates/package.json
  yarn.lock
Labels: C: assets 💎, C: data systems 🗑, D: Packages 📦

Update aria attributes for E2E tests (#1261)
  domains/core/admin/eventEditor/src/ui/ticketAssignmentsManager/components/table/BodyCell.tsx
  packages/dates/package.json
  yarn.lock
Labels: C: assets 💎, C: data systems 🗑, D: EE CORE ☕, D: Packages 📦

Narrow down property of the interface
  packages/data/src/types.ts
Labels: C: data systems 🗑, D: Packages 📦

Fix typo in comment
  packages/data/src/types.ts
Labels: C: data systems 🗑, D: Packages 📦

Narrow down type of the property __typename in the interface Entity (#1262)
  packages/data/src/types.ts
Labels: C: data systems 🗑, D: Packages 📦

fix labels assigned to PR
  .github/workflows/deploy-to-cafe.yml
Labels: C: automation & deployment ⚙️

Create context.md with an inline diagram
  docs/assets/context-diagram.png
  docs/circular-dependencies.md
Labels: none

Fix grammar in circular-dependencies.md
  docs/circular-dependencies.md
Labels: none

Create context.md with an inline diagram (#1265)
  docs/assets/context-diagram.png
  docs/circular-dependencies.md
Labels: none

Add work-in-progress form.md
  docs/form.md
Labels: none

update after FeatureFlags changes
  ee-barista.php
Labels: none

Create type guard for Datetime type
  packages/edtr-services/src/apollo/types.ts
Labels: C: data systems 🗑, D: Packages 📦

Add JSDoc comment for GraphQL entity types
  domains/core/admin/blocks/src/services/apollo/types.ts
Labels: D: EE CORE ☕

Add aria attributes for datetime cards
  packages/ui-components/src/EntityPaperFrame/EntityPaperFrame.tsx
Labels: C: UI/UX 🚽, D: Packages 📦

Add context providers for aria-attributes in EntityPaperFrame
  packages/ui-components/src/EntityPaperFrame/Contexts.ts
  packages/ui-components/src/EntityPaperFrame/EntityPaperFrame.tsx
Labels: C: UI/UX 🚽, D: Packages 📦

Format aria-attributes in DateCard
  domains/core/admin/eventEditor/src/ui/datetimes/datesList/cardView/DateCard.tsx
Labels: D: EE CORE ☕

Fix type error in data.ts
  packages/predicates/src/datetimes/filters/tests/data.ts
Labels: C: services 🤝, D: Packages 📦

Fix type error with type Datetime
  packages/edtr-services/src/apollo/mutations/datetimes/useOptimisticResponse.ts
Labels: C: data systems 🗑, D: Packages 📦

Fix eslint warning for Contexts.ts
  packages/ui-components/src/EntityPaperFrame/Contexts.ts
Labels: C: UI/UX 🚽, D: Packages 📦

Update aria label value in DateMainMenu.tsx
  domains/core/admin/eventEditor/src/ui/datetimes/datesList/actionsMenu/dropdown/DateMainMenu.tsx
Labels: D: EE CORE ☕

Modify aria attributes for datetime cards
  domains/core/admin/eventEditor/src/ui/datetimes/datesList/cardView/DateCard.tsx
Labels: D: EE CORE ☕

Add comment to Contexts.ts
  packages/ui-components/src/EntityPaperFrame/Contexts.ts
Labels: C: UI/UX 🚽, D: Packages 📦

Update aria attribute format in DateCard.tsx
  domains/core/admin/eventEditor/src/ui/datetimes/datesList/cardView/DateCard.tsx
Labels: D: EE CORE ☕

Fix typos in types.ts
  domains/core/admin/blocks/src/services/apollo/types.ts
Labels: D: EE CORE ☕

Add comments in DateCard.tsx
  domains/core/admin/eventEditor/src/ui/datetimes/datesList/cardView/DateCard.tsx
Labels: D: EE CORE ☕

Add aria label for datetime modal content component
  domains/core/admin/eventEditor/src/ui/datetimes/dateForm/multiStep/Modal.tsx
Labels: D: EE CORE ☕

Memoize title in datetime modal
  domains/core/admin/eventEditor/src/ui/datetimes/dateForm/multiStep/Modal.tsx
Labels: D: EE CORE ☕

Update aria label for DropdownToggle component
  packages/ui-components/src/DropdownMenu/DropdownToggle/index.tsx
Labels: C: UI/UX 🚽, D: Packages 📦

Add aria label to component DropdownMenuItem
  packages/ui-components/src/DropdownMenu/DropdownMenuItem.tsx
  packages/ui-components/src/DropdownMenu/types.ts
Labels: C: UI/UX 🚽, D: Packages 📦

Add ability to pass aria attributes to Chakra UI modal components
  packages/adapters/src/Modal/Modal.tsx
  packages/adapters/src/Modal/types.ts
  packages/ui-components/src/Modal/Modal.tsx
Labels: C: assets 💎, C: UI/UX 🚽, D: Packages 📦

Update aria attributes in BodyCell of ticket assignment manager
  domains/core/admin/eventEditor/src/ui/ticketAssignmentsManager/components/table/BodyCell.tsx
Labels: D: EE CORE ☕

Fix fatal error due to null value
  domains/core/admin/eventEditor/src/ui/datetimes/dateForm/multiStep/Modal.tsx
Labels: D: EE CORE ☕

Add missing HTML id to VenueSelector component
  packages/ui-components/src/VenueSelector/VenueSelector.tsx
Labels: C: UI/UX 🚽, D: Packages 📦
