Repository eventespresso/barista, changes with the labels that .github/labeler.yml gives for each.
All labels: C: accessibility ♿, C: assets 💎, C: automation & deployment ⚙️, C: build process 🔨, C: data systems 🗑, C: services 🤝, C: UI/UX 🚽, D: EDTR ✏️, D: EE CORE ☕, D: Event Smart 🛒, D: GB Blocks 🧱, D: Packages 📦, D: REM ♺, D: WP admin 🏠, D: WP User Add-on 👤

Add price-field component
  packages/tpc/src/components/price/index.ts
  packages/tpc/src/components/price/price-field/PriceField.tsx
  packages/tpc/src/components/price/price-field/index.ts
Labels: C: data systems 🗑, D: Packages 📦

Add price-field component
  packages/tpc/src/components/price/index.ts
  packages/tpc/src/components/price/price-field/PriceField.tsx
  packages/tpc/src/components/price/price-field/index.ts
Labels: C: data systems 🗑, D: Packages 📦

Add money-config component
  packages/tpc/src/components/price/index.ts
  packages/tpc/src/components/price/money-config/MoneyInputWithConfig.tsx
  packages/tpc/src/components/price/money-config/index.ts
Labels: C: data systems 🗑, D: Packages 📦

Add money-config component
  packages/tpc/src/components/price/index.ts
  packages/tpc/src/components/price/money-config/MoneyInputWithConfig.tsx
  packages/tpc/src/components/price/money-config/index.ts
Labels: C: data systems 🗑, D: Packages 📦

Add component formatted-price
  packages/tpc/src/components/price/formatted-price/FormattedPrice.tsx
  packages/tpc/src/components/price/formatted-price/index.ts
  packages/tpc/src/components/price/index.ts
Labels: C: data systems 🗑, D: Packages 📦

Add component formatted-price
  packages/tpc/src/components/price/formatted-price/FormattedPrice.tsx
  packages/tpc/src/components/price/formatted-price/index.ts
  packages/tpc/src/components/price/index.ts
Labels: C: data systems 🗑, D: Packages 📦

Add sub-component for input called "amount"
  packages/tpc/src/components/price/index.ts
  packages/tpc/src/components/price/input/amount/Amount.tsx
  packages/tpc/src/components/price/input/amount/index.ts
  packages/tpc/src/components/price/input/amount/useAmount.tsx
  packages/tpc/src/components/price/input/index.ts
Labels: C: data systems 🗑, D: Packages 📦

Add sub-component for input called "amount"
  packages/tpc/src/components/price/index.ts
  packages/tpc/src/components/price/input/amount/Amount.tsx
  packages/tpc/src/components/price/input/amount/index.ts
  packages/tpc/src/components/price/input/amount/useAmount.tsx
  packages/tpc/src/components/price/input/index.ts
Labels: C: data systems 🗑, D: Packages 📦

Add sub-component Description to "amount"
  packages/tpc/src/components/price/input/Description.tsx
  packages/tpc/src/components/price/input/index.ts
Labels: C: data systems 🗑, D: Packages 📦

Add sub-component Description to "amount"
  packages/tpc/src/components/price/input/Description.tsx
  packages/tpc/src/components/price/input/index.ts
Labels: C: data systems 🗑, D: Packages 📦

Add sub-component ID to "amount"
  packages/tpc/src/components/price/input/ID.tsx
  packages/tpc/src/components/price/input/index.ts
Labels: C: data systems 🗑, D: Packages 📦

Add sub-component ID to "amount"
  packages/tpc/src/components/price/input/ID.tsx
  packages/tpc/src/components/price/input/index.ts
Labels: C: data systems 🗑, D: Packages 📦

Add sub-component Name to "amount"
  packages/tpc/src/components/price/input/Name.tsx
  packages/tpc/src/components/price/input/index.ts
Labels: C: data systems 🗑, D: Packages 📦

Add sub-component Name to "amount"
  packages/tpc/src/components/price/input/Name.tsx
  packages/tpc/src/components/price/input/index.ts
Labels: C: data systems 🗑, D: Packages 📦

Add sub-component Order to "amount"
  packages/tpc/src/components/price/input/Order.tsx
  packages/tpc/src/components/price/input/index.ts
Labels: C: data systems 🗑, D: Packages 📦

Add sub-component Order to "amount"
  packages/tpc/src/components/price/input/Order.tsx
  packages/tpc/src/components/price/input/index.ts
Labels: C: data systems 🗑, D: Packages 📦

Add sub-component Type to "amount"
  packages/tpc/src/components/price/input/Type.tsx
  packages/tpc/src/components/price/input/index.ts
Labels: C: data systems 🗑, D: Packages 📦

Add sub-component Type to "amount"
  packages/tpc/src/components/price/input/Type.tsx
  packages/tpc/src/components/price/input/index.ts
Labels: C: data systems 🗑, D: Packages 📦

Export components from directory "price"
  packages/tpc/src/components/index.ts
Labels: C: data systems 🗑, D: Packages 📦

Export components from directory "price"
  packages/tpc/src/components/index.ts
Labels: C: data systems 🗑, D: Packages 📦

Add missing styles.scss
  packages/tpc/src/components/price/input/amount/styles.scss
Labels: C: data systems 🗑, D: Packages 📦

Add missing styles.scss
  packages/tpc/src/components/price/input/amount/styles.scss
Labels: C: data systems 🗑, D: Packages 📦

Move component FormattedInput under directory "input"
  packages/tpc/src/components/price/formatted-price/index.ts
  packages/tpc/src/components/price/index.ts
  packages/tpc/src/components/price/input/FormattedPrice.tsx
  packages/tpc/src/components/price/input/index.ts
Labels: C: data systems 🗑, D: Packages 📦

Move component FormattedInput under directory "input"
  packages/tpc/src/components/price/formatted-price/index.ts
  packages/tpc/src/components/price/index.ts
  packages/tpc/src/components/price/input/FormattedPrice.tsx
  packages/tpc/src/components/price/input/index.ts
Labels: C: data systems 🗑, D: Packages 📦

Use new components instead of old ones
  packages/tpc/src/components/table/useBodyRowGenerator.tsx
  packages/tpc/src/components/table/useFooterRowGenerator.tsx
Labels: C: data systems 🗑, D: Packages 📦

Use new components instead of old ones
  packages/tpc/src/components/table/useBodyRowGenerator.tsx
  packages/tpc/src/components/table/useFooterRowGenerator.tsx
Labels: C: data systems 🗑, D: Packages 📦

Remove old components
  packages/tpc/src/fields/BaseField.tsx
  packages/tpc/src/fields/MoneyInputWithConfig.tsx
  packages/tpc/src/fields/PriceField.tsx
  packages/tpc/src/fields/TicketPriceField.tsx
  packages/tpc/src/fields/factory.tsx
  packages/tpc/src/fields/fries.tsx
  packages/tpc/src/fields/index.ts
  packages/tpc/src/fields/types.ts
  packages/tpc/src/fields/useBaseField.tsx
  packages/tpc/src/fields/usePriceAmount.tsx
Labels: C: data systems 🗑, D: Packages 📦

Remove old components
  packages/tpc/src/fields/BaseField.tsx
  packages/tpc/src/fields/MoneyInputWithConfig.tsx
  packages/tpc/src/fields/PriceField.tsx
  packages/tpc/src/fields/TicketPriceField.tsx
  packages/tpc/src/fields/factory.tsx
  packages/tpc/src/fields/fries.tsx
  packages/tpc/src/fields/index.ts
  packages/tpc/src/fields/types.ts
  packages/tpc/src/fields/useBaseField.tsx
  packages/tpc/src/fields/usePriceAmount.tsx
Labels: C: data systems 🗑, D: Packages 📦

Remove old inputs
  packages/tpc/src/inputs/PriceAmountInput.tsx
  packages/tpc/src/inputs/PriceDescriptionInput.tsx
  packages/tpc/src/inputs/PriceIdInput.tsx
  packages/tpc/src/inputs/PriceNameInput.tsx
  packages/tpc/src/inputs/PriceOrderInput.tsx
  packages/tpc/src/inputs/PriceTypeInput.tsx
  packages/tpc/src/inputs/styles.scss
Labels: C: data systems 🗑, D: Packages 📦

Remove old inputs
  packages/tpc/src/inputs/PriceAmountInput.tsx
  packages/tpc/src/inputs/PriceDescriptionInput.tsx
  packages/tpc/src/inputs/PriceIdInput.tsx
  packages/tpc/src/inputs/PriceNameInput.tsx
  packages/tpc/src/inputs/PriceOrderInput.tsx
  packages/tpc/src/inputs/PriceTypeInput.tsx
  packages/tpc/src/inputs/styles.scss
Labels: C: data systems 🗑, D: Packages 📦

Tell ESLint to ignore temporary files
  packages/tpc/src/fields/factory.tsx
  packages/tpc/src/fields/fries.tsx
  packages/tpc/src/fields/types-refactored.ts
Labels: C: data systems 🗑, D: Packages 📦

Tell ESLint to ignore temporary files
  packages/tpc/src/fields/factory.tsx
  packages/tpc/src/fields/fries.tsx
  packages/tpc/src/fields/types-refactored.ts
Labels: C: data systems 🗑, D: Packages 📦

Move component BaseNumberInputField
  packages/tpc/src/components/price/base-number/BaseNumberInputField.tsx
  packages/tpc/src/components/price/base-number/index.ts
  packages/tpc/src/components/price/index.ts
Labels: C: data systems 🗑, D: Packages 📦

Move component BaseNumberInputField
  packages/tpc/src/components/price/base-number/BaseNumberInputField.tsx
  packages/tpc/src/components/price/base-number/index.ts
  packages/tpc/src/components/price/index.ts
Labels: C: data systems 🗑, D: Packages 📦

Create TODOs
  packages/tpc/src/components/price/base-field/BaseField.tsx
  packages/tpc/src/components/price/base-number/BaseNumberInputField.tsx
  packages/tpc/src/components/price/input/FormattedPrice.tsx
  packages/tpc/src/components/price/input/Type.tsx
  packages/tpc/src/components/price/input/amount/useAmount.tsx
  packages/tpc/src/components/price/money-config/MoneyInputWithConfig.tsx
  packages/tpc/src/components/price/price-field/PriceField.tsx
  packages/tpc/src/components/price/types.ts
Labels: C: data systems 🗑, D: Packages 📦

Create TODOs
  packages/tpc/src/components/price/base-field/BaseField.tsx
  packages/tpc/src/components/price/base-number/BaseNumberInputField.tsx
  packages/tpc/src/components/price/input/FormattedPrice.tsx
  packages/tpc/src/components/price/input/Type.tsx
  packages/tpc/src/components/price/input/amount/useAmount.tsx
  packages/tpc/src/components/price/money-config/MoneyInputWithConfig.tsx
  packages/tpc/src/components/price/price-field/PriceField.tsx
  packages/tpc/src/components/price/types.ts
Labels: C: data systems 🗑, D: Packages 📦

Add Show All Option to Pagination Component (#1280)
  packages/ui-components/src/Pagination/PerPage.tsx
  packages/ui-components/src/Pagination/constants.ts
  packages/ui-components/src/Pagination/style.scss
Labels: C: UI/UX 🚽, D: Packages 📦

Ignore Visual Studio Code searches from git
  .gitignore
Labels: none

Ignore Visual Studio Code searches from git
  .gitignore
Labels: none

Refactor type PriceField.tsx
  packages/tpc/src/components/price/index.ts
  packages/tpc/src/components/price/input/Description.tsx
  packages/tpc/src/components/price/input/Input.tsx
  packages/tpc/src/components/price/input/Name.tsx
  packages/tpc/src/components/price/input/Order.tsx
  packages/tpc/src/components/price/input/Type.tsx
  packages/tpc/src/components/price/input/index.ts
  packages/tpc/src/components/price/price-field/index.ts
Labels: C: data systems 🗑, D: Packages 📦

.github/labeler.yml:

"C: accessibility ♿":
- packages/i18n/*
- packages/i18n/**/*

"C: assets 💎":
- packages/adapters/*
- packages/adapters/**/*
- packages/icons/*
- packages/icons/**/*
- yarn.lock

"C: automation & deployment ⚙️":
- .github/*
- .github/**/*
- .husky/*
- .husky/**/*
- eslint/*
- tools/*
- .eslintignore
- .eslintrc.json
- .prettierrc.js

"C: build process 🔨":
- config/*
- scripts/*
- .wp-env.json
- babel.config.js
- composer.*
- lerna.json
- package.json
- tsconfig.*
- workspaces.json

"C: data systems 🗑":
- packages/constants/*
- packages/constants/**/*
- packages/data/*
- packages/data/**/*
- packages/dates/*
- packages/dates/**/*
- packages/edtr-services/*
- packages/edtr-services/**/*
- packages/form/*
- packages/form/**/*
- packages/form-builder/*
- packages/form-builder/**/*
- packages/rich-text-editor/*
- packages/rich-text-editor/**/*
- packages/rrule-generator/*
- packages/rrule-generator/**/*
- packages/storage/*
- packages/storage/**/*
- packages/toaster/*
- packages/toaster/**/*
- packages/tpc/*
- packages/tpc/**/*

"C: documentation 📑":
- docs/*
- docs/**/*
- any ['**/*.md']

"C: services 🤝":
- packages/events/*
- packages/events/**/*
- packages/helpers/*
- packages/helpers/**/*
- packages/hooks/*
- packages/hooks/**/*
- packages/ioc/*
- packages/ioc/**/*
- packages/plugins/*
- packages/plugins/**/*
- packages/predicates/*
- packages/predicates/**/*
- packages/registry/*
- packages/registry/**/*
- packages/services/*
- packages/services/**/*
- packages/slot-fill/*
- packages/slot-fill/**/*
- packages/utils/*
- packages/utils/**/*

"C: tests 🧪":
- .storybook/*
- storybook-static/*
- packages/storybook/*
- packages/storybook/**/*
- jest.config.ts
- any ['**/tests/*', '**/*.test.*']

"C: UI/UX 🚽":
- packages/ee-components/*
- packages/ee-components/**/*
- packages/react-exit-modal-typeform/*
- packages/react-exit-modal-typeform/**/*
- packages/styles/*
- packages/styles/**/*
- packages/ui-components/*
- packages/ui-components/**/*

"D: EDTR ✏️":
- domains/eventEditor/*
- domains/eventEditor/**/*

"D: EE CORE ☕":
- domains/core/*
- domains/core/**/*

"D: Event Smart 🛒":
- domains/eventSmart/*
- domains/eventSmart/**/*

"D: GB Blocks 🧱":
- domains/blocks/*
- domains/blocks/**/*

"D: Packages 📦":
- packages/*
- packages/**/*

"D: REM ♺":
- domains/rem/*
- domains/rem/**/*

"D: REPO 💾":
- any ['!domains/*', '!domains/**/*']

"D: WP admin 🏠":
- domains/wpPluginsPage/*
- domains/wpPluginsPage/**/*

"D: WP User Add-on 👤":
- domains/wpUser/*
- domains/wpUser/**/*

"S:1 new 👶🏻":
- any ['*', '**/*']
