Repository eventespresso/barista, changes with the labels that .github/labeler.yml gives for each.
All labels: C: accessibility ♿, C: assets 💎, C: automation & deployment ⚙️, C: build process 🔨, C: data systems 🗑, C: services 🤝, C: UI/UX 🚽, D: EDTR ✏️, D: EE CORE ☕, D: Event Smart 🛒, D: GB Blocks 🧱, D: Packages 📦, D: REM ♺, D: WP admin 🏠, D: WP User Add-on 👤

.github/labeler.yml:

"C: accessibility ♿":
- packages/i18n/*
- packages/i18n/**/*

"C: assets 💎":
- packages/adapters/*
- packages/adapters/**/*
- packages/icons/*
- packages/icons/**/*
- yarn.lock

"C: automation & deployment ⚙️":
- .github/*
- .github/**/*
- .husky/*
- .husky/**/*
- eslint/*
- tools/*
- .eslintignore
- .eslintrc.json
- .prettierrc.js

"C: build process 🔨":
- config/*
- scripts/*
- .wp-env.json
- babel.config.js
- composer.*
- lerna.json
- package.json
- tsconfig.*
- workspaces.json

"C: data systems 🗑":
- packages/constants/*
- packages/constants/**/*
- packages/data/*
- packages/data/**/*
- packages/dates/*
- packages/dates/**/*
- packages/edtr-services/*
- packages/edtr-services/**/*
- packages/form/*
- packages/form/**/*
- packages/form-builder/*
- packages/form-builder/**/*
- packages/rich-text-editor/*
- packages/rich-text-editor/**/*
- packages/rrule-generator/*
- packages/rrule-generator/**/*
- packages/storage/*
- packages/storage/**/*
- packages/toaster/*
- packages/toaster/**/*
- packages/tpc/*
- packages/tpc/**/*

"C: documentation 📑":
- docs/*
- docs/**/*
- any ['**/*.md']

"C: services 🤝":
- packages/events/*
- packages/events/**/*
- packages/helpers/*
- packages/helpers/**/*
- packages/hooks/*
- packages/hooks/**/*
- packages/ioc/*
- packages/ioc/**/*
- packages/plugins/*
- packages/plugins/**/*
- packages/predicates/*
- packages/predicates/**/*
- packages/registry/*
- packages/registry/**/*
- packages/services/*
- packages/services/**/*
- packages/slot-fill/*
- packages/slot-fill/**/*
- packages/utils/*
- packages/utils/**/*

"C: tests 🧪":
- .storybook/*
- storybook-static/*
- packages/storybook/*
- packages/storybook/**/*
- jest.config.ts
- any ['**/tests/*', '**/*.test.*']

"C: UI/UX 🚽":
- packages/ee-components/*
- packages/ee-components/**/*
- packages/react-exit-modal-typeform/*
- packages/react-exit-modal-typeform/**/*
- packages/styles/*
- packages/styles/**/*
- packages/ui-components/*
- packages/ui-components/**/*

"D: EDTR ✏️":
- domains/eventEditor/*
- domains/eventEditor/**/*

"D: EE CORE ☕":
- domains/core/*
- domains/core/**/*

"D: Event Smart 🛒":
- domains/eventSmart/*
- domains/eventSmart/**/*

"D: GB Blocks 🧱":
- domains/blocks/*
- domains/blocks/**/*

"D: Packages 📦":
- packages/*
- packages/**/*

"D: REM ♺":
- domains/rem/*
- domains/rem/**/*

"D: REPO 💾":
- any ['!domains/*', '!domains/**/*']

"D: WP admin 🏠":
- domains/wpPluginsPage/*
- domains/wpPluginsPage/**/*

"D: WP User Add-on 👤":
- domains/wpUser/*
- domains/wpUser/**/*

"S:1 new 👶🏻":
- any ['*', '**/*']

Refactor type PriceField.tsx
  packages/tpc/src/components/price/index.ts
  packages/tpc/src/components/price/input/Description.tsx
  packages/tpc/src/components/price/input/Input.tsx
  packages/tpc/src/components/price/input/Name.tsx
  packages/tpc/src/components/price/input/Order.tsx
  packages/tpc/src/components/price/input/Type.tsx
  packages/tpc/src/components/price/input/index.ts
  packages/tpc/src/components/price/price-field/index.ts
Labels: C: data systems 🗑, D: Packages 📦

Remove unused component BaseNumberInputField.tsx
  packages/tpc/src/components/price/base-number/BaseNumberInputField.tsx
  packages/tpc/src/components/price/base-number/index.ts
  packages/tpc/src/components/price/index.ts
Labels: C: data systems 🗑, D: Packages 📦

Remove unused component BaseNumberInputField.tsx
  packages/tpc/src/components/price/base-number/BaseNumberInputField.tsx
  packages/tpc/src/components/price/base-number/index.ts
  packages/tpc/src/components/price/index.ts
Labels: C: data systems 🗑, D: Packages 📦

Use package 'classnames' in component Type.tsx
  packages/tpc/src/components/price/input/Type.tsx
Labels: C: data systems 🗑, D: Packages 📦

Use package 'classnames' in component Type.tsx
  packages/tpc/src/components/price/input/Type.tsx
Labels: C: data systems 🗑, D: Packages 📦

Remove component MoneyInputWithConfig.tsx
  packages/tpc/src/components/price/index.ts
  packages/tpc/src/components/price/input/FormattedPrice.tsx
  packages/tpc/src/components/price/input/amount/Amount.tsx
  packages/tpc/src/components/price/money-config/MoneyInputWithConfig.tsx
  packages/tpc/src/components/price/money-config/index.ts
Labels: C: data systems 🗑, D: Packages 📦

Remove component MoneyInputWithConfig.tsx
  packages/tpc/src/components/price/index.ts
  packages/tpc/src/components/price/input/FormattedPrice.tsx
  packages/tpc/src/components/price/input/amount/Amount.tsx
  packages/tpc/src/components/price/money-config/MoneyInputWithConfig.tsx
  packages/tpc/src/components/price/money-config/index.ts
Labels: C: data systems 🗑, D: Packages 📦

Work-in-progress
  packages/tpc/src/components/price/base-field/Factory.tsx
  packages/tpc/src/components/price/base-field/Fries.tsx
  packages/tpc/src/components/price/base-field/index.ts
  packages/tpc/src/components/price/base-field/types.ts
  packages/tpc/src/components/price/base-field/useFactory.ts
  packages/tpc/src/fields/types-refactored.ts
Labels: C: data systems 🗑, D: Packages 📦

Work-in-progress
  packages/tpc/src/components/price/base-field/Factory.tsx
  packages/tpc/src/components/price/base-field/Fries.tsx
  packages/tpc/src/components/price/base-field/index.ts
  packages/tpc/src/components/price/base-field/types.ts
  packages/tpc/src/components/price/base-field/useFactory.ts
  packages/tpc/src/fields/types-refactored.ts
Labels: C: data systems 🗑, D: Packages 📦

update status to 'SOLD_OUT' when capacity is 0
  domains/core/admin/eventEditor/src/ui/datetimes/datesList/cardView/DateCapacity.tsx
Labels: D: EE CORE ☕

Add modifyTicketStatusBasedOnDatetimes utility function
  packages/edtr-services/src/utils/index.ts
  packages/edtr-services/src/utils/modifyTicketStatusBasedOnDatetimes.ts
Labels: C: data systems 🗑, D: Packages 📦

defensive css to protect against other plugins
  domains/core/admin/eventEditor/src/ui/ticketAssignmentsManager/components/table/styles.scss
Labels: D: EE CORE ☕

Add TICKET_STATUSES constant
  packages/predicates/src/tickets/constants.ts
Labels: C: services 🤝, D: Packages 📦

Fix Datetime TBD Status Predicates (#1284)
  config/env.js
  config/webpackDevServer.config.js
  packages/adapters/package.json
  packages/constants/src/datetime.ts
  packages/edtr-services/src/apollo/mutations/useReorderEntities.ts
  packages/predicates/src/datetimes/filters/activeUpcoming/index.ts
  packages/predicates/src/datetimes/filters/soldOutOnly/index.ts
  packages/predicates/src/datetimes/filters/upcomingOnly/index.ts
  packages/predicates/src/datetimes/index.ts
  packages/predicates/src/datetimes/isCancelled/index.ts
  packages/predicates/src/datetimes/isPostponed/index.ts
  packages/predicates/src/datetimes/isTBD/index.ts
  packages/predicates/src/datetimes/isUpcoming/index.ts
  packages/ui-components/src/dnd/DragAndDrop.tsx
Labels: C: assets 💎, C: build process 🔨, C: data systems 🗑, C: services 🤝, C: UI/UX 🚽, D: Packages 📦

Refactor modifyTicketStatusBasedOnDatetimes function
  packages/edtr-services/src/utils/modifyTicketStatusBasedOnDatetimes.ts
Labels: C: data systems 🗑, D: Packages 📦

Refactor getStatusTextLabel function to use TICKET_STATUSES enum
  packages/helpers/src/tickets/getStatusTextLabel.ts
Labels: C: services 🤝, D: Packages 📦

add rem and wpUser domains to default dev command
  package.json
Labels: C: build process 🔨

Update enum names for datetime sales and status filters
  domains/core/admin/eventEditor/src/ui/datetimes/datesList/bulkEdit/actions/Actions.tsx
  domains/core/admin/eventEditor/src/ui/datetimes/datesList/filterBar/ActiveDatesFilters.tsx
  domains/core/admin/eventEditor/src/ui/datetimes/datesList/filterBar/controls/options.ts
  packages/edtr-services/src/filterState/datetimes/test/useDatesListFilterStateManager.test.ts
  packages/edtr-services/src/filterState/datetimes/types.ts
  packages/edtr-services/src/filterState/datetimes/useDatesListFilterStateManager.ts
  packages/predicates/src/datetimes/filters/salesFilter.ts
  packages/predicates/src/datetimes/filters/statusFilter.ts
  packages/predicates/src/datetimes/filters/types.ts
Labels: C: data systems 🗑, C: services 🤝, D: EE CORE ☕, D: Packages 📦

Update ticket sales and status filters
  domains/core/admin/eventEditor/src/ui/tickets/ticketsList/bulkEdit/actions/Actions.tsx
  domains/core/admin/eventEditor/src/ui/tickets/ticketsList/filterBar/ActiveTicketsFilters.tsx
  domains/core/admin/eventEditor/src/ui/tickets/ticketsList/filterBar/controls/options.ts
  packages/edtr-services/src/filterState/tickets/test/useTicketsListFilterStateManager.test.ts
  packages/edtr-services/src/filterState/tickets/types.ts
  packages/edtr-services/src/filterState/tickets/useTicketsListFilterStateManager.ts
  packages/predicates/src/tickets/filters/salesFilter.ts
  packages/predicates/src/tickets/filters/statusFilter.ts
  packages/predicates/src/tickets/filters/types.ts
Labels: C: data systems 🗑, C: services 🤝, D: EE CORE ☕, D: Packages 📦

Add ticket status notice to TicketCard component
  domains/core/admin/eventEditor/src/ui/tickets/ticketsList/cardView/TicketCard.tsx
Labels: D: EE CORE ☕

Update dependencies in yarn.lock file
  yarn.lock
Labels: C: assets 💎

Refactor date swatches in datesList config
  domains/core/admin/eventEditor/src/ui/datetimes/datesList/config.ts
Labels: D: EE CORE ☕

Refactor statusBgColorClassName to handle ticket status codes and reevaluation
  packages/helpers/src/tickets/statusBgColorClassName.ts
Labels: C: services 🤝, D: Packages 📦

Add notice prop to EntityCard and EntityIDs components
  packages/ui-components/src/EntityCard/EntityCard.tsx
  packages/ui-components/src/EntityCard/styles.scss
  packages/ui-components/src/EntityCard/types.ts
  packages/ui-components/src/EntityIDs/EntityIDs.tsx
  packages/ui-components/src/EntityIDs/style.scss
  packages/ui-components/src/EntityPaperFrame/EntityPaperFrame.tsx
  packages/ui-components/src/EntityPaperFrame/style.css
  packages/ui-components/src/EntityPaperFrame/style.scss
Labels: C: UI/UX 🚽, D: Packages 📦

fix issues after rebase
  packages/edtr-services/src/apollo/mutations/tickets/useOptimisticResponse.ts
  packages/edtr-services/src/apollo/queries/tickets/test/data.ts
  packages/predicates/src/datetimes/filters/types.ts
  packages/predicates/src/datetimes/isCancelled/index.ts
  packages/predicates/src/datetimes/isPostponed/index.ts
  packages/predicates/src/tickets/test/data.ts
Labels: C: data systems 🗑, C: services 🤝, D: Packages 📦

Update constants in SortByControl and useReorderDatetimes
  domains/core/admin/eventEditor/src/ui/datetimes/datesList/filterBar/controls/SortByControl/index.tsx
  packages/constants/src/datetime.ts
  packages/edtr-services/src/apollo/mutations/datetimes/useReorderDatetimes.ts
  packages/edtr-services/src/apollo/queries/datetimes/test/data.ts
  packages/edtr-services/src/apollo/types.ts
  packages/predicates/src/datetimes/filters/soldOutOnly/index.test.ts
  packages/predicates/src/datetimes/filters/tests/data.ts
Labels: C: data systems 🗑, C: services 🤝, D: EE CORE ☕, D: Packages 📦

Refactor ticket status helper functions
  packages/helpers/src/tickets/getBackgroundColorClassName.ts
  packages/helpers/src/tickets/getStatusTextLabel.ts
  packages/helpers/src/tickets/getTicketBackgroundColorClassName.ts
  packages/helpers/src/tickets/getTicketStatusBgColorClassName.ts
  packages/helpers/src/tickets/getTicketStatusTextLabel.ts
  packages/helpers/src/tickets/getUpdatedTicketStatus.ts
  packages/helpers/src/tickets/index.ts
  packages/helpers/src/tickets/status.ts
Labels: C: services 🤝, D: Packages 📦

Refactor datetime status helper functions
  packages/helpers/src/datetimes/getBackgroundColorClassName.ts
  packages/helpers/src/datetimes/getDatetimeBackgroundColorClassName.ts
  packages/helpers/src/datetimes/getDatetimeStatusBgColorClassName.ts
  packages/helpers/src/datetimes/getDatetimeStatusTextLabel.ts
  packages/helpers/src/datetimes/getStatusTextLabel.ts
  packages/helpers/src/datetimes/getUpdatedDatetimeStatus.ts
  packages/helpers/src/datetimes/index.ts
Labels: C: services 🤝, D: Packages 📦

fix return types for findEntityByDbId() & findEntityByGuid()
  packages/predicates/src/common/selectionById/index.ts
Labels: C: services 🤝, D: Packages 📦

fix formatting
  packages/edtr-services/src/apollo/mutations/tickets/useBulkEditTickets.ts
Labels: C: data systems 🗑, D: Packages 📦

Update ticket status labels and codes
  domains/core/admin/eventEditor/src/ui/tickets/ticketsList/config.ts
  domains/core/admin/eventEditor/src/ui/tickets/ticketsList/filterBar/controls/SortByControl/index.tsx
  packages/constants/src/ticket.ts
  packages/edtr-services/src/apollo/mutations/tickets/useReorderTickets.ts
  packages/predicates/src/tickets/constants.ts
Labels: C: data systems 🗑, C: services 🤝, D: EE CORE ☕, D: Packages 📦

fix entity.__typename is null issue
  packages/edtr-services/src/apollo/types.ts
Labels: C: data systems 🗑, D: Packages 📦

delete duplicate ticket constants
  packages/predicates/src/tickets/constants.ts
  packages/predicates/src/tickets/index.ts
Labels: C: services 🤝, D: Packages 📦

Refactor useUpdateTicketQtyByCapacity function
  packages/edtr-services/src/apollo/mutations/tickets/useUpdateTicketQtyByCapacity.ts
Labels: C: data systems 🗑, D: Packages 📦

move DatetimeStatus behind Feature Flag & extract onStatusChange
  domains/core/admin/eventEditor/src/ui/datetimes/datesList/cardView/DateCardSidebar.tsx
Labels: D: EE CORE ☕

fix new entity modal styles
  packages/ui-components/src/NewEntity/styles.scss
Labels: C: UI/UX 🚽, D: Packages 📦

Refactor ActiveStatus component to use updated constants and helpers
  domains/core/admin/eventEditor/src/ui/EventRegistrationOptions/ActiveStatus.tsx
Labels: D: EE CORE ☕

Add wpPosts constants
  packages/constants/src/index.ts
  packages/constants/src/wpPosts.ts
Labels: C: data systems 🗑, D: Packages 📦

Refactor modifyTicketStatusBasedOnDatetimes function
  packages/edtr-services/src/utils/modifyTicketStatusBasedOnDatetimes.ts
Labels: C: data systems 🗑, D: Packages 📦

Add useCallback hook and update status change logic in DatetimeStatus component
  domains/core/admin/eventEditor/src/ui/datetimes/datesList/cardView/DatetimeStatus.tsx
Labels: D: EE CORE ☕
