Repository eventespresso/barista, changes with the labels that .github/labeler.yml gives for each.
All labels: C: accessibility ♿, C: assets 💎, C: automation & deployment ⚙️, C: build process 🔨, C: data systems 🗑, C: services 🤝, C: UI/UX 🚽, D: EDTR ✏️, D: EE CORE ☕, D: Event Smart 🛒, D: GB Blocks 🧱, D: Packages 📦, D: REM ♺, D: WP admin 🏠, D: WP User Add-on 👤

set WDS_SOCKET_PORT
  scripts/start.js
  scripts/watch.js
Labels: C: build process 🔨

Fix workflow Deploy Production Assets To Cafe (#1305)
  tools/clone-repo.sh
  tools/commit-changes.sh
  tools/copy-changes.sh
  tools/create-branch.sh
Labels: C: automation & deployment ⚙️

Fix Barista Plugin Trouncing WP Themes Admin (#1300)
  lib/Barista.php
Labels: none

Add static method "make" to config factory class
  packages/config/src/Factory.ts
Labels: D: Packages 📦

Create class ParsedAmount
  packages/utils/src/money/ParsedAmount-class.ts
  packages/utils/src/money/index.ts
Labels: C: services 🤝, D: Packages 📦

Update parsedAmount.ts
  packages/utils/src/money/parsedAmount.ts
Labels: C: services 🤝, D: Packages 📦

Fix decimal mark for test data
  packages/config/src/test/data.ts
Labels: D: Packages 📦

Fix typo in data.calculations.test.ts
  packages/tpc/src/data/test/data.calculations.test.ts
Labels: C: data systems 🗑, D: Packages 📦

Fix regex pattern in ParsedAmount-class.ts
  packages/utils/src/money/ParsedAmount-class.ts
Labels: C: services 🤝, D: Packages 📦

Update test name in parsedAmount.test.ts
  packages/utils/src/money/test/parsedAmount.test.ts
Labels: C: services 🤝, D: Packages 📦

Fix result-expect order in amountsMatch.test.ts
  packages/utils/src/money/test/amountsMatch.test.ts
Labels: C: services 🤝, D: Packages 📦

Fix failing test amountsMatch.test.ts
  packages/utils/src/money/test/amountsMatch.test.ts
Labels: C: services 🤝, D: Packages 📦

Fix failing test parsedAmount.test.ts
  packages/utils/src/money/test/parsedAmount.test.ts
Labels: C: services 🤝, D: Packages 📦

Change number of decimal places to 6
  packages/utils/src/money/ParsedAmount-class.ts
Labels: C: services 🤝, D: Packages 📦

Always show summary of unit tests
  jest.config.ts
Labels: none

Always show summary of unit tests
  jest.config.ts
Labels: none

Create static method make() on Factory.ts
  packages/config/src/Factory.ts
Labels: D: Packages 📦

Create static method make() on Factory.ts
  packages/config/src/Factory.ts
Labels: D: Packages 📦

Fix decimal mark for test data
  packages/config/src/test/data.ts
Labels: D: Packages 📦

Fix decimal mark for test data
  packages/config/src/test/data.ts
Labels: D: Packages 📦

Fix typo in data.calculations.test.ts
  packages/tpc/src/data/test/data.calculations.test.ts
Labels: C: data systems 🗑, D: Packages 📦

Fix typo in data.calculations.test.ts
  packages/tpc/src/data/test/data.calculations.test.ts
Labels: C: data systems 🗑, D: Packages 📦

Rename test in parsedAmount.test.ts
  packages/utils/src/money/test/parsedAmount.test.ts
Labels: C: services 🤝, D: Packages 📦

Rename test in parsedAmount.test.ts
  packages/utils/src/money/test/parsedAmount.test.ts
Labels: C: services 🤝, D: Packages 📦

Fix order of expect-result in amountsMatch.test.ts
  packages/utils/src/money/test/amountsMatch.test.ts
Labels: C: services 🤝, D: Packages 📦

Fix order of expect-result in amountsMatch.test.ts
  packages/utils/src/money/test/amountsMatch.test.ts
Labels: C: services 🤝, D: Packages 📦

Work-in-progress
  packages/tpc/src/fields/BaseField.tsx
  packages/tpc/src/fields/index.ts
  packages/tpc/src/fields/types-refactored.ts
Labels: C: data systems 🗑, D: Packages 📦

Work-in-progress
  packages/tpc/src/fields/BaseField.tsx
  packages/tpc/src/fields/index.ts
  packages/tpc/src/fields/types-refactored.ts
Labels: C: data systems 🗑, D: Packages 📦

Work-in-progress
  packages/tpc/src/fields/BaseField.tsx
  packages/tpc/src/fields/factory.tsx
  packages/tpc/src/fields/fries.tsx
  packages/tpc/src/fields/types-refactored.ts
Labels: C: data systems 🗑, D: Packages 📦

Work-in-progress
  packages/tpc/src/fields/BaseField.tsx
  packages/tpc/src/fields/factory.tsx
  packages/tpc/src/fields/fries.tsx
  packages/tpc/src/fields/types-refactored.ts
Labels: C: data systems 🗑, D: Packages 📦

Work-in-progress
  packages/tpc/src/fields/factory.tsx
Labels: C: data systems 🗑, D: Packages 📦

Work-in-progress
  packages/tpc/src/fields/factory.tsx
Labels: C: data systems 🗑, D: Packages 📦

Example (test file)
  packages/tpc/src/fields/fries.tsx
Labels: C: data systems 🗑, D: Packages 📦

Example (test file)
  packages/tpc/src/fields/fries.tsx
Labels: C: data systems 🗑, D: Packages 📦

Add comment
  packages/tpc/src/fields/BaseNumberInputField.tsx
Labels: C: data systems 🗑, D: Packages 📦

Add comment
  packages/tpc/src/fields/BaseNumberInputField.tsx
Labels: C: data systems 🗑, D: Packages 📦

Add jsdoc to TicketPriceField.tsx
  packages/tpc/src/fields/TicketPriceField.tsx
Labels: C: data systems 🗑, D: Packages 📦

Add jsdoc to TicketPriceField.tsx
  packages/tpc/src/fields/TicketPriceField.tsx
Labels: C: data systems 🗑, D: Packages 📦

Create base for price-related components
  packages/tpc/src/components/price/base-field/BaseField.tsx
  packages/tpc/src/components/price/base-field/index.ts
  packages/tpc/src/components/price/base-field/useBaseField.tsx
  packages/tpc/src/components/price/index.ts
  packages/tpc/src/components/price/types.ts
Labels: C: data systems 🗑, D: Packages 📦

Create base for price-related components
  packages/tpc/src/components/price/base-field/BaseField.tsx
  packages/tpc/src/components/price/base-field/index.ts
  packages/tpc/src/components/price/base-field/useBaseField.tsx
  packages/tpc/src/components/price/index.ts
  packages/tpc/src/components/price/types.ts
Labels: C: data systems 🗑, D: Packages 📦

.github/labeler.yml:

"C: accessibility ♿":
- packages/i18n/*
- packages/i18n/**/*

"C: assets 💎":
- packages/adapters/*
- packages/adapters/**/*
- packages/icons/*
- packages/icons/**/*
- yarn.lock

"C: automation & deployment ⚙️":
- .github/*
- .github/**/*
- .husky/*
- .husky/**/*
- eslint/*
- tools/*
- .eslintignore
- .eslintrc.json
- .prettierrc.js

"C: build process 🔨":
- config/*
- scripts/*
- .wp-env.json
- babel.config.js
- composer.*
- lerna.json
- package.json
- tsconfig.*
- workspaces.json

"C: data systems 🗑":
- packages/constants/*
- packages/constants/**/*
- packages/data/*
- packages/data/**/*
- packages/dates/*
- packages/dates/**/*
- packages/edtr-services/*
- packages/edtr-services/**/*
- packages/form/*
- packages/form/**/*
- packages/form-builder/*
- packages/form-builder/**/*
- packages/rich-text-editor/*
- packages/rich-text-editor/**/*
- packages/rrule-generator/*
- packages/rrule-generator/**/*
- packages/storage/*
- packages/storage/**/*
- packages/toaster/*
- packages/toaster/**/*
- packages/tpc/*
- packages/tpc/**/*

"C: documentation 📑":
- docs/*
- docs/**/*
- any ['**/*.md']

"C: services 🤝":
- packages/events/*
- packages/events/**/*
- packages/helpers/*
- packages/helpers/**/*
- packages/hooks/*
- packages/hooks/**/*
- packages/ioc/*
- packages/ioc/**/*
- packages/plugins/*
- packages/plugins/**/*
- packages/predicates/*
- packages/predicates/**/*
- packages/registry/*
- packages/registry/**/*
- packages/services/*
- packages/services/**/*
- packages/slot-fill/*
- packages/slot-fill/**/*
- packages/utils/*
- packages/utils/**/*

"C: tests 🧪":
- .storybook/*
- storybook-static/*
- packages/storybook/*
- packages/storybook/**/*
- jest.config.ts
- any ['**/tests/*', '**/*.test.*']

"C: UI/UX 🚽":
- packages/ee-components/*
- packages/ee-components/**/*
- packages/react-exit-modal-typeform/*
- packages/react-exit-modal-typeform/**/*
- packages/styles/*
- packages/styles/**/*
- packages/ui-components/*
- packages/ui-components/**/*

"D: EDTR ✏️":
- domains/eventEditor/*
- domains/eventEditor/**/*

"D: EE CORE ☕":
- domains/core/*
- domains/core/**/*

"D: Event Smart 🛒":
- domains/eventSmart/*
- domains/eventSmart/**/*

"D: GB Blocks 🧱":
- domains/blocks/*
- domains/blocks/**/*

"D: Packages 📦":
- packages/*
- packages/**/*

"D: REM ♺":
- domains/rem/*
- domains/rem/**/*

"D: REPO 💾":
- any ['!domains/*', '!domains/**/*']

"D: WP admin 🏠":
- domains/wpPluginsPage/*
- domains/wpPluginsPage/**/*

"D: WP User Add-on 👤":
- domains/wpUser/*
- domains/wpUser/**/*

"S:1 new 👶🏻":
- any ['*', '**/*']
