Repository eventespresso/barista, pull requests merged in 2020-10, with the labels that each got.

#314 Fix feature flags
  ee-barista.php
  packages/services/src/config/CurrentUser.ts
  packages/services/src/config/test/data.ts
  packages/services/src/config/types.ts
  packages/services/src/config/useConfigData.ts
  packages/services/src/features/FeaturesProvider.tsx
  packages/services/src/permissions/index.ts
  packages/services/src/permissions/types.ts
  packages/services/src/permissions/useCurrentUserCan.ts
  packages/services/src/permissions/useSitePermissions.ts
  packages/services/src/permissions/useUserCapabilities.ts
  packages/services/src/permissions/useUserCaps.ts
  packages/services/src/types.ts
Labels: C: assets 💎, D: Packages 📦, S6: code review 🔎, T: bug 🐞

#321 Setup RC and barista Deployment
  .github/workflows/build.yml
  .github/workflows/deploy-master.yml
  .github/workflows/deploy-rc.yml
  tools/deploy.sh
  tools/may-be-deploy-rc.sh
  tools/utils.sh
Labels: C: automation & deployment ⚙️, D: Packages 📦, T: enhancement ✨

#316 a11y - REM.
  domains/eventEditor/src/ui/tickets/ticketForm/useTicketFormConfig.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/bulkEdit/details/useBulkEditFormConfig.ts
  domains/rem/src/ui/EntityOptionsRow/index.tsx
  domains/rem/src/ui/Tickets/TicketTemplate.tsx
  domains/rem/src/ui/Tickets/card/TicketCard.tsx
  domains/rem/src/ui/Tickets/useTicketFormConfig.ts
  domains/rem/src/ui/datetimeDetails/DateTemplate.tsx
  domains/rem/src/ui/datetimeDetails/useDateFormConfig.ts
  domains/rem/src/ui/recurrence/style.scss
  packages/adapters/src/Pagination/PerPage.tsx
  packages/adapters/src/Steps/style.scss
  packages/dates/src/DateTimePicker.tsx
  packages/form/src/HelperText/style.scss
  packages/form/src/fields/Group.tsx
  packages/form/src/styles.scss
  packages/form/src/styles2.scss
  packages/rrule-generator/src/components/OnDate/index.tsx
  packages/rrule-generator/src/components/Repeat/index.tsx
  packages/rrule-generator/src/components/styles.scss
Labels: C: accessibility ♿

#315 Implemented CurrencyDisplay.
  domains/eventEditor/src/ui/ticketAssignmentsManager/components/table/HeaderCell.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/editable/EditablePrice.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/tableView/useBodyRowGenerator.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/types.ts
  domains/rem/src/ui/Tickets/card/TicketCard.tsx
  packages/components/src/CurrencyDisplay/index.tsx
  packages/components/src/CurrencyDisplay/style.scss
  packages/components/src/CurrencyDisplay/types.ts
  packages/components/src/CurrencyInput/index.ts
  packages/components/src/CurrencySign/index.tsx
  packages/components/src/EspressoTable/utils.ts
  packages/components/src/InlineEditCurrency/InlineEditCurrency.tsx
  packages/components/src/InlineEditCurrency/index.ts
  packages/components/src/InlineEditCurrency/style.scss
  packages/components/src/InlineEditCurrency/types.ts
  packages/components/src/PercentSign/index.tsx
  packages/components/src/PriceTypeSign/index.ts
  packages/components/src/PriceTypeSign/index.tsx
  packages/components/src/PriceTypeSign/usePriceTypeHtmlClassName.tsx
  packages/components/src/index.ts
  packages/services/src/hooks/useMoneyDisplay.ts
  packages/tpc/src/components/table/Table.tsx
  packages/tpc/src/components/table/useFooterRowGenerator.tsx
  packages/tpc/src/components/table/useHeaderRowGenerator.ts
  packages/tpc/src/fields/MoneyField/index.tsx
  packages/tpc/src/fields/TicketPriceField.tsx
  packages/utils/src/money/amountsMatch.ts
  packages/utils/src/money/currencySignClassName.ts
  packages/utils/src/money/formatAmount.ts
  packages/utils/src/money/index.ts
  packages/utils/src/money/parsedAmount.ts
Labels: C: UI/UX 🚽

#322 Fix Event attendee block select component
  domains/blocks/package.json
  domains/blocks/src/adapters/Select/Select.tsx
  domains/blocks/src/adapters/Select/index.ts
  domains/blocks/src/adapters/Select/types.ts
  domains/blocks/src/adapters/index.ts
  domains/blocks/src/event-attendees/controls/SelectDatetime.tsx
  domains/blocks/src/event-attendees/controls/SelectEvent.tsx
  domains/blocks/src/event-attendees/controls/SelectTicket.tsx
  domains/blocks/src/services/apollo/queries/datetimes/useDatetimesQueryOptions.ts
  domains/blocks/src/services/apollo/queries/tickets/useTicketsQueryOptions.ts
  domains/eventEditor/package.json
  domains/rem/package.json
  domains/wpPluginsPage/package.json
  yarn.lock
Labels: C: UI/UX 🚽, D: GB Blocks 🧱, T: bug 🐞

#325 Save REM data
  domains/rem/src/data/types.ts
  domains/rem/src/data/useSaveRecurrence.ts
  domains/rem/src/data/useSubmitForm.ts
  domains/rem/src/hooks/entityListCacheUpdates/index.ts
  domains/rem/src/hooks/entityListCacheUpdates/useUpdateRecurrenceList.ts
  domains/rem/src/hooks/index.ts
  domains/rem/src/hooks/useRemInitialization.ts
  domains/rem/src/services/apollo/index.ts
  domains/rem/src/services/apollo/initialization/index.ts
  domains/rem/src/services/apollo/initialization/useCacheRehydration.ts
  domains/rem/src/services/apollo/initialization/useCacheRehydrationData.ts
  domains/rem/src/services/apollo/initialization/useInitQueries.ts
  domains/rem/src/services/apollo/mutations/index.ts
  domains/rem/src/services/apollo/mutations/recurrences/index.ts
  domains/rem/src/services/apollo/mutations/recurrences/test/createRecurrence.test.ts
  domains/rem/src/services/apollo/mutations/recurrences/test/data.ts
  domains/rem/src/services/apollo/mutations/recurrences/test/deleteRecurrence.test.ts
  domains/rem/src/services/apollo/mutations/recurrences/test/updateRecurrence.test.ts
  domains/rem/src/services/apollo/mutations/recurrences/types.ts
  domains/rem/src/services/apollo/mutations/recurrences/useMutationHandler.ts
  domains/rem/src/services/apollo/mutations/recurrences/useMutationVariables.ts
  domains/rem/src/services/apollo/mutations/recurrences/useOnCreateRecurrence.ts
  domains/rem/src/services/apollo/mutations/recurrences/useOnDeleteRecurrence.ts
  domains/rem/src/services/apollo/mutations/recurrences/useOnUpdateRecurrence.ts
  domains/rem/src/services/apollo/mutations/recurrences/useRecurrenceMutator.ts
  domains/rem/src/services/apollo/mutations/recurrences/useUpdateRecurrenceCache.ts
  domains/rem/src/services/apollo/mutations/types.ts
  domains/rem/src/services/apollo/queries/datetimes/index.ts
  domains/rem/src/services/apollo/queries/datetimes/useDateRecurrence.ts
  domains/rem/src/services/apollo/queries/index.ts
  domains/rem/src/services/apollo/queries/recurrences/index.ts
  domains/rem/src/services/apollo/queries/recurrences/queries.ts
  domains/rem/src/services/apollo/queries/recurrences/test/data.ts
  domains/rem/src/services/apollo/queries/recurrences/test/useFetchRecurrences.test.ts
  domains/rem/src/services/apollo/queries/recurrences/test/useInitRecurrenceTestCache.ts
  domains/rem/src/services/apollo/queries/recurrences/test/useRecurrenceIds.test.ts
  domains/rem/src/services/apollo/queries/recurrences/test/useRecurrenceItem.test.ts
  domains/rem/src/services/apollo/queries/recurrences/test/useRecurrences.test.ts
  domains/rem/src/services/apollo/queries/recurrences/useFetchRecurrences.ts
  domains/rem/src/services/apollo/queries/recurrences/useRecurrenceIds.ts
  domains/rem/src/services/apollo/queries/recurrences/useRecurrenceItem.ts
  domains/rem/src/services/apollo/queries/recurrences/useRecurrenceQueryOptions.ts
  domains/rem/src/services/apollo/queries/recurrences/useRecurrences.ts
  domains/rem/src/services/apollo/types.ts
  domains/rem/src/types.ts
  domains/rem/src/ui/RemInit.tsx
  domains/rem/src/ui/datetimeDetails/useDateFormConfig.ts
  domains/rem/src/ui/index.tsx
  domains/rem/src/utils/getProgress.ts
  packages/edtr-services/src/apollo/queries/datetimes/useFetchDatetimes.ts
  packages/edtr-services/src/apollo/queries/priceTypes/useFetchPriceTypes.ts
  packages/edtr-services/src/apollo/queries/prices/useFetchPrices.ts
  packages/edtr-services/src/apollo/queries/tickets/useFetchTickets.ts
  packages/edtr-services/src/apollo/queries/tickets/useTicketQueryOptions.ts
  packages/hooks/src/index.ts
  packages/hooks/src/useProgress.ts
  packages/services/src/status/types.ts
Labels: C: data systems 🗑, D: REM ♺, T: feature request 🙏

#326 a11y - TAM 2.
  domains/eventEditor/src/ui/ticketAssignmentsManager/components/table/styles.scss
  domains/eventEditor/src/ui/ticketAssignmentsManager/filters/controls/DatesByMonthControl.tsx
  domains/eventEditor/src/ui/ticketAssignmentsManager/filters/controls/ShowTrashedTicketsControl.tsx
  packages/components/src/SelectInput/SelectInput.tsx
  packages/components/src/SwitchInput/SwitchInput.tsx
  packages/components/src/withLabel/withLabel.tsx
  packages/tpc/src/buttons/DeletePriceModifierButton.tsx
  packages/utils/src/text/changeCase/index.ts
Labels: C: accessibility ♿

#329 Fix rrule-generator exclusion bug
  packages/dates/src/index.ts
  packages/dates/src/utils/misc.ts
  packages/rrule-generator/src/components/OnDate/index.tsx
  packages/rrule-generator/src/utils/misc.ts
Labels: D: Packages 📦, D: REM ♺, T: bug 🐞

#332 Start time picker for REM date details
  domains/rem/src/data/useSubmitForm.ts
  domains/rem/src/ui/datetimeDetails/types.ts
  domains/rem/src/ui/datetimeDetails/useDateFormConfig.ts
  domains/rem/src/ui/generatedDates/GeneratedDatetimes.tsx
  packages/dates/src/styles.scss
  packages/dates/src/utils/misc.ts
Labels: C: UI/UX 🚽, D: REM ♺, T: enhancement ✨

#330 A11y - TPC
  .eslintrc.json
  domains/rem/src/ui/Modal/Modal.tsx
  packages/adapters/src/Alert/Alert.tsx
  packages/adapters/src/Modal/Modal.tsx
  packages/components/src/Button/Button.tsx
  packages/components/src/Button/style.scss
  packages/components/src/Confirm/useConfirmWithButton.tsx
  packages/components/src/CurrencyDisplay/index.tsx
  packages/components/src/DropdownMenu/DropdownToggle/index.tsx
  packages/components/src/EspressoTable/TableBody.tsx
  packages/components/src/EspressoTable/TableDataCell.tsx
  packages/components/src/EspressoTable/TableFooter.tsx
  packages/components/src/EspressoTable/types.ts
  packages/components/src/InlineEditCurrency/InlineEditCurrency.tsx
  packages/components/src/InlineEditInput/InlineEditText.tsx
  packages/components/src/Modal/Modal.tsx
  packages/components/src/Modal/types.ts
  packages/components/src/index.ts
  packages/components/src/withTooltip/withTooltip.tsx
  packages/form/src/adapters/DatePicker.tsx
  packages/form/src/adapters/DateTimePicker.tsx
  packages/form/src/adapters/Hidden.tsx
  packages/form/src/adapters/MappedField.tsx
  packages/form/src/adapters/MultiCheck.tsx
  packages/form/src/adapters/Radio.tsx
  packages/form/src/adapters/Text.tsx
  packages/form/src/adapters/TimePicker.tsx
  packages/form/src/adapters/withoutMetaProp.tsx
  packages/rich-text-editor/src/components/StyleButton.tsx
  packages/tpc/src/components/table/Table.tsx
  packages/tpc/src/components/table/useBodyRowGenerator.tsx
  packages/tpc/src/components/table/useFooterRowGenerator.tsx
  packages/tpc/src/fields/types.ts
  packages/tpc/src/fields/useBaseField.tsx
  packages/tpc/src/fields/usePriceAmount.tsx
  packages/tpc/src/inputs/PriceAmountInput.tsx
  packages/tpc/src/inputs/PriceDescriptionInput.tsx
  packages/tpc/src/inputs/PriceIdInput.tsx
  packages/tpc/src/inputs/PriceNameInput.tsx
  packages/tpc/src/inputs/PriceTypeInput.tsx
  yarn.lock
Labels: C: accessibility ♿

#333 Datepicker UI fixes.
  packages/adapters/src/Modal/Modal.tsx
  packages/components/src/Modal/modalCloseButtonProps/index.ts
  packages/components/src/Modal/modalCloseButtonProps/styles.scss
  packages/components/src/Modal/styles.scss
  packages/dates/src/TimePicker.tsx
  packages/dates/src/styles.scss
  packages/dates/src/utils/index.ts
  packages/form/src/adapters/Number.tsx
  packages/form/src/adapters/Number/index.tsx
  packages/form/src/adapters/Number/style.scss
Labels: C: UI/UX 🚽

#339 Rename barista-prod to barista for GH actions
  tools/deploy.sh
Labels: C: automation & deployment ⚙️, D: Packages 📦, T: task 🧹

#341 Fix new single date/ticket modal details
  domains/eventEditor/src/ui/datetimes/dateForm/multiStep/Container.tsx
  domains/eventEditor/src/ui/tickets/ticketForm/multiStep/Container.tsx
Labels: C: data systems 🗑, D: EE CORE ☕, T: bug 🐞

#342 Perf fixes
  domains/eventEditor/src/ui/datetimes/DateRegistrationsLink.tsx
  domains/eventEditor/src/ui/datetimes/datesList/actionsMenu/DateActionsMenu.tsx
  domains/eventEditor/src/ui/datetimes/datesList/actionsMenu/dropdown/DateMainMenu.tsx
  domains/eventEditor/src/ui/datetimes/datesList/cardView/CardView.tsx
  domains/eventEditor/src/ui/datetimes/datesList/cardView/DateCapacity.tsx
  domains/eventEditor/src/ui/datetimes/datesList/cardView/DateCard.tsx
  domains/eventEditor/src/ui/datetimes/datesList/cardView/DateCardSidebar.tsx
  domains/eventEditor/src/ui/datetimes/datesList/cardView/Details.tsx
  domains/eventEditor/src/ui/datetimes/datesList/editable/EditableName.tsx
  domains/eventEditor/src/ui/ticketAssignmentsManager/components/TicketAssignmentsManagerModal/buttons/CloseModal.tsx
  domains/eventEditor/src/ui/ticketAssignmentsManager/components/table/DateCell.tsx
  domains/eventEditor/src/ui/ticketAssignmentsManager/components/table/HeaderCell.tsx
  domains/eventEditor/src/ui/ticketAssignmentsManager/filters/controls/DatesByMonthControl.tsx
  domains/eventEditor/src/ui/ticketAssignmentsManager/filters/controls/ShowExpiredTicketsControl.tsx
  domains/eventEditor/src/ui/ticketAssignmentsManager/filters/controls/ShowTrashedDatesControl.tsx
  domains/eventEditor/src/ui/ticketAssignmentsManager/filters/controls/ShowTrashedTicketsControl.tsx
  domains/eventEditor/src/ui/tickets/TicketRegistrationsLink.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/actionsMenu/TicketActionsMenu.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/cardView/Details.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/cardView/TicketCard.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/cardView/TicketCardSidebar.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/cardView/TicketQuantity.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/editable/EditableName.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/editable/EditablePrice.tsx
  domains/rem/src/ui/Tickets/card/TicketCard.tsx
  packages/components/src/CalendarDateSwitcher/CalendarDateSwitcher.tsx
  packages/components/src/DropdownMenu/DropdownMenu.tsx
  packages/components/src/EmptyState/EmptyState.tsx
  packages/components/src/EntityCard/EntityCard.tsx
  packages/components/src/EntityCard/SimpleEntityCard/index.tsx
  packages/components/src/EntityDetailsPanel/EntityDetailsPanelSold.tsx
  packages/components/src/EntityIDs/EntityIDs.tsx
  packages/components/src/EntityList/EntityCardList.tsx
  packages/components/src/EntityList/RegistrationsLink/index.tsx
  packages/components/src/EntityList/filterBar/buttons/CardViewFilterButton.tsx
  packages/components/src/EntityList/filterBar/buttons/EntityListViewButtonGroup.tsx
  packages/components/src/EntityList/filterBar/buttons/TableViewFilterButton.tsx
  packages/components/src/EntityList/filterBar/buttons/ToggleFiltersButton.tsx
  packages/components/src/EntityList/filterBar/buttons/ToggleSortingButton.tsx
  packages/components/src/EntityPaperFrame/EntityPaperFrame.tsx
  packages/components/src/ItemCount/index.tsx
  packages/components/src/Legend/ToggleLegendButton.tsx
  packages/components/src/SelectInput/SelectInput.tsx
  packages/components/src/SwitchInput/SwitchInput.tsx
  packages/components/src/TimezoneTimeInfo/Content.tsx
  packages/components/src/TimezoneTimeInfo/TimezoneTimeInfo.tsx
  packages/edtr-services/src/hooks/index.ts
  packages/edtr-services/src/hooks/useRegistrationsLink.ts
  packages/form/src/ErrorMessage/index.tsx
  packages/form/src/HelperText/index.tsx
  packages/tpc/src/components/table/Table.tsx
  packages/tpc/src/fields/MoneyField/index.tsx
  packages/tpc/src/fields/TicketPriceField.tsx
Labels: C: UI/UX 🚽, D: EDTR ✏️, D: Packages 📦, T: task 🧹

#335 a11y - new/ edit ticket modal
  domains/eventEditor/src/ui/tickets/ticketForm/useTicketFormConfig.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/bulkEdit/details/useBulkEditFormConfig.ts
  domains/rem/src/ui/Tickets/useTicketFormConfig.ts
  packages/adapters/src/InlineEdit/types.ts
  packages/components/src/EntityCard/styles.scss
  packages/components/src/InlineEditInput/Preview.tsx
  packages/components/src/TabbableText/index.tsx
  packages/components/src/TabbableText/style.scss
  packages/dates/src/styles.scss
  packages/form/src/ErrorMessage/index.tsx
  packages/form/src/adapters/Number/index.tsx
  packages/form/src/adapters/Number/style.scss
  packages/form/src/adapters/Select.tsx
  packages/form/src/adapters/Switch.tsx
  packages/form/src/adapters/Text.tsx
  packages/form/src/adapters/TextArea.tsx
  packages/form/src/renderers/FieldRenderer.tsx
  packages/rich-text-editor/src/components/index.tsx
  packages/rich-text-editor/src/components/style.scss
Labels: C: accessibility ♿, D: EDTR ✏️

#343 Update REM DOM data path
  domains/rem/src/services/apollo/initialization/useCacheRehydrationData.ts
  types/global.ts
Labels: D: REM ♺, T: task 🧹

#345 TimezoneTimeInfo moved back.
  packages/components/src/Button/ButtonRow/index.tsx
  packages/components/src/Button/ButtonRow/style.scss
  packages/components/src/Button/ButtonRow/types.ts
  packages/components/src/Button/IconButton/index.tsx
  packages/components/src/Button/IconButton/style.scss
  packages/components/src/Button/IconButton/types.ts
  packages/components/src/DateTimeRangePicker/index.tsx
  packages/components/src/TimezoneTimeInfo/TimezoneTimeInfo.tsx
  packages/components/src/TimezoneTimeInfo/Trigger.tsx
  packages/components/src/TimezoneTimeInfo/index.ts
  packages/components/src/TimezoneTimeInfo/style.scss
  packages/components/src/withTooltip/style.scss
  packages/dates/src/DateRangePicker.tsx
  packages/dates/src/DateRangePicker/DateRangePickerLegend.tsx
  packages/dates/src/DateRangePicker/index.tsx
  packages/dates/src/DateRangePicker/styles.scss
  packages/dates/src/DateTimeRangePicker.tsx
  packages/dates/src/styles.scss
  packages/dates/src/types.ts
  packages/styles/src/_functions.scss
  packages/styles/src/_variables.scss
  packages/styles/src/root/_index.scss
Labels: C: accessibility ♿

#347 a11y - pagination, datepicker and filter fixes.
  domains/eventEditor/src/ui/datetimes/datesList/tableView/Checkbox.tsx
  domains/eventEditor/src/ui/datetimes/datesList/tableView/useBodyRowGenerator.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/tableView/Checkbox.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/tableView/useBodyRowGenerator.tsx
  packages/adapters/src/Pagination/ItemRender.tsx
  packages/adapters/src/Pagination/Pagination.tsx
  packages/components/src/ActiveFilters/FilterTag.tsx
  packages/components/src/bulkEdit/ActionCheckbox.tsx
  packages/dates/src/DatePicker.tsx
  packages/dates/src/DateTimePicker.tsx
  packages/dates/src/TimePicker.tsx
  packages/dates/src/styles.scss
Labels: C: accessibility ♿

#348 ESLint: added @wordpress/eslint-plugin/i18n.
  .eslintrc.json
  domains/blocks/src/event-attendees/controls/AttendeeLimit.tsx
  domains/blocks/src/services/utils.ts
  domains/eventEditor/src/ui/datetimes/dateForm/multiStep/Container.tsx
  domains/eventEditor/src/ui/datetimes/dateForm/useDateFormConfig.ts
  domains/eventEditor/src/ui/datetimes/datesList/DatesList.tsx
  domains/eventEditor/src/ui/datetimes/datesList/cardView/DateCapacity.tsx
  domains/eventEditor/src/ui/datetimes/datesList/cardView/Details.tsx
  domains/eventEditor/src/ui/datetimes/datesList/editable/EditableName.tsx
  domains/eventEditor/src/ui/datetimes/datesList/filterBar/controls/options.ts
  domains/eventEditor/src/ui/datetimes/datesList/newDateOptions/AddSingleDate.tsx
  domains/eventEditor/src/ui/ticketAssignmentsManager/components/ModalContainer.tsx
  domains/eventEditor/src/ui/tickets/ticketForm/multiStep/Container.tsx
  domains/eventEditor/src/ui/tickets/ticketForm/useTicketFormConfig.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/TicketsList.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/bulkEdit/prices/editSeparately/TPCInstance.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/cardView/Details.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/cardView/TicketQuantity.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/editable/EditableName.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/editable/EditablePrice.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/filterBar/controls/options.ts
  domains/rem/src/ui/Tickets/TicketTemplate.tsx
  domains/rem/src/ui/Tickets/card/TicketCard.tsx
  domains/rem/src/ui/Tickets/multiStep/Container.tsx
  domains/rem/src/ui/Tickets/useTicketFormConfig.ts
  domains/rem/src/ui/datetimeDetails/DateTemplate.tsx
  package.json
  packages/components/src/ActiveFilters/FilterTag.tsx
  packages/components/src/LoadingIndicator/LoadingIndicator.tsx
  packages/components/src/LoadingNotice/LoadingNotice.tsx
  packages/components/src/TabbableText/index.tsx
  packages/components/src/TimezoneTimeInfo/TimezoneTimeInfo.tsx
  packages/components/src/bulkEdit/ActionCheckbox.tsx
  packages/edtr-services/src/apollo/queries/priceTypes/useFetchPriceTypes.ts
  packages/form/src/HelperText/style.scss
  packages/form/src/renderers/RepeatableRenderer.tsx
  packages/i18n/src/index.ts
  packages/rrule-generator/src/components/RRuleGenerator/RRuleText.tsx
  packages/rrule-generator/src/components/RRuleGenerator/index.tsx
  packages/tpc/src/components/DefaultTaxesInfo.tsx
  packages/tpc/src/components/TicketPriceCalculatorModal.tsx
  packages/tpc/src/inputs/PriceAmountInput.tsx
  packages/tpc/src/inputs/PriceDescriptionInput.tsx
  packages/tpc/src/inputs/PriceNameInput.tsx
  yarn.lock
Labels: C: automation & deployment ⚙️

#352 Card details registry
  domains/eventEditor/src/hooks/entityCardDetails/index.ts
  domains/eventEditor/src/hooks/entityCardDetails/useEntityCardDetailsItems.ts
  domains/eventEditor/src/hooks/index.ts
  domains/eventEditor/src/ui/datetimes/datesList/cardView/Details.tsx
  domains/eventEditor/src/ui/datetimes/hooks/useDateCardDetailsItems.ts
  domains/rem/src/ui/RecurrenceTag.tsx
  domains/rem/src/ui/index.tsx
  packages/registry/src/entityCardDetails/EntityCardDetailsRegistry.ts
  packages/registry/src/entityCardDetails/EntityCardDetailsSubscription.ts
  packages/registry/src/entityCardDetails/constants.ts
  packages/registry/src/entityCardDetails/index.ts
  packages/registry/src/entityCardDetails/types.ts
  packages/registry/src/index.ts
Labels: C: data systems 🗑, D: Packages 📦, T: enhancement ✨

#354 EntityTable column filters
  domains/eventEditor/src/hooks/entityCardDetails/useEntityCardDetailsItems.ts
  domains/eventEditor/src/ui/datetimes/DateRegistrationsLink.tsx
  domains/eventEditor/src/ui/datetimes/datesList/tableView/TableView.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/tableView/TableView.tsx
  domains/rem/src/index.ts
  domains/rem/src/services/datesTableFilter/registerFilters.tsx
  domains/rem/src/ui/RecurrenceTag.tsx
  domains/rem/src/ui/index.tsx
  packages/components/src/EntityList/EntityTable.tsx
  packages/components/src/EntityList/types.ts
  packages/components/src/EntityList/useEntityTableFilters.ts
  packages/components/src/EspressoTable/ResponsiveTable.tsx
  packages/components/src/EspressoTable/TableBody.tsx
  packages/components/src/EspressoTable/TableHeader.tsx
  packages/components/src/EspressoTable/types.ts
  packages/registry/src/entityCardDetails/EntityCardDetailsSubscription.ts
  packages/registry/src/entityTable/EntityTableFilters.ts
  packages/registry/src/entityTable/index.ts
  packages/registry/src/entityTable/types.ts
  packages/registry/src/index.ts
  packages/services/src/filterState/useEntityFilterService.ts
Labels: C: data systems 🗑, D: Packages 📦, T: enhancement ✨

#353 Adapter audit - part 1.
  domains/eventEditor/src/ui/tickets/TicketRegistrationsLink.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/bulkEdit/prices/buttons/EditModeButtons.tsx
  domains/rem/src/utils/predicates.ts
  packages/adapters/src/Alert/Alert.tsx
  packages/adapters/src/Alert/index.ts
  packages/adapters/src/Alert/types.ts
  packages/adapters/src/Avatar/Avatar.tsx
  packages/adapters/src/Avatar/index.ts
  packages/adapters/src/Avatar/types.ts
  packages/adapters/src/Badge/Badge.tsx
  packages/adapters/src/Badge/types.ts
  packages/adapters/src/Banner/types.ts
  packages/adapters/src/index.ts
  packages/components/src/Banner/Banner.tsx
  packages/components/src/EmptyState/EmptyState.tsx
  packages/components/src/EmptyState/style.scss
  packages/components/src/EmptyState/types.ts
  packages/components/src/EntityList/EntityList.tsx
  packages/components/src/EntityList/style.scss
  packages/components/src/ErrorIndicator/ErrorIndicator.tsx
  packages/components/src/ErrorIndicator/style.scss
  packages/components/src/ErrorIndicator/types.ts
  packages/components/src/ItemCount/index.tsx
  packages/components/src/ItemCount/types.ts
  packages/predicates/src/datetimes/selectionPredicates.ts
  packages/predicates/src/datetimes/updatePredicates.ts
  packages/predicates/src/prices/selectionPredicates/index.ts
  packages/predicates/src/prices/updatePredicates.ts
  packages/predicates/src/tickets/selectionPredicates/index.ts
  packages/predicates/src/tickets/updatePredicates.ts
  yarn.lock
Labels: C: UI/UX 🚽, C: assets 💎

#349 Add Recurrence Data to Datetime Entity Card #318
  domains/eventEditor/src/ui/datetimes/datesList/cardView/Details.tsx
  domains/eventEditor/src/ui/datetimes/datesList/tableView/useBodyRowGenerator.tsx
  domains/eventEditor/src/ui/datetimes/datesList/tableView/useHeaderRowGenerator.tsx
  domains/rem/src/services/apollo/queries/recurrences/useRecurrenceItem.ts
  domains/rem/src/services/datesTableFilter/registerFilters.tsx
  domains/rem/src/ui/RecurrenceTag.tsx
  packages/adapters/src/Badge/Badge.tsx
  packages/adapters/src/Button/types.ts
  packages/components/src/Button/_sizes.scss
  packages/components/src/Button/style.scss
  packages/components/src/EntityCard/styles.scss
  packages/components/src/EspressoTable/style/index.scss
  packages/components/src/Tag/index.tsx
  packages/components/src/Tag/style.scss
  packages/components/src/Tag/types.ts
  packages/components/src/index.ts
  packages/components/src/types.ts
  packages/rrule-generator/src/components/RRuleGenerator/RRuleText.tsx
  packages/rrule-generator/src/components/RRuleGenerator/index.tsx
  packages/rrule-generator/src/index.ts
  packages/rrule-generator/src/utils/getRuleText.ts
  packages/rrule-generator/src/utils/index.ts
  yarn.lock
Labels: C: UI/UX 🚽, D: REM ♺, P3: med priority 😐, T: feature request 🙏

#357 Fix pagination bug and improve i18n
  packages/adapters/src/Pagination/Pagination.tsx
  packages/adapters/src/Pagination/PerPage.tsx
  packages/adapters/src/Pagination/types.ts
Labels: C: UI/UX 🚽, D: Packages 📦, T: bug 🐞

#358 Fix pagination locale
  packages/adapters/src/Pagination/Pagination.tsx
  packages/adapters/src/Pagination/constants.ts
  packages/adapters/src/Pagination/types.ts
Labels: D: Packages 📦, T: bug 🐞

#356 Adapter audit - part 2.
  domains/eventEditor/src/ui/datetimes/dateForm/multiStep/Container.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/bulkEdit/prices/buttons/EditModeButtons.tsx
  domains/rem/src/ui/RecurrenceTag.tsx
  domains/rem/src/ui/Tickets/actions/Trash.tsx
  domains/rem/src/ui/recurrence/PatternEditor.tsx
  packages/adapters/src/AlertDialog/AlertDialog.tsx
  packages/adapters/src/AlertDialog/index.ts
  packages/adapters/src/Badge/Badge.tsx
  packages/adapters/src/Badge/index.ts
  packages/adapters/src/Banner/Banner.tsx
  packages/adapters/src/Banner/index.ts
  packages/adapters/src/Box/Box.tsx
  packages/adapters/src/Box/index.ts
  packages/adapters/src/Button/Button.tsx
  packages/adapters/src/Button/ButtonGroup.tsx
  packages/adapters/src/Button/IconButton.tsx
  packages/adapters/src/Button/index.ts
  packages/adapters/src/Checkbox/Checkbox.tsx
  packages/adapters/src/Checkbox/index.ts
  packages/adapters/src/Checkbox/types.ts
  packages/adapters/src/CheckboxGroup/CheckboxGroup.tsx
  packages/adapters/src/CheckboxGroup/index.ts
  packages/adapters/src/CheckboxGroup/types.ts
  packages/adapters/src/Collapse/Collapse.tsx
  packages/adapters/src/Collapse/index.ts
  packages/adapters/src/Collapse/types.ts
  packages/adapters/src/Divider/Divider.tsx
  packages/adapters/src/Divider/index.ts
  packages/adapters/src/Divider/types.ts
  packages/adapters/src/Dotdotdot/Dotdotdot.tsx
  packages/adapters/src/Dotdotdot/index.ts
  packages/adapters/src/Dotdotdot/types.ts
  packages/components/src/Banner/Banner.tsx
  packages/components/src/Banner/index.ts
  packages/components/src/Banner/index.tsx
  packages/components/src/BiggieCalendarDate/types.ts
  packages/components/src/Button/ButtonGroup/index.tsx
  packages/components/src/Button/ButtonGroup/types.ts
  packages/components/src/Button/IconButton/index.tsx
  packages/components/src/DebugInfo/DebugInfo.tsx
  packages/components/src/Divider/index.tsx
  packages/components/src/Divider/style.scss
  packages/components/src/EntityList/EntityList.tsx
  packages/components/src/EntityList/filterBar/EntityListFilterBar.tsx
  packages/components/src/EntityList/filterBar/buttons/EntityListViewButtonGroup.tsx
  packages/components/src/InlineEditInput/Preview.tsx
  packages/components/src/RichTextEditorModal/index.tsx
  packages/components/src/index.ts
  packages/form/src/adapters/MultiCheck.tsx
  packages/rrule-generator/src/components/RRuleGenerator/RRuleText.tsx
  packages/rrule-generator/src/utils/getRuleTextWithStartingDate.ts
  packages/rrule-generator/src/utils/index.ts
  packages/tpc/src/buttons/PriceModifierActions.tsx
Labels: C: assets 💎

#359 Event emitting mechanism
  .env.development
  .env.production
  domains/eventEditor/src/hooks/useEditorInitialization.ts
  eslint/levels.js
  packages/config/src/checkFeatureFlag.ts
  packages/config/src/index.ts
  packages/data/src/events.ts
  packages/data/src/index.ts
  packages/data/src/queries/currentUser/useCurrentUserQueryOptions.ts
  packages/data/src/queries/currentUser/useFetchCurrentUser.ts
  packages/data/src/queries/generalSettings/useFetchGeneralSettings.ts
  packages/data/src/queries/generalSettings/useGeneralSettingsQueryOptions.ts
  packages/edtr-services/src/hooks/index.ts
  packages/edtr-services/src/hooks/useEventsHandler.ts
  packages/events/package.json
  packages/events/src/index.ts
  packages/events/tsconfig.json
  yarn.lock
Labels: C: services 🤝, D: Packages 📦, T: task 🧹

#360 Collocated form-related adapters.
  packages/adapters/src/FormControl/FormControl.tsx
  packages/adapters/src/FormControl/index.ts
  packages/adapters/src/FormErrorMessage/FormErrorMessage.tsx
  packages/adapters/src/FormErrorMessage/index.ts
  packages/adapters/src/FormErrorMessage/types.ts
  packages/adapters/src/FormHelperText/FormHelperText.tsx
  packages/adapters/src/FormHelperText/index.ts
  packages/adapters/src/FormHelperText/types.ts
  packages/adapters/src/FormLabel/FormLabel.tsx
  packages/adapters/src/FormLabel/index.ts
  packages/adapters/src/FormLabel/types.ts
  packages/form/src/ErrorMessage/index.tsx
  packages/form/src/ErrorMessage/types.ts
  packages/form/src/HelperText/index.tsx
  packages/form/src/adapters/MappedField.tsx
  packages/form/src/adapters/index.ts
  packages/form/src/types.ts
Labels: C: assets 💎

#365 Block price update for sold tickets
  domains/eventEditor/src/ui/tickets/ticketForm/multiStep/ContentBody.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/bulkEdit/actions/Actions.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/editable/EditablePrice.tsx
  domains/rem/src/ui/Tickets/multiStep/ContentBody.tsx
  packages/components/src/Button/IconButton/index.tsx
  packages/components/src/InlineEditCurrency/InlineEditCurrency.tsx
  packages/components/src/InlineEditCurrency/types.ts
  packages/components/src/InlineEditInput/Preview.tsx
  packages/components/src/Stepper/buttons/Next.tsx
  packages/components/src/Stepper/buttons/Previous.tsx
  packages/components/src/Stepper/buttons/Submit.tsx
  packages/components/src/TabbableText/index.tsx
  packages/components/src/TabbableText/style.scss
  packages/components/src/TabbableText/types.ts
  packages/components/src/bulkEdit/BulkActions.tsx
  packages/predicates/src/prices/selectionPredicates/index.ts
  packages/tpc/src/buttons/TicketPriceCalculatorButton.tsx
  packages/tpc/src/utils/constants.ts
  packages/tpc/src/utils/index.ts
Labels: C: data systems 🗑, T: bug 🐞

#367 Fix tooltip for disabled buttons
  domains/eventEditor/src/ui/tickets/ticketForm/multiStep/ContentBody.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/bulkEdit/actions/Actions.tsx
  packages/components/src/bulkEdit/BulkActions.tsx
  packages/tpc/src/buttons/TicketPriceCalculatorButton.tsx
Labels: C: UI/UX 🚽, C: data systems 🗑, T: bug 🐞

#372 Rehydrate event data
  packages/data/src/queries/useUpdateCache.ts
  packages/edtr-services/src/apollo/initialization/useCacheRehydration.ts
  packages/edtr-services/src/apollo/initialization/useInitQueries.ts
  packages/edtr-services/src/apollo/queries/events/index.ts
  packages/edtr-services/src/apollo/queries/events/queries.ts
  packages/edtr-services/src/apollo/queries/events/test/data.ts
  packages/edtr-services/src/apollo/queries/events/test/useEvent.test.ts
  packages/edtr-services/src/apollo/queries/events/test/useInitEventTestCache.ts
  packages/edtr-services/src/apollo/queries/events/useEvent.ts
  packages/edtr-services/src/apollo/types.ts
  packages/edtr-services/src/context/test/data.ts
Labels: C: data systems 🗑, D: EDTR ✏️, T: enhancement ✨

#374 Wire up event mutation
  domains/eventEditor/src/ui/EventEditor.tsx
  domains/eventEditor/src/ui/EventMeta.tsx
  packages/components/src/SwitchInput/SwitchInput.tsx
  packages/components/src/SwitchInput/index.ts
  packages/components/src/SwitchInput/types.ts
  packages/edtr-services/src/apollo/mutations/events/index.ts
  packages/edtr-services/src/apollo/mutations/events/types.ts
  packages/edtr-services/src/apollo/mutations/events/useEventMutator.ts
  packages/edtr-services/src/apollo/mutations/events/useMutationHandler.ts
  packages/edtr-services/src/apollo/mutations/events/useOptimisticResponse.ts
  packages/edtr-services/src/apollo/mutations/index.ts
  packages/edtr-services/src/apollo/mutations/types.ts
  packages/edtr-services/src/apollo/mutations/useUpdateCallback.ts
  packages/edtr-services/src/apollo/queries/events/queries.ts
  packages/edtr-services/src/apollo/queries/events/test/data.ts
  packages/edtr-services/src/apollo/types.ts
Labels: C: data systems 🗑, D: EDTR ✏️, T: enhancement ✨

#376 Fix Inline Edit Input CSS Class Asignments
  packages/adapters/src/InlineEdit/InlineEdit.tsx
  packages/adapters/src/InlineEdit/InlineEditInput.tsx
  packages/adapters/src/InlineEdit/types.ts
  packages/components/src/BiggieCalendarDate/style.scss
  packages/components/src/EntityCard/styles.scss
  packages/components/src/InlineEditInput/InlineEditInfinity.tsx
  packages/components/src/InlineEditInput/InlineEditText.tsx
  packages/components/src/InlineEditInput/InlineEditTextArea.tsx
  packages/components/src/InlineEditInput/Preview.tsx
  packages/components/src/InlineEditInput/style.scss
  packages/components/src/RichTextEditorModal/index.tsx
  packages/components/src/TabbableText/index.tsx
Labels: C: UI/UX 🚽, D: EDTR ✏️, P3: med priority 😐, S7: code review 🔎, T: bug 🐞

#382 Hide ActiveFilters if there are no active filters.
  packages/components/src/ActiveFilters/ActiveFilters.tsx
  packages/components/src/Button/ButtonGroup/index.tsx
  packages/utils/src/dom/cleanChildren.ts
  packages/utils/src/dom/index.ts
Labels: C: UI/UX 🚽

#371 Migrate Event Registration Options Meta Box to Event EDTR - part 1.
  domains/eventEditor/src/ui/EventEditor.tsx
  domains/eventEditor/src/ui/EventMeta.tsx
  domains/eventEditor/src/ui/EventRegistrationOptions/ActiveStatus.tsx
  domains/eventEditor/src/ui/EventRegistrationOptions/AltRegPage.tsx
  domains/eventEditor/src/ui/EventRegistrationOptions/DefaultRegistrationStatus.tsx
  domains/eventEditor/src/ui/EventRegistrationOptions/Donations.tsx
  domains/eventEditor/src/ui/EventRegistrationOptions/EventManager.tsx
  domains/eventEditor/src/ui/EventRegistrationOptions/EventPhoneNumber.tsx
  domains/eventEditor/src/ui/EventRegistrationOptions/GridItem.tsx
  domains/eventEditor/src/ui/EventRegistrationOptions/MaxRegistrations.tsx
  domains/eventEditor/src/ui/EventRegistrationOptions/TicketSelector.tsx
  domains/eventEditor/src/ui/EventRegistrationOptions/index.tsx
  domains/eventEditor/src/ui/EventRegistrationOptions/style.scss
  domains/eventEditor/src/ui/EventRegistrationOptions/types.ts
  domains/eventEditor/src/ui/datetimes/DateRegistrationsLink.tsx
  domains/eventEditor/src/ui/datetimes/datesList/cardView/DateCapacity.tsx
  domains/eventEditor/src/ui/datetimes/datesList/editable/EditableName.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/cardView/TicketQuantity.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/editable/EditableName.tsx
  packages/adapters/package.json
  packages/adapters/src/Grid/Grid.tsx
  packages/adapters/src/Grid/index.ts
  packages/adapters/src/Grid/types.ts
  packages/adapters/src/Heading/Heading.tsx
  packages/adapters/src/Heading/index.ts
  packages/adapters/src/InlineEdit/Editable.tsx
  packages/adapters/src/InlineEdit/InlineEdit.tsx
  packages/adapters/src/InlineEdit/index.ts
  packages/adapters/src/InlineEdit/types.ts
  packages/adapters/src/Select/types.ts
  packages/adapters/src/index.ts
  packages/components/src/Divider/style.scss
  packages/components/src/EntityList/EntityList.tsx
  packages/components/src/EntityList/style.scss
  packages/components/src/Grid/index.tsx
  packages/components/src/Grid/style.scss
  packages/components/src/Heading/index.tsx
  packages/components/src/Heading/style.scss
  packages/components/src/InlineEditCurrency/InlineEditCurrency.tsx
  packages/components/src/InlineEditInput/InlineEditInfinity.tsx
  packages/components/src/InlineEditInput/InlineEditSelect/EditableSelect.tsx
  packages/components/src/InlineEditInput/InlineEditSelect/index.tsx
  packages/components/src/InlineEditInput/InlineEditSelect/style.scss
  packages/components/src/InlineEditInput/InlineEditSelect/types.ts
  packages/components/src/InlineEditInput/index.tsx
  packages/components/src/SelectInput/SelectInput.tsx
  packages/components/src/index.ts
  packages/utils/src/list/index.ts
  yarn.lock
Labels: C: UI/UX 🚽, D: EDTR ✏️

#381 Wire up styles for production
  lib/Barista.php
  lib/styles.css
Labels: C: assets 💎, D: Packages 📦

#380 Replaced Banner with ErrorMessage in bulk edit.
  domains/eventEditor/src/ui/tickets/ticketsList/bulkEdit/actions/Actions.tsx
  domains/rem/src/ui/recurrence/PatternEditor.tsx
  packages/adapters/src/Divider/types.ts
  packages/adapters/src/FormErrorMessage/FormErrorMessage.tsx
  packages/adapters/src/FormErrorMessage/index.ts
  packages/adapters/src/FormErrorMessage/types.ts
  packages/adapters/src/Select/Select.tsx
  packages/adapters/src/index.ts
  packages/components/src/Divider/index.tsx
  packages/components/src/Divider/style.scss
  packages/components/src/ErrorMessage/ErrorMessage.tsx
  packages/components/src/ErrorMessage/index.ts
  packages/components/src/ErrorMessage/style.scss
  packages/components/src/ErrorMessage/types.ts
  packages/components/src/SelectInput/SelectInput.tsx
  packages/components/src/SelectInput/style.scss
  packages/components/src/bulkEdit/details/BulkEditDetailsProps.tsx
  packages/components/src/bulkEdit/styles.scss
  packages/components/src/index.ts
  packages/form/src/ErrorMessage/index.tsx
  packages/form/src/ErrorMessage/style.scss
  packages/form/src/ErrorMessage/types.ts
  packages/form/src/HelperText/index.tsx
  packages/form/src/index.ts
  packages/form/src/renderers/FieldRenderer.tsx
  packages/icons/src/icons/Close.tsx
  packages/icons/src/icons/CloseCircleFilled.tsx
  packages/icons/src/icons/ExclamationCircle.tsx
  packages/icons/src/icons/index.tsx
  packages/icons/src/svg/exclamation-circle.svg
  packages/styles/src/_base-styles.scss
  packages/styles/src/index.scss
  packages/tpc/src/utils/constants.ts
Labels: C: UI/UX 🚽

#387 Clean up package deps
  domains/blocks/package.json
  domains/eventEditor/package.json
  domains/rem/package.json
  domains/rem/src/services/apollo/queries/recurrences/test/useRecurrenceItem.test.ts
  domains/rem/src/services/apollo/queries/recurrences/useRecurrenceItem.ts
  domains/wpPluginsPage/package.json
  package.json
  packages/adapters/package.json
  packages/components/package.json
  packages/constants/package.json
  packages/data/package.json
  packages/dates/package.json
  packages/edtr-services/package.json
  packages/edtr-services/src/apollo/queries/datetimes/test/useDatetimeItem.test.ts
  packages/edtr-services/src/apollo/queries/datetimes/useDatetimeItem.ts
  packages/edtr-services/src/apollo/queries/tickets/test/useTicketItem.test.ts
  packages/edtr-services/src/apollo/queries/tickets/useTicketItem.ts
  packages/events/package.json
  packages/form/package.json
  packages/helpers/package.json
  packages/hooks/package.json
  packages/i18n/package.json
  packages/icons/package.json
  packages/predicates/package.json
  packages/react-exit-modal-typeform/package.json
  packages/registry/package.json
  packages/rich-text-editor/package.json
  packages/rrule-generator/package.json
  packages/services/package.json
  packages/storage/package.json
  packages/storybook/package.json
  packages/styles/package.json
  packages/toaster/package.json
  packages/tpc/package.json
  packages/utils/package.json
  yarn.lock
Labels: C: assets 💎, T: code-quality 👾

#384 Adapter audit - part 4.
  domains/eventEditor/src/ui/datetimes/dateForm/multiStep/DateFormSteps.tsx
  domains/eventEditor/src/ui/tickets/ticketForm/multiStep/TicketFormSteps.tsx
  domains/rem/src/ui/MultiStep/Steps.tsx
  domains/rem/src/ui/Tickets/multiStep/TicketFormSteps.tsx
  packages/adapters/package.json
  packages/adapters/src/Heading/Heading.tsx
  packages/adapters/src/Heading/types.ts
  packages/adapters/src/Icon/Icon.tsx
  packages/adapters/src/Icon/index.ts
  packages/adapters/src/Icon/types.ts
  packages/adapters/src/Menu/Menu.tsx
  packages/adapters/src/Menu/index.ts
  packages/adapters/src/Menu/types.ts
  packages/adapters/src/MenuDivider/MenuDivider.tsx
  packages/adapters/src/MenuDivider/index.ts
  packages/adapters/src/MenuDivider/types.ts
  packages/adapters/src/Tooltip/Tooltip.tsx
  packages/adapters/src/Tooltip/index.ts
  packages/adapters/src/index.ts
  packages/components/src/EntityList/EntityList.tsx
  packages/components/src/EspressoTable/TableRow.tsx
  packages/components/src/HelpIcon/index.tsx
  packages/components/src/HelpIcon/style.scss
  packages/components/src/Steps/Step.tsx
  packages/components/src/Steps/Steps.tsx
  packages/components/src/Steps/index.ts
  packages/components/src/Steps/style.scss
  packages/components/src/Steps/types.ts
  packages/components/src/Tooltip/ClickableIconWithTooltip/index.tsx
  packages/components/src/Tooltip/ClickableIconWithTooltip/style.scss
  packages/components/src/Tooltip/Tooltip.tsx
  packages/components/src/Tooltip/index.ts
  packages/components/src/index.ts
  packages/components/src/withTooltip/withTooltip.tsx
  yarn.lock
Labels: C: UI/UX 🚽

#386 EventRegistrationOptions responsive fixes and a11y improvements.
  domains/eventEditor/src/ui/EventRegistrationOptions/AltRegPage.tsx
  domains/eventEditor/src/ui/EventRegistrationOptions/EventManager.tsx
  domains/eventEditor/src/ui/EventRegistrationOptions/EventPhoneNumber.tsx
  domains/eventEditor/src/ui/EventRegistrationOptions/MaxRegistrations.tsx
  domains/eventEditor/src/ui/EventRegistrationOptions/index.tsx
  domains/eventEditor/src/ui/EventRegistrationOptions/style.scss
  packages/adapters/src/InlineEdit/InlineEdit.tsx
  packages/components/src/Grid/style.scss
  packages/components/src/InlineEditInput/InlineEditSelect/index.tsx
  packages/components/src/InlineEditInput/InlineEditSelect/types.ts
  packages/components/src/InlineEditInput/Preview.tsx
  packages/components/src/TabbableText/index.tsx
  packages/components/src/TabbableText/types.ts
  packages/styles/src/mixins/_breakpoints.scss
Labels: C: UI/UX 🚽

#388 Replaced deprecated KeyboardEvent.keyCode.
  packages/adapters/package.json
  packages/adapters/src/InlineEdit/InlineEditInput.tsx
  packages/components/src/Modal/ModalWithAlert.tsx
  packages/components/src/TabbableText/index.tsx
  packages/rich-text-editor/src/components/index.tsx
  packages/utils/src/index.ts
  packages/utils/src/keycodes/index.ts
  packages/utils/src/keycodes/types.ts
  yarn.lock
Labels: T: bug 🐞, T: task 🧹

#391 Event manager user list and popover
  domains/eventEditor/src/ui/EventRegistrationOptions/ActiveStatus.tsx
  domains/eventEditor/src/ui/EventRegistrationOptions/DefaultRegistrationStatus.tsx
  domains/eventEditor/src/ui/EventRegistrationOptions/EventManager.tsx
  package.json
  packages/components/src/InlineEditInput/InlineEditSelect/EditableSelect.tsx
  packages/components/src/InlineEditInput/InlineEditSelect/index.tsx
  packages/components/src/InlineEditInput/InlineEditSelect/style.scss
  packages/components/src/InlineEditInput/InlineEditSelect/types.ts
  packages/components/src/InlineEditInput/index.tsx
  packages/components/src/PopoverForm/PopoverForm.tsx
  packages/components/src/PopoverForm/index.ts
  packages/components/src/PopoverForm/types.ts
  packages/components/src/index.ts
  packages/data/src/queries/currentUser/index.ts
  packages/data/src/queries/currentUser/queries.ts
  packages/data/src/queries/currentUser/test/data.ts
  packages/data/src/queries/currentUser/test/useFetchCurrentUser.test.ts
  packages/data/src/queries/currentUser/test/useInitCurrentUserTestCache.ts
  packages/data/src/queries/currentUser/types.ts
  packages/data/src/queries/currentUser/useCurrentUser.ts
  packages/data/src/queries/currentUser/useFetchCurrentUser.ts
  packages/data/src/queries/currentUser/useUpdateCurrentUserCache.ts
  packages/data/src/queries/generalSettings/index.ts
  packages/data/src/queries/generalSettings/test/useFetchGeneralSettings.test.ts
  packages/data/src/queries/generalSettings/useFetchGeneralSettings.ts
  packages/edtr-services/src/apollo/mutations/events/types.ts
  packages/edtr-services/src/apollo/queries/events/queries.ts
  packages/edtr-services/src/apollo/queries/events/test/data.ts
  packages/edtr-services/src/apollo/queries/index.ts
  packages/edtr-services/src/apollo/queries/users/index.ts
  packages/edtr-services/src/apollo/queries/users/queries.ts
  packages/edtr-services/src/apollo/queries/users/useEventManagers.ts
  packages/edtr-services/src/apollo/types.ts
  packages/edtr-services/src/types.ts
  packages/services/src/config/CurrentUser.ts
  packages/services/src/config/index.ts
  packages/services/src/config/test/data.ts
  packages/services/src/config/types.ts
  packages/services/src/config/useConfigData.ts
  packages/services/src/context/ConfigProvider.tsx
  packages/services/src/permissions/useUserCapabilities.ts
  packages/services/src/types.ts
  yarn.lock
Labels: D: EDTR ✏️, T: enhancement ✨

#395 Use DOM data for event managers list
  domains/eventEditor/src/ui/EventRegistrationOptions/EventManager.tsx
  packages/edtr-services/src/apollo/initialization/useCacheRehydrationData.ts
  packages/edtr-services/src/apollo/queries/users/index.ts
  packages/edtr-services/src/apollo/queries/users/queries.ts
  packages/edtr-services/src/apollo/queries/users/useEventManagers.ts
  packages/edtr-services/src/apollo/types.ts
  packages/edtr-services/src/types.ts
Labels: C: data systems 🗑, D: EDTR ✏️, T: task 🧹
