Repository eventespresso/barista, pull requests merged in 2020-08, with the labels that each got.

#144 Adjusted start and end dates for ticket simple card.
  domains/rem/src/constants/index.ts
  domains/rem/src/types.ts
  domains/rem/src/ui/Tickets/card/TicketCard.tsx
  domains/rem/src/ui/Tickets/style.scss
  domains/rem/src/ui/Tickets/useTicketFormConfig.ts
  domains/rem/src/ui/datetimeDetails/useDateFormConfig.ts
  domains/rem/src/utils/misc.ts
  packages/components/src/EntityCard/SimpleEntityCard/styles.scss
  packages/components/src/NewEntity/NewEntityOption.tsx
  packages/components/src/NewEntity/styles.scss
Labels: D: REM ♺

#146 REM editor UI updates
  domains/eventEditor/src/ui/datetimes/datesList/newDateOptions/AddSingleDate.tsx
  domains/rem/src/ui/MultiStep/Steps.tsx
  domains/rem/src/ui/RemButton.tsx
  domains/rem/src/ui/generatedDates/DatetimeRow/index.tsx
  domains/rem/src/ui/generatedDates/GeneratedDates.tsx
  domains/rem/src/ui/rRule/PatternEditor.tsx
  domains/rem/src/ui/rRule/RRuleEditor.tsx
  domains/rem/src/ui/rRule/style.scss
  domains/rem/src/ui/rRule/types.ts
  domains/rem/src/ui/recurrence/ExclusionPattern.tsx
  domains/rem/src/ui/recurrence/PatternEditor.tsx
  domains/rem/src/ui/recurrence/RecurrencePattern.tsx
  packages/adapters/src/Steps/style.scss
  packages/components/src/Button/Button.tsx
  packages/components/src/Button/style.scss
  packages/components/src/Button/types.ts
  packages/components/src/NewEntity/styles.scss
  packages/icons/src/icons/CalendarAlt.tsx
  packages/icons/src/icons/index.tsx
  packages/icons/src/svg/calendar-alt.svg
  packages/rrule-generator/src/components/End/After.tsx
  packages/rrule-generator/src/components/End/Mode.tsx
  packages/rrule-generator/src/components/OnDate/styles.scss
  packages/rrule-generator/src/components/RRuleGenerator/styles.scss
  packages/rrule-generator/src/components/Repeat/Daily/index.tsx
  packages/rrule-generator/src/components/Repeat/Hourly/index.tsx
  packages/rrule-generator/src/components/Repeat/Monthly/index.tsx
  packages/rrule-generator/src/components/Repeat/Weekly/index.tsx
  packages/rrule-generator/src/components/Repeat/Weekly/styles.scss
  packages/rrule-generator/src/components/styles.scss
Labels: D: REM ♺

#149 Created CollapsibleLegend and used it in REM generated dates.
  domains/rem/src/ui/generatedDates/GeneratedDates.tsx
  packages/components/src/Collapsible/index.tsx
  packages/components/src/Collapsible/types.ts
  packages/components/src/EntityCard/SimpleEntityCard/styles.scss
  packages/components/src/EntityList/filterBar/EntityListFilterBar.tsx
  packages/components/src/EntityList/filterBar/index.ts
  packages/components/src/EntityList/filterBar/types.ts
  packages/components/src/Legend/CollapsibleLegend.tsx
  packages/components/src/Legend/ToggleLegendButton.tsx
  packages/components/src/Legend/index.ts
  packages/components/src/Legend/types.ts
  packages/components/src/index.ts
  packages/rrule-generator/src/components/Repeat/Weekly/styles.scss
  packages/styles/src/_variables.scss
  packages/styles/src/root/_index.scss
  yarn.lock
Labels: D: REM ♺

#147 Bulk entity edit
  domains/eventEditor/src/hooks/edtrState/reducer.ts
  domains/eventEditor/src/hooks/edtrState/types.ts
  domains/eventEditor/src/hooks/edtrState/useEdtrStateManager.ts
  domains/eventEditor/src/services/context/EntityListContext/TicketsListContext.tsx
  domains/eventEditor/src/ui/datetimes/datesList/bulkEdit/actions/Actions.tsx
  domains/eventEditor/src/ui/datetimes/datesList/bulkEdit/actions/Select.tsx
  domains/eventEditor/src/ui/datetimes/datesList/bulkEdit/actions/index.ts
  domains/eventEditor/src/ui/datetimes/datesList/bulkEdit/details/EditDetails.tsx
  domains/eventEditor/src/ui/datetimes/datesList/bulkEdit/details/FormWrapper.tsx
  domains/eventEditor/src/ui/datetimes/datesList/bulkEdit/details/Submit.tsx
  domains/eventEditor/src/ui/datetimes/datesList/bulkEdit/details/Warning.tsx
  domains/eventEditor/src/ui/datetimes/datesList/bulkEdit/details/formValidation.ts
  domains/eventEditor/src/ui/datetimes/datesList/bulkEdit/details/index.ts
  domains/eventEditor/src/ui/datetimes/datesList/bulkEdit/details/styles.scss
  domains/eventEditor/src/ui/datetimes/datesList/bulkEdit/details/types.ts
  domains/eventEditor/src/ui/datetimes/datesList/bulkEdit/details/useBulkEditFormConfig.ts
  domains/eventEditor/src/ui/datetimes/datesList/bulkEdit/details/useSubmitForm.ts
  domains/eventEditor/src/ui/datetimes/datesList/bulkEdit/index.ts
  domains/eventEditor/src/ui/datetimes/datesList/tableView/Checkbox.tsx
  domains/eventEditor/src/ui/datetimes/datesList/tableView/TableView.tsx
  domains/eventEditor/src/ui/datetimes/datesList/tableView/useBodyRowGenerator.tsx
  domains/eventEditor/src/ui/datetimes/datesList/tableView/useHeaderRowGenerator.tsx
  domains/rem/src/constants/index.ts
  domains/rem/src/types.ts
  domains/rem/src/ui/Tickets/card/TicketCard.tsx
  domains/rem/src/ui/Tickets/multiStep/ContentBody.tsx
  domains/rem/src/ui/Tickets/useTicketFormConfig.ts
  domains/rem/src/ui/datetimeDetails/useDateFormConfig.ts
  domains/rem/src/utils/misc.ts
  packages/components/src/EntityEditModal/EntityEditModal.tsx
  packages/components/src/EntityEditModal/types.ts
  packages/components/src/EntityList/ActionCheckbox.tsx
  packages/components/src/EntityList/index.ts
  packages/form/src/fields/Group.tsx
  packages/form/src/styles.scss
  packages/services/src/bulkEdit/BulkEditProvider.tsx
  packages/services/src/bulkEdit/index.ts
  packages/services/src/bulkEdit/useBulkEdit.ts
  packages/services/src/bulkEdit/withBulkEdit.tsx
  packages/services/src/context/ConfigProvider.tsx
  packages/services/src/index.ts
  packages/services/src/utilities/date/index.ts
  packages/services/src/utilities/date/misc.ts
  packages/services/src/utilities/date/types.ts
Labels: T: enhancement ✨

#153 Bulk edit mutations for dates
  domains/eventEditor/src/ui/datetimes/datesList/bulkEdit/actions/Select.tsx
  domains/eventEditor/src/ui/datetimes/datesList/bulkEdit/details/formValidation.ts
  domains/eventEditor/src/ui/datetimes/datesList/bulkEdit/details/types.ts
  domains/eventEditor/src/ui/datetimes/datesList/bulkEdit/details/useBulkEditFormConfig.ts
  domains/eventEditor/src/ui/datetimes/datesList/bulkEdit/details/useSubmitForm.ts
  packages/edtr-services/src/apollo/mutations/datetimes/index.ts
  packages/edtr-services/src/apollo/mutations/datetimes/types.ts
  packages/edtr-services/src/apollo/mutations/datetimes/useBulkEditDatetimes.ts
  packages/services/src/utilities/date/misc.ts
  packages/services/src/utilities/date/types.ts
Labels: D: EDTR ✏️, T: enhancement ✨

#154 Convert loader to class
  ee-barista.php
  lib/Barista.php
  lib/assets.php
  lib/load.php
  packages/edtr-services/src/publicPath.ts
Labels: C: build-process 🔨, D: Packages 📦, S6: code review 🔎, T: enhancement ✨

#158 EditDateRangeButton usage in date and ticket card sidebars.
  domains/eventEditor/src/services/context/DatetimeContext/index.tsx
  domains/eventEditor/src/services/context/TicketContext/index.tsx
  domains/eventEditor/src/services/context/index.ts
  domains/eventEditor/src/ui/datetimes/datesList/cardView/DateCard.tsx
  domains/eventEditor/src/ui/datetimes/datesList/cardView/DateCardSidebar.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/cardView/TicketCard.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/cardView/TicketCardSidebar.tsx
  packages/adapters/package.json
  packages/adapters/src/Popover/Popover.tsx
  packages/adapters/src/Popover/index.ts
  packages/adapters/src/Popover/index.tsx
  packages/components/src/Button/IconButton/index.tsx
  packages/components/src/Button/IconButton/types.ts
  packages/components/src/CalendarDateSwitcher/CalendarDateSwitcher.tsx
  packages/components/src/CalendarDateSwitcher/types.ts
  packages/components/src/Container/ConditionalElement.tsx
  packages/components/src/Container/Container.tsx
  packages/components/src/Container/Content.tsx
  packages/components/src/Container/Footer.tsx
  packages/components/src/Container/Header.tsx
  packages/components/src/Container/Row.tsx
  packages/components/src/Container/Sidebar.tsx
  packages/components/src/Container/Stack.tsx
  packages/components/src/Container/index.tsx
  packages/components/src/Container/styles.scss
  packages/components/src/Container/types.ts
  packages/components/src/EditDateRangeButton/index.tsx
  packages/components/src/EditDateRangeButton/types.ts
  packages/components/src/EntityCard/EntityCard.tsx
  packages/components/src/EntityCard/types.ts
  packages/components/src/Popover/index.tsx
  packages/components/src/Popover/style.scss
  packages/components/src/index.ts
  yarn.lock
Labels: C: assets 💎

#156 New Entity Popover Polish
  domains/eventEditor/src/ui/datetimes/datesList/newDateOptions/AddSingleDate.tsx
  domains/rem/src/ui/RemButton.tsx
  packages/components/src/NewEntity/NewEntityPopover.tsx
  packages/components/src/NewEntity/styles.scss
  packages/styles/src/mixins/breakpoints.scss
Labels: C: UI/UX 🚽, S6: code review 🔎, T: enhancement ✨

#159 Bulk delete for Dates and Tickets
  domains/eventEditor/src/ui/datetimes/datesList/bulkEdit/actions/Actions.tsx
  domains/eventEditor/src/ui/datetimes/datesList/bulkEdit/delete/Delete.tsx
  domains/eventEditor/src/ui/datetimes/datesList/bulkEdit/delete/index.ts
  domains/eventEditor/src/ui/datetimes/datesList/bulkEdit/delete/types.ts
  domains/eventEditor/src/ui/datetimes/datesList/bulkEdit/delete/useOnDelete.ts
  domains/eventEditor/src/ui/tickets/ticketsList/bulkEdit/actions/Actions.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/bulkEdit/delete/Delete.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/bulkEdit/delete/index.ts
  domains/eventEditor/src/ui/tickets/ticketsList/bulkEdit/delete/types.ts
  domains/eventEditor/src/ui/tickets/ticketsList/bulkEdit/delete/useOnDelete.ts
  packages/adapters/src/InlineEdit/InlineEdit.tsx
  packages/components/src/Confirm/types.ts
  packages/components/src/Confirm/useConfirmationDialog.tsx
  packages/edtr-services/src/apollo/mutations/datetimes/index.ts
  packages/edtr-services/src/apollo/mutations/datetimes/useBulkDeleteDatetimes.ts
  packages/edtr-services/src/apollo/mutations/tickets/index.ts
  packages/edtr-services/src/apollo/mutations/tickets/useBulkDeleteTickets.ts
  packages/edtr-services/src/apollo/mutations/useBulkDeleteEntities.ts
  packages/edtr-services/src/apollo/mutations/utils.ts
Labels: D: EDTR ✏️, T: enhancement ✨

#162 Icons generation command improvement.
  package.json
  packages/icons/package.json
  packages/icons/scripts/generate.sh
Labels: C: build-process 🔨, D: Packages 📦, S6: code review 🔎

#163 Add Repeat Icon & Update Others
  packages/icons/src/icons/Calculator.tsx
  packages/icons/src/icons/Calendar.tsx
  packages/icons/src/icons/ControlOutlined.tsx
  packages/icons/src/icons/Copy.tsx
  packages/icons/src/icons/Edit.tsx
  packages/icons/src/icons/Filter.tsx
  packages/icons/src/icons/Groups.tsx
  packages/icons/src/icons/Insert.tsx
  packages/icons/src/icons/Link.tsx
  packages/icons/src/icons/Lock.tsx
  packages/icons/src/icons/More.tsx
  packages/icons/src/icons/Rem.tsx
  packages/icons/src/icons/Repeat.tsx
  packages/icons/src/icons/Ticket.tsx
  packages/icons/src/icons/Unlink.tsx
  packages/icons/src/icons/index.tsx
  packages/icons/src/svg/calculator.svg
  packages/icons/src/svg/calendar.svg
  packages/icons/src/svg/copy.svg
  packages/icons/src/svg/edit.svg
  packages/icons/src/svg/filter.svg
  packages/icons/src/svg/groups.svg
  packages/icons/src/svg/link.svg
  packages/icons/src/svg/more.svg
  packages/icons/src/svg/repeat.svg
  packages/icons/src/svg/ticket.svg
  packages/icons/src/svg/unlink.svg
Labels: C: assets 💎, D: Packages 📦, S6: code review 🔎, T: enhancement ✨

#164 Update rRuleGenerator & Forms Packages
  packages/form/src/FormSectionSidebar.tsx
  packages/form/src/RenderSection.tsx
  packages/form/src/index.ts
  packages/form/src/styles.scss
  packages/rrule-generator/src/components/RRuleGenerator/RRuleText.tsx
  packages/rrule-generator/src/components/RRuleGenerator/index.tsx
  packages/rrule-generator/src/components/RRuleGenerator/styles.scss
  packages/rrule-generator/src/components/Repeat/styles.scss
  packages/rrule-generator/src/components/styles.scss
  packages/rrule-generator/src/components/types.ts
Labels: C: UI/UX 🚽, D: Packages 📦, S6: code review 🔎, T: enhancement ✨

#165 Random Fixes for Adapters and Components
  packages/adapters/src/Divider/Divider.tsx
  packages/adapters/src/Divider/style.scss
  packages/adapters/src/Divider/types.ts
  packages/adapters/src/Select/Select.tsx
  packages/adapters/src/Steps/style.scss
  packages/adapters/src/style.scss
  packages/components/src/Button/ButtonRow/style.scss
  packages/components/src/Button/style.scss
  packages/components/src/CurrencyInput/style.scss
  packages/components/src/DescriptionList/styles.scss
  packages/components/src/EntityCard/SimpleEntityCard/styles.scss
  packages/components/src/EntityList/EntityList.tsx
  packages/components/src/SelectInput/SelectInput.tsx
  packages/components/src/withTooltip/style.scss
Labels: C: assets 💎, D: Packages 📦, S6: code review 🔎, T: enhancement ✨

#166 REM Steps Header & Pattern Editor Step
  domains/rem/src/ui/Modal/styles.scss
  domains/rem/src/ui/MultiStep/ContentBody.tsx
  domains/rem/src/ui/MultiStep/Steps.tsx
  domains/rem/src/ui/rRule/RRuleEditor.tsx
  domains/rem/src/ui/rRule/style.scss
  domains/rem/src/ui/rRule/types.ts
  domains/rem/src/ui/recurrence/ExclusionPattern.tsx
  domains/rem/src/ui/recurrence/PatternEditor.tsx
  domains/rem/src/ui/recurrence/RecurrencePattern.tsx
  packages/form/src/FormSectionSidebar.tsx
Labels: C: UI/UX 🚽, D: REM ♺, S6: code review 🔎, T: enhancement ✨

#167 REM Dates and Tickets Steps
  domains/rem/src/ui/EntityOptionsRow/index.tsx
  domains/rem/src/ui/EntityOptionsRow/style.scss
  domains/rem/src/ui/Tickets/AddNewButton.tsx
  domains/rem/src/ui/Tickets/TicketTemplate.tsx
  domains/rem/src/ui/Tickets/card/TicketCard.tsx
  domains/rem/src/ui/Tickets/index.tsx
  domains/rem/src/ui/Tickets/style.scss
  domains/rem/src/ui/Tickets/useTicketFormConfig.ts
  domains/rem/src/ui/datetimeDetails/DateTemplate.tsx
Labels: C: UI/UX 🚽, D: REM ♺, S6: code review 🔎, T: enhancement ✨

#168 Tweak REM Generated Dates Step
  domains/rem/src/ui/generatedDates/DatetimeRow/index.tsx
  domains/rem/src/ui/generatedDates/DatetimeRow/styles.scss
  domains/rem/src/ui/generatedDates/DatetimeRows.tsx
  domains/rem/src/ui/generatedDates/Datetimes.tsx
  domains/rem/src/ui/generatedDates/GeneratedDates.tsx
  domains/rem/src/ui/generatedDates/GeneratedDatetime.tsx
  domains/rem/src/ui/generatedDates/GeneratedDatetimes.tsx
  domains/rem/src/ui/generatedDates/RDate.tsx
  domains/rem/src/ui/generatedDates/bg-colors.scss
  domains/rem/src/ui/generatedDates/config.ts
  domains/rem/src/ui/generatedDates/styles.scss
  domains/rem/src/ui/generatedDates/types.ts
  domains/rem/src/ui/generatedDates/utils.ts
  domains/rem/src/ui/recurrence/style.scss
  scripts/watch.js
Labels: C: UI/UX 🚽, D: REM ♺, S6: code review 🔎, T: enhancement ✨

#173 Bulk edit TPC PR1
  domains/eventEditor/src/ui/tickets/ticketsList/bulkEdit/actions/Actions.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/bulkEdit/prices/EditPrices.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/bulkEdit/prices/buttons/EditModeButtons.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/bulkEdit/prices/buttons/FooterButtons.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/bulkEdit/prices/buttons/index.ts
  domains/eventEditor/src/ui/tickets/ticketsList/bulkEdit/prices/editSeparately/EditSeparately.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/bulkEdit/prices/editSeparately/index.ts
  domains/eventEditor/src/ui/tickets/ticketsList/bulkEdit/prices/editTogether/EditTogether.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/bulkEdit/prices/editTogether/index.ts
  domains/eventEditor/src/ui/tickets/ticketsList/bulkEdit/prices/editTogether/useOnSubmitPrices.ts
  domains/eventEditor/src/ui/tickets/ticketsList/bulkEdit/prices/index.ts
  domains/eventEditor/src/ui/tickets/ticketsList/bulkEdit/prices/types.ts
  packages/data/src/queries/useCacheQuery.ts
  packages/edtr-services/src/apollo/mutations/datetimes/useBulkDeleteDatetimes.ts
  packages/edtr-services/src/apollo/mutations/prices/index.ts
  packages/edtr-services/src/apollo/mutations/prices/useBulkDeletePrices.ts
  packages/edtr-services/src/apollo/mutations/tickets/useBulkDeleteTickets.ts
  packages/edtr-services/src/apollo/mutations/useBulkDeleteEntities.ts
  packages/edtr-services/src/apollo/mutations/utils.ts
  packages/edtr-services/src/apollo/queries/priceTypes/useDefaultPriceType.ts
  packages/edtr-services/src/apollo/queries/priceTypes/usePriceTypeForPrice.ts
  packages/edtr-services/src/apollo/queries/priceTypes/usePriceTypeQueryOptions.ts
  packages/edtr-services/src/apollo/queries/tickets/useTicketPrices.ts
Labels: C: UI/UX 🚽, D: EDTR ✏️, T: enhancement ✨

#177 Bulk edit TPC to edit prices separately
  domains/eventEditor/src/ui/tickets/ticketsList/bulkEdit/prices/buttons/FooterButtons.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/bulkEdit/prices/editSeparately/EditSeparately.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/bulkEdit/prices/editSeparately/TPCInstance.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/bulkEdit/prices/editSeparately/useManageTPCStates.ts
  domains/eventEditor/src/ui/tickets/ticketsList/bulkEdit/prices/editSeparately/useOnSubmit.ts
  packages/edtr-services/src/apollo/mutations/prices/useBulkDeletePrices.ts
  packages/edtr-services/src/apollo/queries/datetimes/test/useDatetimeIds.test.ts
  packages/edtr-services/src/apollo/queries/datetimes/useDatetimeIds.ts
  packages/edtr-services/src/apollo/queries/tickets/test/useTicketIds.test.ts
  packages/edtr-services/src/apollo/queries/tickets/useTicketIds.ts
  packages/tpc/src/buttons/useSubmitButtonProps.tsx
  packages/tpc/src/hooks/useOnSubmitPrices.ts
Labels: D: EDTR ✏️, T: enhancement ✨

#181 Removes services dep from adapters.
  domains/rem/src/ui/generatedDates/RDate.tsx
  packages/adapters/src/dateTime/DatePicker/index.tsx
  packages/adapters/src/dateTime/DateTimeRangePicker/index.tsx
  packages/adapters/src/dateTime/TimePicker/index.tsx
  packages/adapters/src/dateTime/style.scss
  packages/adapters/src/dateTime/types.ts
  packages/components/src/DatePicker/index.tsx
  packages/components/src/DateTimeRangePicker/index.tsx
  packages/components/src/EditDateRangeButton/index.tsx
  packages/components/src/index.ts
  packages/form/src/adapters/DatePicker.tsx
  packages/form/src/adapters/TimePicker/index.tsx
  packages/form/src/styles2.scss
Labels: C: services 🤝

#184 REM Editor fixes
  domains/rem/src/ui/recurrence/PatternEditor.tsx
  packages/rrule-generator/src/components/Repeat/Weekly/index.tsx
  packages/rrule-generator/src/components/types.ts
  packages/rrule-generator/src/context/StateProvider.tsx
  packages/rrule-generator/src/context/withState.tsx
  packages/rrule-generator/src/state/useInitialState.ts
  packages/rrule-generator/src/state/useRRuleStateManager.ts
Labels: D: Packages 📦, D: REM ♺, T: bug 🐞

#185 REM editor fixes
  domains/rem/src/ui/generatedDates/GeneratedDates.tsx
  domains/rem/src/ui/generatedDates/Warning.tsx
  domains/rem/src/ui/generatedDates/useGenerateDates.ts
  domains/rem/src/utils/getDatesLimit.ts
  domains/rem/src/utils/getRecurrenceFrequency.ts
  domains/rem/src/utils/index.ts
  domains/rem/src/utils/misc.ts
  domains/rem/src/utils/predicates.ts
Labels: C: UI/UX 🚽, D: REM ♺, S10: completed 🐑, T: bug 🐞

#188 REM: Fix ticket submission issue
  domains/rem/src/data/types.ts
  domains/rem/src/ui/Tickets/TicketTemplate.tsx
  domains/rem/src/ui/Tickets/formValidation.ts
  domains/rem/src/ui/Tickets/multiStep/types.ts
  domains/rem/src/ui/Tickets/types.ts
  domains/rem/src/ui/Tickets/useFormStateListener.ts
  domains/rem/src/ui/Tickets/useTicketFormConfig.ts
  packages/form/src/EspressoForm.tsx
  packages/form/src/types.ts
Labels: D: REM ♺, T: bug 🐞

#189 Fix removal of default taxes in TPC
  packages/edtr-services/src/apollo/mutations/datetimes/useMutationHandler.ts
  packages/edtr-services/src/apollo/mutations/datetimes/useOnCreateDatetime.ts
  packages/edtr-services/src/apollo/mutations/datetimes/useOnUpdateDatetime.ts
  packages/edtr-services/src/apollo/mutations/tickets/useMutationHandler.ts
  packages/edtr-services/src/apollo/mutations/tickets/useOnCreateTicket.ts
  packages/edtr-services/src/apollo/mutations/tickets/useOnUpdateTicket.ts
  packages/services/src/relations/reducer.ts
  packages/tpc/src/buttons/DeleteAllPricesButton.tsx
  packages/tpc/src/buttons/DeletePriceModifierButton.tsx
  packages/tpc/src/hooks/index.ts
  packages/tpc/src/hooks/useRemoveAllTaxes.ts
  packages/tpc/src/hooks/useRemoveDefaultTax.ts
Labels: C: data systems 🗑, D: EDTR ✏️, T: bug 🐞

#190 TAM to bulk edit entities
  domains/eventEditor/src/ui/ticketAssignmentsManager/data/useOnSubmitAssignments.ts
  domains/eventEditor/src/ui/ticketAssignmentsManager/utils/index.ts
  packages/edtr-services/src/apollo/mutations/datetimes/useBulkEditDatetimes.ts
  packages/edtr-services/src/apollo/mutations/tickets/useBulkEditTickets.ts
  packages/edtr-services/src/apollo/mutations/tickets/useOnUpdateTicket.ts
Labels: D: EDTR ✏️, T: enhancement ✨

#191 Date/Time picker API improvements
  domains/eventEditor/src/ui/datetimes/datesList/cardView/DateCardSidebar.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/cardView/TicketCardSidebar.tsx
  packages/adapters/src/dateTime/DatePicker/index.tsx
  packages/adapters/src/dateTime/DateTimeRangePicker/index.tsx
  packages/adapters/src/dateTime/TimePicker/index.tsx
  packages/adapters/src/dateTime/index.tsx
  packages/adapters/src/dateTime/types.ts
  packages/components/src/DateTimeRangePicker/index.tsx
  packages/components/src/EditDateRangeButton/index.tsx
  packages/components/src/EditDateRangeButton/types.ts
Labels: C: UI/UX 🚽, D: Packages 📦

#187 Added RichTextEditor.
  domains/eventEditor/src/ui/datetimes/dateForm/useDateFormConfig.ts
  domains/eventEditor/src/ui/datetimes/datesList/cardView/Details.tsx
  domains/eventEditor/src/ui/datetimes/datesList/editable/EditableDesc.tsx
  domains/eventEditor/src/ui/datetimes/datesList/editable/index.ts
  domains/eventEditor/src/ui/shared/editable/EditableDesc.tsx
  domains/eventEditor/src/ui/shared/editable/index.ts
  domains/eventEditor/src/ui/tickets/ticketsList/cardView/Details.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/editable/EditableDesc.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/editable/index.ts
  domains/rem/package.json
  domains/rem/src/ui/datetimeDetails/DateTemplate.tsx
  domains/rem/src/ui/rRule/style.scss
  domains/rem/src/ui/recurrence/style.scss
  packages/components/src/Confirm/useConfirmationDialog.tsx
  packages/components/src/InlineEditInput/InlineEditInfinity.tsx
  packages/components/src/InlineEditInput/InlineEditText.tsx
  packages/components/src/InlineEditInput/InlineEditTextArea.tsx
  packages/components/src/InlineEditInput/Preview.tsx
  packages/components/src/InlineEditInput/TabbableText/index.tsx
  packages/components/src/InlineEditInput/types.ts
  packages/components/src/TabbableText/index.tsx
  packages/components/src/TabbableText/style.scss
  packages/components/src/TabbableText/types.ts
  packages/components/src/index.ts
  packages/form/src/RenderField.tsx
  packages/form/src/adapters/MappedField.tsx
  packages/form/src/types.ts
  packages/rich-text-editor/README.md
  packages/rich-text-editor/package.json
  packages/rich-text-editor/src/components/BlockStyleControls.tsx
  packages/rich-text-editor/src/components/InlineStyleControls.tsx
  packages/rich-text-editor/src/components/StyleButton.tsx
  packages/rich-text-editor/src/components/constants.ts
  packages/rich-text-editor/src/components/index.tsx
  packages/rich-text-editor/src/components/style.scss
  packages/rich-text-editor/src/components/types.ts
  packages/rich-text-editor/src/index.ts
  packages/rich-text-editor/tsconfig.json
  packages/tpc/src/fields/useBaseField.tsx
  yarn.lock
Labels: D: Packages 📦

#192 Change Default Values for Start and End Dates
  domains/eventEditor/src/ui/datetimes/dateForm/useDateFormConfig.ts
  domains/eventEditor/src/ui/tickets/ticketForm/useTicketFormConfig.tsx
  domains/rem/src/ui/Tickets/useTicketFormConfig.ts
  packages/components/src/CalendarDateSwitcher/CalendarDateSwitcher.tsx
  packages/services/src/utilities/date/misc.ts
Labels: C: UI/UX 🚽, D: EDTR ✏️

#193 Date time range picker fix.
  packages/components/src/Confirm/useConfirmationDialog.tsx
  packages/components/src/DateTimeRangePicker/index.tsx
  packages/components/src/EditDateRangeButton/index.tsx
  packages/components/src/Popover/style.scss
  packages/tpc/src/fields/useBaseField.tsx
  yarn.lock
Labels: C: UI/UX 🚽

#195 Create dates package
  packages/adapters/src/dateTime/style.scss
  packages/components/src/DateTimeRangePicker/index.tsx
  packages/components/src/EditDateRangeButton/index.tsx
  packages/components/src/EditDateRangeButton/types.ts
  packages/constants/src/dateFnsFormats.ts
  packages/dates/package.json
  packages/dates/setupTests.ts
  packages/dates/src/DatePicker.tsx
  packages/dates/src/DateRangePicker.tsx
  packages/dates/src/DateTimePicker.tsx
  packages/dates/src/DateTimeRangePicker.tsx
  packages/dates/src/TimePicker.tsx
  packages/dates/src/index.ts
  packages/dates/src/styles.scss
  packages/dates/src/types.ts
  packages/dates/tsconfig.json
  packages/form/src/adapters/DatePicker.tsx
  packages/form/src/adapters/TimePicker/index.tsx
  yarn.lock
Labels: D: Packages 📦, T: enhancement ✨

#201 Added feature flags feature.
  .env.development
  .env.production
  config/env.js
  packages/config/package.json
  packages/config/src/checkFeatureFlag.ts
  packages/config/src/index.ts
  packages/config/tsconfig.json
  packages/services/src/bulkEdit/BulkEditProvider.tsx
  packages/services/src/bulkEdit/withBulkEdit.tsx
Labels: C: build-process 🔨

#202 Disable bulk edit for production
  domains/eventEditor/src/ui/datetimes/datesList/tableView/Checkbox.tsx
  domains/eventEditor/src/ui/datetimes/datesList/tableView/TableView.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/tableView/Checkbox.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/tableView/TableView.tsx
  packages/config/src/checkFeatureFlag.ts
  packages/services/src/bulkEdit/BulkEditProvider.tsx
  packages/services/src/bulkEdit/withBulkEdit.tsx
Labels: C: build-process 🔨, T: task 🧹

#203 Refactored components such that edtr-services is no longer a dependency
  domains/eventEditor/src/ui/datetimes/dateForm/multiStep/ContentWrapper.tsx
  domains/eventEditor/src/ui/datetimes/datesList/cardView/DateDetailsPanel.tsx
  domains/eventEditor/src/ui/datetimes/datesList/cardView/Details.tsx
  domains/eventEditor/src/ui/datetimes/datesList/types.ts
  domains/eventEditor/src/ui/tickets/ticketForm/multiStep/ContentWrapper.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/cardView/Details.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/cardView/TicketCardSidebar.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/cardView/TicketDetailsPanel.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/editable/EditableName.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/editable/EditablePrice.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/types.ts
  packages/components/src/CalendarDateSwitcher/CalendarDateSwitcher.tsx
  packages/components/src/CalendarDateSwitcher/types.ts
  packages/components/src/EntityDetailsPanel/EntityDetailsPanelSold.tsx
  packages/components/src/EntityEditModal/Container.tsx
  packages/components/src/EntityEditModal/EntityEditForm.tsx
  packages/components/src/EntityEditModal/useWithEntityFormDetails.tsx
  packages/components/src/PriceTypeSign/PriceTypeSign.tsx
  packages/components/src/PriceTypeSign/usePriceTypeHtmlClassName.tsx
Labels: C: assets 💎

#209 Adjust total dates based upon number of rDates
  domains/rem/src/ui/generatedDates/RDate.tsx
  domains/rem/src/ui/generatedDates/useGenerateDates.ts
Labels: C: data systems 🗑, D: REM ♺, T: bug 🐞

#211 REM UI issues
  domains/rem/src/ui/recurrence/PatternEditor.tsx
  packages/adapters/package.json
  packages/adapters/src/Steps/style.scss
  packages/adapters/src/Tooltip/ClickableIconWithTooltip/index.tsx
  packages/adapters/src/Tooltip/Tooltip.tsx
  packages/adapters/src/Tooltip/types.ts
  packages/components/src/Button/Button.tsx
  packages/components/src/Button/style.scss
  packages/components/src/DatePicker/index.tsx
  packages/components/src/DateTimePicker/index.tsx
  packages/components/src/index.ts
  packages/components/src/withTooltip/style.scss
  packages/dates/src/DatePicker.tsx
  packages/dates/src/TimePicker.tsx
  packages/dates/src/styles.scss
  packages/rrule-generator/package.json
  packages/rrule-generator/src/components/OnDate/index.tsx
  packages/rrule-generator/src/components/OnDate/styles.scss
  packages/rrule-generator/src/components/RRuleGenerator/index.tsx
  packages/rrule-generator/src/components/Repeat/styles.scss
  packages/rrule-generator/src/components/styles.scss
  packages/rrule-generator/src/styles/index.css
  packages/rrule-generator/src/styles/react-datetime.css
  yarn.lock
Labels: D: REM ♺

#213 Registry perf improvements
  domains/eventEditor/src/hooks/entityActionsMenu/useEntityActionsMenuItems.ts
  domains/eventEditor/src/hooks/newEntityOptions/useNewEntityOptionItems.ts
  packages/hooks/src/useMemoStringify.ts
  packages/registry/src/filterBar/useFilterBarUIElements.ts
Labels: T: enhancement ✨

#219 Biggie calendar fonts tweaks.
  packages/components/src/BiggieCalendarDate/BiggieCalendarDate.tsx
  packages/components/src/BiggieCalendarDate/index.ts
  packages/components/src/BiggieCalendarDate/style.scss
  yarn.lock
Labels: C: UI/UX 🚽

#224 Link to Default Prices Admin Page in the Ticket Prices Step
  packages/adapters/src/Banner/types.ts
  packages/components/src/Button/Link/index.tsx
  packages/components/src/Button/Link/style.scss
  packages/components/src/Button/index.ts
  packages/components/src/Button/types.ts
  packages/components/src/EntityList/RegistrationsLink/index.tsx
  packages/tpc/src/components/NoPricesBanner.tsx
  packages/tpc/src/components/NoPricesBanner/AddDefaultPricesButton.tsx
  packages/tpc/src/components/NoPricesBanner/DefaultPricesLink.tsx
  packages/tpc/src/components/NoPricesBanner/index.tsx
  packages/utils/package.json
  packages/utils/src/index.ts
  yarn.lock
Labels: C: UI/UX 🚽

#226 Modal registry
  domains/eventEditor/src/services/index.ts
  domains/eventEditor/src/services/registry.tsx
  domains/eventEditor/src/services/utils.ts
  domains/eventEditor/src/ui/EventEditor.tsx
  domains/eventEditor/src/ui/datetimes/dateForm/multiStep/Container.tsx
  domains/eventEditor/src/ui/datetimes/dateForm/multiStep/Content.tsx
  domains/eventEditor/src/ui/datetimes/dateForm/multiStep/types.ts
  domains/eventEditor/src/ui/datetimes/datesList/actionsMenu/dropdown/DateMainMenu.tsx
  domains/eventEditor/src/ui/datetimes/datesList/newDateOptions/AddSingleDate.tsx
  domains/eventEditor/src/ui/datetimes/datesList/newDateOptions/NewDateButton.tsx
  domains/eventEditor/src/ui/datetimes/datesList/newDateOptions/OptionsPopover.tsx
  domains/eventEditor/src/ui/datetimes/datesList/newDateOptions/OptionsPopoverButton.tsx
  domains/eventEditor/src/ui/datetimes/datesList/newDateOptions/index.ts
  domains/eventEditor/src/ui/tickets/ticketForm/multiStep/Container.tsx
  domains/eventEditor/src/ui/tickets/ticketForm/multiStep/types.ts
  domains/eventEditor/src/ui/tickets/ticketsList/actionsMenu/dropdown/TicketMainMenu.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/newTicketOptions/AddSingleTicket.tsx
  domains/eventEditor/src/ui/types.ts
  domains/rem/src/types.ts
  domains/rem/src/ui/Modal/Container.tsx
  domains/rem/src/ui/Modal/Modal.tsx
  domains/rem/src/ui/MultiStep/ContentFooter.tsx
  domains/rem/src/ui/MultiStep/SubmitButton.tsx
  domains/rem/src/ui/RemButton.tsx
  domains/rem/src/ui/index.tsx
  domains/rem/src/ui/types.ts
  packages/edtr-services/src/context/ContextProvider.tsx
  packages/edtr-services/src/types.ts
  packages/registry/src/index.ts
  packages/registry/src/modals/ModalRegistry.ts
  packages/registry/src/modals/ModalSubscription.ts
  packages/registry/src/modals/constants.ts
  packages/registry/src/modals/context/GlobalModalProvider.tsx
  packages/registry/src/modals/context/index.ts
  packages/registry/src/modals/context/reducer.ts
  packages/registry/src/modals/context/types.ts
  packages/registry/src/modals/context/useGlobalModal.ts
  packages/registry/src/modals/context/useGlobalModalContext.ts
  packages/registry/src/modals/context/useGlobalModalManager.ts
  packages/registry/src/modals/index.ts
  packages/registry/src/modals/types.ts
  packages/registry/src/newEntityOptions/types.ts
Labels: C: UI/UX 🚽, D: Packages 📦, T: feature request 🙏

#228 DateTimeRangePicker improvements.
  packages/components/src/BiggieCalendarDate/style.scss
  packages/components/src/Button/Link/style.scss
  packages/components/src/DateTimeRangePicker/styles.scss
  packages/components/src/EditDateRangeButton/index.tsx
  packages/components/src/EditDateRangeButton/styles.scss
  packages/components/src/EntityCard/styles.scss
Labels: C: UI/UX 🚽

#221 Move Help Icon Tooltip Text to Inline Input Help Text
  domains/eventEditor/src/ui/datetimes/dateForm/useDateFormConfig.ts
  domains/eventEditor/src/ui/tickets/ticketForm/useTicketFormConfig.tsx
  domains/rem/src/ui/Tickets/useTicketFormConfig.ts
  packages/form/src/fields/Field/index.tsx
  packages/form/src/fields/Field/style.scss
  packages/form/src/renderers/FieldRenderer.tsx
  packages/form/src/types.ts
Labels: C: UI/UX 🚽

#229 Registry perf improvements
  domains/eventEditor/src/hooks/entityActionsMenu/index.ts
  domains/eventEditor/src/hooks/entityActionsMenu/useEntityActionsMenuSubscription.ts
  domains/eventEditor/src/hooks/filterBar/index.ts
  domains/eventEditor/src/hooks/filterBar/useFilterBarService.ts
  domains/eventEditor/src/hooks/filterBar/useFilterBarUISubscription.ts
  domains/eventEditor/src/hooks/index.ts
  domains/eventEditor/src/hooks/newEntityOptions/index.ts
  domains/eventEditor/src/hooks/newEntityOptions/useNewEntityOptionsSubscription.ts
  domains/eventEditor/src/hooks/useEditorInitialization.ts
  domains/eventEditor/src/services/filterState/datetimes/index.ts
  domains/eventEditor/src/services/filterState/datetimes/registerFilters.ts
  domains/eventEditor/src/services/filterState/datetimes/useDatesFilterBarService.ts
  domains/eventEditor/src/services/filterState/registerFilters.ts
  domains/eventEditor/src/services/filterState/tickets/index.ts
  domains/eventEditor/src/services/filterState/tickets/registerFilters.ts
  domains/eventEditor/src/services/filterState/tickets/useRegisterIsChainedFilter.ts
  domains/eventEditor/src/services/registry.tsx
  domains/eventEditor/src/ui/EventEditor.tsx
  domains/eventEditor/src/ui/datetimes/datesList/filterBar/controls/DisplayStartOrEndDateControl.tsx
  domains/eventEditor/src/ui/datetimes/datesList/filterBar/controls/SalesControl.tsx
  domains/eventEditor/src/ui/datetimes/datesList/filterBar/controls/SortByControl.tsx
  domains/eventEditor/src/ui/datetimes/datesList/filterBar/controls/StatusControl.tsx
  domains/eventEditor/src/ui/datetimes/hooks/useDatesActionMenuHandler.tsx
  domains/eventEditor/src/ui/datetimes/hooks/useDatesListFilterBar.tsx
  domains/eventEditor/src/ui/datetimes/hooks/useNewDateOptionsHandler.tsx
  domains/eventEditor/src/ui/datetimes/registryInit.tsx
  domains/eventEditor/src/ui/registryInit.tsx
  domains/eventEditor/src/ui/tickets/hooks/useNewTicketOptionsHandler.tsx
  domains/eventEditor/src/ui/tickets/hooks/useTicketsActionMenuHandler.tsx
  domains/eventEditor/src/ui/tickets/hooks/useTicketsListFilterBar.tsx
  domains/eventEditor/src/ui/tickets/registryInit.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/filterBar/controls/DisplayStartOrEndDateControl.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/filterBar/controls/IsChainedButton.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/filterBar/controls/SalesControl.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/filterBar/controls/SortByControl.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/filterBar/controls/StatusControl.tsx
  packages/components/src/FilterBarFilter/FilterBarFilter.tsx
  packages/components/src/FilterBarFilter/index.ts
  packages/components/src/index.ts
Labels: D: EDTR ✏️, T: enhancement ✨

#225 Replaced rich-text-editor text labels controls with styled shortcuts.
  packages/components/src/Button/style.scss
  packages/icons/src/icons/Calendar.tsx
  packages/icons/src/icons/ControlOutlined.tsx
  packages/icons/src/icons/EditorOl.tsx
  packages/icons/src/icons/EditorOlRtl.tsx
  packages/icons/src/icons/EditorQuote.tsx
  packages/icons/src/icons/EditorUl.tsx
  packages/icons/src/icons/Insert.tsx
  packages/icons/src/icons/Lock.tsx
  packages/icons/src/icons/Rem.tsx
  packages/icons/src/icons/Repeat.tsx
  packages/icons/src/icons/index.tsx
  packages/icons/src/svg/editor-ol-rtl.svg
  packages/icons/src/svg/editor-ol.svg
  packages/icons/src/svg/editor-quote.svg
  packages/icons/src/svg/editor-ul.svg
  packages/icons/src/svg/insert.svg
  packages/icons/src/svg/rem.svg
  packages/icons/src/svg/repeat.svg
  packages/rich-text-editor/src/components/BlockStyleControls.tsx
  packages/rich-text-editor/src/components/InlineStyleControls.tsx
  packages/rich-text-editor/src/components/StyleButton.tsx
  packages/rich-text-editor/src/components/constants.ts
  packages/rich-text-editor/src/components/index.tsx
  packages/rich-text-editor/src/components/style.scss
  packages/rich-text-editor/src/utils/getBlockStyle.ts
  packages/rich-text-editor/src/utils/index.ts
Labels: D: Packages 📦

#232 Add Active Filter Tags to Entity Lists
  domains/eventEditor/src/ui/datetimes/datesList/DatesList.tsx
  domains/eventEditor/src/ui/datetimes/datesList/filterBar/ActiveDatesFilters.tsx
  domains/eventEditor/src/ui/datetimes/datesList/filterBar/controls/DisplayStartOrEndDateControl.tsx
  domains/eventEditor/src/ui/datetimes/datesList/filterBar/controls/SalesControl.tsx
  domains/eventEditor/src/ui/datetimes/datesList/filterBar/controls/SortByControl.tsx
  domains/eventEditor/src/ui/datetimes/datesList/filterBar/controls/StatusControl.tsx
  domains/eventEditor/src/ui/datetimes/datesList/filterBar/controls/options.ts
  domains/eventEditor/src/ui/datetimes/datesList/filterBar/index.ts
  domains/eventEditor/src/ui/tickets/ticketsList/TicketsList.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/filterBar/ActiveTicketsFilters.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/filterBar/controls/DisplayStartOrEndDateControl.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/filterBar/controls/IsChainedButton.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/filterBar/controls/SalesControl.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/filterBar/controls/SortByControl.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/filterBar/controls/StatusControl.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/filterBar/controls/options.ts
  domains/eventEditor/src/ui/tickets/ticketsList/filterBar/index.ts
  packages/components/src/ActiveFilters/ActiveFilters.tsx
  packages/components/src/ActiveFilters/FilterTag.tsx
  packages/components/src/ActiveFilters/index.ts
  packages/components/src/ActiveFilters/styles.scss
  packages/components/src/ActiveFilters/types.ts
  packages/components/src/EntityList/EntityList.tsx
  packages/components/src/EntityList/types.ts
  packages/components/src/index.ts
  packages/utils/src/date/misc.ts
  packages/utils/src/list/index.ts
Labels: C: UI/UX 🚽, T: enhancement ✨

#231 Save Filter State to Browser Session and Recall on EDTR Load
  domains/eventEditor/src/services/filterState/datetimes/useDatesListFilterStateManager.ts
  domains/eventEditor/src/services/filterState/tickets/useTicketsListFilterStateManager.ts
  packages/hooks/src/index.ts
  packages/services/package.json
  packages/services/src/hooks/index.ts
  packages/services/src/hooks/useStorage.ts
  yarn.lock
Labels: C: services 🤝

#215 EDTR UI Style fixes.
  packages/components/src/Button/IconButton/style.scss
  packages/components/src/Button/Link/index.tsx
  packages/components/src/EntityDetailsPanel/style.scss
  packages/components/src/EntityList/RegistrationsLink/index.tsx
  packages/components/src/EntityList/RegistrationsLink/style.scss
  packages/components/src/InlineEditInput/InlineEditInfinity/Preview.tsx
  packages/components/src/InlineEditInput/InlineEditInfinity/index.tsx
  packages/components/src/InlineEditInput/Preview.tsx
  packages/components/src/InlineEditInput/style.scss
  packages/icons/src/icons/ControlOutlined.tsx
  packages/icons/src/icons/Edit.tsx
  packages/icons/src/svg/controlOutlined.svg
  packages/icons/src/svg/edit.svg
Labels: C: UI/UX 🚽

#233 Modal registry for TAM and TPC
  domains/eventEditor/src/ui/datetimes/datesList/DatesListButtons.tsx
  domains/eventEditor/src/ui/datetimes/datesList/actionsMenu/AssignTicketsButton.tsx
  domains/eventEditor/src/ui/registryInit.tsx
  domains/eventEditor/src/ui/ticketAssignmentsManager/components/ModalContainer.tsx
  domains/eventEditor/src/ui/ticketAssignmentsManager/components/TicketAssignmentsManagerModal/buttons/useSubmitButtonProps.tsx
  domains/eventEditor/src/ui/ticketAssignmentsManager/components/TicketAssignmentsManagerModal/index.tsx
  domains/eventEditor/src/ui/ticketAssignmentsManager/components/index.ts
  domains/eventEditor/src/ui/ticketAssignmentsManager/context/types.ts
  domains/eventEditor/src/ui/ticketAssignmentsManager/index.ts
  domains/eventEditor/src/ui/ticketAssignmentsManager/registryInit.tsx
  domains/eventEditor/src/ui/ticketAssignmentsManager/types.ts
  domains/eventEditor/src/ui/ticketAssignmentsManager/useTicketAssignmentsManager.tsx
  domains/eventEditor/src/ui/tickets/registryInit.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/actionsMenu/AssignDatesButton.tsx
  domains/rem/src/utils/getProgress.ts
  packages/edtr-services/src/types.ts
  packages/registry/src/modals/context/useGlobalModalManager.ts
  packages/tpc/src/buttons/TicketPriceCalculatorButton.tsx
  packages/tpc/src/buttons/useSubmitButtonProps.tsx
  packages/tpc/src/components/ModalContainer.tsx
  packages/tpc/src/components/TicketPriceCalculatorModal.tsx
  packages/tpc/src/components/index.ts
  packages/tpc/src/hooks/index.ts
  packages/tpc/src/hooks/useTicketPriceCalculator.tsx
  packages/tpc/src/types.ts
Labels: T: enhancement ✨, T: task 🧹
