Repository eventespresso/barista, pull requests merged in 2020-07, with the labels that each got.

#52 REM conversion
  domains/rem/package.json
  domains/rem/src/components/EditDatetimeRecurrence/EditDatetimeRecurrence.tsx
  domains/rem/src/components/EditDatetimeRecurrence/ExtraDatetime.tsx
  domains/rem/src/components/EditDatetimeRecurrence/ExtraDatetimes.tsx
  domains/rem/src/components/EditDatetimeRecurrence/GeneratedDatetimeRow.tsx
  domains/rem/src/components/EditDatetimeRecurrence/GeneratedDatetimes.tsx
  domains/rem/src/components/EditDatetimeRecurrence/RRulePatternEditor.tsx
  domains/rem/src/components/EditDatetimeRecurrence/index.ts
  domains/rem/src/components/EditDatetimeRecurrence/style.scss
  domains/rem/src/components/Modal/index.tsx
  domains/rem/src/components/Modal/useCancelButtonProps.tsx
  domains/rem/src/components/MultiStep/Steps.tsx
  domains/rem/src/components/MultiStep/index.ts
  domains/rem/src/constants/index.ts
  domains/rem/src/ui/Modal.tsx
  domains/rem/src/ui/RemButton.tsx
  domains/rem/src/utils/generateDatetimes.ts
  domains/rem/src/utils/getRecurrenceFrequency.ts
  domains/rem/src/utils/index.ts
  domains/rem/src/utils/rRule.ts
  yarn.lock
Labels: REM

#54 REM conversion.
  domains/rem/src/components/EditDatetimeRecurrence/DatetimeRow.tsx
  domains/rem/src/components/EditDatetimeRecurrence/Datetimes.tsx
  domains/rem/src/components/EditDatetimeRecurrence/EditDatetimeRecurrence.tsx
  domains/rem/src/components/EditDatetimeRecurrence/ExtraDatetime.tsx
  domains/rem/src/components/EditDatetimeRecurrence/ExtraDatetimes.tsx
  domains/rem/src/components/EditDatetimeRecurrence/GeneratedDatetimeRow.tsx
  domains/rem/src/components/EditDatetimeRecurrence/GeneratedDatetimes.tsx
  domains/rem/src/components/EditDatetimeRecurrence/RRulePatternEditor.tsx
  domains/rem/src/helpers/index.ts
  domains/rem/src/helpers/strings.ts
  packages/components/src/EntityList/pagination/EntityPagination.tsx
  packages/icons/src/icons/Insert.tsx
  packages/icons/src/icons/index.tsx
  packages/icons/src/svg/insert.svg
  yarn.lock
Labels: REM

#60 RRulePatternEditor styles refactor.
  domains/rem/src/components/EditDatetimeRecurrence/EditDatetimeRecurrence.tsx
  domains/rem/src/components/EditDatetimeRecurrence/style.scss
  domains/rem/src/components/Modal/index.tsx
  domains/rem/src/components/Modal/styles.scss
  domains/rem/src/components/MultiStep/ContentBody.tsx
  domains/rem/src/components/RRulePatternEditor/index.tsx
  domains/rem/src/components/RRulePatternEditor/style.scss
  domains/rem/src/ui/RemButton.tsx
Labels: REM

#63 usePrevNext package update.
  domains/eventEditor/src/ui/datetimes/dateForm/multiStep/ContentBody.tsx
  domains/eventEditor/src/ui/tickets/ticketForm/multiStep/ContentBody.tsx
  domains/rem/src/components/MultiStep/ContentBody.tsx
Labels: REM

#64 REM modal footer buttons update.
  domains/eventEditor/src/ui/datetimes/dateForm/multiStep/DateFormSteps.tsx
  domains/eventEditor/src/ui/tickets/ticketForm/multiStep/TicketFormSteps.tsx
  domains/rem/src/components/Modal/index.tsx
  domains/rem/src/components/MultiStep/ContentBody.tsx
  domains/rem/src/components/MultiStep/ContentFooter.tsx
  domains/rem/src/components/MultiStep/Steps.tsx
  domains/rem/src/components/MultiStep/index.ts
  domains/rem/src/components/MultiStep/types.ts
  domains/rem/src/components/MultiStep/useMultiStep.tsx
  packages/adapters/src/Modal/Modal.tsx
  packages/adapters/src/Modal/styles.scss
  packages/adapters/src/Modal/types.ts
  packages/components/src/Button/ButtonRow/index.tsx
  packages/components/src/Button/ButtonRow/style.scss
Labels: REM

#70 Fix production assets
  lib/assets.php
  packages/adapters/package.json
  packages/components/package.json
  packages/edtr-services/package.json
  packages/edtr-services/src/publicPath.ts
Labels: category:assets, status: review ⭐

#71 Tickets: mini list.
  domains/eventEditor/src/ui/tickets/ticketsList/cardView/TicketCard.tsx
  domains/rem/src/components/EditRecurrence/Datetimes.tsx
  domains/rem/src/components/MultiStep/ContentBody.tsx
  domains/rem/src/components/MultiStep/types.ts
  domains/rem/src/components/Tickets/Details.tsx
  domains/rem/src/components/Tickets/TicketCard.tsx
  domains/rem/src/components/Tickets/index.tsx
  domains/rem/src/components/Tickets/style.scss
  domains/rem/src/components/Tickets/types.ts
  packages/adapters/src/Modal/styles.scss
  packages/adapters/src/Pagination/Pagination.tsx
  packages/components/src/BiggieCalendarDate/BiggieCalendarDate.tsx
  packages/components/src/BiggieCalendarDate/types.ts
  packages/components/src/CalendarDateSwitcher/CalendarDateSwitcher.tsx
  packages/components/src/CalendarDateSwitcher/types.ts
  packages/components/src/EntityCard/EntityCard.tsx
  packages/components/src/EntityCard/types.ts
  packages/components/src/EntityPaperFrame/EntityPaperFrame.tsx
Labels: REM ♺

#75 Compact entity list.
  domains/eventEditor/src/ui/tickets/ticketsList/cardView/Details.tsx
  domains/rem/src/components/Tickets/Details.tsx
  domains/rem/src/components/Tickets/TicketCard.tsx
  domains/rem/src/components/Tickets/style.scss
  packages/adapters/src/Dotdotdot/Dotdotdot.tsx
  packages/adapters/src/Dotdotdot/index.ts
  packages/adapters/src/Dotdotdot/types.ts
  packages/adapters/src/index.ts
  packages/components/src/BiggieCalendarDate/BiggieCalendarDate.tsx
  packages/components/src/BiggieCalendarDate/types.ts
  packages/components/src/CalendarDateSwitcher/CalendarDateSwitcher.tsx
  packages/components/src/CalendarDateSwitcher/types.ts
  packages/components/src/CurrencyInput/CurrencyInput.tsx
  packages/components/src/CurrencyInput/style.scss
  packages/components/src/CurrencyInput/types.ts
  packages/components/src/EntityCard/EntityCard.tsx
  packages/components/src/EntityCard/SimpleEntityCard/index.tsx
  packages/components/src/EntityCard/SimpleEntityCard/styles.scss
  packages/components/src/EntityCard/index.ts
  packages/components/src/EntityCard/styles.scss
  packages/components/src/EntityCard/types.ts
  packages/components/src/EntityPaperFrame/EntityPaperFrame.tsx
  packages/components/src/InlineEditInput/InlineEditText.tsx
  packages/components/src/InlineEditInput/InlineEditTextArea.tsx
Labels: REM ♺

#77 Moved components into ui folder and Convert date button into ContentBody.
  domains/rem/src/services/apollo/queries/index.ts
  domains/rem/src/ui/Modal/index.tsx
  domains/rem/src/ui/Modal/styles.scss
  domains/rem/src/ui/Modal/useCancelButtonProps.tsx
  domains/rem/src/ui/MultiStep/ContentBody.tsx
  domains/rem/src/ui/MultiStep/ContentFooter.tsx
  domains/rem/src/ui/MultiStep/Steps.tsx
  domains/rem/src/ui/MultiStep/index.ts
  domains/rem/src/ui/MultiStep/types.ts
  domains/rem/src/ui/RemButton.tsx
  domains/rem/src/ui/Tickets/TicketCard.tsx
  domains/rem/src/ui/Tickets/index.tsx
  domains/rem/src/ui/Tickets/style.scss
  domains/rem/src/ui/Tickets/types.ts
  domains/rem/src/ui/datetimeDetails/DatetimeDetails.tsx
  domains/rem/src/ui/datetimeDetails/FormWrapper.tsx
  domains/rem/src/ui/datetimeDetails/formValidation.ts
  domains/rem/src/ui/datetimeDetails/index.tsx
  domains/rem/src/ui/datetimeDetails/types.ts
  domains/rem/src/ui/datetimeDetails/useDateFormConfig.ts
  domains/rem/src/ui/generatedDates/DatetimeRow.tsx
  domains/rem/src/ui/generatedDates/Datetimes.tsx
  domains/rem/src/ui/generatedDates/ExtraDatetime.tsx
  domains/rem/src/ui/generatedDates/ExtraDatetimes.tsx
  domains/rem/src/ui/generatedDates/GeneratedDates.tsx
  domains/rem/src/ui/generatedDates/index.ts
  domains/rem/src/ui/rRule/EditorControls.tsx
  domains/rem/src/ui/rRule/PatternEditor.tsx
  domains/rem/src/ui/rRule/RRuleEditor.tsx
  domains/rem/src/ui/rRule/index.tsx
  domains/rem/src/ui/rRule/style.scss
  domains/rem/src/ui/rRule/types.ts
  domains/rem/src/ui/recurrence/ExclusionPattern.tsx
  domains/rem/src/ui/recurrence/RecurrencePattern.tsx
  domains/rem/src/ui/recurrence/index.ts
  domains/rem/src/ui/recurrence/style.scss
  yarn.lock
Labels: REM ♺

#81 Add ticket button and ticket offsets.
  domains/rem/src/services/data/types.ts
  domains/rem/src/services/data/useFormStateManager.ts
  domains/rem/src/services/data/useFormStateReducer.ts
  domains/rem/src/ui/MultiStep/Steps.tsx
  domains/rem/src/ui/Tickets/FormWrapper.tsx
  domains/rem/src/ui/Tickets/TicketCard.tsx
  domains/rem/src/ui/Tickets/formValidation.ts
  domains/rem/src/ui/Tickets/index.tsx
  domains/rem/src/ui/Tickets/style.scss
  domains/rem/src/ui/Tickets/types.ts
  domains/rem/src/ui/Tickets/useTicketFormConfig.ts
  packages/adapters/src/Steps/Steps.tsx
  packages/adapters/src/Steps/style.scss
  packages/adapters/src/Steps/types.ts
  packages/components/src/EntityCard/SimpleEntityCard/index.tsx
  packages/components/src/EntityCard/SimpleEntityCard/styles.scss
  packages/icons/src/icons/Plus.tsx
  packages/icons/src/icons/index.tsx
  packages/icons/src/svg/plus.svg
  yarn.lock
Labels: REM ♺

#98 Registry improvements
  domains/eventEditor/src/hooks/entityActionsMenu/useEntityActionsMenuItems.ts
  domains/eventEditor/src/hooks/entityActionsMenu/useEntityActionsMenuSubscription.ts
  domains/eventEditor/src/hooks/filterBar/useFilterBarUISubscription.ts
  domains/eventEditor/src/hooks/newEntityOptions/useNewEntityOptionItems.ts
  domains/eventEditor/src/hooks/newEntityOptions/useNewEntityOptionsSubscription.ts
  domains/eventEditor/src/services/filterState/datetimes/useDatesFilterBarService.ts
  domains/eventEditor/src/services/filterState/tickets/useTicketsFilterBarService.ts
  domains/eventEditor/src/ui/datetimes/datesList/newDateOptions/AddSingleDate.tsx
  domains/eventEditor/src/ui/datetimes/hooks/useNewDateOptionsHandler.tsx
  domains/eventEditor/src/ui/tickets/hooks/useNewTicketOptionsHandler.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/newTicketOptions/AddSingleTicket.tsx
  domains/rem/src/context/useDatetime.ts
  domains/rem/src/hooks/newEntityOptions/useNewDateOptionSubscription.tsx
  domains/rem/src/ui/REM.tsx
  domains/rem/src/ui/RemButton.tsx
  domains/rem/src/ui/index.tsx
  packages/components/src/EntityList/filterBar/EntityListFilterBar.tsx
  packages/components/src/EntityList/filterBar/filterState/useEntityFilterService.ts
  packages/registry/src/entityActionsMenu/EntityActionsMenuRegistry.ts
  packages/registry/src/entityActionsMenu/EntityActionsSubscription.ts
  packages/registry/src/entityActionsMenu/index.ts
  packages/registry/src/entityActionsMenu/types.ts
  packages/registry/src/entityActionsMenu/useEntityActionsMenuRegistry.ts
  packages/registry/src/entityActionsMenu/useEntityActionsSubscription.ts
  packages/registry/src/filterBar/FilterBarService.ts
  packages/registry/src/filterBar/FilterBarUIRegistry.ts
  packages/registry/src/filterBar/FilterBarUISubscription.ts
  packages/registry/src/filterBar/index.ts
  packages/registry/src/filterBar/types.ts
  packages/registry/src/filterBar/useFilterBarService.ts
  packages/registry/src/filterBar/useFilterBarUIElements.ts
  packages/registry/src/filterBar/useFilterBarUIElements.tsx
  packages/registry/src/filterBar/useFilterBarUIRegistry.ts
  packages/registry/src/filterBar/useFilterBarUISubscription.ts
  packages/registry/src/newEntityOptions/NewEntityOptionsRegistry.ts
  packages/registry/src/newEntityOptions/NewEntitySubscription.ts
  packages/registry/src/newEntityOptions/index.ts
  packages/registry/src/newEntityOptions/types.ts
  packages/registry/src/newEntityOptions/useNewEntityOptionsRegistry.ts
  packages/registry/src/newEntityOptions/useNewEntitySubscription.ts
  packages/registry/src/subscription/SubscriptionManager.ts
  packages/registry/src/subscription/UIRegistry.tsx
  packages/registry/src/subscription/index.ts
  packages/registry/src/subscription/types.ts
  packages/registry/src/subscription/useSubscriptionService.ts
  packages/registry/src/subscription/useUIRegistry.ts
  packages/registry/src/subscription/utils.ts
  packages/services/src/utilities/memo/entityListCacheIdString.ts
  yarn.lock
Labels: C: services 🤝, D: EE CORE ☕, domain: REM ♺

#100 REM: Add Option to Select Existing Date as Template
  domains/rem/src/ui/Modal/index.tsx
  domains/rem/src/ui/MultiStep/ContentBody.tsx
  domains/rem/src/ui/MultiStep/types.ts
  domains/rem/src/ui/datetimeDetails/DateTemplate.tsx
  domains/rem/src/ui/datetimeDetails/DatetimeDetails.tsx
  domains/rem/src/ui/datetimeDetails/useDateFormConfig.ts
  packages/services/src/utilities/index.ts
  packages/services/src/utilities/list/index.ts
Labels: T: enhancement ✨, domain: REM ♺

#101 Add Option to Select Existing Tickets as Template in REM Tickets Form Step
  domains/rem/src/data/types.ts
  domains/rem/src/data/useFormStateManager.ts
  domains/rem/src/data/useFormStateReducer.ts
  domains/rem/src/ui/Tickets/ExistingTicketTemplate/index.tsx
  domains/rem/src/ui/Tickets/ExistingTicketTemplate/style.scss
  domains/rem/src/ui/Tickets/FormWrapper.tsx
  domains/rem/src/ui/Tickets/index.tsx
  domains/rem/src/ui/Tickets/style.scss
  domains/rem/src/ui/Tickets/useTicketFormConfig.ts
  packages/adapters/src/Select/Select.tsx
  packages/components/src/SelectInput/SelectInput.tsx
  packages/components/src/withLabel/withLabel.tsx
  packages/form/src/renderers/FieldRenderer.tsx
  yarn.lock
Labels: domain: REM ♺

#102 Wire up REM tickets with RFF
  domains/rem/src/data/types.ts
  domains/rem/src/data/useFormStateManager.ts
  domains/rem/src/data/useFormStateReducer.ts
  domains/rem/src/ui/Tickets/ExistingTicketTemplate/style.scss
  domains/rem/src/ui/Tickets/FormWrapper.tsx
  domains/rem/src/ui/Tickets/TicketTemplate.tsx
  domains/rem/src/ui/Tickets/index.tsx
  domains/rem/src/ui/Tickets/style.scss
  domains/rem/src/ui/Tickets/useFormStateListener.ts
  domains/rem/src/ui/Tickets/useTicketFormConfig.ts
Labels: T: enhancement ✨, domain: REM ♺

#103 REM shared ticket option
  domains/eventEditor/src/ui/tickets/ticketForm/useTicketFormConfig.tsx
  domains/rem/src/data/useFormStateReducer.ts
  domains/rem/src/ui/Tickets/types.ts
  domains/rem/src/ui/Tickets/useTicketFormConfig.ts
Labels: T: task 🧹, domain: REM ♺

#113 Modal footer update && sidebar actions.
  domains/rem/src/ui/Modal/index.tsx
  domains/rem/src/ui/MultiStep/ContentFooter.tsx
  domains/rem/src/ui/MultiStep/useCancelButtonProps.tsx
  domains/rem/src/ui/Tickets/TicketCard.tsx
  domains/rem/src/ui/Tickets/types.ts
  packages/components/src/EntityCard/SimpleEntityCard/index.tsx
  packages/components/src/EntityCard/SimpleEntityCard/styles.scss
  packages/components/src/EntityCard/types.ts
  yarn.lock
Labels: domain: REM ♺

#114 REM ticket multi step
  domains/rem/src/constants/index.ts
  domains/rem/src/data/types.ts
  domains/rem/src/data/useFormStateManager.ts
  domains/rem/src/data/useFormStateReducer.ts
  domains/rem/src/ui/Tickets/AddNewButton.tsx
  domains/rem/src/ui/Tickets/FormWrapper.tsx
  domains/rem/src/ui/Tickets/actions/Edit.tsx
  domains/rem/src/ui/Tickets/actions/Trash.tsx
  domains/rem/src/ui/Tickets/actions/index.ts
  domains/rem/src/ui/Tickets/card/Sidebar.tsx
  domains/rem/src/ui/Tickets/card/TicketCard.tsx
  domains/rem/src/ui/Tickets/card/index.ts
  domains/rem/src/ui/Tickets/index.tsx
  domains/rem/src/ui/Tickets/multiStep/Container.tsx
  domains/rem/src/ui/Tickets/multiStep/Content.tsx
  domains/rem/src/ui/Tickets/multiStep/ContentBody.tsx
  domains/rem/src/ui/Tickets/multiStep/ContentWrapper.tsx
  domains/rem/src/ui/Tickets/multiStep/TicketFormSteps.tsx
  domains/rem/src/ui/Tickets/multiStep/index.ts
  domains/rem/src/ui/Tickets/multiStep/types.ts
  domains/rem/src/ui/Tickets/multiStep/useDataListener.ts
  domains/rem/src/ui/Tickets/style.scss
  domains/rem/src/ui/Tickets/types.ts
  domains/rem/src/ui/Tickets/useTicketFormConfig.ts
  packages/edtr-services/src/utils/dateAndTime.ts
Labels: T: enhancement ✨, domain: REM ♺

#116 Combine recurrence and exclusion.
  domains/eventEditor/src/ui/datetimes/datesList/actionsMenu/dropdown/DateMainMenu.tsx
  domains/eventEditor/src/ui/datetimes/datesList/newDateOptions/AddSingleDate.tsx
  domains/eventEditor/src/ui/datetimes/datesList/newDateOptions/OptionsPopover.tsx
  domains/eventEditor/src/ui/ticketAssignmentsManager/useTicketAssignmentsManager.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/actionsMenu/dropdown/TicketMainMenu.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/newTicketOptions/AddSingleTicket.tsx
  domains/rem/src/ui/MultiStep/ContentBody.tsx
  domains/rem/src/ui/MultiStep/ContentFooter.tsx
  domains/rem/src/ui/MultiStep/Steps.tsx
  domains/rem/src/ui/rRule/EditorControls.tsx
  domains/rem/src/ui/rRule/RRuleEditor.tsx
  domains/rem/src/ui/rRule/types.ts
  domains/rem/src/ui/recurrence/ExclusionPattern.tsx
  domains/rem/src/ui/recurrence/PatternEditor.tsx
  domains/rem/src/ui/recurrence/RecurrencePattern.tsx
  domains/rem/src/ui/recurrence/index.ts
  packages/components/src/Confirm/useConfirmationDialog.tsx
  packages/tpc/src/hooks/useTicketPriceCalculator.tsx
Labels: D: REM ♺

#117 Wire up TPC for REM
  domains/rem/src/data/types.ts
  domains/rem/src/ui/Tickets/TicketTemplate.tsx
  domains/rem/src/ui/Tickets/multiStep/ContentBody.tsx
  domains/rem/src/ui/Tickets/multiStep/types.ts
  domains/rem/src/ui/Tickets/multiStep/useDataListener.ts
  domains/rem/src/ui/Tickets/types.ts
  domains/rem/src/ui/Tickets/useTicketFormConfig.ts
  packages/tpc/src/data/useInitialState.ts
  packages/tpc/src/hooks/useTicketPriceCalculator.tsx
  packages/tpc/src/index.ts
  packages/tpc/src/types.ts
Labels: D: REM ♺, T: enhancement ✨

#121 Refactor rrule generator package
  packages/rrule-generator/package.json
  packages/rrule-generator/src/components/RRuleGenerator.tsx
  packages/rrule-generator/src/components/Start/OnDate.js
  packages/rrule-generator/src/components/Start/OnDate.tsx
  packages/rrule-generator/src/components/Start/index.js
  packages/rrule-generator/src/components/Start/index.tsx
  packages/rrule-generator/src/components/Start/types.ts
  packages/rrule-generator/src/components/types.ts
  packages/rrule-generator/src/context/StateProvider.tsx
  packages/rrule-generator/src/context/index.ts
  packages/rrule-generator/src/context/withState.tsx
  packages/rrule-generator/src/index.ts
  packages/rrule-generator/src/state/index.ts
  packages/rrule-generator/src/state/types.ts
  packages/rrule-generator/src/state/useInitialState.ts
  packages/rrule-generator/src/state/useRRuleState.ts
  packages/rrule-generator/src/state/useRRuleStateManager.ts
  packages/rrule-generator/src/state/useRRuleStateReducer.ts
  packages/rrule-generator/src/types.ts
  packages/rrule-generator/src/utils/computeRRule/fromString/computeEndOnDate.js
  packages/rrule-generator/src/utils/computeRRule/fromString/computeRRule.js
  packages/rrule-generator/src/utils/computeRRule/fromString/computeStartOnDate.js
  packages/rrule-generator/src/utils/computeRRule/fromString/computeWeekStartDay.js
  packages/rrule-generator/src/utils/computeRRule/toString/computeEnd.js
  packages/rrule-generator/src/utils/computeRRule/toString/computeStart.js
  yarn.lock
Labels: T: enhancement ✨

#122 REM: generated dates step.
  domains/rem/src/ui/MultiStep/ContentFooter.tsx
  domains/rem/src/ui/generatedDates/DatetimeRow.tsx
  domains/rem/src/ui/generatedDates/DatetimeRows.tsx
  domains/rem/src/ui/generatedDates/Datetimes.tsx
  domains/rem/src/ui/generatedDates/GeneratedDates.tsx
  domains/rem/src/ui/generatedDates/Warning.tsx
  domains/rem/src/ui/generatedDates/config.ts
  domains/rem/src/ui/generatedDates/types.ts
  domains/rem/src/utils/generateDatetimes.ts
  packages/adapters/src/Modal/styles.scss
  packages/components/src/Button/ButtonRow/index.tsx
  packages/components/src/Button/ButtonRow/style.scss
  packages/components/src/Button/ButtonRow/types.ts
  packages/components/src/DescriptionList/styles.scss
  packages/components/src/EntityList/filterBar/EntityListFilterBar.tsx
  packages/components/src/EntityListLegend/index.ts
  packages/components/src/Legend/Legend.tsx
  packages/components/src/Legend/index.ts
  packages/components/src/Legend/types.ts
  packages/components/src/index.ts
  packages/icons/src/icons/CloseCircleFilled.tsx
  packages/icons/src/icons/InfoCircleFilled.tsx
  packages/icons/src/icons/Lock.tsx
  packages/icons/src/icons/index.tsx
  packages/icons/src/svg/close-circle-filled.svg
  packages/icons/src/svg/info-circle-filled.svg
  packages/icons/src/svg/lock.svg
  packages/rrule-generator/src/utils/computeRRule/toString/computeRRule.js
  packages/services/src/config/DateTimeFormats.ts
  yarn.lock
Labels: D: REM ♺

#132 Fix rrule-generator state bug
  packages/rrule-generator/package.json
  packages/rrule-generator/src/components/RRuleGenerator.tsx
  packages/rrule-generator/src/hooks/index.ts
  packages/rrule-generator/src/hooks/useStateListener.ts
  packages/rrule-generator/src/state/types.ts
  packages/rrule-generator/src/state/useInitialState.ts
  packages/rrule-generator/src/state/useRRuleStateReducer.ts
  packages/rrule-generator/src/utils/computeRRule/fromString/computeEndDate.ts
  packages/rrule-generator/src/utils/computeRRule/fromString/computeStartDate.ts
Labels: D: REM ♺, T: bug 🐞

#133 GeneratedDates update.
  domains/rem/src/ui/generatedDates/DatetimeRow/index.tsx
  domains/rem/src/ui/generatedDates/DatetimeRow/styles.scss
  domains/rem/src/ui/generatedDates/DatetimeRows.tsx
  domains/rem/src/ui/generatedDates/Datetimes.tsx
  domains/rem/src/ui/generatedDates/GeneratedDates.tsx
  domains/rem/src/ui/generatedDates/Warning.tsx
  domains/rem/src/ui/generatedDates/types.ts
  domains/rem/src/ui/generatedDates/useGenerateDatetimes.ts
  domains/rem/src/utils/getRecurrenceFrequency.ts
  domains/rem/src/utils/index.ts
  packages/components/src/DescriptionList/DescriptionList.tsx
  packages/components/src/DescriptionList/styles.scss
  packages/components/src/DescriptionList/types.ts
  packages/components/src/Legend/Legend.tsx
  packages/components/src/Legend/types.ts
  yarn.lock
Labels: D: REM ♺

#135 Decouple rRule Generator from Bootstrap.
  packages/rrule-generator/package.json
  packages/rrule-generator/src/components/End/After.tsx
  packages/rrule-generator/src/components/End/Mode.tsx
  packages/rrule-generator/src/components/End/OnDate.tsx
  packages/rrule-generator/src/components/End/index.tsx
  packages/rrule-generator/src/components/OnDate/index.tsx
  packages/rrule-generator/src/components/OnDate/styles.scss
  packages/rrule-generator/src/components/RRuleGenerator.tsx
  packages/rrule-generator/src/components/RRuleGenerator/index.tsx
  packages/rrule-generator/src/components/RRuleGenerator/styles.scss
  packages/rrule-generator/src/components/Repeat/Daily/index.tsx
  packages/rrule-generator/src/components/Repeat/Frequency.tsx
  packages/rrule-generator/src/components/Repeat/Hourly/index.tsx
  packages/rrule-generator/src/components/Repeat/Monthly/On.tsx
  packages/rrule-generator/src/components/Repeat/Monthly/OnThe.tsx
  packages/rrule-generator/src/components/Repeat/Monthly/index.tsx
  packages/rrule-generator/src/components/Repeat/PositionSelect.tsx
  packages/rrule-generator/src/components/Repeat/Weekly/index.tsx
  packages/rrule-generator/src/components/Repeat/Weekly/styles.scss
  packages/rrule-generator/src/components/Repeat/Yearly/On.tsx
  packages/rrule-generator/src/components/Repeat/Yearly/OnThe.tsx
  packages/rrule-generator/src/components/Repeat/Yearly/index.tsx
  packages/rrule-generator/src/components/Repeat/index.tsx
  packages/rrule-generator/src/components/Repeat/styles.scss
  packages/rrule-generator/src/components/Repeat/types.ts
  packages/rrule-generator/src/components/Start/index.tsx
  packages/rrule-generator/src/components/styles.scss
  packages/rrule-generator/src/styles/index.css
  yarn.lock
Labels: C: UI/UX 🚽, D: REM ♺

#140 Fix weekday rrule bug
  packages/rrule-generator/src/constants/index.js
  packages/rrule-generator/src/utils/computeRRule/toString/computeWeekly.ts
  packages/rrule-generator/src/utils/computeRRule/toString/utils.ts
Labels: T: bug 🐞

#142 REM: steps adjustments.
  packages/adapters/src/Steps/Steps.tsx
  packages/adapters/src/Steps/style.scss
Labels: D: REM ♺

#141 REM: adjusted generated dates legend.
  domains/rem/src/ui/generatedDates/DatetimeRow/index.tsx
  domains/rem/src/ui/generatedDates/DatetimeRow/styles.scss
  domains/rem/src/ui/generatedDates/DatetimeRows.tsx
  domains/rem/src/ui/generatedDates/GeneratedDates.tsx
  domains/rem/src/ui/generatedDates/bg-colors.scss
  domains/rem/src/ui/generatedDates/config.ts
  domains/rem/src/ui/generatedDates/utils.ts
  packages/components/src/Button/style.scss
  packages/components/src/DescriptionList/DescriptionListItem.tsx
  packages/components/src/DescriptionList/styles.scss
  packages/components/src/DescriptionList/types.ts
  packages/components/src/Heading/index.tsx
  packages/components/src/Heading/style.scss
  packages/components/src/Heading/types.ts
  packages/components/src/Legend/Legend.tsx
  packages/components/src/Legend/types.ts
  packages/components/src/index.ts
  packages/icons/src/style.scss
  yarn.lock
Labels: D: REM ♺
