Repository eventespresso/barista, pull requests merged in 2020-11, with the labels that each got.

#397 Switch component.
  .github/workflows/deploy-master.yml
  .github/workflows/deploy-rc.yml
  packages/components/src/Switch/LICENSE
  packages/components/src/Switch/Switch.tsx
  packages/components/src/Switch/index.ts
  packages/components/src/Switch/style.scss
  packages/components/src/Switch/types.ts
  packages/components/src/index.ts
  packages/icons/src/icons/SwitchChecked.tsx
  packages/icons/src/icons/SwitchUnchecked.tsx
  packages/icons/src/icons/index.tsx
  packages/icons/src/svg/switch-checked.svg
  packages/icons/src/svg/switch-unchecked.svg
  packages/styles/src/_mixins.scss
  packages/styles/src/mixins/_screen-reader.scss
  packages/utils/src/keycodes/index.ts
  packages/utils/src/keycodes/types.ts
Labels: C: UI/UX 🚽, T: task 🧹

#401 Adapters improvements: Popover, Radio, RadioGroup and Select.
  domains/eventEditor/src/ui/datetimes/dateForm/multiStep/Container.tsx
  domains/eventEditor/src/ui/datetimes/datesList/newDateOptions/NewDateButton.tsx
  domains/eventEditor/src/ui/datetimes/datesList/newDateOptions/NewDateModal.tsx
  domains/eventEditor/src/ui/datetimes/datesList/newDateOptions/OptionsModalButton.tsx
  domains/eventEditor/src/ui/datetimes/datesList/newDateOptions/index.ts
  domains/eventEditor/src/ui/datetimes/registryInit.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/TicketsList.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/TicketsListButtons.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/newTicketOptions/NewTicketButton.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/newTicketOptions/OptionsModal.tsx
  domains/rem/src/ui/Modal/Container.tsx
  domains/rem/src/ui/RemButton.tsx
  packages/adapters/package.json
  packages/adapters/src/Popover/Popover.tsx
  packages/adapters/src/Popover/index.ts
  packages/adapters/src/Popover/types.ts
  packages/adapters/src/Radio/Radio.tsx
  packages/adapters/src/Radio/index.ts
  packages/adapters/src/Radio/types.ts
  packages/adapters/src/RadioGroup/RadioGroup.tsx
  packages/adapters/src/RadioGroup/index.ts
  packages/adapters/src/Select/Select.tsx
  packages/adapters/src/Select/index.ts
  packages/adapters/src/Select/types.ts
  packages/components/src/Button/IconButton/style.scss
  packages/components/src/NewEntity/NewEntityModal.tsx
  packages/components/src/NewEntity/index.ts
  packages/components/src/NewEntity/styles.scss
  packages/components/src/NewEntity/types.ts
  packages/components/src/PopoverForm/PopoverForm.tsx
  packages/components/src/TimezoneTimeInfo/TimezoneTimeInfo.tsx
  packages/edtr-services/src/types.ts
  packages/form/src/adapters/Radio.tsx
  packages/form/src/types.ts
  packages/rich-text-editor/src/components/ToolbarControls/HeadingControls.tsx
  packages/tpc/src/components/table/styles.scss
  yarn.lock
Labels: C: UI/UX 🚽

#406 Advanced Rich Text Editor
  domains/eventEditor/src/ui/datetimes/dateForm/useDateFormConfig.ts
  domains/eventEditor/src/ui/datetimes/datesList/bulkEdit/details/useBulkEditFormConfig.ts
  domains/eventEditor/src/ui/datetimes/datesList/cardView/Details.tsx
  domains/eventEditor/src/ui/tickets/ticketForm/useTicketFormConfig.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/bulkEdit/details/useBulkEditFormConfig.ts
  domains/eventEditor/src/ui/tickets/ticketsList/cardView/Details.tsx
  domains/rem/src/ui/Tickets/useTicketFormConfig.ts
  domains/rem/src/ui/datetimeDetails/useDateFormConfig.ts
  packages/components/src/RichTextEditorModal/style.scss
  packages/components/src/SimpleTextEditorModal/index.tsx
  packages/components/src/SimpleTextEditorModal/style.scss
  packages/components/src/SimpleTextEditorModal/types.ts
  packages/components/src/index.ts
  packages/form/src/adapters/MappedField.tsx
  packages/form/src/adapters/SimpleTextEditor.tsx
  packages/form/src/types.ts
  packages/icons/src/icons/Strikethrough.tsx
  packages/icons/src/icons/index.tsx
  packages/icons/src/svg/strikethrough.svg
  packages/rich-text-editor/package.json
  packages/rich-text-editor/src/components/AdvancedTextEditor/AdvancedTextEditor.tsx
  packages/rich-text-editor/src/components/AdvancedTextEditor/index.ts
  packages/rich-text-editor/src/components/AdvancedTextEditor/types.ts
  packages/rich-text-editor/src/components/RichTextEditor/DebugLog.tsx
  packages/rich-text-editor/src/components/RichTextEditor/RichTextEditor.tsx
  packages/rich-text-editor/src/components/RichTextEditor/index.ts
  packages/rich-text-editor/src/components/RichTextEditor/style.scss
  packages/rich-text-editor/src/components/RichTextEditor/types.ts
  packages/rich-text-editor/src/components/SimpleTextEditor/SimpleTextEditor.tsx
  packages/rich-text-editor/src/components/SimpleTextEditor/index.ts
  packages/rich-text-editor/src/components/SimpleTextEditor/types.ts
  packages/rich-text-editor/src/components/StyleButton.tsx
  packages/rich-text-editor/src/components/ToolbarControls/BlockStyleControls.tsx
  packages/rich-text-editor/src/components/ToolbarControls/HeadingControls.tsx
  packages/rich-text-editor/src/components/ToolbarControls/InlineStyleControls.tsx
  packages/rich-text-editor/src/components/ToolbarControls/LinkControl.tsx
  packages/rich-text-editor/src/components/ToolbarControls/UrlInput.tsx
  packages/rich-text-editor/src/components/ToolbarControls/index.tsx
  packages/rich-text-editor/src/components/ToolbarControls/style.scss
  packages/rich-text-editor/src/components/ToolbarControls/types.ts
  packages/rich-text-editor/src/components/constants.ts
  packages/rich-text-editor/src/components/index.tsx
  packages/rich-text-editor/src/components/types.ts
  packages/rich-text-editor/src/context/StateProvider.tsx
  packages/rich-text-editor/src/context/index.ts
  packages/rich-text-editor/src/context/withState.tsx
  packages/rich-text-editor/src/hooks/index.ts
  packages/rich-text-editor/src/hooks/types.ts
  packages/rich-text-editor/src/hooks/useBlockType.ts
  packages/rich-text-editor/src/hooks/useEditorState.ts
  packages/rich-text-editor/src/hooks/useSelection.ts
  packages/rich-text-editor/src/hooks/useToggleBlockType.ts
  packages/rich-text-editor/src/hooks/useUrlInputState.ts
  yarn.lock
Labels: C: assets 💎, D: Packages 📦

#408 Body Scroll Fix closes #389
  domains/eventEditor/src/ui/datetimes/datesList/actionsMenu/dropdown/DateMainMenu.tsx
  domains/eventEditor/src/ui/styles.scss
  packages/components/src/AlertDialog/AlertDialog.tsx
  packages/components/src/AlertDialog/index.ts
  packages/components/src/AlertDialog/styles.scss
  packages/components/src/Confirm/useConfirmationDialog.tsx
  packages/components/src/DropdownMenu/DropdownMenu.tsx
  packages/components/src/DropdownMenu/styles.scss
  packages/components/src/Modal/styles.scss
  packages/components/src/index.ts
  packages/registry/src/modals/context/useGlobalModalManager.ts
Labels: C: UI/UX 🚽, D: EDTR ✏️, P3: med priority 😐, S7: code review 🔎, T: bug 🐞

#410 Refactored size prop usage.
  domains/eventEditor/src/ui/datetimes/datesList/DatesListButtons.tsx
  domains/eventEditor/src/ui/datetimes/datesList/newDateOptions/AddSingleDate.tsx
  domains/eventEditor/src/ui/datetimes/datesList/newDateOptions/OptionsModalButton.tsx
  domains/eventEditor/src/ui/ticketAssignmentsManager/components/TicketAssignmentsManagerModal/buttons/useCancelButtonProps.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/newTicketOptions/AddSingleTicket.tsx
  packages/adapters/src/Button/Button.tsx
  packages/adapters/src/Button/IconButton.tsx
  packages/adapters/src/Divider/types.ts
  packages/adapters/src/NumberInput/NumberInput.tsx
  packages/adapters/src/NumberInput/types.ts
  packages/components/src/Button/Button.tsx
  packages/components/src/Button/ButtonGroup/index.tsx
  packages/components/src/Button/ButtonGroup/types.ts
  packages/components/src/Button/IconButton/index.tsx
  packages/components/src/Button/IconButton/types.ts
  packages/components/src/Button/types.ts
  packages/components/src/Divider/index.tsx
  packages/components/src/Divider/types.ts
  packages/components/src/EditDateRangeButton/index.tsx
  packages/components/src/EntityList/filterBar/buttons/EntityListViewButtonGroup.tsx
  packages/components/src/EntityList/filterBar/buttons/ToggleFiltersButton.tsx
  packages/components/src/EntityList/filterBar/buttons/ToggleSortingButton.tsx
  packages/components/src/Legend/ToggleLegendButton.tsx
  packages/components/src/LoadingIndicator/LoadingIndicator.tsx
  packages/components/src/LoadingIndicator/index.ts
  packages/components/src/LoadingNotice/LoadingNotice.tsx
  packages/components/src/LoadingNotice/index.ts
  packages/components/src/LoadingNotice/style.scss
  packages/components/src/LoadingNotice/types.ts
  packages/components/src/Modal/useCancelButtonProps.tsx
  packages/components/src/TimezoneTimeInfo/Trigger.tsx
  packages/components/src/index.ts
  packages/components/src/types.ts
  packages/form/src/renderers/RepeatableRenderer.tsx
  packages/tpc/src/buttons/useResetButtonProps.tsx
  packages/tpc/src/buttons/useSubmitButtonProps.tsx
  packages/tpc/src/components/NoPricesBanner/AddDefaultPricesButton.tsx
Labels: C: UI/UX 🚽

#398 Registration Options UI Tweaks
  .eslintignore
  domains/eventEditor/src/ui/EventRegistrationOptions/ActiveStatus.tsx
  domains/eventEditor/src/ui/EventRegistrationOptions/AltRegPage.tsx
  domains/eventEditor/src/ui/EventRegistrationOptions/EventManager.tsx
  domains/eventEditor/src/ui/EventRegistrationOptions/GridItem.tsx
  domains/eventEditor/src/ui/EventRegistrationOptions/style.scss
  domains/eventEditor/src/ui/EventRegistrationOptions/types.ts
  domains/eventEditor/src/ui/datetimes/datesList/editable/EditableName.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/editable/EditableName.tsx
  packages/adapters/src/InlineEdit/types.ts
  packages/adapters/src/Select/Select.tsx
  packages/adapters/src/TextFit/LICENSE.md
  packages/adapters/src/TextFit/TextFit.js
  packages/adapters/src/TextFit/index.ts
  packages/adapters/src/TextFit/utils/innerSize.js
  packages/adapters/src/TextFit/utils/series.js
  packages/adapters/src/TextFit/utils/shallowEqual.js
  packages/adapters/src/TextFit/utils/throttle.js
  packages/adapters/src/TextFit/utils/uniqueId.js
  packages/adapters/src/TextFit/utils/whilst.js
  packages/adapters/src/index.ts
  packages/components/src/Button/ButtonRow/style.scss
  packages/components/src/DropdownMenu/DropdownToggle/index.tsx
  packages/components/src/Grid/style.scss
  packages/components/src/InlineEditCurrency/InlineEditCurrency.tsx
  packages/components/src/InlineEditInput/Preview.tsx
  packages/components/src/InlineEditInput/types.ts
  packages/components/src/Select/InlineSelect.tsx
  packages/components/src/Select/Select.tsx
  packages/components/src/Select/style.scss
  packages/components/src/Select/types.ts
  packages/components/src/Switch/Switch.tsx
  packages/components/src/Switch/style.scss
  packages/components/src/TabbableText/index.tsx
  packages/edtr-services/src/apollo/mutations/events/types.ts
  packages/edtr-services/src/apollo/queries/events/queries.ts
  packages/edtr-services/src/apollo/queries/events/test/data.ts
  packages/edtr-services/src/apollo/types.ts
  packages/styles/src/mixins/_breakpoints.scss
  yarn.lock
Labels: C: UI/UX 🚽, D: EDTR ✏️, P3: med priority 😐, S6: in progress 👷🏽

#412 CSS variables consolidation and DRYness improvements - part 1.
  packages/adapters/src/AlertDialog/AlertDialog.tsx
  packages/adapters/src/AlertDialog/types.ts
  packages/adapters/src/InlineEdit/InlineEdit.tsx
  packages/adapters/src/InlineEdit/InlineEditInput.tsx
  packages/adapters/src/InlineEdit/types.ts
  packages/adapters/src/InputWithLabel/InputWithLabel.tsx
  packages/adapters/src/index.ts
  packages/adapters/src/style.scss
  packages/components/src/AlertDialog/AlertDialog.tsx
  packages/components/src/Button/_colors.scss
  packages/components/src/Button/style.scss
  packages/components/src/InlineEditInput/InlineEdit.tsx
  packages/components/src/InlineEditInput/InlineEditInfinity.tsx
  packages/components/src/InlineEditInput/InlineEditText.tsx
  packages/components/src/InlineEditInput/InlineEditTextArea.tsx
  packages/components/src/InlineEditInput/style.scss
  packages/components/src/InputWithLabel/index.tsx
  packages/form/src/adapters/Text.tsx
  packages/styles/src/_variables.scss
  packages/styles/src/index.scss
  packages/styles/src/mixins/_buttons.scss
  packages/styles/src/root/_index.scss
  packages/styles/src/themes/default/index.scss
  packages/styles/src/themes/default/size-variables.css
  packages/styles/src/variables/_colors.scss
  packages/styles/src/variables/_index.scss
  packages/tpc/src/inputs/PriceAmountInput.tsx
Labels: C: UI/UX 🚽

#416 Refactor color variables.
  package.json
  packages/adapters/package.json
  packages/adapters/src/Grid/types.ts
  packages/adapters/src/Heading/Heading.tsx
  packages/adapters/src/Heading/types.ts
  packages/styles/src/_functions.scss
  packages/styles/src/_mixins.scss
  packages/styles/src/index.scss
  packages/styles/src/mixins/_index.scss
  packages/styles/src/root/_index.scss
  packages/styles/src/themes/default/color-variables.css
  packages/styles/src/themes/default/index.scss
  packages/styles/src/variables/_base-colors.scss
  packages/styles/src/variables/_colors.scss
  packages/styles/src/variables/_functions.scss
  packages/styles/src/variables/_index.scss
  yarn.lock
Labels: C: UI/UX 🚽

#417 Use external library for RTE editors
  domains/eventEditor/src/ui/EventDescription.tsx
  domains/eventEditor/src/ui/EventEditor.tsx
  packages/components/src/SimpleTextEditorModal/index.tsx
  packages/form/src/adapters/SimpleTextEditor.tsx
  packages/rich-text-editor/package.json
  packages/rich-text-editor/src/components/AdvancedTextEditor/AdvancedTextEditor.tsx
  packages/rich-text-editor/src/components/AdvancedTextEditor/types.ts
  packages/rich-text-editor/src/components/RichTextEditor/DebugLog.tsx
  packages/rich-text-editor/src/components/RichTextEditor/RichTextEditor.tsx
  packages/rich-text-editor/src/components/RichTextEditor/style.scss
  packages/rich-text-editor/src/components/RichTextEditor/types.ts
  packages/rich-text-editor/src/components/SimpleTextEditor/SimpleTextEditor.tsx
  packages/rich-text-editor/src/components/SimpleTextEditor/toolbar.ts
  packages/rich-text-editor/src/components/SimpleTextEditor/types.ts
  packages/rich-text-editor/src/components/StyleButton.tsx
  packages/rich-text-editor/src/components/ToolbarControls/BlockStyleControls.tsx
  packages/rich-text-editor/src/components/ToolbarControls/HeadingControls.tsx
  packages/rich-text-editor/src/components/ToolbarControls/InlineStyleControls.tsx
  packages/rich-text-editor/src/components/ToolbarControls/LinkControl.tsx
  packages/rich-text-editor/src/components/ToolbarControls/UrlInput.tsx
  packages/rich-text-editor/src/components/ToolbarControls/index.tsx
  packages/rich-text-editor/src/components/ToolbarControls/style.scss
  packages/rich-text-editor/src/components/ToolbarControls/types.ts
  packages/rich-text-editor/src/components/types.ts
  packages/rich-text-editor/src/context/StateProvider.tsx
  packages/rich-text-editor/src/context/index.ts
  packages/rich-text-editor/src/context/withState.tsx
  packages/rich-text-editor/src/hooks/index.ts
  packages/rich-text-editor/src/hooks/types.ts
  packages/rich-text-editor/src/hooks/useBlockType.ts
  packages/rich-text-editor/src/hooks/useEditorState.ts
  packages/rich-text-editor/src/hooks/useSelection.ts
  packages/rich-text-editor/src/hooks/useToggleBlockType.ts
  packages/rich-text-editor/src/hooks/useUrlInputState.ts
  packages/rich-text-editor/src/utils/getBlockStyle.ts
  packages/rich-text-editor/src/utils/index.ts
  yarn.lock
Labels: C: assets 💎, D: Packages 📦, T: enhancement ✨

#418 SCSS consolidation: entity statuses class names.
  domains/eventEditor/src/ui/datetimes/datesList/tableView/useBodyRowGenerator.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/tableView/useBodyRowGenerator.tsx
  packages/styles/src/root/_entity-status.scss
  packages/styles/src/root/_index.scss
  packages/styles/src/root/entity-status.css
  packages/styles/src/themes/default/index.scss
Labels: C: UI/UX 🚽

#419 Minimal Storybook set up
  .storybook/main.js
  .storybook/preview.js
  package.json
  packages/components/src/Button/stories/Button.stories.tsx
  packages/storybook/.eslintrc.js
  packages/storybook/.storybook/.babelrc
  packages/storybook/.storybook/addons.js
  packages/storybook/.storybook/preset.js
  packages/storybook/package.json
  packages/storybook/tsconfig.json
  yarn.lock
Labels: C: UI/UX 🚽, C: automation & deployment ⚙️, D: Packages 📦

#420 Improve Pull Request checks workflow
  .github/workflows/build.yml
  .github/workflows/pr-checks.yml
Labels: C: automation & deployment ⚙️, C: build-process 🔨

#421 SB: chromatic setup && basic stories.
  .env
  .gitignore
  .storybook/main.js
  .storybook/manager.js
  package.json
  packages/components/src/Banner/Banner.tsx
  packages/components/src/Banner/ErrorIndicator/index.stories.tsx
  packages/components/src/Banner/ErrorIndicator/index.tsx
  packages/components/src/Banner/ErrorIndicator/style.scss
  packages/components/src/Banner/ErrorIndicator/types.ts
  packages/components/src/Banner/index.stories.tsx
  packages/components/src/Banner/index.ts
  packages/components/src/Button/Button.stories.tsx
  packages/components/src/Button/Link/index.stories.tsx
  packages/components/src/Button/types.ts
  packages/components/src/Confirm/ConfirmClose.stories.tsx
  packages/components/src/Confirm/ConfirmClose.tsx
  packages/components/src/Confirm/ConfirmDelete.stories.tsx
  packages/components/src/EntityList/RegistrationsLink/index.tsx
  packages/components/src/ErrorIndicator/index.ts
  packages/components/src/Heading/index.stories.tsx
  packages/components/src/Heading/index.tsx
  packages/components/src/index.ts
  packages/components/storybook.test.js
  yarn.lock
Labels: C: UI/UX 🚽, C: build-process 🔨

#425 Chromatic deployment.
  .github/workflows/chromatic.yml
Labels: C: build-process 🔨

#427 Fix start and end dates with a notice
  domains/eventEditor/src/ui/datetimes/dateForm/useDateFormConfig.ts
  domains/eventEditor/src/ui/tickets/ticketForm/useTicketFormConfig.tsx
  packages/components/src/EditDateRangeButton/styles.scss
  packages/components/src/ErrorMessage/ErrorMessage.tsx
  packages/components/src/ErrorMessage/index.ts
  packages/components/src/ErrorMessage/style.scss
  packages/components/src/ErrorMessage/types.ts
  packages/components/src/InlineNotification/ErrorMessage.tsx
  packages/components/src/InlineNotification/InfoMessage.tsx
  packages/components/src/InlineNotification/InlineNotification.tsx
  packages/components/src/InlineNotification/SuccessMessage.tsx
  packages/components/src/InlineNotification/WarningMessage.tsx
  packages/components/src/InlineNotification/index.ts
  packages/components/src/InlineNotification/style.scss
  packages/components/src/InlineNotification/types.ts
  packages/components/src/index.ts
  packages/dates/src/styles.scss
  packages/edtr-services/src/utils/dateAndTime.ts
  packages/form/package.json
  packages/form/src/EspressoForm.tsx
  packages/form/src/adapters/MappedField.tsx
  packages/form/src/index.ts
  packages/form/src/renderers/FieldRenderer.tsx
  yarn.lock
Labels: C: UI/UX 🚽, D: EDTR ✏️, T: bug 🐞

#429 Fix date and time formats
  .github/workflows/chromatic.yml
  packages/components/src/DateTimeRangePicker/index.tsx
  packages/form/src/adapters/DateTimePicker.tsx
Labels: C: UI/UX 🚽, D: EDTR ✏️, T: bug 🐞

#430 Fix form package usage
  domains/eventEditor/src/ui/datetimes/dateForm/useDateFormConfig.ts
  domains/eventEditor/src/ui/tickets/ticketForm/multiStep/Container.tsx
  domains/eventEditor/src/ui/tickets/ticketForm/useTicketFormConfig.tsx
  domains/rem/src/ui/Tickets/useTicketFormConfig.ts
  domains/rem/src/ui/datetimeDetails/useDateFormConfig.ts
  packages/form/src/renderers/FormRenderer.tsx
Labels: D: Packages 📦, T: bug 🐞

#431 Improve usage of NOW constant
  domains/rem/src/ui/datetimeDetails/useDateFormConfig.ts
  packages/dates/src/DateRangePicker/index.tsx
  packages/dates/src/constants.ts
  packages/dates/src/utils/isOnOrAfterToday.ts
  packages/dates/src/utils/isOnOrBeforeToday.ts
  packages/dates/src/utils/misc.ts
  packages/dates/src/utils/switchTenseForDate.ts
  packages/dates/src/utils/test/isOnOrAfterDate.test.ts
  packages/dates/src/utils/test/isOnOrAfterToday.test.ts
  packages/dates/src/utils/test/isOnOrBeforeDate.test.ts
  packages/dates/src/utils/test/isOnOrBeforeToday.test.ts
  packages/edtr-services/src/utils/dateAndTime.ts
  packages/predicates/src/datetimes/filters/recentlyExpiredOnly/index.test.ts
  packages/predicates/src/datetimes/isRecentlyExpired/index.test.ts
  packages/rrule-generator/src/components/Repeat/Yearly/On.tsx
  packages/rrule-generator/src/state/tests/setData.test.ts
  packages/rrule-generator/src/state/tests/setEndDate.test.ts
  packages/rrule-generator/src/state/tests/setStartDate.test.ts
  packages/rrule-generator/src/utils/computeRRule/fromString/utils.ts
  packages/rrule-generator/src/utils/computeRRule/toString/computeStart.ts
  packages/rrule-generator/src/utils/computeRRule/toString/utils.ts
  packages/rrule-generator/src/utils/misc.ts
Labels: C: unit-tests 🧪, D: Packages 📦, T: bug 🐞, T: code-quality 👾

#436 add new feature flags and hide components
  domains/eventEditor/src/ui/EventDescription.tsx
  domains/eventEditor/src/ui/EventRegistrationOptions/index.tsx
  ee-barista.php
Labels: C: assets 💎, D: EDTR ✏️, P3: med priority 😐, S7: code review 🔎, T: enhancement ✨

#433 InlineNotification stories.
  .storybook/preview.js
  packages/components/src/InlineNotification/index.stories.tsx
  packages/components/src/InlineNotification/types.ts
Labels: C: UI/UX 🚽

#437 Admin menu z-index bug fix.
  domains/eventEditor/src/ui/styles.scss
  packages/components/src/Button/Button.stories.tsx
Labels: C: UI/UX 🚽

#438 More SB stories related to components that consumes Chakra.
  domains/eventEditor/src/ui/tickets/ticketsList/editable/EditablePrice.tsx
  packages/components/src/Divider/index.stories.tsx
  packages/components/src/InlineEdit/InlineEditCurrency/InlineEditCurrency.tsx
  packages/components/src/InlineEdit/InlineEditCurrency/index.stories.tsx
  packages/components/src/InlineEdit/InlineEditCurrency/index.ts
  packages/components/src/InlineEdit/InlineEditCurrency/style.scss
  packages/components/src/InlineEdit/InlineEditCurrency/types.ts
  packages/components/src/InlineEdit/InlineEditInput/InlineEdit.tsx
  packages/components/src/InlineEdit/InlineEditInput/InlineEditInfinity.tsx
  packages/components/src/InlineEdit/InlineEditInput/InlineEditInfinityPreview.tsx
  packages/components/src/InlineEdit/InlineEditInput/InlineEditText.tsx
  packages/components/src/InlineEdit/InlineEditInput/InlineEditTextArea.tsx
  packages/components/src/InlineEdit/InlineEditInput/Preview.tsx
  packages/components/src/InlineEdit/InlineEditInput/index.tsx
  packages/components/src/InlineEdit/InlineEditInput/style.scss
  packages/components/src/InlineEdit/InlineEditInput/types.ts
  packages/components/src/InlineEdit/index.ts
  packages/components/src/index.ts
  packages/services/src/hooks/index.ts
  packages/services/src/hooks/useMoneyDisplay.ts
  packages/utils/src/money/formatAmount.ts
  packages/utils/src/money/parsedAmount.ts
  packages/utils/src/money/types.ts
Labels: C: UI/UX 🚽

#439 Added more stories and refactored related components.
  packages/components/src/Divider/index.stories.tsx
  packages/components/src/InlineEdit/InlineEditInput/InlineEditInfinity.tsx
  packages/components/src/InlineEdit/InlineEditInput/InlineEditText.tsx
  packages/components/src/InlineEdit/InlineEditInput/InlineEditTextarea.tsx
  packages/components/src/InlineEdit/InlineEditInput/index.stories.tsx
  packages/components/src/InlineEdit/InlineEditInput/index.tsx
  packages/components/src/InlineEdit/InlineEditInput/types.ts
  packages/components/src/InputWithLabel/index.stories.tsx
  packages/components/src/InputWithLabel/index.tsx
  packages/components/src/InputWithLabel/style.scss
  packages/components/src/ItemCount/index.stories.tsx
  packages/components/src/MoneyInputWrapper/MoneyInputWrapper.tsx
  packages/components/src/MoneyInputWrapper/index.stories.tsx
  packages/components/src/MoneyInputWrapper/index.ts
  packages/components/src/MoneyInputWrapper/style.scss
  packages/components/src/MoneyInputWrapper/types.ts
  packages/components/src/index.ts
  packages/services/src/config/types.ts
  packages/tpc/src/buttons/TicketPriceCalculatorButton.tsx
  packages/tpc/src/fields/BaseNumberInputField.tsx
  packages/tpc/src/fields/MoneyInputWithConfig.tsx
  packages/tpc/src/fields/TicketPriceField.tsx
  packages/tpc/src/fields/index.ts
  packages/tpc/src/inputs/PriceAmountInput.tsx
  packages/tpc/src/inputs/PriceDescriptionInput.tsx
  packages/utils/src/function/index.ts
  packages/utils/src/function/isFunc.ts
  packages/utils/src/function/noop.ts
Labels: C: UI/UX 🚽

#443 Trash related tickets when a date is trashed
  domains/eventEditor/src/ui/datetimes/datesList/actionsMenu/dropdown/useActions.ts
  domains/eventEditor/src/ui/tickets/ticketsList/bulkEdit/delete/useOnDelete.ts
  packages/edtr-services/src/apollo/mutations/datetimes/index.ts
  packages/edtr-services/src/apollo/mutations/datetimes/useBulkDeleteDatetimes.ts
  packages/edtr-services/src/apollo/mutations/datetimes/useDeleteRelatedTickets.ts
  packages/edtr-services/src/apollo/mutations/tickets/useBulkDeleteTickets.ts
Labels: C: UI/UX 🚽, C: data systems 🗑, T: bug 🐞

#447 Fix stale entities in REM optimistic responses
  packages/components/src/EntityList/EntityCardList.tsx
  packages/components/src/EntityList/EntityTable.tsx
Labels: C: UI/UX 🚽, C: data systems 🗑, T: bug 🐞

#448 Fix table view entity creation
  domains/eventEditor/src/ui/datetimes/datesList/tableView/useBodyRowGenerator.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/tableView/useBodyRowGenerator.tsx
  packages/data/src/queries/index.ts
  packages/data/src/queries/useLazyCacheQuery.ts
  packages/edtr-services/src/apollo/mutations/datetimes/useOnCreateDatetime.ts
  packages/edtr-services/src/apollo/mutations/datetimes/useOnDeleteDatetime.ts
  packages/edtr-services/src/apollo/mutations/datetimes/useOnUpdateDatetime.ts
  packages/edtr-services/src/apollo/mutations/datetimes/useOptimisticResponse.ts
  packages/edtr-services/src/apollo/mutations/tickets/useOnCreateTicket.ts
  packages/edtr-services/src/apollo/mutations/tickets/useOnDeleteTicket.ts
  packages/edtr-services/src/apollo/mutations/tickets/useOnUpdateTicket.ts
  packages/edtr-services/src/apollo/mutations/tickets/useOptimisticResponse.ts
  packages/edtr-services/src/apollo/queries/datetimes/index.ts
  packages/edtr-services/src/apollo/queries/datetimes/useLazyDatetime.ts
  packages/edtr-services/src/apollo/queries/tickets/index.ts
  packages/edtr-services/src/apollo/queries/tickets/useLazyTicket.ts
  packages/predicates/src/common/index.ts
  packages/predicates/src/common/misc.ts
Labels: D: EDTR ✏️, T: bug 🐞

#442 Added more stories that cover chakra adapters.
  .prettierrc.js
  domains/eventEditor/src/ui/datetimes/datesList/actionsMenu/DateActionsMenu.tsx
  domains/eventEditor/src/ui/datetimes/datesList/actionsMenu/dropdown/DateMainMenu.tsx
  domains/eventEditor/src/ui/datetimes/datesList/cardView/DateCard.tsx
  domains/eventEditor/src/ui/datetimes/datesList/cardView/Details.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/actionsMenu/TicketActionsMenu.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/cardView/TicketCard.tsx
  packages/adapters/src/Menu/MenuItem/MenuItem.tsx
  packages/adapters/src/Menu/MenuItem/index.ts
  packages/adapters/src/Menu/MenuItem/types.ts
  packages/adapters/src/Menu/MenuList/MenuList.tsx
  packages/adapters/src/Menu/MenuList/index.ts
  packages/adapters/src/Menu/MenuList/types.ts
  packages/adapters/src/Menu/MenuToggle/MenuToggle.tsx
  packages/adapters/src/Menu/MenuToggle/index.ts
  packages/adapters/src/Menu/MenuToggle/types.ts
  packages/adapters/src/Menu/index.ts
  packages/adapters/src/Modal/types.ts
  packages/adapters/src/NumberInput/NumberInput.tsx
  packages/adapters/src/NumberInput/types.ts
  packages/adapters/src/Popover/types.ts
  packages/adapters/src/Radio/RadioGroup/RadioGroup.tsx
  packages/adapters/src/Radio/RadioGroup/index.ts
  packages/adapters/src/Radio/RadioGroup/types.ts
  packages/adapters/src/Radio/index.ts
  packages/adapters/src/Select/types.ts
  packages/adapters/src/index.ts
  packages/components/src/Container/Row.tsx
  packages/components/src/DropdownMenu/DropdownMenu.tsx
  packages/components/src/DropdownMenu/DropdownMenuItem.tsx
  packages/components/src/DropdownMenu/DropdownMenuList.tsx
  packages/components/src/DropdownMenu/DropdownToggle/index.tsx
  packages/components/src/DropdownMenu/DropdownToggle/styles.scss
  packages/components/src/DropdownMenu/index.stories.tsx
  packages/components/src/DropdownMenu/index.ts
  packages/components/src/EntityPaperFrame/EntityPaperFrame.tsx
  packages/components/src/Modal/Modal.tsx
  packages/components/src/Modal/index.stories.tsx
  packages/components/src/NumberInput/index.stories.tsx
  packages/components/src/NumberInput/index.tsx
  packages/components/src/NumberInput/style.scss
  packages/components/src/Pagination/types.ts
  packages/components/src/Popover/Popover.tsx
  packages/components/src/Popover/PopoverForm/PopoverForm.tsx
  packages/components/src/Popover/PopoverForm/index.ts
  packages/components/src/Popover/PopoverForm/types.ts
  packages/components/src/Popover/index.stories.tsx
  packages/components/src/Popover/index.ts
  packages/components/src/PopoverForm/index.ts
  packages/components/src/Select/index.stories.tsx
  packages/components/src/index.ts
  packages/form/src/adapters/Number.tsx
  packages/form/src/adapters/Select.tsx
  packages/form/src/types.ts
Labels: C: UI/UX 🚽

#452 Fix Event Registration meta inputs
  domains/eventEditor/src/ui/EventRegistrationOptions/ActiveStatus.tsx
  domains/eventEditor/src/ui/EventRegistrationOptions/AltRegPage.tsx
  domains/eventEditor/src/ui/EventRegistrationOptions/DefaultRegistrationStatus.tsx
  domains/eventEditor/src/ui/EventRegistrationOptions/Donations.tsx
  domains/eventEditor/src/ui/EventRegistrationOptions/EventManager.tsx
  domains/eventEditor/src/ui/EventRegistrationOptions/EventPhoneNumber.tsx
  domains/eventEditor/src/ui/EventRegistrationOptions/MaxRegistrations.tsx
  domains/eventEditor/src/ui/EventRegistrationOptions/TicketSelector.tsx
  packages/components/src/Grid/Grid.tsx
  packages/components/src/Grid/GridItem.tsx
  packages/components/src/Grid/index.ts
  packages/components/src/Grid/types.ts
Labels: D: EDTR ✏️, T: bug 🐞
