Repository eventespresso/barista, pull requests merged in 2020-12, with the labels that each got.

#459 Improve ModalWithAlert component and its usage
  domains/eventEditor/src/ui/ticketAssignmentsManager/components/TicketAssignmentsManagerModal/buttons/CloseModal.tsx
  domains/eventEditor/src/ui/ticketAssignmentsManager/components/TicketAssignmentsManagerModal/index.tsx
  packages/components/src/Confirm/useConfirmationDialog.tsx
  packages/components/src/Modal/Modal.tsx
  packages/components/src/Modal/ModalWithAlert.tsx
  packages/components/src/Modal/index.ts
  packages/components/src/Modal/modalCloseButtonProps/index.ts
  packages/components/src/Modal/modalCloseButtonProps/styles.scss
  packages/components/src/Modal/styles.scss
  packages/components/src/Modal/types.ts
  packages/components/src/SimpleTextEditorModal/index.tsx
  packages/tpc/src/components/TicketPriceCalculatorModal.tsx
Labels: C: UI/UX 🚽, D: Packages 📦, T: bug 🐞

#460 Disable last entity deletion
  domains/eventEditor/src/ui/datetimes/datesList/actionsMenu/dropdown/DateMainMenu.tsx
  domains/eventEditor/src/ui/datetimes/datesList/actionsMenu/dropdown/useActions.ts
  domains/eventEditor/src/ui/tickets/ticketsList/actionsMenu/dropdown/TicketMainMenu.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/actionsMenu/dropdown/useActions.ts
  packages/components/src/EntityActionsMenu/entityMenuItems/types.ts
Labels: C: data systems 🗑, D: EDTR ✏️, T: bug 🐞

#461 Prettify workflow dispatch
  .github/workflows/prettify.yml
Labels: C: build-process 🔨, T: code-quality 👾

#462 Added and configured husky and lint-staged.
  .husky/.gitignore
  .husky/pre-commit
  package.json
  yarn.lock
Labels: C: build-process 🔨

#464 Disable pre-commit hook on CI.
  .husky/pre-commit
Labels: C: build-process 🔨

#463 Trigger prettier manual action
  .github/workflows/pr-checks.yml
  .github/workflows/prettify.yml
  config/getHttpsConfig.js
  config/jest/cssTransform.js
  config/jest/fileTransform.js
  config/modules.js
  config/pnpTs.js
  config/webpackDevServer.config.js
  package.json
  packages/icons/.svgrrc.js
  packages/icons/scripts/template.js
  packages/react-exit-modal-typeform/src/index.js
  packages/react-exit-modal-typeform/src/modal/button.js
  packages/react-exit-modal-typeform/src/modal/index.js
  packages/react-exit-modal-typeform/src/modal/optionsview.js
  packages/react-exit-modal-typeform/src/modal/typeFormEmbed.js
  scripts/test.js
Labels: C: build-process 🔨, T: code-quality 👾

#468 Fix TAM validations
  domains/eventEditor/src/ui/ticketAssignmentsManager/components/ModalContainer.tsx
  domains/eventEditor/src/ui/ticketAssignmentsManager/components/useInvalidDataAlert.ts
  domains/eventEditor/src/ui/ticketAssignmentsManager/constants.ts
  domains/eventEditor/src/ui/ticketAssignmentsManager/data/useAssignmentManager.ts
  domains/eventEditor/src/ui/ticketAssignmentsManager/data/useDataStateManager.ts
  domains/eventEditor/src/ui/ticketAssignmentsManager/data/useFilteredDatetimes.ts
  domains/eventEditor/src/ui/ticketAssignmentsManager/data/useFilteredTickets.ts
  domains/eventEditor/src/ui/ticketAssignmentsManager/data/useOnSubmitAssignments.ts
  domains/eventEditor/src/ui/ticketAssignmentsManager/data/useValidation.ts
  packages/components/src/Switch/Switch.tsx
  packages/components/src/Switch/types.ts
Labels: C: UI/UX 🚽, D: EDTR ✏️, T: task 🧹

#469 Update Barista Repo README
  LICENSE
  LICENSE.md
  README.md
Labels: C: documentation 📑, D: Packages 📦, T: task 🧹

#467 SB stories review
  package.json
  packages/adapters/src/Badge/Badge.tsx
  packages/adapters/src/Badge/index.ts
  packages/adapters/src/Badge/types.ts
  packages/adapters/src/Banner/Banner.tsx
  packages/adapters/src/Banner/types.ts
  packages/adapters/src/index.ts
  packages/components/src/Banner/Banner.tsx
  packages/components/src/Banner/ErrorIndicator/index.stories.tsx
  packages/components/src/Banner/ErrorIndicator/index.tsx
  packages/components/src/Banner/ErrorIndicator/style.scss
  packages/components/src/Button/IconButton/style.scss
  packages/components/src/Button/Link/style.scss
  packages/components/src/EntityList/RegistrationsLink/style.scss
  packages/components/src/Heading/index.tsx
  packages/components/src/Heading/style.scss
  packages/components/src/InlineEdit/InlineEditInput/style.scss
  packages/components/src/ItemCount/index.tsx
  packages/components/src/ItemCount/types.ts
  packages/components/src/LoadingNotice/index.stories.tsx
  packages/components/src/LoadingNotice/types.ts
  packages/components/src/NewEntity/NewEntityOption.tsx
  packages/components/src/Select/Select.tsx
  packages/components/src/Select/style.scss
  packages/components/src/text-input/InputWithLabel/style.scss
  packages/form/src/FormSectionSidebar.tsx
  packages/form/src/styles.scss
  packages/icons/src/icons/AppstoreFilled.tsx
  packages/icons/src/icons/ArrowDownAlt.tsx
  packages/icons/src/icons/Calculator.tsx
  packages/icons/src/icons/Calendar.tsx
  packages/icons/src/icons/Copy.tsx
  packages/icons/src/icons/EditorOlRtl.tsx
  packages/icons/src/icons/Filter.tsx
  packages/icons/src/icons/Groups.tsx
  packages/icons/src/icons/Link.tsx
  packages/icons/src/icons/More.tsx
  packages/icons/src/icons/TableView.tsx
  packages/icons/src/icons/Ticket.tsx
  packages/icons/src/icons/Unlink.tsx
  packages/icons/src/icons/index.tsx
  packages/icons/src/svg/appstoreFilled.svg
  packages/icons/src/svg/arrow-down-alt.svg
  packages/styles/src/_base-styles.scss
  packages/styles/src/mixins/_base-styles.scss
  packages/styles/src/mixins/_buttons.scss
  packages/styles/src/mixins/_index.scss
  packages/tpc/src/buttons/PriceModifierActions.tsx
  yarn.lock
Labels: C: UI/UX 🚽, D: Packages 📦, P3: med priority 😐, S:10 APPROVED ✔️, T: code-quality 👾

#475 WP user integration domain initialization
  domains/eventEditor/src/ui/tickets/ticketForm/useTicketFormConfig.tsx
  domains/wpPluginsPage/src/types.ts
  domains/wpUser/package.json
  domains/wpUser/src/WpUserInit.tsx
  domains/wpUser/src/hooks/index.ts
  domains/wpUser/src/hooks/useWpUserInitialization.ts
  domains/wpUser/src/index.ts
  domains/wpUser/src/services/apollo/index.ts
  domains/wpUser/src/services/apollo/initialization/index.ts
  domains/wpUser/src/services/apollo/initialization/useCacheRehydration.ts
  domains/wpUser/src/services/apollo/initialization/useCacheRehydrationData.ts
  domains/wpUser/src/types.ts
  domains/wpUser/tsconfig.json
  packages/edtr-services/src/apollo/index.ts
  packages/edtr-services/src/apollo/meta/index.ts
  packages/edtr-services/src/apollo/meta/useTicketsMeta.ts
  packages/services/src/index.ts
  packages/services/src/meta/index.ts
  packages/services/src/meta/types.ts
  packages/services/src/meta/useEntityMeta.ts
  types/global.ts
Labels: C: data systems 🗑, D: Packages 📦, T: feature request 🙏

#477 Chakra v1: cleanup individual package upgrade.
  domains/eventEditor/src/ui/datetimes/datesList/bulkEdit/actions/Actions.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/bulkEdit/actions/Actions.tsx
  domains/rem/src/ui/Tickets/TicketTemplate.tsx
  domains/rem/src/ui/Tickets/actions/Edit.tsx
  domains/rem/src/ui/recurrence/PatternEditor.tsx
  domains/wpPluginsPage/src/exitSurvey/ExitSurvey.tsx
  domains/wpPluginsPage/src/exitSurvey/Popup.tsx
  package.json
  packages/adapters/package.json
  packages/adapters/src/Grid/Grid.tsx
  packages/adapters/src/Grid/types.ts
  packages/adapters/src/Icon/Icon.tsx
  packages/adapters/src/Icon/types.ts
  packages/adapters/src/InputWithLabel/InputWithLabel.tsx
  packages/adapters/src/Popover/Popover.tsx
  packages/adapters/src/Popover/types.ts
  packages/adapters/src/Select/Select.tsx
  packages/adapters/src/Select/types.ts
  packages/adapters/src/TextInput/TextInput.tsx
  packages/adapters/src/TextInput/types.ts
  packages/adapters/src/Textarea/Textarea.tsx
  packages/adapters/src/Textarea/types.ts
  packages/adapters/src/Tooltip/Tooltip.tsx
  packages/adapters/src/Tooltip/types.ts
  packages/components/src/Confirm/useConfirmationDialog.tsx
  packages/components/src/EditDateRangeButton/index.tsx
  packages/components/src/Legend/CollapsibleLegend.tsx
  packages/components/src/Modal/index.stories.tsx
  packages/components/src/Popover/PopoverForm/PopoverForm.tsx
  packages/components/src/Popover/index.stories.tsx
  packages/components/src/Select/Select.tsx
  packages/components/src/Select/style.scss
  packages/components/src/SimpleTextEditorModal/index.tsx
  packages/components/src/Textarea/index.stories.tsx
  packages/components/src/Tooltip/ClickableIconWithTooltip/index.tsx
  packages/components/src/text-input/index.stories.tsx
  yarn.lock
Labels: C: UI/UX 🚽

#476 TAM: Legend.
  domains/eventEditor/src/ui/EventDescription.tsx
  domains/eventEditor/src/ui/EventRegistrationOptions/Donations.tsx
  domains/eventEditor/src/ui/EventRegistrationOptions/TicketSelector.tsx
  domains/eventEditor/src/ui/EventRegistrationOptions/index.tsx
  domains/eventEditor/src/ui/EventRegistrationOptions/style.scss
  domains/eventEditor/src/ui/datetimes/datesList/config.ts
  domains/eventEditor/src/ui/styles.scss
  domains/eventEditor/src/ui/ticketAssignmentsManager/components/TicketAssignmentsManagerModal/config.ts
  domains/eventEditor/src/ui/ticketAssignmentsManager/components/TicketAssignmentsManagerModal/index.tsx
  domains/eventEditor/src/ui/ticketAssignmentsManager/components/table/BodyCell.tsx
  domains/eventEditor/src/ui/ticketAssignmentsManager/components/table/getCellIcon.tsx
  domains/eventEditor/src/ui/ticketAssignmentsManager/components/table/getRelationIcon/index.tsx
  domains/eventEditor/src/ui/ticketAssignmentsManager/components/table/getRelationIcon/styles.scss
  domains/eventEditor/src/ui/ticketAssignmentsManager/components/table/styles.scss
  domains/eventEditor/src/ui/ticketAssignmentsManager/components/table/useGetBodyRows.tsx
  domains/eventEditor/src/ui/ticketAssignmentsManager/types.ts
  domains/eventEditor/src/ui/tickets/ticketsList/bulkEdit/prices/buttons/FooterButtons.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/config.ts
  domains/rem/src/ui/MultiStep/ContentFooter.tsx
  domains/rem/src/ui/generatedDates/GeneratedDates.tsx
  domains/rem/src/ui/generatedDates/config.ts
  domains/rem/src/ui/generatedDates/types.ts
  domains/rem/src/ui/generatedDates/utils.ts
  domains/rem/src/ui/recurrence/PatternEditor.tsx
  package.json
  packages/components/src/Button/ButtonRow/index.tsx
  packages/components/src/Button/ButtonRow/style.scss
  packages/components/src/Button/ButtonRow/types.ts
  packages/components/src/Button/style.scss
  packages/components/src/DescriptionList/DescriptionList.tsx
  packages/components/src/EntityList/EntityList.tsx
  packages/components/src/EntityList/filterBar/EntityListFilterBar.tsx
  packages/components/src/EntityList/filterBar/types.ts
  packages/components/src/EntityList/style.scss
  packages/components/src/EntityList/types.ts
  packages/components/src/Grid/GridItem.tsx
  packages/components/src/Grid/style.scss
  packages/components/src/Heading/style.scss
  packages/components/src/Legend/CollapsibleLegend.tsx
  packages/components/src/Legend/Legend.tsx
  packages/components/src/Legend/style.scss
  packages/components/src/Legend/types.ts
  packages/components/src/Pagination/Pagination.tsx
  packages/components/src/Pagination/PerPage.tsx
  packages/components/src/Pagination/style.scss
  packages/components/src/Select/style.scss
  packages/form/src/styles.scss
  packages/styles/src/variables/_base-colors.scss
  yarn.lock
Labels: C: UI/UX 🚽

#481 Chakra pre-upgrade defensive checks
  domains/eventEditor/src/ui/EventRegistrationOptions/style.scss
  packages/adapters/src/Button/Button.tsx
  packages/adapters/src/InlineEdit/InlineEdit.tsx
  packages/adapters/src/InlineEdit/InlineEditInput.tsx
  packages/adapters/src/InlineEdit/index.ts
  packages/components/src/InlineEdit/InlineEditCurrency/InlineEditCurrency.tsx
  packages/components/src/InlineEdit/InlineEditCurrency/types.ts
  packages/components/src/InlineEdit/InlineEditInput/InlineEditText.tsx
  packages/components/src/InlineEdit/InlineEditInput/InlineEditTextarea.tsx
  packages/components/src/TabbableText/index.tsx
  packages/components/src/TabbableText/style.scss
Labels: C: UI/UX 🚽

#483 Deps upgrade prior to chakra v1 upgrade
  .eslintrc.json
  babel.config.js
  domains/eventEditor/src/services/context/EventEditorContext/ContextProviders.test.tsx
  domains/wpPluginsPage/package.json
  package.json
  packages/adapters/package.json
  packages/components/src/Switch/Switch.tsx
  packages/edtr-services/src/context/test/ContextProvider.test.tsx
  packages/react-exit-modal-typeform/package.json
  packages/utils/src/function/noop.ts
  yarn.lock
Labels: C: build-process 🔨

#488 Wire up WP User DOM data
  domains/wpUser/src/hooks/capabilityOptions.ts
  domains/wpUser/src/hooks/useCapabilityOptions.ts
  domains/wpUser/src/hooks/useTicketFormInitialValues.ts
  domains/wpUser/src/hooks/useTicketFormSections.ts
  domains/wpUser/src/hooks/useTicketMutationAction.ts
  domains/wpUser/src/types.ts
  packages/utils/src/list/index.ts
Labels: C: UI/UX 🚽, D: EDTR ✏️, T: enhancement ✨

#489 Deploy WP User assets
  .github/workflows/deploy-master.yml
  package.json
Labels: C: assets 💎, C: automation & deployment ⚙️, D: EDTR ✏️, T: task 🧹

#492 Fix switch and radio components
  domains/eventEditor/src/ui/EventDescription.tsx
  domains/eventEditor/src/ui/EventRegistrationOptions/Donations.tsx
  domains/eventEditor/src/ui/EventRegistrationOptions/TicketSelector.tsx
  domains/eventEditor/src/ui/ticketAssignmentsManager/filters/controls/ShowExpiredTicketsControl.tsx
  domains/eventEditor/src/ui/ticketAssignmentsManager/filters/controls/ShowTrashedDatesControl.tsx
  domains/eventEditor/src/ui/ticketAssignmentsManager/filters/controls/ShowTrashedTicketsControl.tsx
  packages/adapters/src/FormLabel/FormLabel.tsx
  packages/adapters/src/FormLabel/types.ts
  packages/adapters/src/Switch/Switch.tsx
  packages/adapters/src/Switch/index.ts
  packages/adapters/src/Switch/types.ts
  packages/adapters/src/index.ts
  packages/components/src/Switch/LICENSE
  packages/components/src/Switch/Switch.tsx
  packages/components/src/Switch/style.scss
  packages/components/src/Switch/types.ts
  packages/components/src/withLabel/style.scss
  packages/components/src/withLabel/withLabel.tsx
  packages/form/src/adapters/Switch.tsx
  packages/form/src/renderers/FieldRenderer.tsx
Labels: C: accessibility ♿, D: Packages 📦, T: bug 🐞

#493 Add withDebounce HOC
  domains/eventEditor/src/ui/EventRegistrationOptions/Donations.tsx
  domains/eventEditor/src/ui/EventRegistrationOptions/TicketSelector.tsx
  package.json
  packages/adapters/src/index.ts
  packages/adapters/src/types.ts
  packages/components/src/Switch/Switch.tsx
  packages/components/src/Switch/types.ts
  packages/components/src/index.ts
  packages/components/src/withDebounce/index.ts
  packages/components/src/withDebounce/types.ts
  packages/components/src/withDebounce/withDebounce.tsx
  packages/edtr-services/package.json
  yarn.lock
Labels: C: assets 💎, D: Packages 📦, T: enhancement ✨

#494 Only Remove Previous Production Build Assets
  tools/deploy.sh
Labels: C: automation & deployment ⚙️, D: WP User Add-on 👤, P2: HIGH priority 😮, S7: code review 🔎, T: bug 🐞

#496 Fix HOCs
  packages/adapters/src/Button/Button.tsx
  packages/adapters/src/Button/IconButton.tsx
  packages/components/src/Button/Button.tsx
  packages/components/src/Button/IconButton/index.tsx
  packages/components/src/Button/IconButton/types.ts
  packages/components/src/Button/Link/index.stories.tsx
  packages/components/src/Button/Link/index.tsx
  packages/components/src/Button/types.ts
  packages/components/src/DropdownMenu/types.ts
  packages/components/src/EntityList/RegistrationsLink/index.tsx
  packages/components/src/SearchInput/SearchInput.tsx
  packages/components/src/Select/types.ts
  packages/components/src/Stepper/buttons/Next.tsx
  packages/components/src/Stepper/buttons/Previous.tsx
  packages/components/src/Switch/types.ts
  packages/components/src/Tag/types.ts
  packages/components/src/withDebounce/withDebounce.tsx
  packages/components/src/withLabel/types.ts
  packages/components/src/withLabel/withLabel.tsx
  packages/components/src/withTooltip/types.ts
  packages/components/src/withTooltip/withTooltip.tsx
Labels: C: assets 💎, D: EDTR ✏️, D: Packages 📦, T: bug 🐞, T: code-quality 👾

#487 REM Editor Layout Fixes
  domains/eventEditor/src/ui/datetimes/dateForm/multiStep/ContentBody.tsx
  domains/eventEditor/src/ui/tickets/ticketForm/multiStep/ContentBody.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/bulkEdit/prices/buttons/FooterButtons.tsx
  domains/rem/src/ui/MultiStep/ContentFooter.tsx
  domains/rem/src/ui/Tickets/multiStep/ContentBody.tsx
  domains/rem/src/ui/Tickets/useTicketFormConfig.ts
  domains/rem/src/ui/datetimeDetails/useDateFormConfig.ts
  package.json
  packages/adapters/src/FormLabel/FormLabel.tsx
  packages/components/src/Button/ButtonRow/style.scss
  packages/components/src/CurrencyDisplay/index.tsx
  packages/components/src/Select/style.scss
  packages/components/src/bulkEdit/details/styles.scss
  packages/form/src/EspressoForm.tsx
  packages/form/src/RenderFields.tsx
  packages/form/src/RenderFields/RenderField.tsx
  packages/form/src/RenderFields/index.tsx
  packages/form/src/RenderFields/styles.scss
  packages/form/src/RenderSection.tsx
  packages/form/src/TestForm.tsx
  packages/form/src/config.tsx
  packages/form/src/fields/Group/index.tsx
  packages/form/src/fields/Group/styles.scss
  packages/form/src/index.ts
  packages/form/src/renderers/FormRenderer.tsx
  packages/form/src/stories/TestForm.tsx
  packages/form/src/stories/config.tsx
  packages/form/src/stories/index.stories.tsx
  packages/form/src/styles.scss
  packages/form/src/types.ts
  packages/services/src/config/useConfigData.ts
  packages/tpc/src/components/TicketPriceCalculator.tsx
  yarn.lock
Labels: C: UI/UX 🚽

#499 Increase Width of REM Editor Occurrences Input on Pattern Editor Step.
  packages/adapters/src/NumberInput/types.ts
  packages/components/src/NumberInput/index.stories.tsx
  packages/components/src/NumberInput/index.tsx
  packages/components/src/NumberInput/style.scss
  packages/rrule-generator/src/components/End/After.tsx
  packages/rrule-generator/src/components/styles.scss
Labels: C: UI/UX 🚽, D: REM ♺

#500 Improve REM rRule validation
  domains/rem/src/data/index.ts
  domains/rem/src/data/useGenerateDates.ts
  domains/rem/src/data/useRRuleSetFromState.ts
  domains/rem/src/ui/MultiStep/SubmitButton.tsx
  domains/rem/src/ui/generatedDates/GeneratedDates.tsx
  domains/rem/src/ui/generatedDates/RDate.tsx
  domains/rem/src/ui/generatedDates/Warning.tsx
  domains/rem/src/ui/generatedDates/index.ts
  domains/rem/src/ui/rRule/PatternEditor.tsx
  domains/rem/src/ui/rRule/RRuleEditor.tsx
  domains/rem/src/ui/rRule/types.ts
  domains/rem/src/ui/rRule/useRRuleLimits.ts
  domains/rem/src/ui/recurrence/PatternEditor.tsx
  domains/rem/src/utils/index.ts
  domains/rem/src/utils/misc.ts
  domains/rem/src/utils/useIsCountCapped.ts
  packages/components/src/withDebounce/types.ts
  packages/components/src/withDebounce/withDebounce.tsx
  packages/dates/src/styles.scss
  packages/hooks/src/usePagination/types.ts
  packages/hooks/src/usePagination/usePagination.ts
  packages/hooks/src/usePagination/usePaginationReducer.ts
  packages/rrule-generator/src/components/End/After.tsx
  packages/rrule-generator/src/components/End/OnDate.tsx
  packages/rrule-generator/src/components/End/index.tsx
  packages/rrule-generator/src/components/OnDate/index.tsx
  packages/rrule-generator/src/components/RRuleGenerator/index.tsx
  packages/rrule-generator/src/components/Repeat/index.tsx
  packages/rrule-generator/src/types.ts
Labels: C: UI/UX 🚽, D: REM ♺, T: enhancement ✨

#508 Improve InlineSelect
  domains/eventEditor/src/ui/EventRegistrationOptions/EventManager.tsx
  packages/components/src/Select/InlineSelect.tsx
  packages/components/src/Select/Select.tsx
  packages/components/src/Select/style.scss
  packages/components/src/Select/types.ts
  packages/components/src/withDebounce/withDebounce.tsx
  packages/edtr-services/src/apollo/mutations/events/useOptimisticResponse.ts
Labels: C: UI/UX 🚽, D: Packages 📦, T: enhancement ✨

#509 Separate Lint, Build and Test into Separate Jobs
  .github/workflows/pr-checks.yml
  package.json
Labels: C: automation & deployment ⚙️, C: build-process 🔨, D: Packages 📦, T: task 🧹

#511 remove tiny mce conditionally & directly
  domains/eventEditor/src/ui/EventDescription.tsx
  domains/eventEditor/src/ui/styles.scss
Labels: C: UI/UX 🚽, D: EDTR ✏️, P2: HIGH priority 😮, S7: code review 🔎, T: bug 🐞

#516 Rich Text Editor Style Enhancement
  packages/components/src/Button/IconButton/index.stories.tsx
  packages/components/src/Button/IconButton/index.tsx
  packages/components/src/Button/IconButton/style.scss
  packages/components/src/Button/IconButton/types.ts
  packages/components/src/Button/style.scss
  packages/components/src/EditDateRangeButton/index.tsx
  packages/rich-text-editor/src/components/AdvancedTextEditor/AdvancedTextEditor.tsx
  packages/rich-text-editor/src/components/RichTextEditor/RichTextEditor.tsx
  packages/rich-text-editor/src/components/RichTextEditor/index.ts
  packages/rich-text-editor/src/components/RichTextEditor/style.scss
  packages/rich-text-editor/src/components/SimpleTextEditor/SimpleTextEditor.tsx
  packages/rich-text-editor/src/components/SimpleTextEditor/toolbar.ts
  packages/rich-text-editor/src/components/index.stories.tsx
Labels: C: UI/UX 🚽, D: EDTR ✏️, T: enhancement ✨

#514 EDTR Reg Options Meta Box Enhancements
  domains/eventEditor/src/ui/EventRegistrationOptions/ActiveStatus.tsx
  domains/eventEditor/src/ui/EventRegistrationOptions/AltRegPage.tsx
  domains/eventEditor/src/ui/EventRegistrationOptions/DefaultRegistrationStatus.tsx
  domains/eventEditor/src/ui/EventRegistrationOptions/Donations.tsx
  domains/eventEditor/src/ui/EventRegistrationOptions/EventManager.tsx
  domains/eventEditor/src/ui/EventRegistrationOptions/EventPhoneNumber.tsx
  domains/eventEditor/src/ui/EventRegistrationOptions/MaxRegistrations.tsx
  domains/eventEditor/src/ui/EventRegistrationOptions/TicketSelector.tsx
  domains/eventEditor/src/ui/EventRegistrationOptions/index.tsx
  domains/eventEditor/src/ui/EventRegistrationOptions/style.scss
  domains/eventEditor/src/ui/EventRegistrationOptions/types.ts
  domains/eventEditor/src/ui/EventRegistrationOptions/withData.tsx
  packages/components/src/Grid/Grid.tsx
  packages/components/src/Grid/GridItem.tsx
  packages/components/src/Grid/style.scss
  packages/components/src/Grid/types.ts
  packages/constants/src/datetimeStatus.ts
  packages/constants/src/index.ts
  packages/edtr-services/src/apollo/mutations/events/types.ts
  packages/edtr-services/src/apollo/mutations/events/useOptimisticResponse.ts
  packages/edtr-services/src/apollo/queries/events/queries.ts
  packages/edtr-services/src/apollo/queries/events/test/data.ts
  packages/edtr-services/src/apollo/types.ts
  packages/helpers/src/datetimes/statusBgColorClassName.ts
  packages/ioc/src/index.ts
  packages/styles/src/mixins/_breakpoints.scss
  packages/styles/src/root/_entity-status.scss
  packages/styles/src/root/_shadows.scss
Labels: C: UI/UX 🚽, D: EDTR ✏️

#520 Check if postdivrich exists before removing.
  domains/eventEditor/src/ui/EventDescription.tsx
Labels: T: bug 🐞

#521 Fix REM console warnings
  domains/eventEditor/src/ui/datetimes/datesList/bulkEdit/actions/Actions.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/bulkEdit/actions/Actions.tsx
  packages/components/src/CurrencyDisplay/index.tsx
  packages/components/src/bulkEdit/BulkActions.tsx
  packages/edtr-services/src/apollo/mutations/datetimes/useOptimisticResponse.ts
  packages/edtr-services/src/apollo/mutations/tickets/useOptimisticResponse.ts
Labels: C: assets 💎, D: REM ♺, T: bug 🐞

#522 Consolidated btn vars and fixed grid small item.
  packages/components/src/Button/IconButton/style.scss
  packages/components/src/Button/style.scss
  packages/components/src/Grid/style.scss
  packages/rich-text-editor/src/components/RichTextEditor/style.scss
  packages/styles/src/root/_btn.scss
  packages/styles/src/root/_index.scss
Labels: C: UI/UX 🚽

#524 RTE and WP Media integration
  packages/icons/src/icons/Image.tsx
  packages/icons/src/icons/index.tsx
  packages/icons/src/svg/image.svg
  packages/rich-text-editor/src/components/AdvancedTextEditor/AdvancedTextEditor.tsx
  packages/rich-text-editor/src/components/AdvancedTextEditor/toolbar.ts
  packages/rich-text-editor/src/components/toolbarButtons/WPMedia.tsx
  packages/rich-text-editor/src/components/toolbarButtons/index.tsx
  packages/rich-text-editor/src/components/toolbarButtons/types.ts
  types/global.ts
Labels: C: assets 💎, D: Packages 📦, T: enhancement ✨

#528 Persist Event Description
  domains/eventEditor/src/ui/EventDescription.tsx
  domains/eventEditor/src/ui/EventRegistrationOptions/EventManager.tsx
  packages/components/src/index.ts
  packages/components/src/rich-text-editor/AdvancedTextEditor.tsx
  packages/components/src/rich-text-editor/index.ts
  packages/rich-text-editor/src/components/RichTextEditor/RichTextEditor.tsx
  packages/rich-text-editor/src/components/RichTextEditor/types.ts
Labels: C: data systems 🗑, D: EDTR ✏️, T: task 🧹

#527 Registration Options UI Enhancements
  .eslintrc.json
  domains/eventEditor/src/ui/EventRegistrationOptions/ActiveStatus.tsx
  domains/eventEditor/src/ui/EventRegistrationOptions/AltRegPage.tsx
  domains/eventEditor/src/ui/EventRegistrationOptions/DefaultRegistrationStatus.tsx
  domains/eventEditor/src/ui/EventRegistrationOptions/Donations.tsx
  domains/eventEditor/src/ui/EventRegistrationOptions/EventManager.tsx
  domains/eventEditor/src/ui/EventRegistrationOptions/EventPhoneNumber.tsx
  domains/eventEditor/src/ui/EventRegistrationOptions/MaxRegistrations.tsx
  domains/eventEditor/src/ui/EventRegistrationOptions/TicketSelector.tsx
  domains/eventEditor/src/ui/EventRegistrationOptions/style.scss
  packages/components/src/Grid/GridItem.tsx
  packages/components/src/Grid/style.scss
  packages/components/src/Grid/types.ts
  packages/components/src/Heading/style.scss
  packages/components/src/InlineEdit/InlineEditInput/style.scss
  packages/components/src/Select/InlineSelect.tsx
  packages/components/src/Select/Select.tsx
  packages/components/src/Select/style.scss
  packages/components/src/SimpleTextEditorModal/index.tsx
  packages/styles/src/mixins/_breakpoints.scss
  packages/styles/src/root/_entity-status.scss
Labels: C: UI/UX 🚽, D: EDTR ✏️, P3: med priority 😐, S7: code review 🔎, T: enhancement ✨

#533 RTE text edit mode
  eslint/levels.js
  packages/rich-text-editor/src/components/AdvancedTextEditor/AdvancedTextEditor.tsx
  packages/rich-text-editor/src/components/AdvancedTextEditor/types.ts
  packages/rich-text-editor/src/components/RTEWithEditMode/RTEWithEditMode.tsx
  packages/rich-text-editor/src/components/RTEWithEditMode/index.ts
  packages/rich-text-editor/src/components/RTEWithEditMode/types.ts
  packages/rich-text-editor/src/components/SimpleTextEditor/SimpleTextEditor.tsx
  packages/rich-text-editor/src/components/SimpleTextEditor/types.ts
  packages/rich-text-editor/src/components/index.ts
Labels: C: assets 💎, D: Packages 📦, T: feature request 🙏

#534 Turn on no-param-reassign and fix related errors
  .eslintrc.json
  domains/eventEditor/src/ui/ticketAssignmentsManager/utils/index.ts
  packages/components/src/EspressoTable/TableDataCell.tsx
  packages/components/src/EspressoTable/TableHeaderCell.tsx
  packages/components/src/EspressoTable/TableRow.tsx
  packages/components/src/EspressoTable/utils.ts
  packages/edtr-services/src/apollo/mutations/useReorderEntities.ts
  packages/tpc/src/utils/basePriceCalculator.ts
  packages/utils/src/converters/toBoolean.ts
Labels: C: build-process 🔨, D: Packages 📦, T: code-quality 👾

#525 REM: CSS audit.
  .storybook/main.js
  domains/eventEditor/src/ui/datetimes/dateForm/multiStep/Container.tsx
  domains/eventEditor/src/ui/ticketAssignmentsManager/components/styles.scss
  domains/eventEditor/src/ui/tickets/ticketForm/multiStep/Container.tsx
  domains/rem/src/ui/Modal/styles.scss
  domains/rem/src/ui/MultiStep/ContentFooter.tsx
  domains/rem/src/ui/Tickets/multiStep/Container.tsx
  domains/rem/src/ui/datetimeDetails/DateTemplate.tsx
  domains/rem/src/ui/generatedDates/GeneratedDatetime.tsx
  domains/rem/src/ui/generatedDates/styles.scss
  domains/rem/src/ui/rRule/PatternEditor.tsx
  domains/rem/src/ui/rRule/RRuleEditor.tsx
  domains/rem/src/ui/rRule/style.scss
  domains/rem/src/ui/recurrence/PatternEditor.tsx
  domains/rem/src/ui/recurrence/index.stories.tsx
  domains/rem/src/ui/recurrence/index.ts
  domains/rem/src/ui/recurrence/style.scss
  packages/adapters/src/Radio/types.ts
  packages/components/src/Container/Container.tsx
  packages/components/src/Container/index.ts
  packages/components/src/Container/styles.scss
  packages/components/src/Container/types.ts
  packages/components/src/Divider/index.tsx
  packages/components/src/Divider/style.scss
  packages/components/src/EntityCard/SimpleEntityCard/styles.scss
  packages/components/src/EntityEditModal/Container.tsx
  packages/components/src/EntityEditModal/index.ts
  packages/components/src/EntityEditModal/types.ts
  packages/components/src/index.ts
  packages/components/src/types.ts
  packages/form/src/styles.scss
  packages/rrule-generator/src/components/End/Mode.tsx
  packages/rrule-generator/src/components/End/index.tsx
  packages/rrule-generator/src/components/RRuleGenerator/RRuleText.tsx
  packages/rrule-generator/src/components/RRuleGenerator/index.tsx
  packages/rrule-generator/src/components/RRuleGenerator/styles.scss
  packages/rrule-generator/src/components/Repeat/Frequency.tsx
  packages/rrule-generator/src/components/Repeat/Monthly/On.tsx
  packages/rrule-generator/src/components/Repeat/Monthly/OnThe.tsx
  packages/rrule-generator/src/components/Repeat/Monthly/index.tsx
  packages/rrule-generator/src/components/Repeat/PositionSelect.tsx
  packages/rrule-generator/src/components/Repeat/Weekly/styles.scss
  packages/rrule-generator/src/components/Repeat/Yearly/On.tsx
  packages/rrule-generator/src/components/Repeat/Yearly/OnThe.tsx
  packages/rrule-generator/src/components/Repeat/index.tsx
  packages/rrule-generator/src/components/Repeat/styles.scss
  packages/rrule-generator/src/components/styles.scss
Labels: D: REM ♺, T: code-quality 👾

#536 Extract Calender components
  domains/eventEditor/src/ui/datetimes/datesList/cardView/DateCardSidebar.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/cardView/TicketCardSidebar.tsx
  eslint/index.js
  eslint/levels.js
  packages/components/src/BiggieCalendarDate/BiggieCalendarDate.tsx
  packages/components/src/BiggieCalendarDate/types.ts
  packages/components/src/CalendarDateRange/CalendarDateRange.tsx
  packages/components/src/CalendarDateRange/types.ts
  packages/components/src/CalendarDateSwitcher/CalendarDateSwitcher.tsx
  packages/components/src/CalendarDateSwitcher/types.ts
  packages/components/src/CalendarPageDate/CalendarPageDate.tsx
  packages/components/src/CalendarPageDate/types.ts
  packages/components/src/types.ts
  packages/ee-components/package.json
  packages/ee-components/src/CalendarDateSwitcher/CalendarDateSwitcher.tsx
  packages/ee-components/src/CalendarDateSwitcher/index.ts
  packages/ee-components/src/CalendarDateSwitcher/types.ts
  packages/ee-components/src/index.ts
  packages/ee-components/tsconfig.json
Labels: C: assets 💎, D: Packages 📦, T: code-quality 👾

#537 Extract Datepicker components
  domains/eventEditor/src/ui/datetimes/datesList/cardView/DateCardSidebar.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/cardView/TicketCardSidebar.tsx
  domains/rem/src/ui/generatedDates/RDate.tsx
  packages/components/src/DateTimeRangePicker/index.tsx
  packages/components/src/EditDateRangeButton/EditDateRangeButton.tsx
  packages/components/src/EditDateRangeButton/index.ts
  packages/components/src/EditDateRangeButton/types.ts
  packages/components/src/index.ts
  packages/ee-components/src/DatePicker/index.tsx
  packages/ee-components/src/DateTimePicker/index.tsx
  packages/ee-components/src/EditDateRangeButton/EditDateRangeButton.tsx
  packages/ee-components/src/EditDateRangeButton/index.ts
  packages/ee-components/src/EditDateRangeButton/types.ts
  packages/ee-components/src/index.ts
Labels: C: assets 💎, D: Packages 📦, T: code-quality 👾

#540 Extract CurrencyDisplay component
  domains/eventEditor/src/ui/ticketAssignmentsManager/components/table/HeaderCell.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/tableView/useBodyRowGenerator.tsx
  domains/rem/src/ui/Tickets/card/TicketCard.tsx
  packages/components/src/CurrencyDisplay/CurrencyDisplay.tsx
  packages/components/src/CurrencyDisplay/index.ts
  packages/components/src/CurrencyDisplay/types.ts
  packages/ee-components/src/CurrencyDisplay/CurrencyDisplay.tsx
  packages/ee-components/src/CurrencyDisplay/index.ts
  packages/ee-components/src/CurrencyDisplay/types.ts
  packages/ee-components/src/index.ts
Labels: C: assets 💎, D: Packages 📦, T: code-quality 👾

#539 Centralize @chakra-ui imports
  domains/eventEditor/src/ui/datetimes/datesList/bulkEdit/actions/Actions.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/bulkEdit/actions/Actions.tsx
  domains/rem/src/ui/Tickets/TicketTemplate.tsx
  domains/rem/src/ui/Tickets/actions/Edit.tsx
  domains/rem/src/ui/recurrence/PatternEditor.tsx
  domains/wpPluginsPage/src/exitSurvey/ExitSurvey.tsx
  domains/wpPluginsPage/src/exitSurvey/Popup.tsx
  packages/adapters/package.json
  packages/adapters/src/Checkbox/types.ts
  packages/adapters/src/index.ts
  packages/adapters/src/layout/Grid/Grid.tsx
  packages/adapters/src/layout/Grid/index.ts
  packages/adapters/src/layout/Grid/types.ts
  packages/adapters/src/layout/Stack.tsx
  packages/adapters/src/layout/index.ts
  packages/components/src/Checkbox/Checkbox.tsx
  packages/components/src/Checkbox/index.stories.tsx
  packages/components/src/Checkbox/index.ts
  packages/components/src/Confirm/useConfirmationDialog.tsx
  packages/components/src/EditDateRangeButton/EditDateRangeButton.tsx
  packages/components/src/EspressoTable/style/index.scss
  packages/components/src/Legend/CollapsibleLegend.tsx
  packages/components/src/LoadingNotice/types.ts
  packages/components/src/Modal/index.stories.tsx
  packages/components/src/Popover/PopoverForm/PopoverForm.tsx
  packages/components/src/Popover/index.stories.tsx
  packages/components/src/SimpleTextEditorModal/index.tsx
  packages/components/src/Tooltip/ClickableIconWithTooltip/index.tsx
  packages/components/src/bulkEdit/ActionCheckbox.tsx
  packages/components/src/index.ts
  packages/components/src/text-input/index.stories.tsx
  packages/hooks/src/index.ts
  packages/hooks/src/useDisclosure.ts
  packages/rich-text-editor/src/components/RTEWithEditMode/RTEWithEditMode.tsx
  packages/toaster/src/Toaster.tsx
  packages/toaster/src/index.stories.tsx
  packages/toaster/src/toasterIcons.tsx
  packages/toaster/src/types.ts
  packages/toaster/src/useSystemNotifications.tsx
  yarn.lock
Labels: C: UI/UX 🚽

#542 Extract Entity List components
  domains/eventEditor/src/ui/datetimes/datesList/DatesList.tsx
  domains/eventEditor/src/ui/datetimes/datesList/tableView/TableView.tsx
  domains/eventEditor/src/ui/datetimes/datesList/tableView/useBodyRowGenerator.tsx
  domains/eventEditor/src/ui/datetimes/datesList/tableView/useHeaderRowGenerator.tsx
  domains/eventEditor/src/ui/datetimes/datesList/types.ts
  domains/eventEditor/src/ui/tickets/ticketsList/TicketsList.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/tableView/TableView.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/tableView/useBodyRowGenerator.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/tableView/useHeaderRowGenerator.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/types.ts
  packages/components/src/EntityList/EntityCardList.tsx
  packages/components/src/EntityList/EntityList.tsx
  packages/components/src/EntityList/EntityTable.tsx
  packages/components/src/EntityList/filterBar/EntityListFilterBar.tsx
  packages/components/src/EntityList/filterBar/buttons/CardViewFilterButton.tsx
  packages/components/src/EntityList/filterBar/buttons/EntityListViewButtonGroup.tsx
  packages/components/src/EntityList/filterBar/buttons/TableViewFilterButton.tsx
  packages/components/src/EntityList/filterBar/buttons/ToggleFiltersButton.tsx
  packages/components/src/EntityList/filterBar/buttons/ToggleSortingButton.tsx
  packages/components/src/EntityList/filterBar/buttons/index.ts
  packages/components/src/EntityList/filterBar/index.ts
  packages/components/src/EntityList/filterBar/types.ts
  packages/components/src/EntityList/types.ts
  packages/edtr-services/src/apollo/mutations/datetimes/useReorderDatetimes.ts
  packages/edtr-services/src/apollo/mutations/tickets/useReorderTickets.ts
  packages/ee-components/src/EntityList/EntityList.tsx
  packages/ee-components/src/EntityList/EntityListFilterBar.tsx
  packages/ee-components/src/EntityList/EntityTable.tsx
  packages/ee-components/src/EntityList/index.ts
  packages/ee-components/src/EntityList/types.ts
  packages/ee-components/src/EntityList/useEntityTableFilters.ts
  packages/ee-components/src/EntityList/withValidFilterState.tsx
  packages/ee-components/src/index.ts
  packages/services/src/filterState/types.ts
Labels: C: assets 💎, D: Packages 📦, T: code-quality 👾

#544 Extract remaining components
  packages/components/src/CalendarDateRange/CalendarDateRange.tsx
  packages/components/src/DateTimeRangePicker/DateTimeRangePicker.tsx
  packages/components/src/DateTimeRangePicker/index.ts
  packages/components/src/DebugInfo/DebugInfo.tsx
  packages/components/src/EditDateRangeButton/EditDateRangeButton.tsx
  packages/components/src/EditDateRangeButton/types.ts
  packages/components/src/EntityIDs/EntityIDs.tsx
  packages/components/src/EntityIDs/index.ts
  packages/components/src/InlineEdit/InlineEditCurrency/types.ts
  packages/components/src/MediumCalendarDate/MediumCalendarDate.tsx
  packages/components/src/MediumCalendarDate/index.ts
  packages/components/src/MoneyInputWrapper/types.ts
  packages/components/src/PriceTypeSign/index.tsx
  packages/components/src/PriceTypeSign/usePriceTypeHtmlClassName.tsx
  packages/components/src/TimezoneTimeInfo/Content.tsx
  packages/components/src/TimezoneTimeInfo/TimezoneTimeInfo.tsx
  packages/components/src/TimezoneTimeInfo/types.ts
  packages/components/src/index.ts
  packages/constants/src/index.ts
  packages/constants/src/misc.ts
  packages/ee-components/src/EditDateRangeButton/EditDateRangeButton.tsx
  packages/ee-components/src/TimezoneTimeInfo/TimezoneTimeInfo.tsx
  packages/ee-components/src/TimezoneTimeInfo/index.ts
  packages/tpc/src/fields/MoneyInputWithConfig.tsx
  yarn.lock
Labels: C: assets 💎, D: Packages 📦, T: code-quality 👾

#546 Fix bulk edit checkbox
  packages/adapters/src/Checkbox/Checkbox.tsx
  packages/ee-components/src/bulkEdit/BulkActions.tsx
  packages/ui-components/src/Checkbox/Checkbox.tsx
  packages/ui-components/src/bulkEdit/styles.scss
Labels: C: UI/UX 🚽, D: Packages 📦, T: bug 🐞

#547 Chakra's post-upgrade improvements.
  .eslintrc.json
  domains/eventEditor/src/ui/tickets/ticketsList/newTicketOptions/AddSingleTicket.tsx
  packages/adapters/src/Menu/MenuToggle/MenuToggle.tsx
  packages/adapters/src/Menu/MenuToggle/types.ts
  packages/adapters/src/Popover/types.ts
  packages/adapters/src/theme/ThemeProvider.tsx
  packages/icons/src/icons/DragOutlined.tsx
  packages/icons/src/icons/index.tsx
  packages/icons/src/svg/drag-outlined.svg
  packages/rich-text-editor/src/components/SimpleTextEditor/SimpleTextEditor.tsx
  packages/ui-components/src/EntityActionsMenu/EntityActionsMenu.tsx
  packages/ui-components/src/EntityActionsMenu/index.ts
  packages/ui-components/src/EspressoTable/TableRow.tsx
  packages/ui-components/src/TimezoneTimeInfo/TimezoneTimeInfo.tsx
  yarn.lock
Labels: C: UI/UX 🚽

#548 Update CRA
  .env
  config/env.js
  config/getHttpsConfig.js
  config/jest/cssTransform.js
  config/jest/fileTransform.js
  config/modules.js
  config/pnpTs.js
  config/webpack.config.js
  config/webpackDevServer.config.js
  package.json
  scripts/build.js
  scripts/start.js
  scripts/test.js
  yarn.lock
Labels: C: build-process 🔨, D: Packages 📦, T: task 🧹

#551 Improve useDisclosure and fix emotion/react warning
  packages/hooks/src/useDisclosure.ts
Labels: C: assets 💎, D: Packages 📦, T: bug 🐞, T: code-quality 👾

#552 Improve RTE with edit mode
  packages/adapters/src/Tabs/Tab.tsx
  packages/adapters/src/Tabs/TabList.tsx
  packages/adapters/src/Tabs/TabPanel.tsx
  packages/adapters/src/Tabs/TabPanels.tsx
  packages/adapters/src/Tabs/Tabs.tsx
  packages/adapters/src/Tabs/index.ts
  packages/adapters/src/Tabs/types.ts
  packages/adapters/src/index.ts
  packages/rich-text-editor/src/components/RTEWithEditMode/RTEWithEditMode.tsx
  packages/rich-text-editor/src/components/RTEWithEditMode/style.scss
  packages/rich-text-editor/src/components/SimpleTextEditor/SimpleTextEditor.tsx
Labels: C: UI/UX 🚽, D: Packages 📦, T: task 🧹

#553 Improve caching for deployment workflows
  .github/workflows/chromatic.yml
  .github/workflows/deploy-master.yml
  .github/workflows/deploy-rc.yml
  .github/workflows/pr-checks.yml
Labels: C: automation & deployment ⚙️, C: build-process 🔨, T: code-quality 👾

#550 EntityTable story.
  domains/eventEditor/src/ui/datetimes/datesList/tableView/useBodyRowGenerator.tsx
  domains/eventEditor/src/ui/datetimes/datesList/tableView/useHeaderRowGenerator.tsx
  domains/eventEditor/src/ui/datetimes/hooks/useDatesActionMenuItems.ts
  packages/ee-components/src/EntityList/EntityTable.tsx
  packages/ui-components/src/EntityActionsMenu/style.scss
  packages/ui-components/src/EntityList/EntityTable.tsx
  packages/ui-components/src/EntityList/index.ts
  packages/ui-components/src/EspressoTable/ResponsiveTable.tsx
  packages/ui-components/src/EspressoTable/stories/data.tsx
  packages/ui-components/src/EspressoTable/stories/index.stories.tsx
  packages/ui-components/src/EspressoTable/style/index.scss
  packages/ui-components/src/EspressoTable/types.ts
Labels: C: UI/UX 🚽, D: EDTR ✏️

#554 EntityOptionsRow responsiveness.
  domains/eventEditor/src/ui/styles.scss
  domains/rem/src/ui/EntityOptionsRow/index.stories.tsx
  domains/rem/src/ui/EntityOptionsRow/index.tsx
  domains/rem/src/ui/EntityOptionsRow/style.scss
  domains/rem/src/ui/Tickets/TicketTemplate.tsx
  domains/rem/src/ui/datetimeDetails/DateTemplate.tsx
  packages/ui-components/src/EspressoTable/ResponsiveTable.tsx
Labels: C: UI/UX 🚽

#559 Fix Status Colors
  packages/styles/src/root/_entity-status.scss
Labels: C: UI/UX 🚽, D: EDTR ✏️, P3: med priority 😐, S7: code review 🔎, T: bug 🐞

#555 Bulk add tickets feature
  domains/eventEditor/src/ui/datetimes/datesList/bulkEdit/actions/Actions.tsx
  domains/rem/src/constants/index.ts
  domains/rem/src/data/useMutateTickets.ts
  domains/rem/src/hooks/useDatesBulkEditActions.ts
  domains/rem/src/hooks/useRemInitialization.ts
  domains/rem/src/types.ts
  domains/rem/src/ui/Modal/Container.tsx
  domains/rem/src/ui/Modal/Modal.tsx
  domains/rem/src/ui/Modal/index.ts
  domains/rem/src/ui/bulkAddTickets/Container.tsx
  domains/rem/src/ui/bulkAddTickets/Footer.tsx
  domains/rem/src/ui/bulkAddTickets/index.ts
  domains/rem/src/ui/bulkAddTickets/useSubmitForm.ts
  domains/rem/src/ui/index.tsx
  packages/edtr-services/src/ioc/index.ts
  packages/ioc/src/hooks.ts
  packages/ui-components/src/Modal/index.ts
Labels: C: UI/UX 🚽, D: REM ♺, T: feature request 🙏

#560 Improve Rich Text Editor Styles
  packages/adapters/src/Tabs/Tab.tsx
  packages/rich-text-editor/src/components/RTEWithEditMode/style.scss
  packages/rich-text-editor/src/components/RichTextEditor/style.scss
Labels: C: UI/UX 🚽, D: Packages 📦, P3: med priority 😐, S7: code review 🔎, T: enhancement ✨

#563 i18n strings not generated sometimes
  config/webpack.config.js
Labels: C: automation & deployment ⚙️, C: build-process 🔨, D: Packages 📦, T: bug 🐞

#564 HelpIcon fix.
  packages/ui-components/src/EntityList/style.scss
  packages/ui-components/src/Tooltip/ClickableIconWithTooltip/index.tsx
  packages/ui-components/src/Tooltip/ClickableIconWithTooltip/style.scss
Labels: C: UI/UX 🚽

#568 Add Storybook info to ReadMe
  README.md
Labels: C: documentation 📑, T: task 🧹

#565 RTL fixes.
  domains/eventEditor/src/ui/ticketAssignmentsManager/components/table/styles.scss
  domains/rem/src/ui/generatedDates/styles.scss
  package.json
  packages/adapters/package.json
  packages/rrule-generator/src/components/styles.scss
  packages/styles/src/_base-styles.scss
  packages/ui-components/src/ActiveFilters/styles.scss
  packages/ui-components/src/CurrencyDisplay/style.scss
  packages/ui-components/src/DescriptionList/styles.scss
  packages/ui-components/src/EntityActionsMenu/style.scss
  packages/ui-components/src/EntityList/style.scss
  packages/ui-components/src/InlineEdit/InlineEditCurrency/style.scss
  packages/ui-components/src/InlineEdit/InlineEditInput/style.scss
  packages/ui-components/src/NumberInput/style.scss
  packages/ui-components/src/Select/style.scss
  packages/ui-components/src/Stepper/buttons/Next.tsx
  packages/ui-components/src/Switch/Switch.tsx
  packages/ui-components/src/Switch/style.scss
  packages/ui-components/src/text-input/InputWithLabel/style.scss
  yarn.lock
Labels: C: UI/UX 🚽, D: EDTR ✏️, T: bug 🐞

#569 Underneath dropdown z-index fix.
  packages/ee-components/src/EditDateRangeButton/EditDateRangeButton.tsx
  packages/ui-components/src/DropdownMenu/DropdownMenu.tsx
  packages/ui-components/src/DropdownMenu/styles.scss
  packages/ui-components/src/InlineEdit/InlineEditInput/style.scss
  packages/ui-components/src/ItemCount/style.scss
Labels: T: bug 🐞

#566 More UI Style Fixes
  domains/eventEditor/src/ui/EventRegistrationOptions/ActiveStatus.tsx
  domains/eventEditor/src/ui/EventRegistrationOptions/Donations.tsx
  domains/eventEditor/src/ui/EventRegistrationOptions/EventManager.tsx
  domains/eventEditor/src/ui/EventRegistrationOptions/EventPhoneNumber.tsx
  domains/eventEditor/src/ui/EventRegistrationOptions/MaxRegistrations.tsx
  domains/eventEditor/src/ui/EventRegistrationOptions/TicketSelector.tsx
  domains/eventEditor/src/ui/EventRegistrationOptions/style.scss
  domains/eventEditor/src/ui/styles.scss
  packages/rich-text-editor/src/components/RTEWithEditMode/style.scss
  packages/rich-text-editor/src/components/RichTextEditor/style.scss
  packages/ui-components/src/EntityCard/styles.scss
  packages/ui-components/src/EntityList/style.scss
  packages/ui-components/src/Grid/style.scss
  packages/ui-components/src/Heading/style.scss
  packages/ui-components/src/types.ts
Labels: C: UI/UX 🚽, D: EDTR ✏️, P3: med priority 😐, S7: code review 🔎, T: enhancement ✨

#571 Fix isRTL and Next/Previous components
  domains/eventEditor/src/ui/tickets/ticketForm/multiStep/ContentBody.tsx
  packages/adapters/src/Button/Button.tsx
  packages/i18n/src/index.ts
  packages/ui-components/src/Stepper/buttons/Next.tsx
  packages/ui-components/src/Stepper/buttons/Previous.tsx
  packages/ui-components/src/Stepper/buttons/types.ts
  packages/ui-components/src/Stepper/utils.ts
Labels: C: services 🤝, D: Packages 📦, T: bug 🐞

#570 Bulk actions toggle.
  domains/eventEditor/src/ui/datetimes/datesList/bulkEdit/actions/Actions.tsx
  domains/eventEditor/src/ui/datetimes/datesList/tableView/Checkbox.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/bulkEdit/actions/Actions.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/tableView/Checkbox.tsx
  eslint/levels.js
  packages/edtr-services/src/hooks/edtrState/index.ts
  packages/edtr-services/src/hooks/edtrState/useShowDatetimeBA.ts
  packages/edtr-services/src/hooks/edtrState/useShowTicketBA.ts
  packages/ee-components/src/EntityList/EntityList.tsx
  packages/ee-components/src/EntityList/EntityListFilterBar.tsx
  packages/ee-components/src/EntityList/types.ts
  packages/ee-components/src/bulkEdit/ActionCheckbox.tsx
  packages/ee-components/src/bulkEdit/ToggleBulkActionsButton.tsx
  packages/ee-components/src/bulkEdit/index.ts
  packages/ee-components/src/bulkEdit/types.ts
  packages/icons/scripts/template.js
  packages/icons/src/icons/SelectMultiple.tsx
  packages/icons/src/icons/index.tsx
  packages/icons/src/svg/select-multiple.svg
  packages/ui-components/src/EntityList/EntityList.tsx
  packages/ui-components/src/EntityList/index.ts
  packages/ui-components/src/EntityList/types.ts
  yarn.lock
Labels: C: UI/UX 🚽, D: EDTR ✏️
