Repository eventespresso/barista, pull requests merged in 2020-06, with the labels that each got.

#12 Load assets and update dev config
  composer.json
  composer.lock
  config/paths.js
  config/utils.js
  ee-packages.php
  lib/assets.php
  lib/index.php
  lib/load.php
  package.json
Labels: enhancement

#37 Fix dependency extraction
  lib/assets.php
  packages/adapters/src/InlineEdit/InlineEdit.tsx
  packages/adapters/src/Modal/types.ts
  packages/form/src/renderers/FormRenderer.tsx
  packages/icons/package.json
  packages/icons/src/icons/index.tsx
  packages/icons/src/svg/infinity.svg
  packages/services/src/context/test/RelationsProvider.test.tsx
  packages/services/src/hooks/index.ts
  packages/services/src/hooks/usePrevious.ts
  packages/services/src/utilities/index.ts
Labels: status:review

#48 Added CheckboxGroup.
  package.json
  packages/components/src/Button/ButtonGroup/style.scss
  packages/components/src/CheckboxGroup/index.stories.tsx
  packages/components/src/CheckboxGroup/index.tsx
  packages/components/src/CheckboxGroup/types.ts
  packages/storybook/.storybook/config.js
  packages/storybook/package.json
  yarn.lock
Labels: REM
