Repository eventespresso/barista, pull requests merged in 2020-09, with the labels that each got.

#236 Fix duplicate modal buttons
  packages/components/src/Modal/useCancelButtonProps.tsx
  packages/components/src/Modal/useSubmitButtonProps.tsx
Labels: D: Packages 📦, T: bug 🐞

#238 Build process update
  config/paths.js
  config/utils.js
  package.json
  tools/deploy.sh
Labels: C: assets 💎, C: build-process 🔨, T: task 🧹

#239 Unit tests for rrule-generator toString utils
  packages/rrule-generator/src/components/Repeat/Frequency.tsx
  packages/rrule-generator/src/constants.ts
  packages/rrule-generator/src/utils/computeRRule/fromString/computeWeeklyDays.ts
  packages/rrule-generator/src/utils/computeRRule/toString/tests/computeDaily.test.ts
  packages/rrule-generator/src/utils/computeRRule/toString/tests/computeEnd.test.ts
  packages/rrule-generator/src/utils/computeRRule/toString/tests/computeHourly.test.ts
  packages/rrule-generator/src/utils/computeRRule/toString/tests/computeMonthly.test.ts
  packages/rrule-generator/src/utils/computeRRule/toString/tests/computeMonthlyOn.test.ts
  packages/rrule-generator/src/utils/computeRRule/toString/tests/computeMonthlyOnThe.test.ts
  packages/rrule-generator/src/utils/computeRRule/toString/tests/computeOptions.test.ts
  packages/rrule-generator/src/utils/computeRRule/toString/tests/computeRepeat.test.ts
  packages/rrule-generator/src/utils/computeRRule/toString/tests/computeStart.test.ts
  packages/rrule-generator/src/utils/computeRRule/toString/tests/computeWeekly.test.ts
  packages/rrule-generator/src/utils/computeRRule/toString/tests/computeYearly.test.ts
  packages/rrule-generator/src/utils/computeRRule/toString/tests/computeYearlyOn.test.ts
  packages/rrule-generator/src/utils/computeRRule/toString/tests/computeYearlyOnThe.test.ts
  packages/rrule-generator/src/utils/computeRRule/toString/utils.ts
Labels: C: data systems 🗑, D: REM ♺, T: task 🧹

#241 rrule-generator state unit tests
  .github/workflows/deploy.yml
  packages/rrule-generator/src/components/Repeat/Monthly/OnThe.tsx
  packages/rrule-generator/src/components/Repeat/PositionSelect.tsx
  packages/rrule-generator/src/components/Repeat/Yearly/OnThe.tsx
  packages/rrule-generator/src/constants.ts
  packages/rrule-generator/src/context/ConfigProvider.tsx
  packages/rrule-generator/src/state/tests/getData.test.ts
  packages/rrule-generator/src/state/tests/setData.test.ts
  packages/rrule-generator/src/state/tests/setEndAfter.test.ts
  packages/rrule-generator/src/state/tests/setEndDate.test.ts
  packages/rrule-generator/src/state/tests/setEndMode.test.ts
  packages/rrule-generator/src/state/tests/setRepeatDay.test.ts
  packages/rrule-generator/src/state/tests/setRepeatFrequency.test.ts
  packages/rrule-generator/src/state/tests/setRepeatInterval.test.ts
  packages/rrule-generator/src/state/tests/setRepeatMode.test.ts
  packages/rrule-generator/src/state/tests/setRepeatMonth.test.ts
  packages/rrule-generator/src/state/tests/setRepeatWeeklyDays.test.ts
  packages/rrule-generator/src/state/tests/setRepeatWhich.test.ts
  packages/rrule-generator/src/state/tests/setStartDate.test.ts
  packages/rrule-generator/src/state/types.ts
  packages/rrule-generator/src/state/useRRuleStateManager.ts
  packages/rrule-generator/src/state/useRRuleStateReducer.ts
  packages/rrule-generator/src/utils/computeRRule/toString/computeEnd.ts
  packages/rrule-generator/src/utils/computeRRule/toString/computeStart.ts
Labels: C: data systems 🗑, D: REM ♺, T: task 🧹

#243 Clean up test console
  domains/eventEditor/src/services/context/EventEditorContext/ContextProviders.test.tsx
  domains/eventEditor/src/services/filterState/tickets/test/useTicketsListFilterStateManager.test.ts
  packages/data/src/queries/currentUser/test/useCurrentUser.test.ts
  packages/data/src/queries/currentUser/test/useUpdateCurrentUserCache.test.ts
  packages/data/src/queries/currentUser/useCurrentUser.ts
  packages/data/src/queries/generalSettings/test/useGeneralSettings.test.ts
  packages/data/src/queries/generalSettings/test/useUpdateGeneralSettingsCache.test.ts
  packages/data/src/queries/generalSettings/useGeneralSettings.ts
  packages/edtr-services/src/apollo/initialization/test/useCacheRehydration.test.ts
  packages/edtr-services/src/apollo/initialization/test/useCacheRehydrationData.test.ts
  packages/edtr-services/src/apollo/queries/datetimes/test/useDatetimeIds.test.ts
  packages/edtr-services/src/apollo/queries/datetimes/test/useDatetimeQueryOptions.test.ts
  packages/edtr-services/src/apollo/queries/datetimes/test/useDatetimes.test.ts
  packages/edtr-services/src/apollo/queries/events/test/useEvent.test.ts
  packages/edtr-services/src/apollo/queries/priceTypes/test/useDefaultPriceType.test.ts
  packages/edtr-services/src/apollo/queries/priceTypes/test/usePriceTypeForPrice.test.ts
  packages/edtr-services/src/apollo/queries/priceTypes/test/usePriceTypes.test.ts
  packages/edtr-services/src/apollo/queries/prices/test/usePriceQueryOptions.test.ts
  packages/edtr-services/src/apollo/queries/prices/test/usePrices.test.ts
  packages/edtr-services/src/apollo/queries/tickets/test/useTicketIds.test.ts
  packages/edtr-services/src/apollo/queries/tickets/test/useTicketPrices.test.ts
  packages/edtr-services/src/apollo/queries/tickets/test/useTicketQueryOptions.test.ts
  packages/edtr-services/src/apollo/queries/tickets/test/useTickets.test.ts
  packages/edtr-services/src/context/test/ContextProvider.test.tsx
  packages/registry/src/modals/context/useGlobalModalManager.ts
  packages/services/src/context/test/RelationsProvider.test.tsx
  packages/services/src/hooks/test/useMoneyDisplay.test.ts
  packages/services/src/hooks/test/useTimeZoneTime.test.ts
  packages/tpc/src/data/test/data.addPrice.test.ts
  packages/tpc/src/data/test/data.calculations.test.ts
  packages/tpc/src/data/test/data.deletePrice.test.ts
  packages/tpc/src/data/test/data.updatePrice.test.ts
  packages/tpc/src/data/test/useInitialState.test.ts
  packages/utils/src/test/index.ts
Labels: C: unit-tests 🧪, T: bug 🐞

#250 Rich text preview dotdotdot
  packages/components/src/Modal/ModalWithAlert.tsx
  packages/components/src/Modal/useCancelButtonProps.tsx
  packages/components/src/RichTextEditorModal/index.tsx
  packages/components/src/TabbableText/index.tsx
  packages/components/src/TabbableText/types.ts
Labels: C: assets 💎, D: Packages 📦, T: enhancement ✨

#249 Rem editor fixes
  domains/rem/src/data/types.ts
  domains/rem/src/data/useFormStateManager.ts
  domains/rem/src/ui/Modal/Container.tsx
  domains/rem/src/ui/datetimeDetails/DateTemplate.tsx
  packages/hooks/src/usePrevNext.ts
Labels: C: data systems 🗑, D: REM ♺, T: bug 🐞

#251 ESLlint rules to avoid circular deps
  .eslintrc.json
  eslint/index.js
  eslint/package.json
  package.json
  packages/data/src/queries/currentUser/test/data.ts
  packages/data/src/queries/currentUser/useFetchCurrentUser.ts
  packages/data/src/queries/currentUser/useUpdateCurrentUserCache.ts
  packages/data/src/queries/generalSettings/test/data.ts
  packages/data/src/queries/generalSettings/useFetchGeneralSettings.ts
  packages/data/src/queries/generalSettings/useGeneralSettings.ts
  packages/data/src/queries/generalSettings/useUpdateGeneralSettingsCache.ts
  packages/rrule-generator/src/components/OnDate/index.tsx
  packages/tpc/src/utils/basePriceCalculator.ts
  packages/tpc/src/utils/ticketTotalCalculator.ts
  yarn.lock
Labels: C: assets 💎, D: Packages 📦, T: task 🧹

#257 i18n strings extraction
  babel.config.js
  package.json
  tools/deploy.sh
  yarn.lock
Labels: C: build-process 🔨, T: task 🧹

#256 Validate packages for custom ESLint rules
  eslint/index.js
  eslint/levels.js
  eslint/validate.js
  package.json
  tools/deploy.sh
Labels: C: assets 💎, C: build-process 🔨, D: Packages 📦

#258 RichTextEditor: extracted HeadingControls and converted to select.
  packages/rich-text-editor/src/components/ToolbarControls/BlockStyleControls.tsx
  packages/rich-text-editor/src/components/ToolbarControls/HeadingControls.tsx
  packages/rich-text-editor/src/components/ToolbarControls/InlineStyleControls.tsx
  packages/rich-text-editor/src/components/ToolbarControls/index.tsx
  packages/rich-text-editor/src/components/ToolbarControls/style.scss
  packages/rich-text-editor/src/components/ToolbarControls/types.ts
  packages/rich-text-editor/src/components/constants.ts
  packages/rich-text-editor/src/components/index.tsx
  packages/rich-text-editor/src/components/style.scss
Labels: C: UI/UX 🚽, D: Packages 📦

#253 New Datepicker Calendar Styles
  packages/components/src/Popover/style.scss
  packages/dates/src/DateRangePicker.tsx
  packages/dates/src/DateRangePickerLegend.tsx
  packages/dates/src/DateTimePicker.tsx
  packages/dates/src/TimePicker.tsx
  packages/dates/src/styles.scss
  packages/utils/src/date/index.ts
  packages/utils/src/date/isOnOrAfterDate.ts
  packages/utils/src/date/isOnOrAfterToday.ts
  packages/utils/src/date/isOnOrBeforeDate.ts
  packages/utils/src/date/isOnOrBeforeToday.ts
  packages/utils/src/date/misc.ts
  packages/utils/src/date/types.ts
  scripts/watch.js
Labels: C: UI/UX 🚽, D: Packages 📦, S6: code review 🔎, T: enhancement ✨

#259 Fix custom ESLint rule
  eslint/index.js
  eslint/levels.js
  eslint/package.json
  packages/registry/src/filterBar/useFilterBarUIElements.ts
  packages/registry/src/modals/context/types.ts
  packages/registry/src/modals/context/useGlobalModal.ts
  packages/registry/src/modals/context/useGlobalModalContext.ts
Labels: C: build-process 🔨, T: bug 🐞

#264 Replace textarea with rich-text editor
  domains/eventEditor/src/ui/datetimes/datesList/bulkEdit/details/useBulkEditFormConfig.ts
  domains/eventEditor/src/ui/tickets/ticketForm/useTicketFormConfig.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/bulkEdit/details/useBulkEditFormConfig.ts
  domains/rem/src/ui/Tickets/useTicketFormConfig.ts
  domains/rem/src/ui/datetimeDetails/useDateFormConfig.ts
Labels: C: UI/UX 🚽, T: task 🧹

#265 Fix REM/rrule-generator input attributes
  domains/rem/src/ui/rRule/PatternEditor.tsx
  domains/rem/src/ui/rRule/RRuleEditor.tsx
  domains/rem/src/ui/rRule/types.ts
  packages/rrule-generator/src/components/End/After.tsx
  packages/rrule-generator/src/components/End/Mode.tsx
  packages/rrule-generator/src/components/Repeat/Daily/index.tsx
  packages/rrule-generator/src/components/Repeat/Frequency.tsx
  packages/rrule-generator/src/components/Repeat/Hourly/index.tsx
  packages/rrule-generator/src/components/Repeat/Monthly/On.tsx
  packages/rrule-generator/src/components/Repeat/Monthly/OnThe.tsx
  packages/rrule-generator/src/components/Repeat/Monthly/index.tsx
  packages/rrule-generator/src/components/Repeat/PositionSelect.tsx
  packages/rrule-generator/src/components/Repeat/Weekly/index.tsx
  packages/rrule-generator/src/components/Repeat/Yearly/On.tsx
  packages/rrule-generator/src/components/Repeat/Yearly/OnThe.tsx
  packages/rrule-generator/src/components/Repeat/types.ts
Labels: C: assets 💎, D: REM ♺, T: bug 🐞

#272 Revert the changes that messed up TS and styles
  domains/eventEditor/src/ui/ticketAssignmentsManager/components/TicketAssignmentsManagerModal/buttons/CloseModal.tsx
  packages/adapters/src/Modal/Modal.tsx
  packages/adapters/src/Modal/ModalCloseButton/index.tsx
  packages/adapters/src/Modal/ModalCloseButton/types.ts
  packages/adapters/src/Modal/index.ts
  packages/adapters/src/Modal/modalCloseButtonProps/index.ts
  packages/adapters/src/Modal/modalCloseButtonProps/styles.scss
  packages/adapters/src/Modal/styles.scss
  packages/adapters/src/Modal/types.ts
  packages/components/src/Confirm/ConfirmClose.tsx
  packages/components/src/Confirm/ConfirmDelete.tsx
  packages/components/src/Confirm/types.ts
  packages/components/src/Confirm/useConfirmWithButton.tsx
  packages/tpc/src/components/TicketPriceCalculatorModal.tsx
Labels: T: bug 🐞

#275 Fix invalid DOM warning
  domains/eventEditor/src/ui/datetimes/datesList/editable/EditableName.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/editable/EditableName.tsx
Labels: C: UI/UX 🚽, T: bug 🐞

#277 Improve package/domain dependencies
  domains/blocks/src/components/RegStatusControl.tsx
  eslint/levels.js
  lib/Barista.php
  packages/data/src/queries/currentUser/useCurrentUser.ts
  packages/data/src/queries/currentUser/useFetchCurrentUser.ts
  packages/data/src/queries/generalSettings/useFetchGeneralSettings.ts
  packages/data/src/queries/generalSettings/useGeneralSettings.ts
  packages/predicates/src/registration/statusOptions.ts
Labels: C: assets 💎, D: Packages 📦, T: task 🧹

#278 Fix ESLint bug
  eslint/index.js
  packages/data/src/mutations/useMutationWithFeedback.ts
  packages/dates/src/DateRangePicker.tsx
  packages/dates/src/constants.ts
  packages/dates/src/utils/index.ts
  packages/dates/src/utils/isOnOrAfterDate.ts
  packages/dates/src/utils/isOnOrAfterToday.ts
  packages/dates/src/utils/isOnOrBeforeDate.ts
  packages/dates/src/utils/isOnOrBeforeToday.ts
  packages/dates/src/utils/misc.ts
  packages/dates/src/utils/types.ts
  packages/utils/src/date/index.ts
  packages/utils/src/date/misc.ts
  packages/utils/src/date/types.ts
  packages/utils/src/memo/entitiesUnchanged.ts
  packages/utils/src/memo/entityListCacheIdString.ts
  packages/utils/src/text/entityListSearch/index.ts
  packages/utils/src/text/shortenGuid/index.ts
Labels: C: build-process 🔨, D: Packages 📦, T: bug 🐞

#283 Fix Date Format closes #280
  packages/constants/src/dateFnsFormats.ts
Labels: C: assets 💎, D: Packages 📦, P3: med priority 😐, S6: code review 🔎, T: bug 🐞

#285 Fix order for dates created by REM
  domains/rem/src/data/useSubmitForm.ts
Labels: C: data systems 🗑, D: REM ♺, T: bug 🐞

#284 RichTextEditor: refactored BlockStyleControls.
  packages/icons/src/icons/EditorOl.tsx
  packages/icons/src/icons/EditorQuote.tsx
  packages/icons/src/icons/EditorUl.tsx
  packages/icons/src/svg/close-circle-filled.svg
  packages/icons/src/svg/editor-ol.svg
  packages/icons/src/svg/editor-quote.svg
  packages/icons/src/svg/editor-ul.svg
  packages/rich-text-editor/src/components/StyleButton.tsx
  packages/rich-text-editor/src/components/ToolbarControls/BlockStyleControls.tsx
  packages/rich-text-editor/src/components/ToolbarControls/style.scss
  packages/rich-text-editor/src/components/index.tsx
  packages/rich-text-editor/src/components/style.scss
  packages/rich-text-editor/src/components/types.ts
Labels: D: Packages 📦

#288 Blocks perf fixes
  .eslintrc.json
  domains/blocks/src/event-attendees/AttendeesDisplay.tsx
  domains/blocks/src/event-attendees/controls/ArchiveSettings.tsx
  domains/blocks/src/event-attendees/controls/AttendeeLimit.tsx
  domains/blocks/src/event-attendees/controls/GravatarSettings.tsx
  domains/blocks/src/event-attendees/controls/SelectDatetime.tsx
  domains/blocks/src/event-attendees/controls/SelectEvent.tsx
  domains/blocks/src/event-attendees/controls/SelectOrder.tsx
  domains/blocks/src/event-attendees/controls/SelectOrderBy.tsx
  domains/blocks/src/event-attendees/controls/SelectStatus.tsx
  domains/blocks/src/event-attendees/controls/SelectTicket.tsx
  domains/blocks/src/services/apollo/queries/useAttendees.ts
  domains/blocks/src/services/apollo/queries/useDatetimes.ts
  domains/blocks/src/services/apollo/queries/useEvents.ts
  domains/blocks/src/services/apollo/queries/useTickets.ts
  domains/eventEditor/src/ui/ticketAssignmentsManager/components/table/BodyCell.tsx
  domains/eventEditor/src/ui/tickets/ticketForm/multiStep/ContentBody.tsx
  packages/adapters/src/InlineEdit/InlineEdit.tsx
  packages/adapters/src/Pagination/PerPage.tsx
  packages/adapters/src/Select/Select.tsx
  packages/components/src/Legend/ToggleLegendButton.tsx
  packages/components/src/TimezoneTimeInfo/TimezoneTimeInfo.tsx
  packages/components/src/TimezoneTimeInfo/Trigger.tsx
  packages/components/src/bulkEdit/details/Submit.tsx
  packages/form/src/ResetButton.tsx
  packages/form/src/renderers/RepeatableRenderer.tsx
  packages/rrule-generator/src/components/OnDate/index.tsx
  packages/tpc/src/components/table/useFooterRowGenerator.tsx
Labels: D: GB Blocks 🧱, T: task 🧹

#286 a11y fixes: part 1.
  .eslintrc.json
  packages/components/src/ActiveFilters/ActiveFilters.tsx
  packages/components/src/ActiveFilters/FilterTag.tsx
  packages/components/src/ActiveFilters/styles.scss
  packages/components/src/Button/IconButton/index.tsx
  packages/components/src/Button/Link/index.tsx
  packages/components/src/Button/types.ts
  packages/components/src/Container/ConditionalElement.tsx
  packages/components/src/Container/Content.tsx
  packages/components/src/Container/Row.tsx
  packages/components/src/Container/Sidebar.tsx
  packages/components/src/Container/types.ts
  packages/components/src/DropdownMenu/DropdownToggle/index.tsx
  packages/components/src/EditDateRangeButton/index.tsx
  packages/components/src/TabbableText/index.tsx
  packages/rrule-generator/src/components/End/Mode.tsx
  packages/rrule-generator/src/components/Repeat/Frequency.tsx
  packages/rrule-generator/src/components/Repeat/Monthly/On.tsx
  packages/rrule-generator/src/components/Repeat/Monthly/OnThe.tsx
  packages/rrule-generator/src/components/Repeat/PositionSelect.tsx
  packages/rrule-generator/src/components/Repeat/Yearly/On.tsx
  packages/rrule-generator/src/components/Repeat/Yearly/OnThe.tsx
  yarn.lock
Labels: C: accessibility ♿

#290 Unit tests for blocks Apollo queries
  domains/blocks/src/services/apollo/queries/attendees/index.ts
  domains/blocks/src/services/apollo/queries/attendees/queries.ts
  domains/blocks/src/services/apollo/queries/attendees/test/data.ts
  domains/blocks/src/services/apollo/queries/attendees/test/useAttendees.test.ts
  domains/blocks/src/services/apollo/queries/attendees/useAttendees.ts
  domains/blocks/src/services/apollo/queries/attendees/useAttendeesQueryOptions.ts
  domains/blocks/src/services/apollo/queries/datetimes/index.ts
  domains/blocks/src/services/apollo/queries/datetimes/queries.ts
  domains/blocks/src/services/apollo/queries/datetimes/test/data.ts
  domains/blocks/src/services/apollo/queries/datetimes/test/useDatetimes.test.ts
  domains/blocks/src/services/apollo/queries/datetimes/useDatetimes.ts
  domains/blocks/src/services/apollo/queries/datetimes/useDatetimesQueryOptions.ts
  domains/blocks/src/services/apollo/queries/events/index.ts
  domains/blocks/src/services/apollo/queries/events/queries.ts
  domains/blocks/src/services/apollo/queries/events/test/data.ts
  domains/blocks/src/services/apollo/queries/events/test/useEvents.test.ts
  domains/blocks/src/services/apollo/queries/events/useEvents.ts
  domains/blocks/src/services/apollo/queries/events/useEventsQueryOptions.ts
  domains/blocks/src/services/apollo/queries/index.ts
  domains/blocks/src/services/apollo/queries/tickets/index.ts
  domains/blocks/src/services/apollo/queries/tickets/queries.ts
  domains/blocks/src/services/apollo/queries/tickets/test/data.ts
  domains/blocks/src/services/apollo/queries/tickets/test/useTickets.test.ts
  domains/blocks/src/services/apollo/queries/tickets/useTickets.ts
  domains/blocks/src/services/apollo/queries/tickets/useTicketsQueryOptions.ts
  domains/blocks/src/services/apollo/queries/useAttendees.ts
  domains/blocks/src/services/apollo/queries/useDatetimes.ts
  domains/blocks/src/services/apollo/queries/useEvents.ts
  domains/blocks/src/services/apollo/queries/useTickets.ts
  domains/blocks/src/services/apollo/types.ts
Labels: C: unit-tests 🧪, D: GB Blocks 🧱, T: task 🧹

#292 Eslint React Perf
  .eslintrc.json
  domains/blocks/src/components/AvatarImage.tsx
  domains/eventEditor/src/ui/datetimes/dateForm/multiStep/ContentBody.tsx
  domains/eventEditor/src/ui/datetimes/datesList/cardView/DateDetailsPanel.tsx
  domains/eventEditor/src/ui/ticketAssignmentsManager/filters/controls/DatesByMonthControl.tsx
  domains/eventEditor/src/ui/tickets/ticketForm/multiStep/ContentBody.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/cardView/TicketDetailsPanel.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/newTicketOptions/OptionsPopover.tsx
  domains/rem/src/ui/recurrence/PatternEditor.tsx
  package.json
  packages/adapters/src/InlineEdit/InlineEdit.tsx
  packages/adapters/src/Pagination/Pagination.tsx
  packages/components/src/EspressoTable/ResponsiveTable.tsx
  packages/components/src/EspressoTable/Table.tsx
  packages/components/src/EspressoTable/TableBody.tsx
  packages/components/src/EspressoTable/TableRow.tsx
  packages/components/src/ItemCount/index.tsx
  packages/components/src/Legend/Legend.tsx
  packages/components/src/Legend/ToggleLegendButton.tsx
  packages/form/src/renderers/FormRenderer.tsx
  packages/rich-text-editor/package.json
  packages/rich-text-editor/src/components/index.tsx
  packages/tpc/src/buttons/taxes/RemoveTaxesButton.tsx
  packages/tpc/src/components/table/useFooterRowGenerator.tsx
  yarn.lock
Labels: T: code-quality 👾

#293 Unit tests for TAM data state and filter state
  domains/eventEditor/src/ui/ticketAssignmentsManager/data/test/TestWrapper.tsx
  domains/eventEditor/src/ui/ticketAssignmentsManager/data/test/useAssignmentManager.test.ts
  domains/eventEditor/src/ui/ticketAssignmentsManager/data/test/useDataStateManager.test.ts
  domains/eventEditor/src/ui/ticketAssignmentsManager/data/test/useFilteredDatetimes.test.ts
  domains/eventEditor/src/ui/ticketAssignmentsManager/data/test/useFilteredTickets.test.ts
  domains/eventEditor/src/ui/ticketAssignmentsManager/data/useDatesAndTickets.ts
  domains/eventEditor/src/ui/ticketAssignmentsManager/data/useFilteredDatetimes.ts
  domains/eventEditor/src/ui/ticketAssignmentsManager/data/useFilteredTickets.ts
  domains/eventEditor/src/ui/ticketAssignmentsManager/filters/filterState/test/useFilterStateManager.test.ts
Labels: C: unit-tests 🧪, T: task 🧹

#294 Unit tests for REM form state
  domains/rem/src/data/index.ts
  domains/rem/src/data/test/useFormStateManager.test.ts
  domains/rem/src/data/useFormStateManager.ts
  domains/rem/src/data/useGenerateDates.ts
  domains/rem/src/ui/Modal/Container.tsx
  domains/rem/src/ui/MultiStep/SubmitButton.tsx
  domains/rem/src/ui/generatedDates/GeneratedDates.tsx
  domains/rem/src/ui/generatedDates/index.ts
Labels: C: unit-tests 🧪, T: task 🧹

#289 a11y: part 2.
  domains/eventEditor/src/ui/datetimes/datesList/bulkEdit/actions/Actions.tsx
  domains/eventEditor/src/ui/datetimes/datesList/filterBar/controls/DisplayStartOrEndDateControl.tsx
  domains/eventEditor/src/ui/datetimes/datesList/filterBar/controls/SalesControl.tsx
  domains/eventEditor/src/ui/datetimes/datesList/filterBar/controls/SortByControl.tsx
  domains/eventEditor/src/ui/datetimes/datesList/filterBar/controls/StatusControl.tsx
  domains/eventEditor/src/ui/datetimes/registryInit.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/bulkEdit/actions/Actions.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/filterBar/controls/DisplayStartOrEndDateControl.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/filterBar/controls/SalesControl.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/filterBar/controls/SortByControl.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/filterBar/controls/StatusControl.tsx
  package.json
  packages/components/src/CurrencyInput/style.scss
  packages/components/src/EntityList/filterBar/EntityListFilterBar.tsx
  packages/components/src/EntityList/pagination/EntityPagination.tsx
  packages/components/src/EntityList/style.scss
  packages/components/src/ItemCount/index.tsx
  packages/components/src/ItemCount/style.scss
  packages/components/src/SearchInput/SearchInput.tsx
  packages/components/src/bulkEdit/ActionCheckbox.tsx
  packages/components/src/bulkEdit/BulkActions.tsx
  packages/styles/bin/css-builder/build-color-stylesheets.js
  packages/styles/bin/css-builder/build-section-templates.js
  packages/styles/bin/css-builder/build-sizes-stylesheets.js
  packages/styles/bin/css-builder/color-utils.js
  packages/styles/bin/css-builder/css-builder.js
  packages/styles/bin/css-builder/default-data.js
  packages/styles/bin/css-builder/file-utils.js
  packages/styles/bin/css-builder/get-css-files.js
  packages/styles/bin/css-builder/get-index-paths.js
  packages/styles/package.json
  packages/styles/src/root/entity-status.css
  packages/styles/src/themes/default/color-variables.css
  packages/styles/src/themes/default/config.js
  packages/styles/src/themes/default/size-variables.css
  yarn.lock
Labels: C: accessibility ♿, S6: code review 🔎

#296 Unit tests for useGenerateDates
  domains/rem/src/data/test/useFormStateManager.test.ts
  domains/rem/src/data/test/useGenerateDates.test.ts
  domains/rem/src/data/useGenerateDates.ts
Labels: C: unit-tests 🧪, D: REM ♺, T: task 🧹

#298 Unit tests for useEntityListFilterStateManager
  packages/components/src/EntityList/filterBar/filterState/test/useFilterStateManager.test.ts
Labels: C: unit-tests 🧪, D: Packages 📦, T: task 🧹

#299 Add unit tests for dates utils
  packages/dates/src/utils/test/isOnOrAfterDate.test.ts
  packages/dates/src/utils/test/isOnOrAfterToday.test.ts
  packages/dates/src/utils/test/isOnOrBeforeDate.test.ts
  packages/dates/src/utils/test/isOnOrBeforeToday.test.ts
Labels: C: unit-tests 🧪, D: Packages 📦, T: task 🧹

#300 Unit tests for edtr-services hooks
  packages/edtr-services/src/apollo/queries/datetimes/test/useRelatedDatetimes.test.ts
  packages/edtr-services/src/apollo/queries/prices/test/useRelatedPrices.test.ts
  packages/edtr-services/src/apollo/queries/tickets/test/useRelatedTickets.test.ts
  packages/edtr-services/src/hooks/edtrState/test/useEdtrStateManager.test.ts
Labels: C: unit-tests 🧪, D: Packages 📦, T: task 🧹

#302 Unit tests for hooks package
  packages/hooks/src/test/usePrevNext.test.ts
  packages/hooks/src/test/usePrevious.test.ts
Labels: C: unit-tests 🧪, D: Packages 📦, T: task 🧹

#297 a11y - keyboard navigation
  domains/eventEditor/src/ui/datetimes/datesList/bulkEdit/actions/Actions.tsx
  packages/adapters/src/Pagination/style.scss
  packages/components/src/ActiveFilters/FilterTag.tsx
  packages/components/src/ActiveFilters/styles.scss
  packages/components/src/Button/Button.tsx
  packages/components/src/Button/IconButton/style.scss
  packages/components/src/Button/style.scss
  packages/components/src/Button/types.ts
  packages/components/src/Container/Row.tsx
  packages/components/src/EntityCard/EntityCard.tsx
  packages/components/src/EntityList/filterBar/buttons/ToggleFiltersButton.tsx
  packages/components/src/bulkEdit/BulkActions.tsx
  packages/components/src/bulkEdit/styles.scss
  packages/styles/bin/css-builder/build-sizes-stylesheets.js
  packages/styles/src/themes/default/size-variables.css
Labels: C: accessibility ♿

#303 Unit tests for TPC hooks
  packages/predicates/src/prices/selectionPredicates/index.ts
  packages/tpc/src/hooks/test/useAddDefaultPrices.test.ts
  packages/tpc/src/hooks/test/useAddDefaultTaxes.test.ts
  packages/tpc/src/hooks/test/useDefaultBasePrice.test.ts
  packages/tpc/src/hooks/test/usePriceModifier.test.ts
  packages/tpc/src/hooks/test/usePriceToTpcModifier.test.ts
  packages/tpc/src/hooks/test/useRemoveAllTaxes.test.ts
  packages/tpc/src/hooks/useAddDefaultPrices.ts
  packages/tpc/src/hooks/useDefaultBasePrice.ts
  packages/tpc/src/hooks/usePriceModifier.ts
  packages/tpc/src/utils/utilities.ts
Labels: C: unit-tests 🧪, D: Packages 📦, T: task 🧹

#306 Fix start time in REM generated dates
  domains/rem/src/ui/generatedDates/GeneratedDatetime.tsx
  domains/rem/src/ui/generatedDates/Warning.tsx
  domains/rem/src/ui/generatedDates/utils.ts
  packages/dates/src/DatePicker.tsx
  packages/dates/src/DateRangePicker.tsx
  packages/dates/src/DateTimePicker.tsx
  packages/dates/src/constants.ts
Labels: C: data systems 🗑, D: REM ♺, T: bug 🐞

#304 REM: added pagination to generated dates and fixed legend.
  domains/rem/src/ui/Tickets/actions/Edit.tsx
  domains/rem/src/ui/Tickets/actions/style.scss
  domains/rem/src/ui/Tickets/style.scss
  domains/rem/src/ui/generatedDates/GeneratedDates.tsx
  domains/rem/src/ui/generatedDates/styles.scss
  packages/adapters/src/Pagination/Pagination.tsx
  packages/adapters/src/Pagination/PerPage.tsx
  packages/adapters/src/Pagination/style.scss
  packages/components/src/Button/ButtonRow/style.scss
  packages/components/src/DescriptionList/DescriptionList.tsx
  packages/components/src/DescriptionList/styles.scss
  packages/components/src/DescriptionList/types.ts
  packages/components/src/EntityList/filterBar/EntityListFilterBar.tsx
  packages/components/src/EntityList/filterBar/filterState/useFilteredEntities.ts
  packages/components/src/EntityList/pagination/EntityPagination.tsx
  packages/components/src/Legend/CollapsibleLegend.tsx
  packages/components/src/Legend/Legend.tsx
  packages/components/src/Legend/types.ts
  packages/hooks/src/index.ts
  packages/hooks/src/usePagination/index.ts
  packages/hooks/src/usePagination/types.ts
  packages/hooks/src/usePagination/usePagination.ts
  packages/hooks/src/usePagination/usePaginationReducer.ts
  packages/utils/src/index.ts
  packages/utils/src/pagination/index.ts
Labels: C: UI/UX 🚽

#307 a11y - improved inline error messages and enhanced stepper.
  domains/rem/src/ui/recurrence/PatternEditor.tsx
  packages/adapters/src/Steps/Step.tsx
  packages/adapters/src/Steps/Steps.tsx
  packages/components/src/InlineEditInput/style.scss
  packages/components/src/bulkEdit/details/BulkEditDetailsProps.tsx
  packages/components/src/bulkEdit/details/Warning.tsx
  packages/components/src/bulkEdit/details/styles.scss
  packages/form/src/ErrorMessage/index.tsx
  packages/form/src/ErrorMessage/style.scss
  packages/form/src/index.ts
  packages/form/src/renderers/ErrorMessage/index.tsx
  packages/form/src/renderers/FieldRenderer.tsx
Labels: C: accessibility ♿

#308 RBAC with Feature Flag
  domains/eventEditor/src/ui/datetimes/datesList/bulkEdit/actions/Actions.tsx
  domains/eventEditor/src/ui/datetimes/datesList/tableView/Checkbox.tsx
  domains/eventEditor/src/ui/datetimes/datesList/tableView/TableView.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/bulkEdit/actions/Actions.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/tableView/Checkbox.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/tableView/TableView.tsx
  packages/edtr-services/src/context/ContextProvider.tsx
  packages/services/package.json
  packages/services/src/config/types.ts
  packages/services/src/features/Feature.tsx
  packages/services/src/features/FeaturesProvider.tsx
  packages/services/src/features/index.ts
  packages/services/src/features/types.ts
  packages/services/src/features/useFeature.ts
  packages/services/src/features/withFeature.ts
  packages/services/src/index.ts
  packages/services/src/permissions/index.ts
  packages/services/src/permissions/types.ts
  packages/services/src/permissions/useCurrentUserCan.ts
  packages/services/src/permissions/useSitePermissions.ts
  packages/services/src/permissions/useUserCaps.ts
  yarn.lock
Labels: C: services 🤝, D: EE CORE ☕, D: Packages 📦, T: enhancement ✨, T: feature request 🙏

#312 a11y - new date modal fixes.
  domains/eventEditor/src/ui/ticketAssignmentsManager/components/table/BodyCell.tsx
  domains/eventEditor/src/ui/ticketAssignmentsManager/components/table/HeaderCell.tsx
  domains/eventEditor/src/ui/ticketAssignmentsManager/components/table/getCellIcon.tsx
  domains/eventEditor/src/ui/ticketAssignmentsManager/components/table/styles.scss
  domains/eventEditor/src/ui/ticketAssignmentsManager/components/table/useCellIcon.tsx
  domains/eventEditor/src/ui/ticketAssignmentsManager/filters/controls/ShowExpiredTicketsControl.tsx
  packages/adapters/src/Modal/styles.scss
  packages/adapters/src/NumberInput/NumberInput.tsx
  packages/adapters/src/Steps/style.scss
  packages/components/src/SwitchInput/SwitchInput.tsx
  packages/components/src/withLabel/style.scss
  packages/components/src/withLabel/withLabel.tsx
  packages/form/src/HelperText/index.tsx
  packages/form/src/HelperText/style.scss
  packages/form/src/adapters/DateTimePicker.tsx
  packages/form/src/renderers/FieldRenderer.tsx
  packages/rich-text-editor/src/components/StyleButton.tsx
  packages/rich-text-editor/src/components/ToolbarControls/HeadingControls.tsx
  packages/rich-text-editor/src/components/ToolbarControls/style.scss
  packages/rich-text-editor/src/components/style.scss
Labels: C: accessibility ♿
