Repository eventespresso/barista, pull requests merged in 2021-11, with the labels that each got.

#1072 Add docs related to data package
  packages/data/README.md
  packages/data/src/client.ts
  packages/edtr-services/README.md
Labels: D: Packages 📦, C: documentation 📑

#1074 Add and improve predicate unit tests
  packages/predicates/src/datetimes/filters/belowCapacity/validInfiniteCapacityLimit.ts
  packages/predicates/src/datetimes/filters/inYearAndMonth/index.test.ts
  packages/predicates/src/datetimes/filters/inYearAndMonth/index.ts
  packages/predicates/src/datetimes/isActive/index.test.ts
  packages/predicates/src/datetimes/isActive/index.ts
  packages/predicates/src/datetimes/isInMonth.ts
  packages/predicates/src/datetimes/isInMonth/index.test.ts
  packages/predicates/src/datetimes/isInMonth/index.ts
  packages/predicates/src/datetimes/isInYear.ts
  packages/predicates/src/datetimes/isInYear/index.test.ts
  packages/predicates/src/datetimes/isInYear/index.ts
  packages/predicates/src/datetimes/isSoldOut.ts
  packages/predicates/src/datetimes/isSoldOut/index.test.ts
  packages/predicates/src/datetimes/isSoldOut/index.ts
  packages/predicates/src/datetimes/isUpcoming/index.test.ts
  packages/predicates/src/datetimes/isUpcoming/index.ts
  packages/predicates/src/datetimes/validFiniteCapacityLimit/index.ts
  packages/predicates/src/tickets/filters/validFiniteQuantity/index.ts
  packages/predicates/src/tickets/isSoldOut/index.test.ts
  packages/predicates/src/tickets/isSoldOut/index.ts
Labels: T: task 🧹, D: Packages 📦, C: unit-tests 🧪

#1077 Fix storybook
  .storybook/preview.js
  config/utils.js
  domains/core/admin/eventEditor/src/ui/EventRegistrationOptions/DefaultRegistrationStatus.tsx
  domains/rem/src/ui/recurrence/index.stories.tsx
  packages/rrule-generator/src/components/styles.scss
Labels: T: bug 🐞, C: UI/UX 🚽

#1078 Upgrade Chakra UI
  .storybook/main.js
  packages/adapters/package.json
  yarn.lock
Labels: T: bug 🐞, C: assets 💎

#1084 E2E | Create WP List Table utils
  packages/e2e-tests/specs/admin/events/overview/event-list/filters.test.ts
  packages/e2e-tests/specs/admin/events/overview/event-list/search.test.ts
  packages/e2e-tests/types.ts
  packages/e2e-tests/utils/admin/WPListTable.ts
  packages/e2e-tests/utils/admin/events/editor/EntityListParser.ts
  packages/e2e-tests/utils/admin/events/list/EventsListSurfer.ts
  packages/e2e-tests/utils/admin/events/list/index.ts
  packages/e2e-tests/utils/admin/events/list/resetFilter.ts
  packages/e2e-tests/utils/admin/index.ts
  packages/e2e-tests/utils/wp/visitAdminPage.ts
Labels: T: enhancement ✨, C: automation & deployment ⚙️

#1086 Fix Chakra Colour Mode
  packages/adapters/src/theme/ThemeProvider.tsx
Labels: T: bug 🐞, S7: code review 🔎, C: UI/UX 🚽, D: EDTR ✏️, P3: med priority 😐

#1085 Add docs for ioc and slot-fill
  packages/ioc/README.md
  packages/slot-fill/README.md
Labels: D: Packages 📦, C: documentation 📑

#1087 Fix E2E tests
  .eslintignore
  packages/e2e-tests/specs/public/single-page-checkout/registration-scenarios/index.test.ts
  packages/e2e-tests/specs/shared/two-dates-two-tickets.test.ts
  packages/e2e-tests/utils/admin/Goto.ts
  packages/e2e-tests/utils/public/reg-checkout/assertRegSuccess.ts
  packages/e2e-tests/utils/public/reg-checkout/index.ts
Labels: T: bug 🐞, C: automation & deployment ⚙️

#1089 Fix Date and Ticket registration links
  domains/core/admin/eventEditor/src/ui/datetimes/datesList/DateRegistrationsLink.tsx
  domains/core/admin/eventEditor/src/ui/datetimes/datesList/DateSoldLink.tsx
  domains/core/admin/eventEditor/src/ui/datetimes/datesList/cardView/DateDetailsPanel.tsx
  domains/core/admin/eventEditor/src/ui/datetimes/datesList/cardView/Details.tsx
  domains/core/admin/eventEditor/src/ui/datetimes/datesList/tableView/useBodyRowGenerator.tsx
  domains/core/admin/eventEditor/src/ui/datetimes/datesList/types.ts
  domains/core/admin/eventEditor/src/ui/tickets/ticketsList/TicketRegistrationsLink.tsx
  domains/core/admin/eventEditor/src/ui/tickets/ticketsList/TicketSoldLink.tsx
  domains/core/admin/eventEditor/src/ui/tickets/ticketsList/cardView/Details.tsx
  domains/core/admin/eventEditor/src/ui/tickets/ticketsList/cardView/TicketDetailsPanel.tsx
  domains/core/admin/eventEditor/src/ui/tickets/ticketsList/tableView/useBodyRowGenerator.tsx
  domains/core/admin/eventEditor/src/ui/tickets/ticketsList/types.ts
  packages/edtr-services/src/hooks/useRegistrationsLink.ts
  packages/edtr-services/src/types.ts
  packages/ui-components/src/Button/Link/style.scss
  packages/ui-components/src/EntityDetailsPanel/EntityDetailsPanelSold.tsx
  packages/ui-components/src/EntityDetailsPanel/index.ts
  packages/ui-components/src/EntityDetailsPanel/style.scss
  packages/ui-components/src/EntityList/RegistrationsLink/index.tsx
  packages/ui-components/src/EntityList/RegistrationsLink/style.scss
Labels: T: bug 🐞, C: data systems 🗑

#1092 Fix | Datetime sold values don't update when assigned tickets updated
  domains/rem/src/services/apollo/queries/recurrences/queries.ts
  domains/rem/src/services/apollo/queries/recurrences/useRecurrenceItem.ts
  domains/rem/src/services/apollo/types.ts
  packages/data/src/client.ts
  packages/data/src/index.ts
  packages/edtr-services/src/apollo/mutations/tickets/useAffectedDatesQueries.ts
  packages/edtr-services/src/apollo/mutations/tickets/useBulkEditTickets.ts
  packages/edtr-services/src/apollo/mutations/tickets/useMutationHandler.ts
  packages/edtr-services/src/apollo/queries/datetimes/queries.ts
  packages/edtr-services/src/apollo/queries/datetimes/useDatetimeItem.ts
  packages/edtr-services/src/apollo/queries/datetimes/useLazyDatetime.ts
  packages/edtr-services/src/apollo/queries/tickets/queries.ts
  packages/edtr-services/src/apollo/queries/tickets/useLazyTicket.ts
  packages/edtr-services/src/apollo/queries/tickets/useTicketItem.ts
  packages/edtr-services/src/apollo/types.ts
Labels: T: bug 🐞, C: data systems 🗑, D: EDTR ✏️

#1090 Create codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Labels: C: automation & deployment ⚙️, D: Packages 📦, P4: low priority :sunglasses:, S8: needs-feedback ❔, T: code-quality 👾

#1094 Fix CodeQL workflow syntax
  .github/workflows/codeql-analysis.yml
Labels: C: automation & deployment ⚙️

#1093 don't copy reserved or sold counts when cloning
  domains/core/admin/eventEditor/src/ui/datetimes/datesList/actionsMenu/dropdown/useActions.ts
Labels: T: enhancement ✨, S7: code review 🔎, C: data systems 🗑, D: EDTR ✏️, P3: med priority 😐
