Repository eventespresso/barista, pull requests merged in 2021-04, with the labels that each got.

#800 Fix RRule string computation bug when end after is empty
  .env
  .gitignore
  packages/e2e-tests/specs/rem/index.test.ts
  packages/rrule-generator/src/hooks/useStateListener.ts
  packages/rrule-generator/src/state/useInitialState.ts
  packages/rrule-generator/src/utils/computeRRule/fromString/computeEndMode.ts
  packages/rrule-generator/src/utils/computeRRule/fromString/computeRRule.ts
  packages/rrule-generator/src/utils/computeRRule/fromString/tests/computeEndAfter.test.ts
  packages/rrule-generator/src/utils/computeRRule/fromString/tests/computeEndMode.test.ts
  packages/rrule-generator/src/utils/computeRRule/fromString/types.ts
Labels: C: UI/UX 🚽, D: REM ♺, T: bug 🐞

#801 E2E: dates deletion.
  domains/eventEditor/src/ui/datetimes/datesList/actionsMenu/dropdown/DateMainMenu.tsx
  packages/e2e-tests/assertions/getDatesLength.ts
  packages/e2e-tests/assertions/getEntitiesLength.ts
  packages/e2e-tests/assertions/index.ts
  packages/e2e-tests/specs/dates/delete.test.ts
  packages/e2e-tests/specs/dates/edit.test.ts
  packages/e2e-tests/specs/dates/filters/sales.test.ts
  packages/e2e-tests/specs/dates/filters/search.test.ts
  packages/e2e-tests/specs/dates/filters/status.test.ts
  packages/e2e-tests/utils/deleteDateByName.ts
  packages/e2e-tests/utils/index.ts
  packages/ui-components/src/DropdownMenu/DropdownToggle/index.tsx
Labels: C: automation & deployment ⚙️

#797 E2E: table view tests.
  domains/eventEditor/src/ui/datetimes/datesList/tableView/useBodyRowGenerator.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/tableView/useBodyRowGenerator.tsx
  packages/e2e-tests/specs/dummy.test.ts
  packages/e2e-tests/specs/shared/views/table-view-new-entity-test.ts
  packages/ui-components/src/EspressoTable/TableRow.tsx
Labels: C: automation & deployment ⚙️

#804 E2E: TAM Filers
  .github/workflows/pr-checks.yml
  domains/eventEditor/src/ui/datetimes/datesList/actionsMenu/dropdown/DateMainMenu.tsx
  packages/dates/src/components/DatePicker.tsx
  packages/e2e-tests/specs/dummy.test.ts
  packages/e2e-tests/specs/tam/data.ts
  packages/e2e-tests/specs/tam/filters.test.ts
  packages/e2e-tests/specs/tam/index.test.ts
  packages/e2e-tests/specs/tickets/index.test.ts
  packages/e2e-tests/specs/tpc/index.test.ts
  packages/e2e-tests/utils/DOMData.ts
  packages/e2e-tests/utils/addNewDate.ts
  packages/e2e-tests/utils/addNewTicket.ts
  packages/e2e-tests/utils/clickLabel.ts
  packages/e2e-tests/utils/dateAndTime.ts
  packages/e2e-tests/utils/fillDateTicketForm.ts
  packages/e2e-tests/utils/index.ts
  packages/e2e-tests/utils/removeAllDates.ts
Labels: C: automation & deployment ⚙️, C: unit-tests 🧪, T: task 🧹

#805 E2E: More TAM filters tests
  packages/e2e-tests/specs/tam/filters.test.ts
Labels: C: automation & deployment ⚙️, C: unit-tests 🧪, T: task 🧹

#807 Updated entity main menu data-testid.
  domains/eventEditor/src/ui/datetimes/datesList/actionsMenu/dropdown/DateMainMenu.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/actionsMenu/dropdown/TicketMainMenu.tsx
  packages/e2e-tests/utils/deleteDateByName.ts
  packages/e2e-tests/utils/findEntityIdByName.ts
Labels: C: automation & deployment ⚙️

#808 E2E improvements
  domains/eventEditor/src/ui/ticketAssignmentsManager/components/table/DateCell.tsx
  packages/e2e-tests/assertions/expectCardToContain.ts
  packages/e2e-tests/assertions/getEntitiesLength.ts
  packages/e2e-tests/assertions/index.ts
  packages/e2e-tests/specs/dates/card.test.ts
  packages/e2e-tests/specs/dates/delete.test.ts
  packages/e2e-tests/specs/dates/edit.test.ts
  packages/e2e-tests/specs/dates/filters/sales.test.ts
  packages/e2e-tests/specs/dates/filters/search.test.ts
  packages/e2e-tests/specs/dates/filters/status.test.ts
  packages/e2e-tests/specs/dates/index.test.ts
  packages/e2e-tests/specs/shared/views/card-view-date-range.test.ts
  packages/e2e-tests/specs/shared/views/table-view-new-entity-test.ts
  packages/e2e-tests/specs/tam/filters.test.ts
  packages/e2e-tests/specs/tam/utils.ts
  packages/e2e-tests/specs/tickets/card.test.ts
  packages/e2e-tests/specs/tickets/index.test.ts
  packages/e2e-tests/utils/EntityListParser.ts
  packages/e2e-tests/utils/deleteDateByName.ts
  packages/e2e-tests/utils/index.ts
Labels: C: unit-tests 🧪, T: code-quality 👾

#803 E2E: entity pagination.
  domains/eventEditor/src/ui/datetimes/datesList/tableView/useBodyRowGenerator.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/tableView/useBodyRowGenerator.tsx
  package.json
  packages/e2e-tests/assertions/getPaginationSize.ts
  packages/e2e-tests/assertions/index.ts
  packages/e2e-tests/specs/dates/card.test.ts
  packages/e2e-tests/specs/dates/delete.test.ts
  packages/e2e-tests/specs/dates/edit.test.ts
  packages/e2e-tests/specs/dates/filters/sales.test.ts
  packages/e2e-tests/specs/dates/filters/search.test.ts
  packages/e2e-tests/specs/dates/filters/status.test.ts
  packages/e2e-tests/specs/dates/index.test.ts
  packages/e2e-tests/specs/rem/index.test.ts
  packages/e2e-tests/specs/shared/pagination.test.ts
  packages/e2e-tests/specs/shared/views/card-view-date-range.test.ts
  packages/e2e-tests/specs/shared/views/table-view-new-entity-test.ts
  packages/e2e-tests/specs/tam/index.test.ts
  packages/e2e-tests/specs/tickets/card.test.ts
  packages/e2e-tests/specs/tickets/edit.test.ts
  packages/e2e-tests/specs/tickets/index.test.ts
  packages/e2e-tests/specs/tpc/index.test.ts
  packages/e2e-tests/utils/addNewPriceModifier.ts
  packages/e2e-tests/utils/addNewRegistration.ts
  packages/e2e-tests/utils/clickButton.ts
  packages/e2e-tests/utils/fillDateTicketForm.ts
  packages/e2e-tests/utils/findEntityIdByName.ts
  packages/e2e-tests/utils/index.ts
  packages/e2e-tests/utils/removeAllPriceModifiers.ts
  packages/e2e-tests/utils/removeAllTickets.ts
  packages/e2e-tests/utils/removeLastDate.ts
  packages/e2e-tests/utils/removeLastTicket.ts
  packages/e2e-tests/utils/screenOptions.ts
  packages/e2e-tests/utils/setPrices.ts
  packages/ui-components/src/EspressoTable/TableRow.tsx
  yarn.lock
Labels: C: automation & deployment ⚙️

#809 TableRow data-testid fix.
  domains/eventEditor/src/ui/datetimes/datesList/tableView/useBodyRowGenerator.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/tableView/useBodyRowGenerator.tsx
  packages/e2e-tests/specs/shared/views/table-view-new-entity-test.ts
  packages/e2e-tests/utils/findEntityIdByName.ts
  packages/ui-components/src/EspressoTable/TableBody.tsx
  packages/ui-components/src/EspressoTable/TableRow.tsx
  packages/ui-components/src/EspressoTable/types.ts
Labels: D: EDTR ✏️

#810 E2E: Free event registration.
  domains/eventEditor/src/ui/datetimes/datesList/cardView/DateCapacity.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/cardView/TicketQuantity.tsx
  packages/adapters/src/InlineEdit/InlineEdit.tsx
  packages/e2e-tests/specs/registration/index.test.ts
  packages/ui-components/src/InlineEdit/InlineEditInput/Preview.tsx
  packages/ui-components/src/TabbableText/index.tsx
Labels: C: automation & deployment ⚙️

#811 TAMRover for E2E
  packages/e2e-tests/specs/dates/edit.test.ts
  packages/e2e-tests/specs/tam/single-vs-global-tam.test.ts
  packages/e2e-tests/utils/EntityListParser.ts
  packages/e2e-tests/utils/TAMRover.ts
  packages/e2e-tests/utils/index.ts
  packages/e2e-tests/utils/respondToAlert.ts
Labels: C: automation & deployment ⚙️, T: task 🧹

#815 UI: editable price fix.
  domains/eventEditor/src/ui/tickets/ticketsList/editable/EditablePrice.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/editable/style.scss
Labels: C: UI/UX 🚽, T: bug 🐞

#816 E2E tests for TAM toggle assignments
  domains/eventEditor/src/ui/ticketAssignmentsManager/components/useInvalidDataAlert.ts
  packages/e2e-tests/specs/tam/single-vs-global-tam.test.ts
  packages/e2e-tests/specs/tam/toggle-assignments.test.ts
  packages/e2e-tests/utils/TAMRover.ts
  packages/edtr-services/src/apollo/mutations/tickets/useBulkEditTickets.ts
Labels: C: automation & deployment ⚙️, T: task 🧹

#817 E2E: TAM - Related Count in card and table view vs TAM Assignments
  packages/e2e-tests/specs/tam/related-count-vs-assignments.test.ts
  packages/e2e-tests/utils/EntityListParser.ts
  packages/e2e-tests/utils/TAMRover.ts
Labels: C: automation & deployment ⚙️, T: task 🧹

#818 E2E: Registration sold out.
  packages/e2e-tests/specs/registration/sold-out.test.ts
  packages/e2e-tests/utils/EntityListParser.ts
  packages/e2e-tests/utils/getEventUrl.ts
  packages/e2e-tests/utils/index.ts
Labels: C: automation & deployment ⚙️

#820 Clean up and convert E2E JS files to TS
  packages/e2e-tests/config/setup-playwright.ts
  packages/e2e-tests/constants/index.ts
  packages/e2e-tests/jest.playwright.config.ts
  packages/e2e-tests/utils/admin/wp-plugins-page/activatePlugin.ts
  packages/e2e-tests/utils/admin/wp-plugins-page/deactivatePlugin.ts
  packages/e2e-tests/utils/common/respondToAlert.ts
  packages/e2e-tests/utils/dev/config.ts
  packages/e2e-tests/utils/dev/get-json-response.js
  packages/e2e-tests/utils/misc/pressKeyWithModifier.ts
  packages/e2e-tests/utils/mocks/create-embedding-matcher.js
  packages/e2e-tests/utils/mocks/create-json-response.js
  packages/e2e-tests/utils/mocks/create-url-matcher.js
  packages/e2e-tests/utils/mocks/index.js
  packages/e2e-tests/utils/mocks/mock-or-transform.js
  packages/e2e-tests/utils/mocks/set-up-response-mocking.js
  packages/e2e-tests/utils/test/get-page-error.js
  packages/e2e-tests/utils/wp/createURL.ts
  packages/e2e-tests/utils/wp/getPageError.ts
  packages/e2e-tests/utils/wp/index.ts
  packages/e2e-tests/utils/wp/isCurrentURL.ts
  packages/e2e-tests/utils/wp/loginUser.ts
  packages/e2e-tests/utils/wp/switchUserToAdmin.ts
  packages/e2e-tests/utils/wp/switchUserToTest.ts
  packages/e2e-tests/utils/wp/visitAdminPage.ts
Labels: C: automation & deployment ⚙️, T: code-quality 👾

#822 E2E Timeout improvements
  domains/eventEditor/src/ui/datetimes/datesList/DatesList.tsx
  domains/eventEditor/src/ui/datetimes/datesList/DatesListFooter.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/TicketsListFooter.tsx
  packages/e2e-tests/specs/dates/card.test.ts
  packages/e2e-tests/specs/dates/edit.test.ts
  packages/e2e-tests/specs/rem/index.test.ts
  packages/e2e-tests/specs/tam/related-count-vs-assignments.test.ts
  packages/e2e-tests/specs/tam/single-vs-global-tam.test.ts
  packages/e2e-tests/specs/tam/toggle-assignments.test.ts
  packages/e2e-tests/specs/tam/utils.ts
  packages/e2e-tests/specs/tickets/card.test.ts
  packages/e2e-tests/specs/tickets/edit.test.ts
  packages/e2e-tests/specs/tickets/index.test.ts
  packages/e2e-tests/specs/tpc/index.test.ts
  packages/e2e-tests/utils/admin/event-editor/EntityListParser.ts
  packages/e2e-tests/utils/admin/event-editor/addNewDate.ts
  packages/e2e-tests/utils/admin/event-editor/addNewTicket.ts
  packages/e2e-tests/utils/admin/event-editor/createNewEvent.ts
  packages/e2e-tests/utils/admin/event-editor/deleteDateByName.ts
  packages/edtr-services/src/apollo/mutations/datetimes/useOptimisticResponse.ts
  packages/edtr-services/src/apollo/mutations/tickets/useOptimisticResponse.ts
  packages/ee-components/src/EntityList/EntityCacheIds.tsx
  packages/ee-components/src/EntityList/index.ts
Labels: C: automation & deployment ⚙️, T: code-quality 👾

#821 E2E: check registration for 2 dates/ 2 tickets.
  packages/e2e-tests/specs/shared/two-dates-two-tickets.test.ts
  packages/e2e-tests/utils/admin/event-editor/addNewDate.ts
  packages/e2e-tests/utils/admin/event-editor/editEntityCard.ts
  packages/e2e-tests/utils/admin/event-editor/fillDateTicketForm.ts
  packages/e2e-tests/utils/admin/event-editor/index.ts
  packages/e2e-tests/utils/admin/event-editor/questionsForPrimaryRegistrant.ts
  packages/e2e-tests/utils/public/reg-checkout/submitRegistration.ts
Labels: C: automation & deployment ⚙️

#824 Docs: SASS.
  packages/styles/README.md
Labels: C: documentation 📑

#825 Docs: storybook.
  .storybook/README.md
  package.json
  yarn.lock
Labels: C: automation & deployment ⚙️

#826 Docs: chromatic and playwright.
  .github/workflows/README.md
  packages/e2e-tests/README.md
Labels: C: documentation 📑

#827 Docs and cleanup: jest.
  config/README.md
  jest.config.ts
  packages/adapters/setupTests.ts
  packages/constants/setupTests.ts
  packages/data/setupTests.ts
  packages/dates/setupTests.ts
  packages/e2e-tests/jest.playwright.config.ts
  packages/edtr-services/setupTests.ts
  packages/form/setupTests.ts
  packages/helpers/setupTests.ts
  packages/hooks/setupTests.ts
  packages/ioc/setupTests.ts
  packages/predicates/setupTests.ts
  packages/registry/setupTests.ts
  packages/rrule-generator/setupTests.ts
  packages/services/setupTests.ts
  packages/styles/setupTests.ts
  packages/toaster/setupTests.ts
  packages/tpc/setupTests.ts
  packages/ui-components/setupTests.ts
  packages/utils/setupTests.ts
Labels: C: unit-tests 🧪

#829 Docs: build/test scripts.
  scripts/README.md
  scripts/build.js
  scripts/test.js
Labels: C: documentation 📑

#830 Docs: lerna.
  docs/assets/gh-check.png
  docs/assets/packages-to-be-published.png
  docs/assets/select-new-version.png
  docs/assets/success.png
  lerna.md
Labels: C: documentation 📑

#828 A11y and e2e fixes
  .eslintrc.json
  domains/blocks/package.json
  domains/eventEditor/src/ui/ticketAssignmentsManager/filters/controls/ShowExpiredTicketsControl.tsx
  domains/eventEditor/src/ui/ticketAssignmentsManager/filters/controls/ShowTrashedDatesControl.tsx
  domains/eventEditor/src/ui/ticketAssignmentsManager/filters/controls/ShowTrashedTicketsControl.tsx
  domains/wpPluginsPage/package.json
  domains/wpPluginsPage/src/style.css
  jest.config.ts
  package.json
  packages/adapters/package.json
  packages/adapters/src/ColorPicker/ColorPicker.tsx
  packages/adapters/src/theme/ThemeProvider.tsx
  packages/data/package.json
  packages/dates/package.json
  packages/e2e-tests/specs/dates/edit.test.ts
  packages/e2e-tests/specs/rem/index.test.ts
  packages/e2e-tests/specs/shared/views/card-view-date-range.test.ts
  packages/e2e-tests/specs/tickets/edit.test.ts
  packages/e2e-tests/tsconfig.json
  packages/e2e-tests/utils/admin/event-editor/fillDateTicketForm.ts
  packages/e2e-tests/utils/common/clickLastDateFromPicker.ts
  packages/e2e-tests/utils/common/index.ts
  packages/e2e-tests/utils/common/selectDateFromNextMonth.ts
  packages/edtr-services/package.json
  packages/edtr-services/src/apollo/mutations/useReorderEntities.ts
  packages/form/package.json
  packages/form/src/renderers/FieldRenderer/index.tsx
  packages/i18n/package.json
  packages/ioc/package.json
  packages/react-exit-modal-typeform/package.json
  packages/rich-text-editor/package.json
  packages/rrule-generator/package.json
  packages/services/package.json
  packages/slot-fill/package.json
  packages/styles/package.json
  packages/toaster/package.json
  packages/ui-components/src/Switch/Switch.tsx
  packages/ui-components/src/withDebounce/withDebounce.tsx
  packages/ui-components/src/withLabel/withLabel.tsx
  tsconfig.json
  yarn.lock
Labels: C: UI/UX 🚽, C: automation & deployment ⚙️, D: Packages 📦, T: bug 🐞

#832 Docs: babel.
  babel.config.js
  babel.md
  lerna.md
  package.json
  yarn.lock
Labels: C: documentation 📑

#835 Add docs for dev tools
  config/README.md
  config/packages-and-domains.js
  scripts/README.md
Labels: C: automation & deployment ⚙️, C: build-process 🔨, C: documentation 📑

#836 E2E tests for Date capacity vs Ticket quantity change
  lib/Barista.php
  packages/e2e-tests/specs/shared/date-capacity-vs-ticket-qty.test.ts
  packages/e2e-tests/specs/shared/two-dates-two-tickets.test.ts
  packages/e2e-tests/utils/admin/event-editor/DatesListParser.ts
  packages/e2e-tests/utils/admin/event-editor/EntityListParser.ts
  packages/e2e-tests/utils/admin/event-editor/TicketsListParser.ts
  packages/e2e-tests/utils/admin/event-editor/addNewDate.ts
  packages/e2e-tests/utils/admin/event-editor/editEntityCard.ts
  packages/e2e-tests/utils/admin/event-editor/fillDateTicketForm.ts
  packages/e2e-tests/utils/admin/event-editor/getDateCapacityByName.ts
  packages/e2e-tests/utils/admin/event-editor/getTicketQuantityByName.ts
  packages/e2e-tests/utils/admin/event-editor/index.ts
  packages/e2e-tests/utils/admin/event-editor/removeLastTicket.ts
Labels: C: automation & deployment ⚙️, C: unit-tests 🧪, D: EDTR ✏️

#837 E2E Improvements
  domains/core/admin/eventEditor/src/ui/ticketAssignmentsManager/utils/index.ts
  packages/dates/src/utils/misc.ts
  packages/e2e-tests/assertions/expectCardToContain.ts
  packages/e2e-tests/specs/dates/card.test.ts
  packages/e2e-tests/specs/dates/edit.test.ts
  packages/e2e-tests/specs/shared/date-capacity-vs-ticket-qty.test.ts
  packages/e2e-tests/specs/tickets/card.test.ts
  packages/e2e-tests/specs/tickets/edit.test.ts
  packages/e2e-tests/utils/admin/event-editor/DateEditor.ts
  packages/e2e-tests/utils/admin/event-editor/DatesListParser.ts
  packages/e2e-tests/utils/admin/event-editor/EntityEditor.ts
  packages/e2e-tests/utils/admin/event-editor/TicketEditor.ts
  packages/e2e-tests/utils/admin/event-editor/TicketsListParser.ts
  packages/e2e-tests/utils/admin/event-editor/fillDateTicketForm.ts
  packages/e2e-tests/utils/admin/event-editor/index.ts
Labels: C: automation & deployment ⚙️, T: code-quality 👾

#838 E2E: Add tests for Entity List view change
  packages/e2e-tests/specs/shared/views/switch-view.test.ts
  packages/e2e-tests/utils/admin/event-editor/EntityListParser.ts
Labels: C: automation & deployment ⚙️, T: task 🧹

#839 E2E: Tests for Ticket price changes
  packages/e2e-tests/specs/rem/index.test.ts
  packages/e2e-tests/specs/tickets/price.test.ts
  packages/e2e-tests/specs/tpc/index.test.ts
  packages/e2e-tests/utils/admin/event-editor/EntityListParser.ts
  packages/e2e-tests/utils/admin/event-editor/TPCSafari.ts
  packages/e2e-tests/utils/admin/event-editor/TicketEditor.ts
  packages/e2e-tests/utils/admin/event-editor/createNewEvent.ts
  packages/e2e-tests/utils/admin/event-editor/getDateCapacityByName.ts
  packages/e2e-tests/utils/admin/event-editor/getTicketPrice.ts
  packages/e2e-tests/utils/admin/event-editor/getTicketQuantityByName.ts
  packages/e2e-tests/utils/admin/event-editor/index.ts
  packages/e2e-tests/utils/admin/wp-plugins-page/activatePlugin.ts
  packages/e2e-tests/utils/admin/wp-plugins-page/deactivatePlugin.ts
  packages/e2e-tests/utils/misc/debug.ts
  packages/e2e-tests/utils/misc/index.ts
Labels: C: automation & deployment ⚙️, T: task 🧹

#840 E2E: More ticket price tests
  domains/core/admin/eventEditor/src/ui/tickets/ticketsList/editable/EditablePrice.tsx
  packages/e2e-tests/specs/shared/date-capacity-vs-ticket-qty.test.ts
  packages/e2e-tests/specs/tam/related-count-vs-assignments.test.ts
  packages/e2e-tests/specs/tam/toggle-assignments.test.ts
  packages/e2e-tests/specs/tickets/price.test.ts
  packages/e2e-tests/specs/tpc/index.test.ts
  packages/e2e-tests/specs/tpc/price-inline-vs-tpc.test.ts
  packages/e2e-tests/utils/admin/event-editor/TAMRover.ts
  packages/e2e-tests/utils/admin/event-editor/TPCSafari.ts
  packages/e2e-tests/utils/admin/event-editor/setPrice.ts
  packages/e2e-tests/utils/common/respondToAlert.ts
  packages/tpc/src/fields/TicketPriceField.tsx
  packages/tpc/src/fields/usePriceAmount.tsx
Labels: C: automation & deployment ⚙️

#841 E2E: Add crazy test cases for ticket price inputs
  packages/e2e-tests/specs/tpc/data.ts
  packages/e2e-tests/specs/tpc/price-precision.test.ts
  packages/e2e-tests/utils/admin/event-editor/TicketEditor.ts
Labels: C: automation & deployment ⚙️

#842 Split E2E tests
  .github/workflows/pr-checks.yml
  packages/e2e-tests/specs/dates/delete.test.ts
  packages/e2e-tests/specs/dates/filters/search.test.ts
  packages/e2e-tests/specs/shared/date-capacity-vs-ticket-qty.test.ts
  packages/e2e-tests/specs/shared/dummy.test.ts
  packages/e2e-tests/specs/shared/views/table-view-new-entity-test.ts
  packages/e2e-tests/specs/tickets/data.ts
  packages/e2e-tests/specs/tickets/price-inline-vs-tpc.test.ts
  packages/e2e-tests/specs/tickets/price-precision.test.ts
  packages/e2e-tests/utils/admin/event-editor/DateEditor.ts
  packages/e2e-tests/utils/admin/event-editor/EntityEditor.ts
  packages/e2e-tests/utils/admin/event-editor/TicketEditor.ts
  packages/e2e-tests/utils/admin/event-editor/addNewDate.ts
  packages/e2e-tests/utils/admin/event-editor/deleteDateByName.ts
  packages/e2e-tests/utils/admin/event-editor/index.ts
Labels: C: automation & deployment ⚙️
