Repository eventespresso/barista, pull requests merged in 2021-07, with the labels that each got.

#945 Form Builder | Wire up shared sections in EDTR
  eslint/levels.js
  eslint/package.json
  packages/form-builder/src/FormElement/Tabs/Settings.tsx
  packages/form-builder/src/FormSection/AddFormElementPopover.tsx
  packages/form-builder/src/FormSection/SaveSection.tsx
  packages/form-builder/src/FormSection/Tabs/Settings.tsx
  packages/form-builder/src/constants.ts
  packages/form-builder/src/mockData.ts
  packages/form-builder/src/state/constants.ts
  packages/form-builder/src/state/types.ts
  packages/form-builder/src/state/useFormStateManager.ts
  packages/form-builder/src/state/useFormStateReducer.ts
  packages/form-builder/src/state/utils.ts
  packages/form-builder/src/types.ts
  packages/form-builder/src/utils.ts
  packages/predicates/src/common/isDefault/index.ts
  packages/predicates/src/common/listPredicates.ts
  packages/predicates/src/common/selectionPredicates/index.ts
  packages/predicates/src/datetimes/sorters/index.ts
  packages/predicates/src/tickets/sorters/index.ts
  yarn.lock
Labels: C: UI/UX 🚽, C: data systems 🗑, D: Packages 📦

#946 Use official setup-node action in GH Actions workflows
  .github/workflows/chromatic.yml
  .github/workflows/deploy-master.yml
  .github/workflows/deploy-rc.yml
  .github/workflows/pr-checks.yml
  packages/utils/src/misc.ts
  yarn.lock
Labels: C: automation & deployment ⚙️, T: task 🧹

#948 Fix modal scroll to top bug
  domains/core/admin/eventEditor/src/ui/styles.scss
Labels: C: UI/UX 🚽, T: bug 🐞

#949 Form Builder | Multiple Enhancements
  packages/dates/src/utils/misc.ts
  packages/form-builder/src/FormElement/FormElementInput.tsx
  packages/form-builder/src/FormElement/MappedElement.tsx
  packages/form-builder/src/state/constants.ts
  packages/form-builder/src/state/utils.ts
  packages/utils/src/misc.ts
Labels: C: UI/UX 🚽, D: Packages 📦, T: enhancement ✨

#951 Form Builder | Fix DnD keyboard a11y
  packages/form-builder/src/FormElement/FormElement.tsx
  packages/form-builder/src/FormElement/Tabs/FieldOption.tsx
  packages/form-builder/src/styles.scss
Labels: C: services 🤝, D: EDTR ✏️, T: enhancement ✨

#952 Form Builder | Element/input settings
  packages/form-builder/src/FormElement/Tabs/InputType.tsx
  packages/form-builder/src/FormElement/Tabs/Settings.tsx
Labels: C: UI/UX 🚽, D: EDTR ✏️, T: enhancement ✨

#953 Form Builder | input validation
  packages/form-builder/src/FormElement/Tabs/Validation.tsx
  packages/form-builder/src/constants.ts
  packages/form-builder/src/types.ts
Labels: C: UI/UX 🚽, D: EDTR ✏️, T: enhancement ✨

#956 Form Builder | New element default labels
  packages/form-builder/src/state/useFormStateReducer.ts
  packages/form-builder/src/state/utils.ts
Labels: D: EDTR ✏️, T: enhancement ✨

#957 Form Builder | Hide rules tabs
  packages/form-builder/src/FormElement/Tabs/FormElementTabs.tsx
  packages/form-builder/src/FormSection/Tabs/FormSectionTabs.tsx
Labels: D: EDTR ✏️, T: task 🧹

#961 Form Builder | Fix/Update new element labels
  packages/form-builder/src/state/utils.ts
  packages/form-builder/src/types.ts
Labels: D: EDTR ✏️, T: enhancement ✨

#960 Fix HTML Elements botched up content
  packages/form-builder/src/FormElement/FormElementInput.tsx
  packages/form-builder/src/FormElement/Tabs/Settings.tsx
  packages/form-builder/src/types.ts
Labels: C: data systems 🗑, D: EDTR ✏️, T: bug 🐞

#962 Form Builder | Multiple enhancements
  packages/adapters/src/Slider/CurrentValue.tsx
  packages/adapters/src/Slider/Slider.tsx
  packages/adapters/src/Slider/index.ts
  packages/adapters/src/index.ts
  packages/form-builder/src/FormElement/FormElementInput.tsx
  packages/form-builder/src/FormElement/MappedElement.tsx
  packages/form-builder/src/FormElement/Tabs/Settings.tsx
  packages/form-builder/src/FormElement/Tabs/Styles.tsx
  packages/form-builder/src/FormElement/Tabs/Validation.tsx
  packages/form-builder/src/constants.ts
  packages/form-builder/src/mockData.ts
  packages/form-builder/src/types.ts
  packages/form-builder/src/utils.ts
  packages/utils/src/number/index.ts
  packages/utils/src/number/safeNumber.ts
Labels: C: UI/UX 🚽, D: EDTR ✏️, T: enhancement ✨

#963 Fix Chakra Storybook theme/styles
  .storybook/main.js
  package.json
  packages/adapters/package.json
  yarn.lock
Labels: C: UI/UX 🚽, C: build-process 🔨, T: bug 🐞

#965 Form Builder | Add phone format validation
  packages/adapters/src/types.ts
  packages/form-builder/src/FormElement/FormElementInput.tsx
  packages/form-builder/src/FormElement/Tabs/Validation.tsx
  packages/form-builder/src/constants.ts
  packages/form-builder/src/utils.ts
  packages/ui-components/src/Select/SelectWithCustomText.tsx
  packages/ui-components/src/Select/index.stories.tsx
  packages/ui-components/src/Select/index.ts
Labels: D: EDTR ✏️, T: enhancement ✨

#966 Fix TAM Filters E2E Test
  packages/e2e-tests/specs/tam/filters.test.ts
  packages/e2e-tests/specs/tam/utils.ts
Labels: C: unit-tests 🧪, D: EDTR ✏️, T: bug 🐞

#967 Fix TAM Filters E2E Test
  packages/e2e-tests/specs/shared/data.ts
Labels: C: automation & deployment ⚙️, D: EDTR ✏️, T: bug 🐞

#968 Update dependencies to the latest version
  domains/core/admin/blocks/package.json
  domains/core/admin/wpPluginsPage/package.json
  package.json
  packages/adapters/package.json
  packages/data/package.json
  packages/dates/package.json
  packages/edtr-services/package.json
  packages/rich-text-editor/package.json
  yarn.lock
Labels: D: Packages 📦, T: task 🧹

#970 EDTR Venue details
  domains/core/admin/eventEditor/src/ui/EventEditor.tsx
  domains/core/admin/eventEditor/src/ui/datetimes/datesList/cardView/Details.tsx
  domains/core/admin/eventEditor/src/ui/tickets/ticketsList/cardView/Details.tsx
  domains/core/admin/eventEditor/src/ui/venue/VenueDetails.tsx
  domains/core/admin/eventEditor/src/ui/venue/index.ts
  domains/core/admin/eventEditor/src/ui/venue/useVenueLink.ts
  packages/data/src/queries/index.ts
  packages/data/src/queries/venues/index.ts
  packages/data/src/queries/venues/types.ts
  packages/data/src/queries/venues/useVenuesQuery.ts
  packages/edtr-services/src/apollo/queries/index.ts
  packages/edtr-services/src/apollo/queries/venues/index.ts
  packages/edtr-services/src/apollo/queries/venues/queries.ts
  packages/edtr-services/src/apollo/queries/venues/useVenueQueryOptions.ts
  packages/edtr-services/src/apollo/queries/venues/useVenues.ts
  packages/edtr-services/src/apollo/types.ts
  packages/edtr-services/src/hooks/useRegistrationsLink.ts
  packages/edtr-services/src/utils/index.ts
  packages/services/src/utils/getAdminUrl.ts
  packages/services/src/utils/getEEDomData.ts
  packages/services/src/utils/index.ts
  packages/tpc/src/components/NoPricesBanner/DefaultPricesLink.tsx
  packages/ui-components/src/AddressView/AddressView.tsx
  packages/ui-components/src/AddressView/index.ts
  packages/ui-components/src/AddressView/style.scss
  packages/ui-components/src/index.ts
  packages/utils/src/list/index.ts
Labels: C: UI/UX 🚽, C: data systems 🗑, D: EDTR ✏️, T: feature request 🙏

#971 Event venue rehydration and mutation
  domains/core/admin/eventEditor/src/ui/venue/VenueDetails.tsx
  packages/edtr-services/src/apollo/initialization/useCacheRehydration.ts
  packages/edtr-services/src/apollo/mutations/events/types.ts
  packages/edtr-services/src/apollo/mutations/events/useOptimisticResponse.ts
  packages/edtr-services/src/apollo/queries/events/queries.ts
  packages/edtr-services/src/apollo/queries/events/test/data.ts
  packages/edtr-services/src/apollo/queries/index.ts
  packages/edtr-services/src/apollo/queries/venues/useVenueQueryOptions.ts
  packages/edtr-services/src/apollo/types.ts
  packages/edtr-services/src/hooks/entityListCacheUpdates/index.ts
  packages/edtr-services/src/hooks/entityListCacheUpdates/useUpdateVenueList.ts
  packages/edtr-services/src/types.ts
  packages/ui-components/src/AddressView/AddressView.tsx
  packages/ui-components/src/Select/Select.tsx
  packages/ui-components/src/withDebounce/types.ts
  packages/ui-components/src/withDebounce/withDebounce.tsx
Labels: C: UI/UX 🚽, C: data systems 🗑, D: EDTR ✏️

#972 Atomic Gutenberg Blocks | Event details
  domains/core/admin/blocks/src/event/DisplayField.tsx
  domains/core/admin/blocks/src/event/controls/SelectEvent.tsx
  domains/core/admin/blocks/src/event/controls/SelectField.tsx
  domains/core/admin/blocks/src/event/controls/index.tsx
  domains/core/admin/blocks/src/event/controls/useOnChangeStyle.ts
  domains/core/admin/blocks/src/event/edit.tsx
  domains/core/admin/blocks/src/event/index.tsx
  domains/core/admin/blocks/src/index.ts
  domains/core/admin/blocks/src/services/apollo/queries/events/index.ts
  domains/core/admin/blocks/src/services/apollo/queries/events/queries.ts
  domains/core/admin/blocks/src/services/apollo/queries/events/test/data.ts
  domains/core/admin/blocks/src/services/apollo/queries/events/test/useEvents.test.ts
  domains/core/admin/blocks/src/services/apollo/queries/events/useEvent.ts
  domains/core/admin/blocks/src/services/apollo/queries/events/useEvents.ts
  domains/core/admin/blocks/src/services/apollo/types.ts
  packages/data/src/client.ts
  packages/edtr-services/src/apollo/queries/events/queries.ts
  packages/edtr-services/src/apollo/queries/events/useEventGuid.ts
  packages/edtr-services/src/apollo/queries/events/useEventQueryOptions.ts
Labels: C: assets 💎, D: GB Blocks 🧱, T: feature request 🙏

#975 Blocks | EventField color settings and types
  domains/core/admin/blocks/src/event-attendees/index.tsx
  domains/core/admin/blocks/src/event/DisplayField.tsx
  domains/core/admin/blocks/src/event/controls/SelectEvent.tsx
  domains/core/admin/blocks/src/event/controls/SelectField.tsx
  domains/core/admin/blocks/src/event/controls/index.tsx
  domains/core/admin/blocks/src/event/controls/useOnChangeStyle.ts
  domains/core/admin/blocks/src/event/edit.tsx
  domains/core/admin/blocks/src/event/index.tsx
  domains/core/admin/blocks/src/event/types.ts
Labels: C: assets 💎, D: GB Blocks 🧱, T: feature request 🙏

#976 Fix generate:icons script
  domains/core/admin/blocks/package.json
  domains/core/admin/wpPluginsPage/package.json
  package.json
  packages/dates/package.json
  packages/i18n/package.json
  packages/icons/src/icons/Edit.tsx
  packages/icons/src/icons/SettingsOutlined.tsx
  packages/icons/src/icons/index.tsx
  packages/icons/src/svg/settingsOutlined.svg
  packages/ioc/package.json
  packages/services/package.json
  yarn.lock
Labels: C: build-process 🔨, T: bug 🐞

#973 Refactor EDTR Venue UI
  .wp-env.json
  domains/core/admin/eventEditor/src/ui/EventEditor.tsx
  domains/core/admin/eventEditor/src/ui/datetimes/datesList/cardView/Details.tsx
  domains/core/admin/eventEditor/src/ui/venue/VenueDetails.tsx
  domains/core/admin/eventEditor/src/ui/venue/styles.scss
  packages/data/src/types.ts
  packages/edtr-services/src/apollo/mutations/datetimes/types.ts
  packages/edtr-services/src/apollo/mutations/datetimes/useOptimisticResponse.ts
  packages/edtr-services/src/apollo/queries/datetimes/queries.ts
  packages/edtr-services/src/apollo/queries/datetimes/test/data.ts
  packages/edtr-services/src/apollo/queries/venues/queries.ts
  packages/edtr-services/src/apollo/types.ts
  packages/hooks/src/useOnClickOutside.ts
  packages/hooks/src/usePrevious.ts
  packages/icons/src/icons/Building.tsx
  packages/icons/src/icons/Groups.tsx
  packages/icons/src/icons/MapMarker.tsx
  packages/icons/src/icons/Phone.tsx
  packages/icons/src/icons/VenueSeat.tsx
  packages/icons/src/icons/index.tsx
  packages/icons/src/svg/groups.svg
  packages/icons/src/svg/mapMarker.svg
  packages/icons/src/svg/phone.svg
  packages/icons/src/svg/seat.svg
  packages/predicates/src/datetimes/filters/tests/data.ts
  packages/rich-text-editor/src/components/RichTextEditor/render/Image/Image.tsx
  packages/ui-components/src/Address/Address.tsx
  packages/ui-components/src/Address/addressFormatter.ts
  packages/ui-components/src/Address/index.ts
  packages/ui-components/src/Address/style.scss
  packages/ui-components/src/AddressView/AddressView.tsx
  packages/ui-components/src/AddressView/index.ts
  packages/ui-components/src/AddressView/style.scss
  packages/ui-components/src/EntityCard/styles.scss
  packages/ui-components/src/EntityDetailsPanel/style.scss
  packages/ui-components/src/Select/InlineSelect.tsx
  packages/ui-components/src/Select/Select.tsx
  packages/ui-components/src/Select/index.ts
  packages/ui-components/src/Select/style.scss
  packages/ui-components/src/TabbableText/index.tsx
  packages/ui-components/src/Tooltip/ClickableIconWithTooltip/index.tsx
  packages/ui-components/src/VenueSelector/VenueSelector.tsx
  packages/ui-components/src/VenueSelector/index.ts
  packages/ui-components/src/VenueSelector/styles.scss
  packages/ui-components/src/index.ts
Labels: C: UI/UX 🚽, D: EDTR ✏️, P3: med priority 😐, S7: code review 🔎, T: enhancement ✨
