Repository eventespresso/barista, pull requests merged in 2021-09, with the labels that each got.

#986 Remove unnecessary errors used only for debugging
  packages/plugins/src/api/index.ts
Labels: T: bug 🐞

#987 Update all deps to latest version
  domains/core/admin/blocks/package.json
  domains/core/admin/wpPluginsPage/package.json
  domains/rem/src/services/apollo/mutations/recurrences/test/deleteRecurrence.test.ts
  package.json
  packages/adapters/package.json
  packages/data/package.json
  packages/dates/package.json
  packages/edtr-services/src/apollo/queries/events/test/useEvent.test.ts
  packages/hooks/src/useRect.ts
  packages/hooks/src/utils/getHTMLElementClientRect.ts
  packages/i18n/package.json
  packages/rich-text-editor/package.json
  packages/services/package.json
  packages/toaster/package.json
  packages/toaster/src/index.stories.tsx
  packages/utils/src/dom/getHTMLElementClientRect.ts
  yarn.lock
Labels: T: task 🧹

#991 Mutation toaster string translations
  domains/eventSmart/admin/upsellEditor/src/services/apollo/mutations/useUpsellAdMutator.ts
  domains/rem/src/services/apollo/mutations/recurrences/useRecurrenceMutator.ts
  packages/data/src/mutations/useMutationWithFeedback.ts
  packages/edtr-services/src/apollo/mutations/datetimes/useBulkEditDatetimes.ts
  packages/edtr-services/src/apollo/mutations/datetimes/useDatetimeMutator.ts
  packages/edtr-services/src/apollo/mutations/events/useEventMutator.ts
  packages/edtr-services/src/apollo/mutations/prices/usePriceMutator.ts
  packages/edtr-services/src/apollo/mutations/tickets/useBulkEditTickets.ts
  packages/edtr-services/src/apollo/mutations/tickets/useTicketMutator.ts
  packages/edtr-services/src/apollo/mutations/useBulkDeleteEntities.ts
  packages/edtr-services/src/constants.ts
  packages/form-builder/src/data/useElementMutator.ts
  packages/form-builder/src/data/useSectionMutator.ts
Labels: T: bug 🐞, D: Packages 📦, T: code-quality 👾

#988 A Few More UI Fixes
  domains/core/admin/eventEditor/src/ui/venue/styles.scss
  packages/icons/src/icons/Desktop.tsx
  packages/icons/src/icons/Edit.tsx
  packages/rich-text-editor/src/components/RichTextEditor/style.scss
  packages/rich-text-editor/src/components/WithEditMode/style.scss
  packages/rich-text-editor/src/rte-old/components/RTEWithEditMode/style.scss
  packages/rich-text-editor/src/rte-old/components/RichTextEditor/style.scss
  packages/ui-components/src/VenueSelector/styles.scss
Labels: T: enhancement ✨, S7: code review 🔎, C: UI/UX 🚽, D: EDTR ✏️, P3: med priority 😐

#997 🐛 Fix | Bulk Update Shifting Dates Ahead Does Not Reset Status
  packages/edtr-services/src/apollo/mutations/datetimes/useBulkEditDatetimes.ts
  packages/edtr-services/src/apollo/mutations/tickets/useBulkEditTickets.ts
  packages/edtr-services/src/apollo/mutations/utils.ts
  packages/predicates/src/common/isExpired/index.ts
  packages/predicates/src/common/isTrashed/index.ts
  packages/predicates/src/datetimes/index.ts
  packages/predicates/src/datetimes/isActive.ts
  packages/predicates/src/datetimes/isUpcoming.ts
  packages/predicates/src/tickets/filters/allOnSaleAndPending/index.ts
  packages/predicates/src/tickets/filters/pendingOnly/index.ts
  packages/predicates/src/tickets/isOnSale/index.ts
  packages/predicates/src/tickets/isPending/index.ts
Labels: T: bug 🐞, C: data systems 🗑, D: EDTR ✏️

#1000 ✨ Form Builder | Add UI for Applies to field for sections
  packages/form-builder/src/FormSection/Tabs/Settings.tsx
Labels: C: data systems 🗑, T: feature request 🙏, D: Packages 📦

#1001 🔨 Move Toaster Import into useMutationWithFeedback Hook
  domains/eventSmart/admin/upsellEditor/src/services/apollo/mutations/useUpsellAdMutator.ts
  domains/rem/src/services/apollo/mutations/recurrences/useRecurrenceMutator.ts
  packages/data/src/mutations/useMutationWithFeedback.ts
  packages/edtr-services/src/apollo/mutations/datetimes/useBulkEditDatetimes.ts
  packages/edtr-services/src/apollo/mutations/datetimes/useDatetimeMutator.ts
  packages/edtr-services/src/apollo/mutations/events/useEventMutator.ts
  packages/edtr-services/src/apollo/mutations/prices/usePriceMutator.ts
  packages/edtr-services/src/apollo/mutations/tickets/useBulkEditTickets.ts
  packages/edtr-services/src/apollo/mutations/tickets/useTicketMutator.ts
  packages/edtr-services/src/apollo/mutations/useBulkDeleteEntities.ts
  packages/form-builder/src/data/useElementMutator.ts
  packages/form-builder/src/data/useSectionMutator.ts
Labels: T: enhancement ✨, C: data systems 🗑, D: Packages 📦

#1005 ✨ Form Builder | mapsTo UI and EDTR Reg Form validation
  domains/core/admin/eventEditor/src/ui/registrationForm/ErrorMessage.tsx
  domains/core/admin/eventEditor/src/ui/registrationForm/RegistrationForm.tsx
  domains/core/admin/eventEditor/src/ui/registrationForm/constants.ts
  domains/core/admin/eventEditor/src/ui/registrationForm/utils.ts
  packages/adapters/src/Select/types.ts
  packages/form-builder/src/FormBuilder.tsx
  packages/form-builder/src/FormElement/Tabs/Settings.tsx
  packages/form-builder/src/FormSection/AddFormElementPopover.tsx
  packages/form-builder/src/FormSection/FormSectionToolbar.tsx
  packages/form-builder/src/FormSection/SaveSection.tsx
  packages/form-builder/src/FormSection/Tabs/Settings.tsx
  packages/form-builder/src/context/FormStateProvider.tsx
  packages/form-builder/src/state/types.ts
  packages/form-builder/src/state/useFormStateManager.ts
  packages/form-builder/src/state/useFormStateReducer.ts
  packages/form-builder/src/types.ts
Labels: T: enhancement ✨, C: UI/UX 🚽, C: data systems 🗑, T: feature request 🙏, D: EDTR ✏️

#1007 🐛 E2E | Fix small screen issue in CI
  packages/e2e-tests/jest.playwright.config.ts
  packages/e2e-tests/specs/shared/views/table-view-new-entity-test.ts
Labels: T: bug 🐞, C: automation & deployment ⚙️

#1008 🐛 Fix console error in unit test for useEvent
  packages/edtr-services/src/apollo/queries/events/test/useEvent.test.ts
Labels: T: bug 🐞, C: unit-tests 🧪

#1016 🐛 Multiple fixes
  domains/core/admin/eventEditor/src/ui/tickets/defaultTickets/ModalBody.tsx
  domains/core/admin/eventEditor/src/ui/tickets/ticketsList/bulkEdit/prices/EditPrices.tsx
  packages/edtr-services/src/apollo/mutations/datetimes/useBulkDeleteDatetimes.ts
  packages/edtr-services/src/apollo/mutations/tickets/useBulkDeleteTickets.ts
Labels: T: bug 🐞, C: data systems 🗑, D: EDTR ✏️

#1023 🔨 Set E2E tests to run on push to master
  .github/workflows/e2e-master.yml
  .github/workflows/pr-checks.yml
Labels: T: task 🧹, C: automation & deployment ⚙️

#1025 Refactor capacity vs quantity rules enforcement
  domains/core/admin/eventEditor/src/ui/datetimes/dateForm/multiStep/useOnSubmit.ts
  domains/core/admin/eventEditor/src/ui/datetimes/datesList/bulkEdit/details/useSubmitForm.ts
  domains/core/admin/eventEditor/src/ui/datetimes/datesList/cardView/DateCapacity.tsx
  domains/core/admin/eventEditor/src/ui/ticketAssignmentsManager/utils/index.ts
  domains/core/admin/eventEditor/src/ui/tickets/hooks/useCapQuantity.ts
  domains/core/admin/eventEditor/src/ui/tickets/ticketForm/multiStep/useOnSubmit.ts
  domains/core/admin/eventEditor/src/ui/tickets/ticketsList/bulkEdit/details/useSubmitForm.ts
  domains/core/admin/eventEditor/src/ui/tickets/ticketsList/cardView/TicketQuantity.tsx
  domains/rem/src/data/useSubmitForm.ts
  domains/rem/src/ui/bulkAddTickets/useSubmitForm.ts
  packages/edtr-services/src/apollo/mutations/datetimes/index.ts
  packages/edtr-services/src/apollo/mutations/datetimes/useUpdateRelatedTickets.ts
  packages/edtr-services/src/apollo/mutations/tickets/index.ts
  packages/edtr-services/src/apollo/mutations/tickets/useTicketQuantityForCapacity.ts
  packages/edtr-services/src/apollo/mutations/tickets/useUpdateTicketQtyByCapacity.ts
  packages/edtr-services/src/apollo/queries/tickets/index.ts
  packages/edtr-services/src/apollo/queries/tickets/useCappedQuantity.ts
  packages/predicates/src/datetimes/selectionPredicates.ts
  packages/predicates/src/tickets/selectionPredicates/index.ts
  packages/utils/src/list/index.ts
Labels: T: bug 🐞, T: enhancement ✨, C: data systems 🗑

#1029 🐛 Fix removal of prices in ticket multi-step form
  domains/core/admin/eventEditor/src/ui/tickets/ticketForm/useTicketFormConfig.ts
  domains/rem/src/ui/Modal/Container.tsx
  domains/rem/src/ui/Tickets/useTicketFormConfig.ts
Labels: T: bug 🐞, C: data systems 🗑, D: EDTR ✏️

#1035 🐛 E2E | Fix bug in date predicates and the flags
  packages/predicates/src/common/isExpired/index.ts
  packages/predicates/src/tickets/isOnSale/index.ts
  packages/predicates/src/tickets/isPending/index.ts
Labels: T: bug 🐞, C: data systems 🗑, C: automation & deployment ⚙️, D: Packages 📦

#1036 REM | Remove "Assign Dates" Step from Ticket Modal Form
  domains/rem/src/ui/Tickets/multiStep/TicketFormSteps.tsx
Labels: T: task 🧹, D: REM ♺, C: UI/UX 🚽, C: data systems 🗑
