Repository eventespresso/barista, pull requests merged in 2021-06, with the labels that each got.

#896 Update Save Section UI Styles
  packages/ui-components/src/FormBuilder/FormElement/FormElementToolbar.tsx
  packages/ui-components/src/FormBuilder/FormSection/FormSectionToolbar.tsx
  packages/ui-components/src/FormBuilder/FormSection/SaveSection.tsx
  packages/ui-components/src/FormBuilder/styles.scss
  packages/ui-components/src/Popover/PopoverForm/PopoverForm.tsx
  packages/ui-components/src/Popover/style.scss
  packages/ui-components/src/Radio/style.scss
Labels: C: UI/UX 🚽, D: Packages 📦, P3: med priority 😐, S7: code review 🔎, T: enhancement ✨

#897 Implement Drag n Drop Functionality
  domains/core/admin/eventEditor/src/ui/datetimes/datesList/filterBar/controls/SortByControl/index.tsx
  domains/core/admin/eventEditor/src/ui/tickets/ticketsList/filterBar/controls/SortByControl/index.tsx
  packages/adapters/package.json
  packages/adapters/src/dnd/index.ts
  packages/adapters/src/dnd/types.ts
  packages/ee-components/src/EntityList/types.ts
  packages/ee-components/src/filterBar/SortByControl/index.tsx
  packages/ee-components/src/filterBar/SortByControl/types.ts
  packages/ui-components/src/FormBuilder/FormBuilder.tsx
  packages/ui-components/src/FormBuilder/FormElement/FormElement.tsx
  packages/ui-components/src/FormBuilder/FormElement/FormElementToolbar.tsx
  packages/ui-components/src/FormBuilder/FormElement/Tabs/FormElementTabs.tsx
  packages/ui-components/src/FormBuilder/FormElement/Tabs/Settings.tsx
  packages/ui-components/src/FormBuilder/FormElement/Tabs/Styles.tsx
  packages/ui-components/src/FormBuilder/FormElement/Tabs/Validation.tsx
  packages/ui-components/src/FormBuilder/FormSection/FormSection.tsx
  packages/ui-components/src/FormBuilder/FormSection/FormSectionElements.tsx
  packages/ui-components/src/FormBuilder/FormSection/FormSectionSidebar.tsx
  packages/ui-components/src/FormBuilder/FormSection/FormSectionToolbar.tsx
  packages/ui-components/src/FormBuilder/FormSection/SaveSection.tsx
  packages/ui-components/src/FormBuilder/FormSection/Tabs/FormSectionTabs.tsx
  packages/ui-components/src/FormBuilder/FormSection/Tabs/Settings.tsx
  packages/ui-components/src/FormBuilder/FormSection/Tabs/Styles.tsx
  packages/ui-components/src/FormBuilder/constants.ts
  packages/ui-components/src/FormBuilder/state/index.ts
  packages/ui-components/src/FormBuilder/state/types.ts
  packages/ui-components/src/FormBuilder/state/useFormStateManager.ts
  packages/ui-components/src/FormBuilder/state/useFormStateReducer.ts
  packages/ui-components/src/FormBuilder/state/useHandleDnD.ts
  packages/ui-components/src/FormBuilder/state/utils.ts
  packages/ui-components/src/FormBuilder/types.ts
  packages/ui-components/src/dnd/DragAndDrop.tsx
  packages/ui-components/src/dnd/Draggable.tsx
  packages/ui-components/src/dnd/index.stories.tsx
  packages/ui-components/src/dnd/index.ts
  packages/ui-components/src/dnd/types.ts
  yarn.lock
Labels: C: UI/UX 🚽, C: data systems 🗑, D: Packages 📦, T: feature request 🙏

#898 Improve Drag-n-Drop Styles
  packages/ui-components/src/FormBuilder/FormElement/FormElement.tsx
  packages/ui-components/src/FormBuilder/FormSection/FormSection.tsx
  packages/ui-components/src/FormBuilder/styles.scss
  packages/ui-components/src/dnd/DragAndDrop.tsx
  packages/ui-components/src/dnd/Draggable.tsx
  packages/ui-components/src/dnd/index.ts
  packages/ui-components/src/dnd/style.scss
Labels: C: UI/UX 🚽, D: Packages 📦, P3: med priority 😐, S7: code review 🔎, T: enhancement ✨

#900 Wire up more Form builder elements
  domains/core/admin/eventEditor/src/ui/datetimes/datesList/filterBar/controls/SortByControl/index.tsx
  packages/adapters/src/CheckboxGroup/types.ts
  packages/dates/src/components/TimePicker.tsx
  packages/form/src/adapters/MultiCheck.tsx
  packages/form/src/adapters/Radio.tsx
  packages/form/src/adapters/Select.tsx
  packages/ui-components/src/Checkbox/MultiCheckbox.tsx
  packages/ui-components/src/Checkbox/index.ts
  packages/ui-components/src/Checkbox/types.ts
  packages/ui-components/src/FormBuilder/FormElement/FormElementInput.tsx
  packages/ui-components/src/FormBuilder/FormElement/MappedElement.tsx
  packages/ui-components/src/FormBuilder/state/useHandleDnD.ts
  packages/ui-components/src/FormBuilder/types.ts
  packages/ui-components/src/Radio/RadioGroup.tsx
  packages/ui-components/src/Radio/index.ts
  packages/ui-components/src/Radio/types.ts
Labels: C: UI/UX 🚽, C: data systems 🗑, D: Packages 📦

#903 REM: Fix ticket card date bug
  domains/rem/src/ui/Tickets/TicketCard.tsx
Labels: C: UI/UX 🚽, D: REM ♺, T: bug 🐞

#904 Fix REM UI Issues Closes #902
  domains/rem/src/ui/Tickets/ticketSalesEndFields.ts
  domains/rem/src/ui/Tickets/ticketSalesStartFields.ts
  domains/rem/src/ui/Tickets/useTicketFormConfig.ts
  domains/rem/src/utils/misc.ts
  packages/rrule-generator/src/components/RRuleGenerator/styles.scss
Labels: C: UI/UX 🚽, D: REM ♺, P2: HIGH priority 😮, S7: code review 🔎, T: bug 🐞

#905 Add Confirm Popover to Form Builder Delete Buttons
  packages/ui-components/src/Confirm/types.ts
  packages/ui-components/src/Confirm/useConfirmWithButton.tsx
  packages/ui-components/src/FormBuilder/FormElement/FormElementToolbar.tsx
  packages/ui-components/src/FormBuilder/FormSection/FormSectionToolbar.tsx
Labels: C: UI/UX 🚽, D: Packages 📦, T: enhancement ✨

#906 Form Builder Field options and other improvements
  domains/core/admin/eventEditor/src/ui/registrationForm/RegistrationForm.tsx
  packages/adapters/src/Textarea/types.ts
  packages/adapters/src/index.ts
  packages/ui-components/src/Checkbox/MultiCheckbox.tsx
  packages/ui-components/src/Checkbox/types.ts
  packages/ui-components/src/FormBuilder/FormElement/FormElementInput.tsx
  packages/ui-components/src/FormBuilder/FormElement/MappedElement.tsx
  packages/ui-components/src/FormBuilder/FormElement/Tabs/FieldOptions.tsx
  packages/ui-components/src/FormBuilder/FormElement/Tabs/FormElementTabs.tsx
  packages/ui-components/src/FormBuilder/FormElement/Tabs/Settings.tsx
  packages/ui-components/src/FormBuilder/FormElement/Tabs/Styles.tsx
  packages/ui-components/src/FormBuilder/FormElement/Tabs/Validation.tsx
  packages/ui-components/src/FormBuilder/FormElement/useUpdateElement.ts
  packages/ui-components/src/FormBuilder/FormSection/Tabs/FormSectionTabs.tsx
  packages/ui-components/src/FormBuilder/FormSection/Tabs/Settings.tsx
  packages/ui-components/src/FormBuilder/FormSection/Tabs/Styles.tsx
  packages/ui-components/src/FormBuilder/FormSection/useUpdateSection.ts
  packages/ui-components/src/FormBuilder/constants.ts
  packages/ui-components/src/FormBuilder/types.ts
  packages/ui-components/src/Radio/RadioGroup.tsx
  packages/ui-components/src/Radio/index.stories.tsx
  packages/ui-components/src/Radio/types.ts
Labels: C: UI/UX 🚽, C: data systems 🗑, D: Packages 📦

#907 Improve Multi-Option Input Styles
  packages/ui-components/src/Checkbox/style.scss
  packages/ui-components/src/FormBuilder/FormElement/Tabs/FieldOptions.tsx
  packages/ui-components/src/FormBuilder/FormElement/Tabs/Settings.tsx
  packages/ui-components/src/FormBuilder/styles.scss
  packages/ui-components/src/Radio/style.scss
Labels: C: UI/UX 🚽, D: Packages 📦, P3: med priority 😐, S7: code review 🔎, T: enhancement ✨

#908 Convert Sidebar to Popover
  packages/ui-components/src/FormBuilder/FormSection/AddFormElementPopover.tsx
  packages/ui-components/src/FormBuilder/FormSection/FormSection.tsx
  packages/ui-components/src/FormBuilder/styles.scss
Labels: C: UI/UX 🚽, D: Packages 📦, P3: med priority 😐, S7: code review 🔎, T: enhancement ✨

#909 Improve field options
  domains/core/admin/eventEditor/src/ui/registrationForm/RegistrationForm.tsx
  packages/ui-components/src/FormBuilder/FormBuilder.stories.tsx
  packages/ui-components/src/FormBuilder/FormElement/FormElementInput.tsx
  packages/ui-components/src/FormBuilder/FormElement/Tabs/FieldOptions.tsx
Labels: C: UI/UX 🚽, C: data systems 🗑, T: enhancement ✨

#910 Form Builder: Wire up helper text
  domains/core/admin/eventEditor/src/ui/registrationForm/RegistrationForm.tsx
  packages/ui-components/src/FormBuilder/FormBuilder.stories.tsx
  packages/ui-components/src/FormBuilder/FormElement/FormElementInput.tsx
  packages/ui-components/src/FormBuilder/FormElement/MappedElement.tsx
  packages/ui-components/src/Select/Select.tsx
  packages/ui-components/src/Select/index.ts
  packages/ui-components/src/Switch/Switch.tsx
  packages/ui-components/src/Switch/index.ts
Labels: C: UI/UX 🚽, C: data systems 🗑, T: task 🧹

#911 Separate with and without label components
  domains/core/admin/eventEditor/src/ui/EventRegistrationOptions/ActiveStatus.tsx
  domains/core/admin/eventEditor/src/ui/EventRegistrationOptions/Donations.tsx
  domains/core/admin/eventEditor/src/ui/EventRegistrationOptions/TicketSelector.tsx
  domains/core/admin/eventEditor/src/ui/datetimes/datesList/filterBar/controls/DisplayStartOrEndDateControl.tsx
  domains/core/admin/eventEditor/src/ui/datetimes/datesList/filterBar/controls/SalesControl.tsx
  domains/core/admin/eventEditor/src/ui/datetimes/datesList/filterBar/controls/StatusControl.tsx
  domains/core/admin/eventEditor/src/ui/ticketAssignmentsManager/filters/controls/DatesByMonthControl.tsx
  domains/core/admin/eventEditor/src/ui/ticketAssignmentsManager/filters/controls/ShowExpiredTicketsControl.tsx
  domains/core/admin/eventEditor/src/ui/ticketAssignmentsManager/filters/controls/ShowTrashedDatesControl.tsx
  domains/core/admin/eventEditor/src/ui/ticketAssignmentsManager/filters/controls/ShowTrashedTicketsControl.tsx
  domains/core/admin/eventEditor/src/ui/tickets/ticketsList/filterBar/controls/DisplayStartOrEndDateControl.tsx
  domains/core/admin/eventEditor/src/ui/tickets/ticketsList/filterBar/controls/SalesControl.tsx
  domains/core/admin/eventEditor/src/ui/tickets/ticketsList/filterBar/controls/StatusControl.tsx
  domains/rem/src/ui/filterBar/controls/RecurrenceControl.tsx
  packages/ee-components/src/EntityList/EntityListFilterBar.tsx
  packages/ee-components/src/filterBar/SortByControl/index.tsx
  packages/ee-components/src/filterBar/SortByControl/types.ts
  packages/form/src/adapters/Switch.tsx
  packages/ui-components/src/FormBuilder/FormElement/MappedElement.tsx
  packages/ui-components/src/FormBuilder/FormElement/Tabs/Settings.tsx
  packages/ui-components/src/FormBuilder/FormElement/Tabs/Styles.tsx
  packages/ui-components/src/FormBuilder/FormElement/Tabs/Validation.tsx
  packages/ui-components/src/FormBuilder/FormSection/AddFormElementPopover.tsx
  packages/ui-components/src/FormBuilder/FormSection/Tabs/Settings.tsx
  packages/ui-components/src/FormBuilder/FormSection/Tabs/Styles.tsx
  packages/ui-components/src/NumberInput/index.tsx
  packages/ui-components/src/SearchInput/SearchInput.tsx
  packages/ui-components/src/SearchInput/index.ts
  packages/ui-components/src/Select/Select.tsx
  packages/ui-components/src/Select/index.ts
  packages/ui-components/src/Select/types.ts
  packages/ui-components/src/Switch/Switch.tsx
  packages/ui-components/src/Switch/index.ts
  packages/ui-components/src/Textarea/Textarea.tsx
  packages/ui-components/src/bulkEdit/BulkActions.tsx
  packages/ui-components/src/text-input/TextInput/TextInput.tsx
Labels: D: Packages 📦, T: code-quality 👾

#913 Wire up DnD for field options
  domains/core/admin/eventEditor/src/ui/registrationForm/RegistrationForm.tsx
  packages/ui-components/src/FormBuilder/FormElement/Tabs/FieldOptions.tsx
  packages/ui-components/src/FormBuilder/index.ts
Labels: C: UI/UX 🚽, D: Packages 📦, T: enhancement ✨

#914 Form Builder | Add the remaining settings fields
  packages/ui-components/src/FormBuilder/FormElement/MappedElement.tsx
  packages/ui-components/src/FormBuilder/FormElement/Tabs/Settings.tsx
Labels: C: UI/UX 🚽, D: Packages 📦, T: task 🧹

#919 Form builder state improvements
  packages/form-builder/src/state/types.ts
  packages/form-builder/src/state/useFormStateReducer.ts
  packages/form-builder/src/state/utils.ts
  packages/form-builder/src/types.ts
Labels: C: data systems 🗑, D: Packages 📦, T: enhancement ✨

#920 Use global ramda
  .github/workflows/pr-checks.yml
  config/utils.js
  domains/core/admin/blocks/src/adapters/Select/Select.tsx
  domains/core/admin/eventEditor/src/ui/datetimes/dateForm/useDateFormConfig.ts
  domains/core/admin/eventEditor/src/ui/datetimes/datesList/actionsMenu/dropdown/useActions.ts
  domains/core/admin/eventEditor/src/ui/datetimes/datesList/bulkEdit/details/useBulkEditFormConfig.ts
  domains/core/admin/eventEditor/src/ui/datetimes/datesList/tableView/useBodyRowGenerator.tsx
  domains/core/admin/eventEditor/src/ui/ticketAssignmentsManager/components/useInvalidDataAlert.ts
  domains/core/admin/eventEditor/src/ui/ticketAssignmentsManager/data/test/useAssignmentManager.test.ts
  domains/core/admin/eventEditor/src/ui/ticketAssignmentsManager/data/test/useDataStateManager.test.ts
  domains/core/admin/eventEditor/src/ui/ticketAssignmentsManager/data/test/useFilteredDatetimes.test.ts
  domains/core/admin/eventEditor/src/ui/ticketAssignmentsManager/data/test/useFilteredTickets.test.ts
  domains/core/admin/eventEditor/src/ui/ticketAssignmentsManager/data/useAssignmentManager.ts
  domains/core/admin/eventEditor/src/ui/ticketAssignmentsManager/data/useDataStateManager.ts
  domains/core/admin/eventEditor/src/ui/ticketAssignmentsManager/data/useOnSubmitAssignments.ts
  domains/core/admin/eventEditor/src/ui/ticketAssignmentsManager/data/useValidation.ts
  domains/core/admin/eventEditor/src/ui/ticketAssignmentsManager/utils/index.ts
  domains/core/admin/eventEditor/src/ui/ticketAssignmentsManager/utils/ticketsWithNewQuantity.test.ts
  domains/core/admin/eventEditor/src/ui/tickets/defaultTickets/data/useDataStateReducer.ts
  domains/core/admin/eventEditor/src/ui/tickets/defaultTickets/multiStep/useTicketFormConfig.ts
  domains/core/admin/eventEditor/src/ui/tickets/hooks/useDeleteTicketHandler.ts
  domains/core/admin/eventEditor/src/ui/tickets/ticketForm/useTicketFormConfig.ts
  domains/core/admin/eventEditor/src/ui/tickets/ticketsList/bulkEdit/details/useBulkEditFormConfig.ts
  domains/core/admin/eventEditor/src/ui/tickets/ticketsList/tableView/useBodyRowGenerator.tsx
  domains/eventSmart/admin/edtrSlots/src/hooks/useEdtrUpsellAds.ts
  domains/eventSmart/admin/edtrSlots/src/hooks/useFilterFormFields.ts
  domains/eventSmart/admin/edtrSlots/src/hooks/useShouldDisplayUpsellAd.ts
  domains/eventSmart/admin/edtrSlots/src/hooks/useUpsellAd4Slot.ts
  domains/eventSmart/admin/edtrSlots/src/utils.ts
  domains/eventSmart/admin/upsellEditor/src/services/apollo/mutations/useMutationHandler.ts
  domains/rem/src/data/test/useFormStateManager.test.ts
  domains/rem/src/data/useFormStateReducer.ts
  domains/rem/src/data/useGenerateDates.ts
  domains/rem/src/services/apollo/initialization/useCacheRehydration.ts
  domains/rem/src/services/apollo/mutations/recurrences/test/createRecurrence.test.ts
  domains/rem/src/services/apollo/mutations/recurrences/test/data.ts
  domains/rem/src/services/apollo/mutations/recurrences/test/deleteRecurrence.test.ts
  domains/rem/src/services/apollo/mutations/recurrences/test/updateRecurrence.test.ts
  domains/rem/src/services/apollo/mutations/recurrences/useUpdateRecurrenceCache.ts
  domains/rem/src/services/datesTableFilter/registerFilters.tsx
  domains/rem/src/ui/MultiStep/ContentFooter.tsx
  domains/rem/src/ui/Tickets/ticketSalesEndFields.ts
  domains/rem/src/ui/Tickets/ticketSalesStartFields.ts
  domains/rem/src/ui/bulkAddTickets/Footer.tsx
  domains/rem/src/ui/datetimeDetails/DatetimeDetails.tsx
  domains/rem/src/ui/datetimeDetails/useDateFormConfig.ts
  domains/rem/src/ui/rRule/useRRuleLimits.ts
  domains/rem/src/utils/misc.ts
  domains/rem/src/utils/predicates.ts
  packages/form-builder/src/FormElement/Tabs/FieldOptions.tsx
  packages/form-builder/src/FormSection/AddFormElementPopover.tsx
  packages/form-builder/src/constants.ts
  packages/form-builder/src/state/useFormStateManager.ts
  packages/form-builder/src/state/useFormStateReducer.ts
  packages/form-builder/src/state/useInitialState.ts
  packages/form-builder/src/state/utils.ts
  packages/form-builder/src/utils.ts
Labels: C: assets 💎, D: Packages 📦, T: code-quality 👾

#923 Form Builder: Improve DnD performance
  packages/form-builder/src/FormBuilder.tsx
  packages/form-builder/src/FormElement/FormElement.tsx
  packages/form-builder/src/FormElement/FormElementInput.tsx
  packages/form-builder/src/FormElement/FormElementToolbar.tsx
  packages/form-builder/src/FormElement/Tabs/FormElementTabs.tsx
  packages/form-builder/src/FormSection/FormSection.tsx
  packages/form-builder/src/FormSection/FormSectionElements.tsx
  packages/form-builder/src/FormSection/FormSectionToolbar.tsx
  packages/form-builder/src/FormSection/FormSections.tsx
  packages/form-builder/src/FormSection/Tabs/FormSectionTabs.tsx
  packages/form-builder/src/FormSection/index.ts
  packages/form-builder/src/state/useFormStateManager.ts
  packages/form-builder/src/state/useFormStateReducer.ts
  packages/utils/src/memo/getPropsAreEqual.ts
  packages/utils/src/memo/index.ts
Labels: C: UI/UX 🚽, D: Packages 📦, T: code-quality 👾

#925 Form Builder | Rename UUID field to id
  .wp-env.json
  domains/core/admin/eventEditor/src/ui/registrationForm/RegistrationForm.tsx
  package.json
  packages/form-builder/src/FormElement/FormElement.tsx
  packages/form-builder/src/FormElement/FormElementInput.tsx
  packages/form-builder/src/FormElement/FormElementToolbar.tsx
  packages/form-builder/src/FormElement/Tabs/FieldOption.tsx
  packages/form-builder/src/FormElement/Tabs/FieldOptions.tsx
  packages/form-builder/src/FormElement/Tabs/FormElementTabs.tsx
  packages/form-builder/src/FormElement/useUpdateElement.ts
  packages/form-builder/src/FormSection/AddFormElementPopover.tsx
  packages/form-builder/src/FormSection/FormSection.tsx
  packages/form-builder/src/FormSection/FormSectionElements.tsx
  packages/form-builder/src/FormSection/FormSectionToolbar.tsx
  packages/form-builder/src/FormSection/FormSections.tsx
  packages/form-builder/src/FormSection/SaveSection.tsx
  packages/form-builder/src/FormSection/Tabs/FormSectionTabs.tsx
  packages/form-builder/src/FormSection/useUpdateSection.ts
  packages/form-builder/src/constants.ts
  packages/form-builder/src/context/FormStateProvider.tsx
  packages/form-builder/src/mockData.ts
  packages/form-builder/src/state/types.ts
  packages/form-builder/src/state/useFormStateManager.ts
  packages/form-builder/src/state/useFormStateReducer.ts
  packages/form-builder/src/state/useHandleDnD.ts
  packages/form-builder/src/state/useInitialState.ts
  packages/form-builder/src/state/utils.ts
  packages/form-builder/src/types.ts
  yarn.lock
Labels: C: data systems 🗑, D: Packages 📦, T: task 🧹

#928 Form builder | Save data
  domains/core/admin/blocks/package.json
  domains/core/admin/wpPluginsPage/package.json
  package.json
  packages/form-builder/src/FormBuilder.tsx
  packages/form-builder/src/FormSection/AddFormElementPopover.tsx
  packages/form-builder/src/FormSection/FormSectionToolbar.tsx
  packages/form-builder/src/FormSection/SaveSection.tsx
  packages/form-builder/src/data/index.ts
  packages/form-builder/src/data/useMutateElements.ts
  packages/form-builder/src/data/useMutateSections.ts
  packages/form-builder/src/data/useSaveForm.ts
  packages/form-builder/src/state/types.ts
  packages/form-builder/src/state/useFormStateManager.ts
  packages/form-builder/src/state/useFormStateReducer.ts
  packages/form-builder/src/state/utils.ts
  packages/form-builder/src/types.ts
  yarn.lock
Labels: C: data systems 🗑, D: Packages 📦, T: task 🧹

#929 Form Builder | Replace hash with object JSON
  packages/form-builder/src/data/useMutateElements.ts
  packages/form-builder/src/data/useMutateSections.ts
  packages/form-builder/src/data/useSaveForm.ts
  packages/form-builder/src/state/types.ts
  packages/form-builder/src/state/useFormStateReducer.ts
  packages/form-builder/src/state/utils.ts
  packages/form-builder/src/types.ts
Labels: C: data systems 🗑, D: Packages 📦, T: code-quality 👾

#932 Fix E2E tests
  config/utils.js
  packages/e2e-tests/jest.playwright.config.ts
Labels: C: automation & deployment ⚙️, T: bug 🐞

#930 Wire up mutations for Form Builder
  domains/rem/src/services/apollo/mutations/recurrences/useRecurrenceMutator.ts
  packages/data/src/mutations/types.ts
  packages/edtr-services/src/apollo/mutations/datetimes/useDatetimeMutator.ts
  packages/edtr-services/src/apollo/mutations/events/useEventMutator.ts
  packages/edtr-services/src/apollo/mutations/prices/usePriceMutator.ts
  packages/edtr-services/src/apollo/mutations/tickets/useTicketMutator.ts
  packages/edtr-services/src/apollo/mutations/types.ts
  packages/form-builder/src/data/gql.ts
  packages/form-builder/src/data/types.ts
  packages/form-builder/src/data/useElementMutator.ts
  packages/form-builder/src/data/useMutateElements.ts
  packages/form-builder/src/data/useMutateSections.ts
  packages/form-builder/src/data/useSectionMutator.ts
  packages/form-builder/src/state/constants.ts
  packages/form-builder/src/state/useFormStateReducer.ts
  packages/form-builder/src/state/utils.ts
Labels: C: data systems 🗑, D: EDTR ✏️, T: feature request 🙏

#933 Fix E2E tests
  .github/workflows/pr-checks.yml
  babel.config.js
  config/utils.js
  packages/utils/src/dom/createInterpolateElement.ts
  packages/utils/src/dom/index.ts
  packages/utils/src/index.ts
Labels: C: build-process 🔨, T: bug 🐞

#934 Form Builder | Form section mutations
  packages/form-builder/src/FormSection/AddFormElementPopover.tsx
  packages/form-builder/src/FormSection/FormSection.tsx
  packages/form-builder/src/FormSection/Tabs/Settings.tsx
  packages/form-builder/src/FormSection/Tabs/Styles.tsx
  packages/form-builder/src/constants.ts
  packages/form-builder/src/data/useSectionMutator.ts
  packages/form-builder/src/mockData.ts
  packages/form-builder/src/types.ts
Labels: C: data systems 🗑, D: EDTR ✏️, T: feature request 🙏

#936 Random UI Fixes
  packages/form-builder/src/styles.scss
  packages/icons/src/icons/SettingsOutlined.tsx
  packages/icons/src/svg/settingsOutlined.svg
  packages/rich-text-editor/src/components/RichTextEditor/style.scss
  packages/ui-components/src/EspressoTable/style/cell.scss
  packages/ui-components/src/InlineEdit/InlineEditInput/style.scss
  packages/ui-components/src/Popover/style.scss
  packages/ui-components/src/TimezoneTimeInfo/style.scss
  packages/ui-components/src/dnd/style.scss
Labels: C: UI/UX 🚽, D: EDTR ✏️, P4: low priority 😎, S7: code review 🔎, T: enhancement ✨

#937 Form Builder | Fix/Remove required attribute for inputs
  packages/form-builder/src/FormElement/FormElementInput.tsx
  packages/ui-components/src/Label/index.tsx
  packages/ui-components/src/RequiredIndicator/RequiredIndicator.tsx
  packages/ui-components/src/RequiredIndicator/index.ts
  packages/ui-components/src/RequiredIndicator/style.scss
  packages/ui-components/src/index.ts
  packages/ui-components/src/withLabel/types.ts
  packages/ui-components/src/withLabel/withLabel.tsx
Labels: C: UI/UX 🚽, D: Packages 📦, T: bug 🐞

#939 Form Builder | Form Element mutations
  packages/form-builder/src/FormElement/Tabs/Styles.tsx
  packages/form-builder/src/constants.ts
  packages/form-builder/src/data/useElementMutator.ts
  packages/form-builder/src/data/useSectionMutator.ts
  packages/form-builder/src/mockData.ts
  packages/form-builder/src/state/useFormStateReducer.ts
  packages/form-builder/src/state/utils.ts
  packages/form-builder/src/types.ts
Labels: C: data systems 🗑, D: Packages 📦

#940 Random Mobile UI Fixes
  domains/core/admin/eventEditor/src/ui/registrationForm/RegistrationForm.tsx
  packages/form-builder/src/FormBuilder.stories.tsx
  packages/form-builder/src/FormSection/FormSectionToolbar.tsx
  packages/form-builder/src/styles.scss
  packages/styles/src/root/_btn.scss
  packages/ui-components/src/Button/IconButton/style.scss
  packages/ui-components/src/Button/_sizes.scss
  packages/ui-components/src/EditDateRangeButton/styles.scss
  packages/ui-components/src/EntityCard/styles.scss
  packages/ui-components/src/EntityDetailsPanel/style.scss
  packages/ui-components/src/Heading/style.scss
  packages/ui-components/src/Select/style.scss
  packages/ui-components/src/dnd/style.scss
Labels: C: UI/UX 🚽, D: EDTR ✏️, P3: med priority 😐, S7: code review 🔎, T: enhancement ✨

#941 Fix storybook crash
  package.json
  yarn.lock
Labels: C: build-process 🔨, P2: HIGH priority 😮, T: bug 🐞

#942 Form Builder | Consolidate fields
  packages/form-builder/src/FormElement/FormElementInput.tsx
  packages/form-builder/src/FormElement/MappedElement.tsx
  packages/form-builder/src/FormElement/Tabs/Settings.tsx
  packages/form-builder/src/FormElement/Tabs/Styles.tsx
  packages/form-builder/src/FormElement/Tabs/Validation.tsx
  packages/form-builder/src/FormElement/useUpdateElement.ts
  packages/form-builder/src/FormSection/AddFormElementPopover.tsx
  packages/form-builder/src/FormSection/FormSection.tsx
  packages/form-builder/src/FormSection/Tabs/Settings.tsx
  packages/form-builder/src/FormSection/Tabs/Styles.tsx
  packages/form-builder/src/FormSection/useUpdateSection.ts
  packages/form-builder/src/constants.ts
  packages/form-builder/src/context/FormStateProvider.tsx
  packages/form-builder/src/data/useSectionMutator.ts
  packages/form-builder/src/mockData.ts
  packages/form-builder/src/state/useInitialState.ts
  packages/form-builder/src/state/utils.ts
  packages/form-builder/src/types.ts
  packages/utils/src/misc.ts
  packages/utils/src/types.ts
Labels: C: data systems 🗑, D: Packages 📦, T: enhancement ✨

#943 Form Builder | Multiple fixes
  packages/form-builder/src/FormSection/FormSectionToolbar.tsx
  packages/form-builder/src/FormSection/FormSections.tsx
  packages/form-builder/src/context/FormStateProvider.tsx
  packages/form-builder/src/data/useMutateElements.ts
  packages/form-builder/src/data/useMutateSections.ts
  packages/form-builder/src/state/types.ts
  packages/form-builder/src/state/useFormStateManager.ts
  packages/form-builder/src/state/useFormStateReducer.ts
  packages/form-builder/src/state/useInitialState.ts
  packages/form-builder/src/state/utils.ts
  packages/utils/src/predicates/index.ts
Labels: D: Packages 📦, T: bug 🐞, T: enhancement ✨

#944 Form builder | Rehydrate EDTR
  domains/core/admin/eventEditor/src/ui/registrationForm/RegistrationForm.tsx
  packages/edtr-services/src/types.ts
  packages/edtr-services/src/utils/index.ts
  packages/edtr-services/src/utils/misc.ts
  packages/form-builder/src/mockData.ts
Labels: C: data systems 🗑, D: EDTR ✏️, D: Packages 📦, T: task 🧹
