Repository eventespresso/barista, pull requests merged in 2021-12, with the labels that each got.

#1097 REM UI Fixes
  domains/rem/src/ui/Modal/styles.scss
  domains/rem/src/ui/rRule/style.scss
  packages/rrule-generator/src/components/End/index.tsx
  packages/rrule-generator/src/components/OnDate/index.tsx
  packages/rrule-generator/src/components/RRuleGenerator/styles.scss
  packages/rrule-generator/src/components/Repeat/Frequency.tsx
  packages/rrule-generator/src/components/Repeat/Monthly/On.tsx
  packages/rrule-generator/src/components/Repeat/Monthly/OnThe.tsx
  packages/rrule-generator/src/components/Repeat/Yearly/On.tsx
  packages/rrule-generator/src/components/Repeat/Yearly/OnThe.tsx
  packages/rrule-generator/src/components/Repeat/Yearly/index.tsx
  packages/rrule-generator/src/components/Repeat/styles.scss
  packages/rrule-generator/src/components/styles.scss
  packages/ui-components/src/Container/styles.scss
  packages/ui-components/src/Modal/styles.scss
  packages/ui-components/src/withLabel/style.scss
Labels: T: enhancement ✨, S7: code review 🔎, D: REM ♺, C: UI/UX 🚽, P3: med priority 😐

#1099 E2E test to create new category
  packages/e2e-tests/specs/admin/events/categories/createCategory.test.ts
  packages/e2e-tests/specs/shared/data.ts
  packages/e2e-tests/utils/admin/events/categories/CategoryManager.ts
  packages/e2e-tests/utils/admin/events/categories/index.ts
  packages/e2e-tests/utils/admin/events/index.ts
  packages/e2e-tests/utils/admin/events/list/createNewEvent.ts
Labels: S6: please fix 💉, D: Packages 📦, C: tests 🧪, T: code quality 👾

#1101 E2E test for edit category
  packages/e2e-tests/specs/admin/events/categories/editCategory.test.ts
  packages/e2e-tests/utils/admin/events/categories/CategoryManager.ts
Labels: D: Packages 📦, C: tests 🧪

#1104 Add Auto PR Labeler Workflow
  .github/workflows/auto-pr-labeler.yml
Labels: C: automation & deployment ⚙️

#1106 Fix Action Input Vars
  .github/workflows/auto-pr-labeler.yml
  .github/workflows/chromatic.yml
  .github/workflows/deploy-master.yml
  .github/workflows/deploy-rc.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/pr-checks.yml
Labels: C: automation & deployment ⚙️

#1107 Hardcode Auto PR Labeler Inputs
  .github/workflows/auto-pr-labeler.yml
Labels: S5: code review 🔎, C: automation & deployment ⚙️

#1105 E2E test for default registration status.
  packages/e2e-tests/specs/admin/events/default-settings/defaultRegistrationStatus.test.ts
  packages/e2e-tests/specs/shared/data.ts
  packages/e2e-tests/utils/admin/events/default-settings/DefaultSettingsManager.ts
  packages/e2e-tests/utils/admin/events/default-settings/index.ts
  packages/e2e-tests/utils/admin/events/index.ts
Labels: C: tests 🧪
