Repository eventespresso/barista, pull requests merged in 2021-08, with the labels that each got.

#981 Fix Ticket capabilities not saving within EDTR
  domains/wpUser/src/hooks/useTicketUpdateInput.ts
  packages/e2e-tests/utils/admin/event-editor/editEntityCard.ts
  packages/edtr-services/src/ioc/index.ts
  packages/tpc/src/hooks/useMutateTicket.ts
Labels: T: bug 🐞, C: data systems 🗑, D: WP User Add-on 👤

#982 Fix ticket meta data loading
  domains/wpUser/src/services/apollo/initialization/useCacheRehydration.ts
  domains/wpUser/src/types.ts
Labels: T: bug 🐞, C: data systems 🗑, D: WP User Add-on 👤

#983 Fix RemButton Icon
  domains/core/admin/eventEditor/src/ui/datetimes/datesList/newDateOptions/AddSingleDate.tsx
  domains/rem/src/ui/RemButton.tsx
  packages/icons/src/icons/Repeat.tsx
  packages/icons/src/icons/RotateCCW.tsx
  packages/icons/src/icons/RotateCW.tsx
  packages/icons/src/icons/index.tsx
  packages/icons/src/svg/repeat.svg
  packages/icons/src/svg/rotate-ccw.svg
  packages/icons/src/svg/rotate-cw.svg
  packages/ui-components/src/NewEntity/styles.scss
Labels: T: enhancement ✨, S7: code review 🔎, D: REM ♺, C: UI/UX 🚽, P3: med priority 😐

#984 Use extracted checkout and node/yarn action
  .github/workflows/pr-checks.yml
  packages/e2e-tests/jest.playwright.config.ts
Labels: T: enhancement ✨, C: automation & deployment ⚙️, D: Packages 📦

#985 Use composite Node setup action for deployment
  .github/workflows/chromatic.yml
  .github/workflows/deploy-master.yml
  .github/workflows/deploy-rc.yml
Labels: T: task 🧹, C: automation & deployment ⚙️
