Repository eventespresso/barista, pull requests merged in 2021-10, with the labels that each got.

#1037 Restore core branch and update deps
  .wp-env.json
  domains/core/admin/blocks/package.json
  domains/core/admin/wpPluginsPage/package.json
  package.json
  packages/adapters/package.json
  packages/data/package.json
  packages/dates/package.json
  packages/form/package.json
  packages/i18n/package.json
  packages/rich-text-editor/package.json
  packages/toaster/package.json
  packages/tpc/src/fields/types.ts
  yarn.lock
Labels: T: task 🧹, D: Packages 📦

#1039 Add concurrency for PR checks workflow
  .github/workflows/pr-checks.yml
Labels: T: enhancement ✨, C: automation & deployment ⚙️

#1038 Fix typos detected by codespell
  .github/workflows/deploy-rc.yml
  README.md
  config/README.md
  domains/core/admin/eventEditor/src/ui/tickets/hooks/useRecalculateBasePrice.ts
  domains/rem/src/ui/Tickets/TicketCard.tsx
  packages/data/src/index.ts
  packages/e2e-tests/specs/admin/events/overview/editor/tickets-list/price.test.ts
  packages/e2e-tests/specs/shared/two-dates-two-tickets.test.ts
  packages/e2e-tests/utils/common/dateAndTime.ts
  packages/edtr-services/src/filterState/tickets/useRegisterIsChainedFilter.ts
  packages/form-builder/src/constants.ts
  packages/form-builder/src/state/utils.ts
  packages/form-builder/src/styles.scss
  packages/form/src/utils.ts
  packages/predicates/src/common/selectionById/index.ts
  packages/predicates/src/tickets/selectionPredicates/index.ts
  packages/rich-text-editor/src/components/RichTextEditor/Toolbar/controls/link/index.tsx
  packages/rich-text-editor/src/components/WithEditMode/WithEditMode.tsx
  packages/services/src/relations/test/useRelationsManager/removeRelation.test.ts
  packages/styles/src/mixins/_base-styles.scss
  packages/tpc/src/hooks/test/useDefaultBasePrice.test.ts
  packages/tpc/src/hooks/usePricesPolling.ts
  packages/tpc/src/hooks/useSyncTPC2RFF.ts
  packages/tpc/src/utils/calculateBasePrice.ts
  packages/tpc/src/utils/calculateTicketTotal.ts
  packages/ui-components/src/Popover/style.scss
  packages/utils/src/money/test/amountsMatch.test.ts
  tools/deploy.sh
  tools/may-be-deploy-rc.sh
Labels: T: task 🧹, T: code-quality 👾

#1041 Tweak Flag Name
  ee-barista.php
Labels: T: enhancement ✨, S7: code review 🔎, C: services 🤝, D: Packages 📦, P3: med priority 😐

#1030 Separate EDTR Registration Options Section.
  domains/core/admin/eventEditor/src/ui/EventRegistrationOptions/ActiveStatus.tsx
  domains/core/admin/eventEditor/src/ui/EventRegistrationOptions/AltRegPage.tsx
  domains/core/admin/eventEditor/src/ui/EventRegistrationOptions/DefaultRegistrationStatus.tsx
  domains/core/admin/eventEditor/src/ui/EventRegistrationOptions/Donations.tsx
  domains/core/admin/eventEditor/src/ui/EventRegistrationOptions/EventManager.tsx
  domains/core/admin/eventEditor/src/ui/EventRegistrationOptions/EventPhoneNumber.tsx
  domains/core/admin/eventEditor/src/ui/EventRegistrationOptions/MaxRegistrations.tsx
  domains/core/admin/eventEditor/src/ui/EventRegistrationOptions/TicketSelector.tsx
  domains/core/admin/eventEditor/src/ui/EventRegistrationOptions/index.tsx
  domains/core/admin/eventEditor/src/ui/EventRegistrationOptions/style.scss
  domains/core/admin/eventEditor/src/ui/EventRegistrationOptions/types.ts
  domains/core/admin/eventEditor/src/ui/datetimes/datesList/filterBar/controls/DisplayStartOrEndDateControl.tsx
  domains/core/admin/eventEditor/src/ui/datetimes/datesList/filterBar/controls/SalesControl.tsx
  domains/core/admin/eventEditor/src/ui/datetimes/datesList/filterBar/controls/SortByControl/index.tsx
  domains/core/admin/eventEditor/src/ui/datetimes/datesList/filterBar/controls/StatusControl.tsx
  domains/core/admin/eventEditor/src/ui/ticketAssignmentsManager/filters/controls/DatesByMonthControl.tsx
  domains/core/admin/eventEditor/src/ui/tickets/ticketsList/filterBar/controls/DisplayStartOrEndDateControl.tsx
  domains/core/admin/eventEditor/src/ui/tickets/ticketsList/filterBar/controls/SalesControl.tsx
  domains/core/admin/eventEditor/src/ui/tickets/ticketsList/filterBar/controls/SortByControl/index.tsx
  domains/core/admin/eventEditor/src/ui/tickets/ticketsList/filterBar/controls/StatusControl.tsx
  domains/rem/src/ui/recurrence/PatternEditor.tsx
  packages/adapters/src/layout/Grid/Grid.tsx
  packages/e2e-tests/specs/add-ons/rem/index.test.ts
  packages/e2e-tests/utils/admin/event-editor/DateEditor.ts
  packages/e2e-tests/utils/admin/event-editor/TicketEditor.ts
  packages/predicates/src/registration/statusOptions.ts
  packages/styles/src/root/_entity-status.scss
  packages/ui-components/src/Grid/Grid.tsx
  packages/ui-components/src/Grid/GridCard.tsx
  packages/ui-components/src/Grid/GridItem.tsx
  packages/ui-components/src/Grid/index.ts
  packages/ui-components/src/Grid/style.scss
  packages/ui-components/src/Grid/types.ts
  packages/ui-components/src/InlineEdit/InlineEditInput/InlineEditText.tsx
  packages/ui-components/src/Label/index.tsx
  packages/ui-components/src/Label/style.scss
  packages/ui-components/src/Select/Select.tsx
  packages/ui-components/src/Select/types.ts
  packages/ui-components/src/Switch/types.ts
  packages/ui-components/src/TabbableText/style.scss
  packages/ui-components/src/withLabel/style.scss
  packages/ui-components/src/withLabel/types.ts
  packages/ui-components/src/withLabel/withLabel.tsx
Labels: T: enhancement ✨, S7: code review 🔎, C: UI/UX 🚽, D: EDTR ✏️, P3: med priority 😐

#1047 Ticket Price Calculator: Enforce Price Order
  domains/eventSmart/admin/edtrSlots/src/constants.ts
  packages/tpc/src/data/useDataReducer.ts
  packages/tpc/src/hooks/useAddDefaultTaxes.ts
  packages/tpc/src/hooks/usePrepTemplatePrices.ts
  packages/tpc/src/utils/utilities.ts
Labels: T: bug 🐞, C: UI/UX 🚽, C: data systems 🗑, D: EDTR ✏️

#1052 Fix E2E tests for REM and Date capacity vs ticket quantity
  packages/e2e-tests/specs/add-ons/rem/index.test.ts
  packages/e2e-tests/specs/shared/date-capacity-vs-ticket-qty.test.ts
Labels: T: bug 🐞, C: automation & deployment ⚙️

#1058 Fix Entity Meta stale values due to reactive var
  packages/services/src/meta/useEntityMeta.ts
Labels: T: bug 🐞, C: data systems 🗑, D: Packages 📦

#1060 Add docs for EDTR and some packages
  .github/workflows/pr-checks.yml
  README.md
  docs/addons.md
  docs/data.md
  domains/core/admin/eventEditor/README.md
  packages/data/README.md
  packages/e2e-tests/utils/admin/event-editor/EntityListParser.ts
  packages/e2e-tests/utils/admin/event-editor/README.md
  packages/plugins/README.md
Labels: D: EDTR ✏️, D: Packages 📦, C: documentation 📑
