Repository eventespresso/barista, pull requests merged in 2021-02, with the labels that each got.

#692 Nested portals issue.
  packages/adapters/package.json
  packages/ui-components/src/Tooltip/ClickableIconWithTooltip/index.tsx
  packages/ui-components/src/Tooltip/ClickableIconWithTooltip/style.scss
  yarn.lock
Labels: T: bug 🐞, T: enhancement ✨

#693 Hide default tickets UI behind feature flag
  domains/eventEditor/src/ui/tickets/ticketsList/actions/Actions.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/actions/index.ts
  ee-barista.php
Labels: C: UI/UX 🚽, D: EDTR ✏️, T: task 🧹

#694 Prevent editing of tickets with registrations
  domains/eventEditor/src/ui/tickets/ticketsList/actionsMenu/dropdown/DeleteTicket.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/actionsMenu/dropdown/TicketMainMenu.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/actionsMenu/dropdown/useActions.ts
  domains/eventEditor/src/ui/tickets/ticketsList/actionsMenu/dropdown/useCopyTicket.ts
  domains/eventEditor/src/ui/tickets/ticketsList/cardView/Details.tsx
  packages/icons/src/icons/Strikethrough.tsx
  packages/icons/src/icons/Undo.tsx
  packages/icons/src/icons/index.tsx
  packages/icons/src/svg/undo.svg
  packages/tpc/src/utils/constants.ts
  packages/ui-components/src/DropdownMenu/DropdownMenuList.tsx
  packages/ui-components/src/EntityActionsMenu/entityMenuItems/Trash.tsx
  packages/ui-components/src/EntityActionsMenu/entityMenuItems/Untrash.tsx
  packages/ui-components/src/EntityActionsMenu/entityMenuItems/index.ts
Labels: C: data systems 🗑, D: EDTR ✏️, T: enhancement ✨

#695 Flatten Apollo Cache
  domains/eventEditor/src/ui/ticketAssignmentsManager/components/Debug.tsx
  domains/eventEditor/src/ui/ticketAssignmentsManager/components/TicketAssignmentsManager.tsx
  domains/eventEditor/src/ui/ticketAssignmentsManager/data/useDataStateManager.ts
  domains/eventEditor/src/ui/tickets/defaultTickets/ModalBody.tsx
  domains/eventEditor/src/ui/tickets/defaultTickets/data/useInitialState.ts
  domains/eventEditor/src/ui/tickets/defaultTickets/multiStep/useTicketFormConfig.ts
  domains/rem/src/services/apollo/initialization/useCacheRehydration.ts
  domains/rem/src/services/apollo/queries/recurrences/useRecurrenceQueryOptions.ts
  package.json
  packages/data/src/queries/index.ts
  packages/data/src/queries/prices/index.ts
  packages/data/src/queries/prices/types.ts
  packages/data/src/queries/prices/usePricesQuery.ts
  packages/data/src/queries/recurrences/types.ts
  packages/data/src/queries/tickets/types.ts
  packages/edtr-services/src/apollo/initialization/useCacheRehydration.ts
  packages/edtr-services/src/apollo/mutations/datetimes/test/createDatetime.test.ts
  packages/edtr-services/src/apollo/mutations/prices/test/createPrice.test.ts
  packages/edtr-services/src/apollo/mutations/prices/test/deletePrice.test.ts
  packages/edtr-services/src/apollo/mutations/prices/test/updatePrice.test.ts
  packages/edtr-services/src/apollo/mutations/tickets/test/deleteTicket.test.ts
  packages/edtr-services/src/apollo/mutations/tickets/test/updateTicket.test.ts
  packages/edtr-services/src/apollo/mutations/tickets/useMutationHandler.ts
  packages/edtr-services/src/apollo/mutations/tickets/useUpdateTicketCache.ts
  packages/edtr-services/src/apollo/queries/prices/index.ts
  packages/edtr-services/src/apollo/queries/prices/test/usePriceQueryOptions.test.ts
  packages/edtr-services/src/apollo/queries/prices/useDefaultTicketsPrices.ts
  packages/edtr-services/src/apollo/queries/prices/usePriceQueryOptions.ts
  packages/edtr-services/src/apollo/queries/prices/usePrices.ts
  packages/edtr-services/src/apollo/queries/tickets/index.ts
  packages/edtr-services/src/apollo/queries/tickets/test/useTicketQueryOptions.test.ts
  packages/edtr-services/src/apollo/queries/tickets/useDefaultTicketIds.ts
  packages/edtr-services/src/apollo/queries/tickets/useDefaultTickets.ts
  packages/edtr-services/src/apollo/queries/tickets/useDefaultTicketsQueryOptions.ts
  packages/edtr-services/src/apollo/queries/tickets/useTicketPrices.ts
  packages/edtr-services/src/apollo/queries/tickets/useTicketQueryOptions.ts
  packages/edtr-services/src/apollo/queries/tickets/useTickets.ts
  packages/predicates/src/common/index.ts
  packages/predicates/src/common/isDefault/index.test.ts
  packages/predicates/src/common/isDefault/index.ts
  packages/predicates/src/prices/index.ts
  packages/predicates/src/prices/selectionPredicates/index.ts
  packages/predicates/src/prices/types.ts
  packages/predicates/src/tickets/index.ts
  packages/predicates/src/tickets/types.ts
  yarn.lock
Labels: C: data systems 🗑, D: Packages 📦, T: enhancement ✨

#697 UI/UX Changes to TPC and Price Change Behaviour for Tickets with Existing Registrations
  domains/eventEditor/src/ui/tickets/ticketForm/multiStep/FooterButtons.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/actionsMenu/dropdown/DeleteTicket.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/actionsMenu/dropdown/TicketMainMenu.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/actionsMenu/dropdown/useActions.ts
  domains/eventEditor/src/ui/tickets/ticketsList/cardView/Details.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/editable/EditablePrice.tsx
  packages/predicates/src/tickets/index.ts
  packages/predicates/src/tickets/isLocked/index.test.ts
  packages/predicates/src/tickets/isLocked/index.ts
  packages/tpc/src/buttons/TicketPriceCalculatorButton.tsx
  packages/tpc/src/components/LockedTicketsBanner.tsx
  packages/tpc/src/components/TicketPriceCalculator.tsx
  packages/tpc/src/components/table/Table.tsx
  packages/tpc/src/components/table/useBodyRowGenerator.tsx
  packages/tpc/src/components/table/useFooterRowGenerator.tsx
  packages/tpc/src/data/types.ts
  packages/tpc/src/data/useDataReducer.ts
  packages/tpc/src/data/useInitialState.ts
  packages/tpc/src/hooks/index.ts
  packages/tpc/src/hooks/useCopyTicket.ts
  packages/tpc/src/hooks/useLockedTicketAction.ts
  packages/tpc/src/inputs/PriceAmountInput.tsx
  packages/tpc/src/inputs/PriceTypeInput.tsx
Labels: C: UI/UX 🚽, D: EDTR ✏️, T: enhancement ✨

#699 Fix start end date validations/adjustments
  domains/eventEditor/src/ui/datetimes/dateForm/useDateFormConfig.ts
  domains/eventEditor/src/ui/datetimes/datesList/cardView/DateCardSidebar.tsx
  domains/eventEditor/src/ui/tickets/ticketForm/useTicketFormConfig.ts
  domains/eventEditor/src/ui/tickets/ticketsList/cardView/TicketCardSidebar.tsx
  domains/rem/src/ui/Tickets/formValidation.ts
  packages/dates/src/components/DateRangePicker/index.tsx
  packages/dates/src/types.ts
  packages/dates/src/utils/misc.ts
  packages/edtr-services/src/apollo/mutations/prices/test/deletePrice.test.ts
  packages/edtr-services/src/utils/dateAndTime.ts
  packages/ee-components/src/EndDateFieldWrapper.tsx
  packages/ee-components/src/index.ts
  packages/form/package.json
  packages/form/src/adapters/MappedField.tsx
  packages/form/src/types.ts
  packages/form/src/utils.ts
  packages/ui-components/src/DateTimeRangePicker/DateTimeRangePicker.tsx
  packages/ui-components/src/EditDateRangeButton/EditDateRangeButton.tsx
  packages/ui-components/src/EditDateRangeButton/types.ts
  yarn.lock
Labels: C: UI/UX 🚽, D: EDTR ✏️, T: enhancement ✨

#705 Consolidate Apollo imports
  domains/blocks/src/services/apollo/queries/attendees/queries.ts
  domains/blocks/src/services/apollo/queries/datetimes/queries.ts
  domains/blocks/src/services/apollo/queries/events/queries.ts
  domains/blocks/src/services/apollo/queries/tickets/queries.ts
  domains/blocks/src/services/utils.ts
  domains/rem/src/services/apollo/mutations/recurrences/index.ts
  domains/rem/src/services/apollo/mutations/recurrences/useMutationVariables.ts
  domains/rem/src/services/apollo/queries/recurrences/queries.ts
  package.json
  packages/data/package.json
  packages/data/src/DataProvider.tsx
  packages/data/src/events.ts
  packages/data/src/hooks/useReactiveVariable.ts
  packages/data/src/index.ts
  packages/data/src/mutations/useMutationWithFeedback.ts
  packages/data/src/queries/attendees/useAttendeesQuery.ts
  packages/data/src/queries/currentUser/queries.ts
  packages/data/src/queries/currentUser/test/useUpdateCurrentUserCache.test.ts
  packages/data/src/queries/datetimes/useDatetimesQuery.ts
  packages/data/src/queries/events/useEventsQuery.ts
  packages/data/src/queries/generalSettings/queries.ts
  packages/data/src/queries/generalSettings/test/useUpdateGeneralSettingsCache.test.ts
  packages/data/src/queries/prices/usePricesQuery.ts
  packages/data/src/queries/recurrences/useRecurrencesQuery.ts
  packages/data/src/queries/tickets/useTicketsQuery.ts
  packages/data/src/queries/types.ts
  packages/data/src/queries/useCacheQuery.ts
  packages/data/src/queries/useLazyCacheQuery.ts
  packages/data/src/queries/useUpdateCache.ts
  packages/data/src/withDataProvider.tsx
  packages/edtr-services/src/apollo/mutations/datetimes/index.ts
  packages/edtr-services/src/apollo/mutations/datetimes/test/data.ts
  packages/edtr-services/src/apollo/mutations/datetimes/useMutationVariables.ts
  packages/edtr-services/src/apollo/mutations/events/index.ts
  packages/edtr-services/src/apollo/mutations/events/useMutationHandler.ts
  packages/edtr-services/src/apollo/mutations/prices/index.ts
  packages/edtr-services/src/apollo/mutations/prices/useMutationVariables.ts
  packages/edtr-services/src/apollo/mutations/tickets/index.ts
  packages/edtr-services/src/apollo/mutations/tickets/useMutationVariables.ts
  packages/edtr-services/src/apollo/mutations/useBulkDeleteEntities.ts
  packages/edtr-services/src/apollo/mutations/useReorderEntities.ts
  packages/edtr-services/src/apollo/queries/datetimes/queries.ts
  packages/edtr-services/src/apollo/queries/events/queries.ts
  packages/edtr-services/src/apollo/queries/priceTypes/queries.ts
  packages/edtr-services/src/apollo/queries/prices/queries.ts
  packages/edtr-services/src/apollo/queries/tickets/queries.ts
  packages/edtr-services/src/context/test/TestContextProviders.tsx
  packages/edtr-services/src/context/test/types.ts
  packages/services/src/context/test/ConfigProvider.test.tsx
  yarn.lock
Labels: D: EDTR ✏️, D: Packages 📦, T: task 🧹

#702 End-to-End Tests workflow.
  .github/workflows/pr-checks.yml
  .husky/.gitignore
  package.json
  packages/e2e-tests/jest.playwright.config.js
  packages/e2e-tests/playwright/specs/hello.test.ts
  yarn.lock
Labels: C: automation & deployment ⚙️

#710 Update @apollo/client to fix EDTR load issue
  packages/data/package.json
  packages/data/src/client.ts
  yarn.lock
Labels: D: EDTR ✏️, T: bug 🐞

#712 Select component improvements.
  domains/eventEditor/src/ui/EventRegistrationOptions/ActiveStatus.tsx
  domains/eventEditor/src/ui/EventRegistrationOptions/DefaultRegistrationStatus.tsx
  domains/eventEditor/src/ui/EventRegistrationOptions/EventManager.tsx
  packages/rich-text-editor/src/components/RichTextEditor/Toolbar/controls/blockType/Component.tsx
  packages/rich-text-editor/src/components/RichTextEditor/Toolbar/controls/fontFamily/Component.tsx
  packages/rich-text-editor/src/components/RichTextEditor/Toolbar/controls/fontSize/Component.tsx
  packages/rich-text-editor/src/components/RichTextEditor/Toolbar/controls/list/Component.tsx
  packages/rich-text-editor/src/components/RichTextEditor/Toolbar/controls/textAlign/Component.tsx
  packages/tpc/src/fields/BaseField.tsx
  packages/ui-components/src/Select/Select.tsx
  packages/ui-components/src/Select/style.scss
  packages/ui-components/src/Select/types.ts
Labels: C: UI/UX 🚽, T: bug 🐞

#709 Install plugins via .wp-env.json for e2e testing.
  .github/workflows/pr-checks.yml
  .wp-env.json
  package.json
  packages/e2e-tests/config/setup-playwright.js
  packages/e2e-tests/jest.playwright.config.js
  packages/e2e-tests/playwright/specs/hello.test.ts
  packages/e2e-tests/plugins/disable-animations.php
  packages/e2e-tests/plugins/nonce.php
  packages/e2e-tests/specs/hello.test.ts
  packages/e2e-tests/tsconfig.json
  packages/e2e-tests/utils/activate-plugin.js
  packages/e2e-tests/utils/shared/config.js
  packages/e2e-tests/utils/switch-user-to-admin.js
  packages/e2e-tests/utils/switch-user-to-test.js
  packages/e2e-tests/utils/visit-admin-page.js
  yarn.lock
Labels: C: build-process 🔨

#713 Extract Tax Calculations from TPC Price Reducers and Apply Taxes in Parallel
  domains/eventEditor/src/ui/tickets/hooks/useRecalculateBasePrice.ts
  packages/predicates/src/common/isDefault/index.ts
  packages/predicates/src/common/selectionById/index.ts
  packages/predicates/src/common/selectionPredicates/index.ts
  packages/predicates/src/prices/selectionPredicates/index.test.ts
  packages/predicates/src/prices/selectionPredicates/index.ts
  packages/predicates/src/prices/updatePredicates.ts
  packages/tpc/src/components/table/styles.scss
  packages/tpc/src/components/table/useBodyRowGenerator.tsx
  packages/tpc/src/components/table/useFooterRowGenerator.tsx
  packages/tpc/src/components/table/useHeaderRowGenerator.ts
  packages/tpc/src/data/test/data.calculations.test.ts
  packages/tpc/src/data/useDataReducer.ts
  packages/tpc/src/hooks/test/usePriceModifier.test.ts
  packages/tpc/src/hooks/test/usePriceToTpcModifier.test.ts
  packages/tpc/src/hooks/useMutatePrices.ts
  packages/tpc/src/hooks/usePriceModifier.ts
  packages/tpc/src/hooks/usePriceToTpcModifier.ts
  packages/tpc/src/inputs/PriceIdInput.tsx
  packages/tpc/src/inputs/PriceOrderInput.tsx
  packages/tpc/src/stateListeners/useInitStateListeners.ts
  packages/tpc/src/stateListeners/usePriceChangeListener.ts
  packages/tpc/src/types.ts
  packages/tpc/src/utils/applyParallelModifiers.ts
  packages/tpc/src/utils/basePriceCalculator.ts
  packages/tpc/src/utils/calculateBasePrice.ts
  packages/tpc/src/utils/calculateTicketTotal.ts
  packages/tpc/src/utils/constants.ts
  packages/tpc/src/utils/ticketTotalCalculator.ts
  packages/tpc/src/utils/undoParallelModifiers.ts
  packages/tpc/src/utils/utilities.ts
  packages/utils/src/list/index.ts
  packages/utils/src/types.ts
Labels: C: data systems 🗑, D: EDTR ✏️, T: bug 🐞

#715 Add unit tests for TPC utilities
  packages/edtr-services/src/apollo/mutations/prices/test/updatePrice.test.ts
  packages/predicates/src/common/selectionPredicates/index.ts
  packages/tpc/src/utils/calculateBasePrice.ts
  packages/tpc/src/utils/calculateTicketTotal.ts
  packages/tpc/src/utils/test/basePriceData.ts
  packages/tpc/src/utils/test/calculateBasePrice.test.ts
  packages/tpc/src/utils/test/calculateTicketTotal.test.ts
  packages/tpc/src/utils/test/ticketTotalData.ts
  packages/tpc/src/utils/test/utils.ts
  packages/tpc/src/utils/undoParallelModifiers.ts
Labels: C: unit-tests 🧪, D: Packages 📦, T: task 🧹

#716 Improve predicates and their types
  packages/predicates/src/common/filters/notTrashed/index.ts
  packages/predicates/src/common/filters/trashedOnly/index.ts
  packages/predicates/src/common/isTrashed/index.ts
  packages/predicates/src/common/listPredicates.ts
  packages/predicates/src/common/misc.ts
Labels: D: Packages 📦, T: code-quality 👾

#714 Added create new event utility and interaction with registration options/ create new date.
  .gitignore
  domains/eventEditor/src/hooks/entityActionsMenu/useEntityActionsMenuItems.ts
  domains/eventEditor/src/ui/EventRegistrationOptions/ActiveStatus.tsx
  domains/eventEditor/src/ui/EventRegistrationOptions/DefaultRegistrationStatus.tsx
  domains/eventEditor/src/ui/EventRegistrationOptions/EventManager.tsx
  domains/eventEditor/src/ui/EventRegistrationOptions/MaxRegistrations.tsx
  domains/eventEditor/src/ui/datetimes/dateForm/multiStep/Modal.tsx
  domains/eventEditor/src/ui/datetimes/dateForm/useDateFormConfig.ts
  domains/eventEditor/src/ui/datetimes/datesList/cardView/DateCapacity.tsx
  domains/eventEditor/src/ui/styles.scss
  domains/eventEditor/src/ui/tickets/ticketsList/cardView/TicketQuantity.tsx
  package.json
  packages/adapters/src/InlineEdit/InlineEdit.tsx
  packages/adapters/src/InlineEdit/InlineEditInput.tsx
  packages/adapters/src/InlineEdit/types.ts
  packages/e2e-tests/specs/event-dates.ts
  packages/e2e-tests/specs/hello.test.ts
  packages/e2e-tests/specs/registration-options.test.ts
  packages/e2e-tests/utils/activate-plugin.js
  packages/e2e-tests/utils/add-new-date.ts
  packages/e2e-tests/utils/create-new-event.ts
  packages/e2e-tests/utils/index.js
  packages/ee-components/src/EntityList/EntityList.tsx
  packages/ui-components/src/EntityList/EntityList.tsx
  packages/ui-components/src/EntityList/types.ts
  packages/ui-components/src/Heading/style.scss
  packages/ui-components/src/InlineEdit/InlineEditInput/InlineEditInfinity.tsx
  packages/ui-components/src/InlineEdit/InlineEditInput/InlineEditText.tsx
  packages/ui-components/src/InlineEdit/InlineEditInput/Preview.tsx
  packages/ui-components/src/InlineEdit/InlineEditInput/index.stories.tsx
  packages/ui-components/src/InlineEdit/InlineEditInput/types.ts
  packages/ui-components/src/TabbableText/index.tsx
  packages/ui-components/src/TabbableText/types.ts
  yarn.lock
Labels: C: automation & deployment ⚙️

#717 E2E: add new ticket.
  packages/adapters/src/InlineEdit/InlineEdit.tsx
  packages/adapters/src/InlineEdit/InlineEditInput.tsx
  packages/adapters/src/InlineEdit/types.ts
  packages/e2e-tests/specs/dates.ts
  packages/e2e-tests/specs/registration-options.ts
  packages/e2e-tests/specs/tickets.ts
  packages/e2e-tests/utils/add-new-ticket.ts
  packages/e2e-tests/utils/index.ts
  packages/e2e-tests/utils/press-key-with-modifier.js
  packages/ui-components/src/InlineEdit/InlineEditInput/InlineEditText.tsx
  packages/ui-components/src/InlineEdit/InlineEditInput/Preview.tsx
  packages/ui-components/src/InlineEdit/InlineEditInput/types.ts
  packages/ui-components/src/TabbableText/index.tsx
  packages/ui-components/src/TabbableText/types.ts
  packages/utils/src/cancelClickEvent.ts
Labels: C: automation & deployment ⚙️

#718 E2E: TPC - calculate total ticket price.
  packages/e2e-tests/config/setup-playwright.js
  packages/e2e-tests/jest.playwright.config.js
  packages/e2e-tests/specs/dates.test.ts
  packages/e2e-tests/specs/registration-options.test.ts
  packages/e2e-tests/specs/tickets.test.ts
  packages/e2e-tests/specs/tpc/index.test.ts
  packages/e2e-tests/specs/tpc/testData.ts
  packages/e2e-tests/utils/add-new-price-modifier.ts
  packages/e2e-tests/utils/index.ts
  packages/e2e-tests/utils/remove-free-ticket.ts
  packages/tpc/src/components/table/useFooterRowGenerator.tsx
Labels: C: automation & deployment ⚙️

#719 Initial capability set up
  domains/eventEditor/src/ui/datetimes/datesList/cardView/Details.tsx
  domains/eventEditor/src/ui/datetimes/datesList/newDateOptions/AddSingleDate.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/actions/Actions.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/cardView/Details.tsx
  domains/eventSmart/package.json
  domains/eventSmart/src/EventSmartInit.tsx
  domains/eventSmart/src/constants.ts
  domains/eventSmart/src/hooks/index.ts
  domains/eventSmart/src/hooks/useAddActionsFilters.ts
  domains/eventSmart/src/hooks/useCanUseAdvancedEditor.ts
  domains/eventSmart/src/hooks/useEventSmartInit.ts
  domains/eventSmart/src/hooks/useFilterElementProps.ts
  domains/eventSmart/src/hooks/useFilterElements.tsx
  domains/eventSmart/src/hooks/useTicketFormSections.ts
  domains/eventSmart/src/index.ts
  domains/eventSmart/tsconfig.json
  lib/Barista.php
  package.json
  packages/adapters/src/NumberInput/NumberInput.tsx
  packages/adapters/src/TextInput/TextInput.tsx
  packages/constants/src/misc.ts
  packages/edtr-services/src/ioc/index.ts
  packages/ee-components/src/SimpleTextEditorModal/index.tsx
  packages/ee-components/src/SimpleTextEditorModal/types.ts
  packages/form/src/types.ts
  packages/hooks/src/useOnChange/types.ts
  packages/hooks/src/useOnChange/useOnChange.ts
  packages/services/src/features/FeaturesProvider.tsx
  packages/services/src/permissions/constants.ts
  packages/services/src/permissions/index.ts
  packages/services/src/permissions/types.ts
  packages/services/src/permissions/useCurrentUserCan.ts
  packages/services/src/permissions/usePermissions.ts
  packages/services/src/permissions/useSitePermissions.ts
  packages/tpc/src/data/useInitialState.ts
  packages/tpc/src/index.ts
  packages/tpc/src/ioc/index.ts
  packages/ui-components/src/Button/Button.tsx
  packages/ui-components/src/DropdownMenu/DropdownMenuItem.tsx
  packages/ui-components/src/TabbableText/index.tsx
  yarn.lock
Labels: C: UI/UX 🚽, C: assets 💎, D: EDTR ✏️, T: feature request 🙏

#722 WPMedia fix.
  packages/rich-text-editor/src/components/AdvancedTextEditor/toolbarButtons/WPMedia.tsx
  packages/rich-text-editor/src/rte-old/components/toolbarButtons/WPMedia.tsx
Labels: T: bug 🐞

#720 E2E: TAM tests.
  .github/workflows/pr-checks.yml
  domains/eventEditor/src/ui/datetimes/datesList/DatesListButtons.tsx
  package.json
  packages/e2e-tests/README.md
  packages/e2e-tests/assertions/index.ts
  packages/e2e-tests/assertions/isSubmitBtnDisabled.ts
  packages/e2e-tests/jest.playwright.config.js
  packages/e2e-tests/specs/dates.test.ts
  packages/e2e-tests/specs/registration-options.test.ts
  packages/e2e-tests/specs/tam/index.test.ts
  packages/e2e-tests/specs/tickets.test.ts
  packages/e2e-tests/specs/tpc/index.test.ts
  packages/e2e-tests/utils/activate-plugin.js
  packages/e2e-tests/utils/add-new-ticket.ts
  packages/e2e-tests/utils/shared/config.js
  yarn.lock
Labels: C: automation & deployment ⚙️

#721 More capability checks
  domains/eventEditor/src/ui/datetimes/dateForm/useDateFormConfig.ts
  domains/eventEditor/src/ui/tickets/defaultTickets/TicketCard.tsx
  domains/eventEditor/src/ui/tickets/defaultTickets/data/types.ts
  domains/eventEditor/src/ui/tickets/ticketsList/actions/Actions.tsx
  domains/eventSmart/src/hooks/useAddActionsFilters.ts
  domains/eventSmart/src/hooks/useFilterElementProps.ts
  domains/eventSmart/src/hooks/useFilterFormFields.ts
  domains/eventSmart/src/hooks/useTicketFormSections.ts
  domains/rem/src/services/apollo/mutations/recurrences/test/deleteRecurrence.test.ts
  domains/rem/src/services/apollo/mutations/recurrences/test/updateRecurrence.test.ts
  ee-barista.php
  packages/data/src/queries/currentUser/queries.ts
  packages/data/src/queries/currentUser/test/data.ts
  packages/data/src/queries/currentUser/test/useUpdateCurrentUserCache.test.ts
  packages/data/src/queries/currentUser/types.ts
  packages/data/src/queries/generalSettings/test/useUpdateGeneralSettingsCache.test.ts
  packages/edtr-services/src/apollo/mutations/datetimes/test/deleteDatetime.test.ts
  packages/edtr-services/src/apollo/mutations/datetimes/test/updateDatetime.test.ts
  packages/edtr-services/src/apollo/mutations/tickets/useOptimisticResponse.ts
  packages/edtr-services/src/apollo/queries/tickets/queries.ts
  packages/edtr-services/src/apollo/queries/tickets/test/data.ts
  packages/edtr-services/src/apollo/types.ts
  packages/edtr-services/src/ioc/index.ts
  packages/ee-components/src/SimpleTicketCard/Sidebar.tsx
  packages/ee-components/src/SimpleTicketCard/SimpleTicketCard.tsx
  packages/ee-components/src/SimpleTicketCard/actions/Edit.tsx
  packages/ee-components/src/SimpleTicketCard/actions/Trash.tsx
  packages/predicates/src/tickets/test/data.ts
  packages/predicates/src/tickets/ticketFields.ts
  packages/rich-text-editor/src/components/RichTextEditor/RichTextEditor.tsx
  packages/rich-text-editor/src/components/RichTextEditor/types.ts
  packages/rich-text-editor/src/components/WithEditMode/WithEditMode.tsx
  packages/rich-text-editor/src/rte-old/components/RTEWithEditMode/RTEWithEditMode.tsx
  packages/rich-text-editor/src/rte-old/components/RichTextEditor/types.ts
  packages/services/src/permissions/useCurrentUserCan.ts
  packages/services/src/permissions/useSitePermissions.ts
  packages/services/src/permissions/useUserCapabilities.ts
  packages/ui-components/src/Button/IconButton/index.tsx
  packages/ui-components/src/SimpleEntityList/types.ts
Labels: C: assets 💎, D: EDTR ✏️, T: feature request 🙏

#729 ES/MENW deployment
  .github/workflows/deploy-master.yml
  domains/eventSmart/src/hooks/useFilterElements.tsx
  domains/rem/src/hooks/useDatesBulkEditActions.ts
  ee-barista.php
  package.json
  tools/deploy.sh
Labels: C: automation & deployment ⚙️, D: Event Smart, T: feature request 🙏

#730 Fix the deployment path and URL
  tools/deploy.sh
Labels: C: automation & deployment ⚙️, T: bug 🐞

#728 E2E: added more TAM tests.
  .github/workflows/deploy-master.yml
  domains/eventEditor/src/ui/tickets/ticketsList/actionsMenu/dropdown/TicketMainMenu.tsx
  package.json
  packages/e2e-tests/specs/dates.test.ts
  packages/e2e-tests/specs/tam/index.test.ts
  packages/e2e-tests/specs/tickets.test.ts
  packages/e2e-tests/specs/tpc/index.test.ts
  packages/e2e-tests/utils/create-new-event.ts
  packages/e2e-tests/utils/index.ts
  packages/e2e-tests/utils/removeAllTickets.ts
  packages/e2e-tests/utils/removeLastDate.ts
  packages/e2e-tests/utils/removeLastTicket.ts
Labels: C: automation & deployment ⚙️

#731 Upsell component init.
  packages/ee-components/src/Upsell/Form.tsx
  packages/ee-components/src/Upsell/Upsell.tsx
  packages/ee-components/src/Upsell/index.stories.tsx
  packages/ee-components/src/Upsell/index.ts
  packages/ee-components/src/Upsell/style.scss
  packages/ee-components/src/Upsell/types.ts
  packages/ee-components/src/Upsell/useUpsellFormConfig.ts
  packages/form/src/adapters/MappedField.tsx
  packages/ui-components/src/Button/types.ts
Labels: C: UI/UX 🚽

#733 Fix ES deployment
  .github/workflows/deploy-master.yml
  tools/deploy.sh
Labels: C: automation & deployment ⚙️, C: build-process 🔨, D: Event Smart

#734 Add slotfill and plugins package
  domains/eventEditor/src/ui/EventEditor.tsx
  domains/eventEditor/src/ui/datetimes/datesList/newDateOptions/NewDateButton.tsx
  domains/eventEditor/src/ui/datetimes/datesList/newDateOptions/NewDateModal.tsx
  domains/eventEditor/src/ui/datetimes/datesList/newDateOptions/OptionsModalButton.tsx
  domains/eventEditor/src/ui/datetimes/hooks/useNewDateOptionItems.ts
  domains/eventEditor/src/ui/datetimes/registryInit.tsx
  domains/eventSmart/package.json
  domains/eventSmart/src/hooks/index.ts
  domains/eventSmart/src/hooks/useAddActionsFilters.ts
  domains/eventSmart/src/hooks/useFilterElementProps.ts
  domains/eventSmart/src/hooks/useFilterElements.tsx
  domains/eventSmart/src/index.ts
  domains/eventSmart/src/index.tsx
  domains/eventSmart/src/upsells/NewDateUpsell.tsx
  domains/eventSmart/src/upsells/index.ts
  domains/rem/src/ui/index.tsx
  eslint/levels.js
  lib/Barista.php
  package.json
  packages/edtr-services/src/context/ContextProvider.tsx
  packages/edtr-services/src/index.ts
  packages/edtr-services/src/plugins.ts
  packages/edtr-services/src/slots/NewDateOptions.ts
  packages/edtr-services/src/slots/index.ts
  packages/ioc/src/hooks.ts
  packages/plugins/package.json
  packages/plugins/src/api/index.ts
  packages/plugins/src/components/PluginArea.tsx
  packages/plugins/src/components/PluginContext.tsx
  packages/plugins/src/components/index.ts
  packages/plugins/src/index.ts
  packages/plugins/tsconfig.json
  packages/registry/src/modals/context/useGlobalModalManager.ts
  packages/slot-fill/package.json
  packages/slot-fill/src/context.tsx
  packages/slot-fill/src/fill.tsx
  packages/slot-fill/src/index.ts
  packages/slot-fill/src/slot-fill.tsx
  packages/slot-fill/src/slot.tsx
  packages/slot-fill/src/types.ts
  packages/slot-fill/tsconfig.json
  yarn.lock
Labels: C: UI/UX 🚽, D: Packages 📦, T: enhancement ✨

#737 Load ES assets only on EDTR
  lib/Barista.php
  packages/e2e-tests/specs/registration-options.test.ts
Labels: C: automation & deployment ⚙️, T: bug 🐞

#738 TemplateWithBg update.
  package.json
  packages/ee-components/src/Upsell/style.scss
  packages/ee-components/src/Upsell/templates/TemplateWithBg.tsx
  yarn.lock
Labels: C: UI/UX 🚽

#740 Upsell: vertical orientation.
  packages/ee-components/src/Upsell/Upsell.tsx
  packages/ee-components/src/Upsell/index.stories.tsx
  packages/ee-components/src/Upsell/style.scss
  packages/ee-components/src/Upsell/types.ts
Labels: C: UI/UX 🚽
