Repository eventespresso/barista, pull requests merged in 2021-05, with the labels that each got.

#843 E2E: Entity copy tests
  packages/e2e-tests/specs/rem/index.test.ts
  packages/e2e-tests/specs/shared/copy-entity.test.ts
  packages/e2e-tests/specs/tickets/index.test.ts
  packages/e2e-tests/utils/admin/event-editor/DateEditor.ts
  packages/e2e-tests/utils/admin/event-editor/EntityEditor.ts
  packages/e2e-tests/utils/admin/event-editor/TicketEditor.ts
  packages/e2e-tests/utils/common/clickButton.ts
Labels: C: automation & deployment ⚙️

#844 E2E: Date deletion tests
  packages/e2e-tests/specs/dates/delete.test.ts
  packages/e2e-tests/specs/dates/filters/sales.test.ts
  packages/e2e-tests/specs/dates/filters/search.test.ts
  packages/e2e-tests/specs/dates/filters/status.test.ts
  packages/e2e-tests/specs/shared/copy-entity.test.ts
  packages/e2e-tests/utils/admin/event-editor/DateEditor.ts
  packages/e2e-tests/utils/admin/event-editor/EntityEditor.ts
  packages/e2e-tests/utils/admin/event-editor/EntityListParser.ts
  packages/e2e-tests/utils/admin/event-editor/TicketEditor.ts
  packages/e2e-tests/utils/admin/event-editor/fillDateTicketForm.ts
Labels: C: automation & deployment ⚙️

#845 E2E: Ticket deletion tests
  packages/e2e-tests/specs/tickets/delete.test.ts
Labels: C: automation & deployment ⚙️

#848 Fix order and sorting
  domains/core/admin/eventEditor/src/ui/datetimes/dateForm/multiStep/useOnSubmit.ts
  domains/rem/src/data/useSubmitForm.ts
  packages/e2e-tests/specs/dates/index.test.ts
  packages/e2e-tests/utils/admin/event-editor/EntityEditor.ts
  packages/e2e-tests/utils/admin/event-editor/EntityListParser.ts
  packages/e2e-tests/utils/admin/event-editor/TicketEditor.ts
  packages/predicates/src/common/listPredicates.ts
  packages/predicates/src/datetimes/sorters/index.ts
  packages/predicates/src/tickets/sorters/index.ts
  packages/tpc/src/hooks/useMutateTicket.ts
Labels: D: EDTR ✏️, D: Packages 📦, T: bug 🐞

#855 E2e registration improvements
  packages/e2e-tests/specs/registration/index.test.ts
  packages/e2e-tests/specs/registration/sold-out.test.ts
  packages/e2e-tests/specs/shared/two-dates-two-tickets.test.ts
  packages/e2e-tests/utils/admin/event-editor/DateEditor.ts
  packages/e2e-tests/utils/admin/event-editor/EDTRGlider.ts
  packages/e2e-tests/utils/admin/event-editor/EntityEditor.ts
  packages/e2e-tests/utils/admin/event-editor/EntityListParser.ts
  packages/e2e-tests/utils/admin/event-editor/TicketEditor.ts
  packages/e2e-tests/utils/admin/event-editor/addNewPriceModifier.ts
  packages/e2e-tests/utils/admin/event-editor/answerRegFormTextInput.ts
  packages/e2e-tests/utils/admin/event-editor/clickEventPostPermaLink.ts
  packages/e2e-tests/utils/admin/event-editor/findEntityIdByName.ts
  packages/e2e-tests/utils/admin/event-editor/getEventUrl.ts
  packages/e2e-tests/utils/admin/event-editor/index.ts
  packages/e2e-tests/utils/admin/event-editor/questionsForPrimaryRegistrant.ts
  packages/e2e-tests/utils/public/reg-checkout/EventRegistrar.ts
  packages/e2e-tests/utils/public/reg-checkout/chooseFromTicketSelector.ts
  packages/e2e-tests/utils/public/reg-checkout/fillAttendeeInformation.ts
  packages/e2e-tests/utils/public/reg-checkout/index.ts
  packages/e2e-tests/utils/public/reg-checkout/submitRegistration.ts
  packages/e2e-tests/utils/public/reg-checkout/submitTicketSelector.ts
Labels: C: automation & deployment ⚙️

#857 Add Ticket visibility field
  domains/core/admin/eventEditor/src/ui/tickets/ticketForm/useTicketFormConfig.ts
  domains/rem/src/ui/Tickets/useTicketFormConfig.ts
  domains/rem/src/utils/misc.ts
  packages/edtr-services/src/apollo/mutations/tickets/types.ts
  packages/edtr-services/src/apollo/mutations/tickets/useOptimisticResponse.ts
  packages/edtr-services/src/apollo/queries/tickets/queries.ts
  packages/edtr-services/src/apollo/queries/tickets/test/data.ts
  packages/edtr-services/src/apollo/types.ts
  packages/edtr-services/src/constants.ts
  packages/edtr-services/src/types.ts
  packages/predicates/src/tickets/test/data.ts
  packages/predicates/src/tickets/ticketFields.ts
  packages/services/src/index.ts
  packages/services/src/utils.ts
Labels: C: services 🤝, D: EDTR ✏️, T: enhancement ✨

#860 E2E: Enable active only test for dates
  packages/e2e-tests/specs/dates/filters/status.test.ts
Labels: C: automation & deployment ⚙️

#861 E2E: Complete tests for date and ticket filters and sorters
  packages/e2e-tests/specs/dates/filters/sales.test.ts
  packages/e2e-tests/specs/dates/filters/sortby.test.ts
  packages/e2e-tests/specs/dates/filters/status.test.ts
  packages/e2e-tests/specs/registration/index.test.ts
  packages/e2e-tests/specs/registration/sold-out.test.ts
  packages/e2e-tests/specs/shared/data.ts
  packages/e2e-tests/specs/shared/two-dates-two-tickets.test.ts
  packages/e2e-tests/specs/tam/utils.ts
  packages/e2e-tests/specs/tickets/filters/chained.ts
  packages/e2e-tests/specs/tickets/filters/sales.test.ts
  packages/e2e-tests/specs/tickets/filters/search.test.ts
  packages/e2e-tests/specs/tickets/filters/sortby.test.ts
  packages/e2e-tests/specs/tickets/filters/status.test.ts
  packages/e2e-tests/utils/admin/event-editor/DateEditor.ts
  packages/e2e-tests/utils/admin/event-editor/EDTRGlider.ts
  packages/e2e-tests/utils/admin/event-editor/TicketEditor.ts
  packages/e2e-tests/utils/admin/event-editor/addNewTicket.ts
  packages/e2e-tests/utils/public/reg-checkout/EventRegistrar.ts
Labels: C: automation & deployment ⚙️

#862 E2E: Better tests for entity list search
  packages/e2e-tests/specs/dates/filters/search.test.ts
  packages/e2e-tests/specs/shared/search.test.ts
  packages/e2e-tests/specs/tickets/filters/search.test.ts
  packages/e2e-tests/utils/admin/event-editor/EntityListParser.ts
Labels: C: automation & deployment ⚙️

#863 Deploy to cafe repo
  .github/workflows/deploy-master.yml
  tools/deploy.sh
Labels: C: automation & deployment ⚙️, D: Packages 📦, T: task 🧹

#864 Fix i18n deployment to cafe repo
  .github/workflows/deploy-master.yml
  tools/deploy.sh
Labels: C: automation & deployment ⚙️, T: task 🧹

#866 Create Feature Flag (FF) for EDTR Reg Form
  domains/core/admin/eventEditor/src/ui/EventEditor.tsx
  domains/core/admin/eventEditor/src/ui/registrationForm/RegistrationForm.tsx
  domains/core/admin/eventEditor/src/ui/registrationForm/index.ts
  ee-barista.php
Labels: C: services 🤝, D: EDTR ✏️, T: feature request 🙏

#867 Reg Form Builder UI Mockup
  domains/core/admin/eventEditor/src/ui/registrationForm/RegistrationForm.tsx
Labels: C: UI/UX 🚽, D: EDTR ✏️, P3: med priority 😐, S7: code review 🔎, T: feature request 🙏

#872 Extract Form Builder Logic into New UI Components
  domains/core/admin/eventEditor/src/ui/EventDescription.tsx
  domains/core/admin/eventEditor/src/ui/EventRegistrationOptions/index.tsx
  domains/core/admin/eventEditor/src/ui/registrationForm/RegistrationForm.tsx
  packages/ui-components/src/Container/Container.tsx
  packages/ui-components/src/EntityList/EntityList.tsx
  packages/ui-components/src/FormBuilder/FormBuilder.tsx
  packages/ui-components/src/FormBuilder/FormBuilderSidebar.tsx
  packages/ui-components/src/FormBuilder/FormElement.tsx
  packages/ui-components/src/FormBuilder/index.ts
  packages/ui-components/src/FormBuilder/styles.scss
  packages/ui-components/src/FormBuilder/types.ts
  packages/ui-components/src/Heading/style.scss
  packages/ui-components/src/index.ts
Labels: C: UI/UX 🚽, D: Packages 📦, P3: med priority 😐, S7: code review 🔎, T: feature request 🙏

#873 Add Components for Form Sections and Settings
  domains/core/admin/eventEditor/src/ui/registrationForm/RegistrationForm.tsx
  packages/icons/src/icons/DragHandle.tsx
  packages/icons/src/icons/SaveOutlined.tsx
  packages/icons/src/icons/SettingsOutlined.tsx
  packages/icons/src/icons/index.tsx
  packages/icons/src/svg/dragHandle.svg
  packages/icons/src/svg/settingsOutlined.svg
  packages/icons/src/svg/trash.svg
  packages/ui-components/src/Button/IconButton/index.tsx
  packages/ui-components/src/Button/IconButton/style.scss
  packages/ui-components/src/Button/IconButton/types.ts
  packages/ui-components/src/Button/_sizes.scss
  packages/ui-components/src/FormBuilder/FormBuilder.tsx
  packages/ui-components/src/FormBuilder/FormBuilderSidebar.tsx
  packages/ui-components/src/FormBuilder/FormElement.tsx
  packages/ui-components/src/FormBuilder/FormElementSettings.tsx
  packages/ui-components/src/FormBuilder/FormSection.tsx
  packages/ui-components/src/FormBuilder/styles.scss
  packages/ui-components/src/FormBuilder/types.ts
Labels: C: UI/UX 🚽, D: Packages 📦, P3: med priority 😐, S7: code review 🔎, T: enhancement ✨

#876 Create Form Builder Tabs
  domains/core/admin/eventEditor/src/ui/registrationForm/RegistrationForm.tsx
  packages/ui-components/src/FormBuilder/FormBuilder.stories.tsx
  packages/ui-components/src/FormBuilder/FormElement/FormElement.tsx
  packages/ui-components/src/FormBuilder/FormElement/FormElementInput.tsx
  packages/ui-components/src/FormBuilder/FormElement/FormElementToolbar.tsx
  packages/ui-components/src/FormBuilder/FormElement/MappedElement.tsx
  packages/ui-components/src/FormBuilder/FormElement/Tabs/FormElementTabs.tsx
  packages/ui-components/src/FormBuilder/FormElement/Tabs/Settings.tsx
  packages/ui-components/src/FormBuilder/FormElement/Tabs/Styles.tsx
  packages/ui-components/src/FormBuilder/FormElement/Tabs/Validation.tsx
  packages/ui-components/src/FormBuilder/FormElement/Tabs/index.ts
  packages/ui-components/src/FormBuilder/FormElement/index.ts
  packages/ui-components/src/FormBuilder/FormElementSettings.tsx
  packages/ui-components/src/FormBuilder/FormElementToolbar.tsx
  packages/ui-components/src/FormBuilder/FormSection/FormSection.tsx
  packages/ui-components/src/FormBuilder/FormSection/FormSectionToolbar.tsx
  packages/ui-components/src/FormBuilder/FormSection/Tabs/FormSectionTabs.tsx
  packages/ui-components/src/FormBuilder/FormSection/Tabs/Settings.tsx
  packages/ui-components/src/FormBuilder/FormSection/Tabs/Styles.tsx
  packages/ui-components/src/FormBuilder/FormSection/Tabs/index.ts
  packages/ui-components/src/FormBuilder/FormSection/index.ts
  packages/ui-components/src/FormBuilder/FormSectionSettings.tsx
  packages/ui-components/src/FormBuilder/types.ts
Labels: C: UI/UX 🚽, D: Packages 📦, T: feature request 🙏

#877 Style Form Builder Tabs
  packages/adapters/src/Tabs/Tab.tsx
  packages/adapters/src/Tabs/TabList.tsx
  packages/adapters/src/Tabs/TabPanel.tsx
  packages/adapters/src/Tabs/TabPanels.tsx
  packages/adapters/src/Tabs/Tabs.tsx
  packages/adapters/src/Tabs/types.ts
  packages/adapters/src/TextInput/TextInput.tsx
  packages/icons/src/icons/Brush.tsx
  packages/icons/src/icons/CheckList.tsx
  packages/icons/src/icons/Palette.tsx
  packages/icons/src/icons/index.tsx
  packages/icons/src/svg/brush.svg
  packages/icons/src/svg/check-list.svg
  packages/icons/src/svg/palette.svg
  packages/rich-text-editor/src/components/WithEditMode/WithEditMode.tsx
  packages/rich-text-editor/src/rte-old/components/RTEWithEditMode/RTEWithEditMode.tsx
  packages/styles/src/variables/_index.scss
  packages/ui-components/src/CurrencyDisplay/style.scss
  packages/ui-components/src/EspressoTable/style/_data-cell.scss
  packages/ui-components/src/EspressoTable/style/cell.scss
  packages/ui-components/src/FormBuilder/FormElement/FormElementToolbar.tsx
  packages/ui-components/src/FormBuilder/FormElement/Tabs/FormElementTabs.tsx
  packages/ui-components/src/FormBuilder/FormElement/Tabs/Settings.tsx
  packages/ui-components/src/FormBuilder/FormElement/Tabs/Styles.tsx
  packages/ui-components/src/FormBuilder/FormElement/Tabs/Validation.tsx
  packages/ui-components/src/FormBuilder/FormSection/FormSection.tsx
  packages/ui-components/src/FormBuilder/FormSection/FormSectionToolbar.tsx
  packages/ui-components/src/FormBuilder/FormSection/Tabs/FormSectionTabs.tsx
  packages/ui-components/src/FormBuilder/styles.scss
  packages/ui-components/src/ItemCount/style.scss
  packages/ui-components/src/Tabs/Tab.tsx
  packages/ui-components/src/Tabs/TabList.tsx
  packages/ui-components/src/Tabs/TabPanel.tsx
  packages/ui-components/src/Tabs/TabPanels.tsx
  packages/ui-components/src/Tabs/Tabs.tsx
  packages/ui-components/src/Tabs/index.ts
  packages/ui-components/src/Tabs/style.scss
  packages/ui-components/src/Tabs/types.ts
  packages/ui-components/src/index.ts
  packages/ui-components/src/text-input/TextInput/style.scss
Labels: C: UI/UX 🚽, D: Packages 📦, P3: med priority 😐, S7: code review 🔎, T: enhancement ✨

#878 useOpenElement Custom Hook
  packages/ui-components/src/FormBuilder/FormBuilder.tsx
  packages/ui-components/src/FormBuilder/FormElement/FormElement.tsx
  packages/ui-components/src/FormBuilder/FormElement/FormElementInput.tsx
  packages/ui-components/src/FormBuilder/FormElement/FormElementToolbar.tsx
  packages/ui-components/src/FormBuilder/FormElement/MappedElement.tsx
  packages/ui-components/src/FormBuilder/FormElement/Tabs/Settings.tsx
  packages/ui-components/src/FormBuilder/FormElement/Tabs/Styles.tsx
  packages/ui-components/src/FormBuilder/FormElement/Tabs/Validation.tsx
  packages/ui-components/src/FormBuilder/FormSection/FormSection.tsx
  packages/ui-components/src/FormBuilder/FormSection/FormSectionToolbar.tsx
  packages/ui-components/src/FormBuilder/FormSection/Tabs/Settings.tsx
  packages/ui-components/src/FormBuilder/FormSection/Tabs/Styles.tsx
  packages/ui-components/src/FormBuilder/types.ts
  packages/ui-components/src/FormBuilder/useOpenElement.ts
Labels: C: UI/UX 🚽, D: Packages 📦, P3: med priority 😐, S7: code review 🔎, T: enhancement ✨

#879 Fix RTE Tabs and Icons
  packages/icons/src/icons/Code.tsx
  packages/icons/src/icons/Desktop.tsx
  packages/icons/src/icons/FormatUnderline.tsx
  packages/icons/src/icons/Strikethrough.tsx
  packages/icons/src/icons/index.ts
  packages/icons/src/svg/code.svg
  packages/icons/src/svg/desktop.svg
  packages/icons/src/svg/formatUnderline.svg
  packages/icons/src/svg/strikethrough.svg
  packages/rich-text-editor/src/components/AdvancedTextEditor/toolbarButtons/WPMedia.tsx
  packages/rich-text-editor/src/components/RichTextEditor/Toolbar/ToolbarItem.tsx
  packages/rich-text-editor/src/components/RichTextEditor/Toolbar/controls/colorPicker/Component.tsx
  packages/rich-text-editor/src/components/RichTextEditor/Toolbar/controls/image/Component.tsx
  packages/rich-text-editor/src/components/RichTextEditor/Toolbar/controls/inline/Component.tsx
  packages/rich-text-editor/src/components/RichTextEditor/Toolbar/controls/link/Component.tsx
  packages/rich-text-editor/src/components/RichTextEditor/Toolbar/controls/remove/Component.tsx
  packages/rich-text-editor/src/components/RichTextEditor/render/Image/Toolbar.tsx
  packages/rich-text-editor/src/components/RichTextEditor/style.scss
  packages/rich-text-editor/src/components/WithEditMode/WithEditMode.tsx
  packages/rich-text-editor/src/components/WithEditMode/style.scss
  packages/rich-text-editor/src/rte-old/components/RTEWithEditMode/RTEWithEditMode.tsx
  packages/rich-text-editor/src/rte-old/components/RTEWithEditMode/style.scss
  packages/ui-components/src/Button/IconButton/style.scss
  packages/ui-components/src/Button/IconButton/types.ts
  packages/ui-components/src/Button/style.scss
  packages/ui-components/src/Tabs/style.scss
Labels: C: UI/UX 🚽, D: Packages 📦, P3: med priority 😐, S7: code review 🔎, T: enhancement ✨

#881 Fix RTE Toolbar Items
  packages/rich-text-editor/src/components/AdvancedTextEditor/toolbarButtons/WPMedia.tsx
  packages/rich-text-editor/src/components/RichTextEditor/Toolbar/ToolbarItem.tsx
  packages/rich-text-editor/src/components/RichTextEditor/Toolbar/controls/colorPicker/Component.tsx
  packages/rich-text-editor/src/components/RichTextEditor/Toolbar/controls/image/Component.tsx
  packages/rich-text-editor/src/components/RichTextEditor/Toolbar/controls/inline/Component.tsx
  packages/rich-text-editor/src/components/RichTextEditor/Toolbar/controls/link/Component.tsx
  packages/rich-text-editor/src/components/RichTextEditor/Toolbar/controls/remove/Component.tsx
  packages/rich-text-editor/src/components/RichTextEditor/render/Image/Toolbar.tsx
Labels: C: assets 💎, D: Packages 📦, P3: med priority 😐, S7: code review 🔎, T: enhancement ✨

#882 Form builder state
  packages/form/src/FormSection/index.tsx
  packages/form/src/RenderFields/RenderFields.tsx
  packages/form/src/RenderFields/index.ts
  packages/form/src/index.ts
  packages/form/src/renderers/FormRenderer.tsx
  packages/ui-components/src/FormBuilder/FormBuilder.tsx
  packages/ui-components/src/FormBuilder/FormElement/FormElement.tsx
  packages/ui-components/src/FormBuilder/FormElement/MappedElement.tsx
  packages/ui-components/src/FormBuilder/FormElement/Tabs/FormElementTabs.tsx
  packages/ui-components/src/FormBuilder/FormSection/FormSection.tsx
  packages/ui-components/src/FormBuilder/FormSection/Tabs/FormSectionTabs.tsx
  packages/ui-components/src/FormBuilder/context/FormStateProvider.tsx
  packages/ui-components/src/FormBuilder/context/index.ts
  packages/ui-components/src/FormBuilder/context/withFormState.tsx
  packages/ui-components/src/FormBuilder/state/index.ts
  packages/ui-components/src/FormBuilder/state/types.ts
  packages/ui-components/src/FormBuilder/state/useFormState.ts
  packages/ui-components/src/FormBuilder/state/useFormStateManager.ts
  packages/ui-components/src/FormBuilder/state/useFormStateReducer.ts
  packages/ui-components/src/FormBuilder/state/useInitialState.ts
  packages/ui-components/src/FormBuilder/types.ts
  packages/ui-components/src/FormBuilder/useOpenElement.ts
Labels: C: data systems 🗑, D: EDTR ✏️, T: task 🧹

#884 Wire up form builder state to UI
  domains/core/admin/eventEditor/src/ui/registrationForm/RegistrationForm.tsx
  packages/ui-components/src/Container/Container.tsx
  packages/ui-components/src/Container/types.ts
  packages/ui-components/src/FormBuilder/FormBuilder.stories.tsx
  packages/ui-components/src/FormBuilder/FormBuilder.tsx
  packages/ui-components/src/FormBuilder/FormElement/FormElement.tsx
  packages/ui-components/src/FormBuilder/FormElement/FormElementInput.tsx
  packages/ui-components/src/FormBuilder/FormElement/FormElementToolbar.tsx
  packages/ui-components/src/FormBuilder/FormElement/MappedElement.tsx
  packages/ui-components/src/FormBuilder/FormSection/FormSection.tsx
  packages/ui-components/src/FormBuilder/FormSection/FormSectionToolbar.tsx
  packages/ui-components/src/FormBuilder/state/types.ts
  packages/ui-components/src/FormBuilder/state/useFormStateManager.ts
  packages/ui-components/src/FormBuilder/state/useFormStateReducer.ts
  packages/ui-components/src/FormBuilder/types.ts
Labels: C: data systems 🗑, D: EDTR ✏️, T: task 🧹

#885 Add Form Section Sidebar
  domains/core/admin/eventEditor/src/ui/registrationForm/RegistrationForm.tsx
  packages/icons/scripts/template.js
  packages/icons/src/icons/Save.tsx
  packages/icons/src/svg/save.svg
  packages/ui-components/src/FormBuilder/FormBuilder.tsx
  packages/ui-components/src/FormBuilder/FormBuilderSidebar.tsx
  packages/ui-components/src/FormBuilder/FormElement/FormElement.tsx
  packages/ui-components/src/FormBuilder/FormElement/FormElementToolbar.tsx
  packages/ui-components/src/FormBuilder/FormElement/MappedElement.tsx
  packages/ui-components/src/FormBuilder/FormSection/FormSection.tsx
  packages/ui-components/src/FormBuilder/FormSection/FormSectionSidebar.tsx
  packages/ui-components/src/FormBuilder/FormSection/FormSectionToolbar.tsx
  packages/ui-components/src/FormBuilder/constants.ts
  packages/ui-components/src/FormBuilder/styles.scss
Labels: C: UI/UX 🚽, D: Packages 📦, P3: med priority 😐, S7: code review 🔎, T: enhancement ✨

#886 Form Builder state enhancements
  domains/core/admin/eventEditor/src/ui/registrationForm/RegistrationForm.tsx
  packages/adapters/src/Textarea/Textarea.tsx
  packages/adapters/src/Textarea/types.ts
  packages/hooks/src/useOnChange/types.ts
  packages/ui-components/src/FormBuilder/FormBuilder.stories.tsx
  packages/ui-components/src/FormBuilder/FormBuilder.tsx
  packages/ui-components/src/FormBuilder/FormElement/FormElement.tsx
  packages/ui-components/src/FormBuilder/FormElement/FormElementInput.tsx
  packages/ui-components/src/FormBuilder/FormElement/FormElementToolbar.tsx
  packages/ui-components/src/FormBuilder/FormElement/Tabs/Settings.tsx
  packages/ui-components/src/FormBuilder/FormElement/Tabs/Styles.tsx
  packages/ui-components/src/FormBuilder/FormElement/Tabs/Validation.tsx
  packages/ui-components/src/FormBuilder/FormSection/FormSection.tsx
  packages/ui-components/src/FormBuilder/FormSection/FormSectionSidebar.tsx
  packages/ui-components/src/FormBuilder/FormSection/FormSectionToolbar.tsx
  packages/ui-components/src/FormBuilder/FormSection/Tabs/Settings.tsx
  packages/ui-components/src/FormBuilder/FormSection/Tabs/Styles.tsx
  packages/ui-components/src/FormBuilder/constants.ts
  packages/ui-components/src/FormBuilder/context/FormStateProvider.tsx
  packages/ui-components/src/FormBuilder/state/types.ts
  packages/ui-components/src/FormBuilder/state/useFormStateManager.ts
  packages/ui-components/src/FormBuilder/state/useFormStateReducer.ts
  packages/ui-components/src/FormBuilder/state/useInitialState.ts
  packages/ui-components/src/FormBuilder/types.ts
  packages/ui-components/src/FormBuilder/utils.ts
Labels: C: data systems 🗑, D: EDTR ✏️, T: task 🧹

#887 Simplify Form Builder UI
  domains/core/admin/eventEditor/src/ui/datetimes/dateForm/useDateFormConfig.ts
  domains/core/admin/eventEditor/src/ui/tickets/ticketForm/useTicketFormConfig.ts
  packages/adapters/src/Button/Button.tsx
  packages/styles/src/root/_btn.scss
  packages/ui-components/src/Button/IconButton/style.scss
  packages/ui-components/src/Button/_sizes.scss
  packages/ui-components/src/Button/style.scss
  packages/ui-components/src/FormBuilder/FormElement/FormElement.tsx
  packages/ui-components/src/FormBuilder/FormElement/FormElementToolbar.tsx
  packages/ui-components/src/FormBuilder/FormSection/FormSection.tsx
  packages/ui-components/src/FormBuilder/FormSection/FormSectionSidebar.tsx
  packages/ui-components/src/FormBuilder/FormSection/FormSectionToolbar.tsx
  packages/ui-components/src/FormBuilder/styles.scss
  packages/ui-components/src/NumberInput/style.scss
  packages/ui-components/src/Tabs/style.scss
Labels: C: UI/UX 🚽, D: Packages 📦, P3: med priority 😐, S7: code review 🔎, T: enhancement ✨

#889 Fix Form Input Styles
  packages/form/src/renderers/FieldRenderer/index.tsx
  packages/form/src/styles.scss
  packages/ui-components/src/Divider/index.tsx
  packages/ui-components/src/Divider/style.scss
  packages/ui-components/src/NumberInput/style.scss
  packages/ui-components/src/types.ts
Labels: C: UI/UX 🚽, D: Packages 📦, P3: med priority 😐, S7: code review 🔎, T: enhancement ✨

#893 Replace UUIDv4s with CUIDs
  domains/core/admin/eventEditor/src/ui/tickets/defaultTickets/data/useDataStateReducer.ts
  domains/rem/src/data/useFormStateReducer.ts
  eslint/levels.js
  package.json
  packages/data/src/mutations/useMutationWithFeedback.ts
  packages/edtr-services/src/apollo/mutations/datetimes/useOptimisticResponse.ts
  packages/edtr-services/src/apollo/mutations/events/useOptimisticResponse.ts
  packages/edtr-services/src/apollo/mutations/tickets/useOptimisticResponse.ts
  packages/edtr-services/src/apollo/mutations/utils.ts
  packages/registry/src/subscription/SubscriptionManager.ts
  packages/rrule-generator/src/state/useRRuleStateReducer.ts
  packages/rrule-generator/src/utils/misc.ts
  packages/tpc/src/buttons/AddPriceModifierButtonData.tsx
  packages/tpc/src/data/test/data.addPrice.test.ts
  packages/tpc/src/data/test/data.calculations.test.ts
  packages/tpc/src/data/test/data.deletePrice.test.ts
  packages/tpc/src/data/test/data.updatePrice.test.ts
  packages/tpc/src/hooks/usePrepTemplatePrices.ts
  packages/tpc/src/utils/test/utils.ts
  packages/ui-components/src/EspressoTable/ResponsiveTable.tsx
  packages/ui-components/src/FormBuilder/state/useFormStateReducer.ts
  packages/ui-components/src/FormBuilder/state/utils.ts
  packages/utils/package.json
  packages/utils/src/index.ts
  yarn.lock
Labels: C: data systems 🗑, D: Packages 📦, T: task 🧹

#895 Form Section Save Button Process
  packages/constants/src/defaultDates.ts
  packages/ui-components/src/FormBuilder/FormElement/FormElementToolbar.tsx
  packages/ui-components/src/FormBuilder/FormSection/FormSectionSidebar.tsx
  packages/ui-components/src/FormBuilder/FormSection/FormSectionToolbar.tsx
  packages/ui-components/src/FormBuilder/FormSection/SaveSection.tsx
  packages/ui-components/src/FormBuilder/state/types.ts
  packages/ui-components/src/FormBuilder/state/useFormStateManager.ts
  packages/ui-components/src/FormBuilder/types.ts
  packages/ui-components/src/FormBuilder/utils.ts
  packages/ui-components/src/Popover/PopoverForm/PopoverForm.tsx
  packages/ui-components/src/Popover/PopoverForm/index.ts
  packages/ui-components/src/Popover/PopoverForm/types.ts
Labels: C: UI/UX 🚽, D: Packages 📦, T: feature request 🙏
