Repository eventespresso/barista, pull requests merged in 2021-03, with the labels that each got.

#741 Upsell improvements.
  packages/ui-components/src/Upsell/Upsell.tsx
  packages/ui-components/src/Upsell/index.stories.tsx
  packages/ui-components/src/Upsell/style.scss
  packages/ui-components/src/Upsell/templates/BaseTemplate.tsx
Labels: C: UI/UX 🚽

#742 Upsell editor init
  domains/eventEditor/src/ui/EventEditor.tsx
  domains/rem/src/services/apollo/initialization/useCacheRehydration.ts
  domains/upsellAds/package.json
  domains/upsellAds/src/hooks/index.ts
  domains/upsellAds/src/hooks/useEditorInitialization.ts
  domains/upsellAds/src/index.ts
  domains/upsellAds/src/services/apollo/index.ts
  domains/upsellAds/src/services/apollo/initialization/index.ts
  domains/upsellAds/src/services/apollo/initialization/useCacheRehydration.ts
  domains/upsellAds/src/services/apollo/queries/index.ts
  domains/upsellAds/src/services/apollo/queries/queries.ts
  domains/upsellAds/src/services/apollo/queries/useUpsellAd.ts
  domains/upsellAds/src/services/apollo/queries/useUpsellAdId.ts
  domains/upsellAds/src/services/apollo/queries/useUpsellAdQueryOptions.ts
  domains/upsellAds/src/services/apollo/types.ts
  domains/upsellAds/src/services/context/ContextProvider.tsx
  domains/upsellAds/src/services/context/index.ts
  domains/upsellAds/src/services/index.ts
  domains/upsellAds/src/services/types.ts
  domains/upsellAds/src/ui/Init.tsx
  domains/upsellAds/src/ui/UpsellAdsEditor.tsx
  domains/upsellAds/src/ui/UpsellForm/UpsellForm.tsx
  domains/upsellAds/src/ui/UpsellForm/index.ts
  domains/upsellAds/src/ui/UpsellForm/useUpsellFormConfig.ts
  domains/upsellAds/src/ui/index.tsx
  domains/upsellAds/tsconfig.json
  domains/wpUser/src/hooks/useTicketFormInitialValues.ts
  domains/wpUser/src/hooks/useTicketFormSections.ts
  domains/wpUser/src/hooks/useTicketMutationAction.ts
  domains/wpUser/src/hooks/useTicketUpdateInput.ts
  domains/wpUser/src/services/apollo/initialization/useCacheRehydration.ts
  package.json
  packages/data/src/hooks/index.ts
  packages/data/src/hooks/useIsRehydrated.ts
  packages/edtr-services/src/apollo/initialization/useCacheRehydration.ts
  packages/edtr-services/src/context/test/useResetApolloCache.ts
  packages/edtr-services/src/hooks/edtrState/index.ts
  packages/ee-components/src/UpsellForm/UpsellForm.tsx
  packages/ee-components/src/UpsellForm/types.ts
  packages/ee-components/src/index.ts
  packages/form/src/renderers/FormRenderer.tsx
  types/global.ts
  yarn.lock
Labels: C: UI/UX 🚽, D: Event Smart, T: feature request 🙏

#743 Upsell form and preview init glue.
  .husky/.gitignore
  domains/upsellAds/src/ui/UpsellForm/FormWrapper.tsx
  domains/upsellAds/src/ui/UpsellForm/UpsellForm.tsx
  domains/upsellAds/src/ui/UpsellForm/useUpsellFormConfig.ts
  packages/ee-components/src/FormWithConfig/FormWithConfig.tsx
  packages/form/src/FormSection/index.tsx
  packages/form/src/FormSection/styles.scss
  packages/form/src/FormSectionSidebar.tsx
  packages/form/src/RenderSection.tsx
  packages/form/src/RenderSections.tsx
  packages/form/src/renderers/FormRenderer.tsx
  packages/form/src/styles.scss
  packages/form/src/types.ts
  packages/ui-components/src/Upsell/types.ts
Labels: C: UI/UX 🚽

#744 Upsell mutations
  domains/upsellAds/src/services/apollo/index.ts
  domains/upsellAds/src/services/apollo/initialization/useCacheRehydration.ts
  domains/upsellAds/src/services/apollo/mutations/constants.ts
  domains/upsellAds/src/services/apollo/mutations/index.ts
  domains/upsellAds/src/services/apollo/mutations/types.ts
  domains/upsellAds/src/services/apollo/mutations/useMutationHandler.ts
  domains/upsellAds/src/services/apollo/mutations/useMutationVariables.ts
  domains/upsellAds/src/services/apollo/mutations/useUpsellAdMutator.ts
  domains/upsellAds/src/services/apollo/queries/index.ts
  domains/upsellAds/src/services/apollo/queries/queries.ts
  domains/upsellAds/src/services/apollo/queries/useUpsellAdId.ts
  domains/upsellAds/src/services/apollo/queries/useUpsellAdQueryOptions.ts
  domains/upsellAds/src/services/hooks/index.ts
  domains/upsellAds/src/services/hooks/useDomData.ts
  domains/upsellAds/src/services/hooks/useOnSaveChanges.ts
  domains/upsellAds/src/services/types.ts
  domains/upsellAds/src/ui/UpsellAdsEditor.tsx
  domains/upsellAds/src/ui/UpsellForm/Footer.tsx
  domains/upsellAds/src/ui/UpsellForm/UpsellForm.tsx
  domains/upsellAds/src/ui/UpsellForm/useUpsellFormConfig.ts
  domains/upsellAds/src/ui/styles.scss
  packages/data/src/index.ts
  packages/edtr-services/src/apollo/mutations/types.ts
  packages/form/src/renderers/FormRenderer.tsx
  packages/ui-components/src/Upsell/index.ts
Labels: C: data systems 🗑, D: Event Smart, T: feature request 🙏

#745 Upsell media upload
  .github/workflows/deploy-master.yml
  domains/upsellAds/src/ui/UpsellForm/constants.ts
  domains/upsellAds/src/ui/UpsellForm/useUpsellFormConfig.ts
  packages/adapters/src/TextInput/TextInput.tsx
  packages/adapters/src/TextInput/types.ts
  packages/form/src/adapters/MappedField.tsx
  packages/form/src/adapters/WPMediaImage.tsx
  packages/form/src/types.ts
Labels: C: UI/UX 🚽, D: Event Smart, T: enhancement ✨

#746 Fix upsell deploy
  tools/deploy.sh
Labels: C: automation & deployment ⚙️, T: bug 🐞

#747 Upsell: adjusted editor spacing.
  domains/upsellAds/src/ui/UpsellForm/FormWrapper.tsx
  domains/upsellAds/src/ui/UpsellForm/UpsellForm.tsx
  domains/upsellAds/src/ui/UpsellForm/styles.scss
  domains/upsellAds/src/ui/UpsellForm/useUpsellFormConfig.ts
  packages/adapters/package.json
  packages/form/src/renderers/FieldRenderer/index.tsx
  packages/form/src/renderers/FieldRenderer/styles.scss
  packages/ui-components/src/Button/Link/index.tsx
  packages/ui-components/src/Upsell/index.stories.tsx
  packages/ui-components/src/Upsell/style.scss
  packages/ui-components/src/Upsell/templates/BaseTemplate.tsx
  packages/ui-components/src/Upsell/types.ts
  yarn.lock
Labels: C: UI/UX 🚽

#748 Upsell: added compact theme.
  domains/upsellAds/src/ui/UpsellForm/constants.ts
  domains/upsellAds/src/ui/UpsellForm/useUpsellFormConfig.ts
  package.json
  packages/ui-components/src/Upsell/Upsell.tsx
  packages/ui-components/src/Upsell/index.stories.tsx
  packages/ui-components/src/Upsell/style.scss
  packages/ui-components/src/Upsell/templates/BaseTemplate.tsx
  packages/ui-components/src/Upsell/templates/CompactTemplate.tsx
  packages/ui-components/src/Upsell/templates/index.ts
  packages/ui-components/src/Upsell/types.ts
  yarn.lock
Labels: C: UI/UX 🚽

#749 Upsell: dismiss btn.
  packages/ui-components/src/Upsell/DismissBtn/index.tsx
  packages/ui-components/src/Upsell/DismissBtn/style.scss
  packages/ui-components/src/Upsell/Upsell.tsx
  packages/ui-components/src/Upsell/index.stories.tsx
  packages/ui-components/src/Upsell/style.scss
  packages/ui-components/src/Upsell/templates/CompactTemplate.tsx
  packages/ui-components/src/Upsell/types.ts
Labels: C: UI/UX 🚽

#750 Upsell edtr integration
  domains/eventEditor/src/ui/datetimes/registryInit.tsx
  domains/eventSmart/src/hooks/index.ts
  domains/eventSmart/src/hooks/useEdtrUpsellAds.ts
  domains/eventSmart/src/hooks/useShouldDisplayUpsellAd.ts
  domains/eventSmart/src/hooks/useUpsellAd4Slot.ts
  domains/eventSmart/src/index.tsx
  domains/eventSmart/src/types.ts
  domains/eventSmart/src/upsells/AddNewDateUpsell.tsx
  domains/eventSmart/src/upsells/NewDateUpsell.tsx
  domains/eventSmart/src/upsells/index.ts
  domains/eventSmart/src/utils.ts
  domains/rem/src/ui/index.tsx
  domains/upsellAds/src/services/apollo/mutations/constants.ts
  domains/upsellAds/src/services/apollo/queries/queries.ts
  domains/upsellAds/src/services/apollo/types.ts
  domains/upsellAds/src/ui/UpsellForm/constants.ts
  domains/upsellAds/src/ui/UpsellForm/useUpsellFormConfig.ts
  packages/edtr-services/src/index.ts
  packages/edtr-services/src/plugins.ts
  packages/plugins/src/api/index.ts
  packages/services/src/index.ts
  packages/services/src/slots/edtrSlots.ts
  packages/services/src/slots/index.ts
  types/global.ts
Labels: C: assets 💎, D: Event Smart, T: feature request 🙏

#753 Upsells edtr integration
  domains/eventEditor/src/ui/datetimes/dateForm/multiStep/Modal.tsx
  domains/eventEditor/src/ui/tickets/ticketForm/multiStep/Modal.tsx
  domains/eventSmart/src/hooks/useShouldDisplayUpsellAd.ts
  domains/eventSmart/src/index.tsx
  domains/eventSmart/src/upsells/GenericUpsell.tsx
  domains/eventSmart/src/upsells/index.ts
  domains/rem/src/ui/MultiStep/ContentFooter.tsx
  domains/upsellAds/src/services/apollo/types.ts
  domains/upsellAds/src/ui/UpsellForm/constants.ts
  domains/upsellAds/src/ui/UpsellForm/useUpsellFormConfig.ts
  packages/ee-components/src/EntityEditForm/EntityEditModal.tsx
  packages/ee-components/src/EntityEditForm/index.ts
  packages/ee-components/src/EntityList/EntityList.tsx
  packages/services/src/slots/edtrSlots.ts
  packages/slot-fill/src/context.tsx
  packages/ui-components/src/EntityList/EntityList.tsx
  packages/ui-components/src/EntityList/types.ts
  packages/ui-components/src/Upsell/Upsell.tsx
  packages/ui-components/src/Upsell/types.ts
  tools/deploy.sh
Labels: C: assets 💎, D: Event Smart, T: feature request 🙏

#754 Wire up dismiss upsell
  domains/eventSmart/src/hooks/useEdtrUpsellAds.ts
  domains/eventSmart/src/hooks/useUpsellAd4Slot.ts
  domains/eventSmart/src/services/apollo/index.ts
  domains/eventSmart/src/services/apollo/useDismissUpsellAd.ts
  domains/eventSmart/src/services/index.ts
  domains/eventSmart/src/upsells/GenericUpsell.tsx
  packages/adapters/src/index.ts
  packages/ee-components/src/EntityEditForm/EntityEditModal.tsx
  packages/ui-components/src/Upsell/DismissBtn/index.tsx
  packages/ui-components/src/Upsell/Upsell.tsx
  packages/ui-components/src/Upsell/types.ts
Labels: C: data systems 🗑, D: Event Smart, T: feature request 🙏

#758 FET/upsell caps selector
  domains/rem/src/ui/EntityOptionsRow/index.stories.tsx
  domains/upsellAds/src/services/index.ts
  domains/upsellAds/src/services/types.ts
  domains/upsellAds/src/ui/UpsellForm/useUpsellFormConfig.ts
  packages/adapters/package.json
  packages/adapters/src/TagSelector/SelectedItem.tsx
  packages/adapters/src/TagSelector/TagSelector.tsx
  packages/adapters/src/TagSelector/index.ts
  packages/adapters/src/index.ts
  packages/form/src/adapters/MappedField.tsx
  packages/form/src/adapters/TagSelector.tsx
  packages/form/src/types.ts
  packages/ui-components/src/SimpleEntityList/EntityOptionsRow/index.stories.tsx
  packages/ui-components/src/TagSelector/TagSelector.stories.tsx
  packages/ui-components/src/TagSelector/TagSelector.tsx
  packages/ui-components/src/TagSelector/index.ts
  packages/ui-components/src/index.ts
  yarn.lock
Labels: C: UI/UX 🚽, D: Event Smart, T: feature request 🙏

#759 Radio component: fixed default state and sizing.
  .github/workflows/pr-checks.yml
  package.json
  packages/rrule-generator/src/components/styles.scss
  packages/ui-components/src/Radio/Radio.tsx
  packages/ui-components/src/Radio/index.stories.tsx
  packages/ui-components/src/Radio/index.ts
  packages/ui-components/src/Radio/style.scss
  yarn.lock
Labels: C: UI/UX 🚽

#760 Code quality improvements
  domains/upsellAds/src/ui/UpsellForm/useUpsellFormConfig.ts
  packages/adapters/src/TagSelector/TagSelector.tsx
  packages/form/src/adapters/MappedField.tsx
  packages/form/src/types.ts
Labels: T: code-quality 👾

#763 TagSelector: UI improvements.
  packages/adapters/src/TagSelector/SelectedItem.tsx
  packages/adapters/src/TagSelector/TagSelector.tsx
  packages/adapters/src/TagSelector/index.ts
  packages/adapters/src/TagSelector/types.ts
  packages/ui-components/src/ActiveFilters/FilterTag.tsx
  packages/ui-components/src/ActiveFilters/FilterTag/index.tsx
  packages/ui-components/src/ActiveFilters/FilterTag/styles.scss
  packages/ui-components/src/ActiveFilters/styles.scss
  packages/ui-components/src/TagSelector/TagSelector.tsx
  packages/ui-components/src/TagSelector/style.scss
Labels: C: UI/UX 🚽

#764 RTE-old: height fix.
  packages/rich-text-editor/src/rte-old/components/RichTextEditor/style.scss
Labels: C: UI/UX 🚽

#765 @wordpress/env update.
  .github/workflows/pr-checks.yml
  package.json
  yarn.lock
Labels: C: automation & deployment ⚙️

#767 Fix TPC bug when price order is 1
  package.json
  packages/tpc/src/hooks/usePrepTemplatePrices.ts
  yarn.lock
Labels: C: data systems 🗑, D: Packages 📦, T: bug 🐞

#769 Change ticket quantity when a new date is added.
  domains/eventEditor/src/ui/datetimes/dateForm/multiStep/useOnSubmit.ts
  domains/eventEditor/src/ui/datetimes/datesList/actionsMenu/AssignTicketsButton.tsx
  domains/eventEditor/src/ui/datetimes/datesList/cardView/DateCapacity.tsx
  packages/edtr-services/src/apollo/mutations/datetimes/useUpdateRelatedTickets.ts
  packages/edtr-services/src/apollo/queries/tickets/test/useRelatedTickets.test.ts
  packages/edtr-services/src/apollo/queries/tickets/useRelatedTickets.ts
Labels: C: data systems 🗑, D: EDTR ✏️, T: bug 🐞

#772 Multiple bug fixes
  domains/eventEditor/src/ui/datetimes/datesList/tableView/useBodyRowGenerator.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/tableView/useBodyRowGenerator.tsx
  domains/rem/src/ui/MultiStep/ContentFooter.tsx
  packages/tpc/src/fields/usePriceAmount.tsx
  packages/tpc/src/inputs/PriceAmountInput.tsx
Labels: C: UI/UX 🚽, D: Packages 📦, T: bug 🐞

#771 E2E: REM wizard test.
  .github/workflows/pr-checks.yml
  .wp-env.json
  domains/rem/src/ui/generatedDates/GeneratedDates.tsx
  domains/rem/src/ui/rRule/style.scss
  packages/e2e-tests/config/setup-playwright.js
  packages/e2e-tests/specs/rem/index.test.ts
  packages/e2e-tests/utils/create-new-event.ts
  packages/e2e-tests/utils/deactivate-plugin.js
  packages/rrule-generator/src/components/End/index.tsx
  packages/rrule-generator/src/components/styles.scss
  packages/ui-components/src/Container/styles.scss
  packages/ui-components/src/Pagination/Pagination.tsx
  packages/ui-components/src/Pagination/style.scss
  packages/ui-components/src/Pagination/types.ts
  yarn.lock
Labels: C: automation & deployment ⚙️

#777 TPC: ui fixes.
  packages/ui-components/src/EspressoTable/style/laptop-style.scss
  packages/ui-components/src/text-input/InputWithLabel/style.scss
Labels: C: UI/UX 🚽

#775 E2E: dates filters.
  domains/eventEditor/src/ui/datetimes/datesList/cardView/DateCardSidebar.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/cardView/TicketCardSidebar.tsx
  packages/e2e-tests/assertions/getDatesLength.ts
  packages/e2e-tests/assertions/index.ts
  packages/e2e-tests/specs/dates/filters/sales.test.ts
  packages/e2e-tests/specs/dates/filters/search.test.ts
  packages/e2e-tests/specs/dates/filters/status.test.ts
  packages/e2e-tests/specs/dates/index.test.ts
  packages/e2e-tests/utils/addNewDate.ts
  packages/e2e-tests/utils/addNewPriceModifier.ts
  packages/e2e-tests/utils/addNewRegistration.ts
  packages/e2e-tests/utils/addNewTicket.ts
  packages/e2e-tests/utils/are-pre-publish-checks-enabled.js
  packages/e2e-tests/utils/index.ts
  packages/tpc/src/inputs/PriceOrderInput.tsx
  packages/ui-components/src/EntityCard/styles.scss
  packages/ui-components/src/SearchInput/style.scss
  packages/ui-components/src/Switch/Switch.tsx
Labels: C: automation & deployment ⚙️

#778 Table cell width fix.
  packages/ui-components/src/EspressoTable/style/cell.scss
  packages/ui-components/src/EspressoTable/style/laptop-style.scss
Labels: C: UI/UX 🚽

#780 E2E: dates and tickets card inline inputs change.
  packages/e2e-tests/specs/dates/card.test.ts
  packages/e2e-tests/specs/dates/filters/sales.test.ts
  packages/e2e-tests/specs/dates/filters/status.test.ts
  packages/e2e-tests/specs/tickets/card.test.ts
  packages/e2e-tests/specs/tickets/index.test.ts
  packages/ee-components/src/SimpleTextEditorModal/index.tsx
Labels: C: automation & deployment ⚙️

#779 More TPC E2E tests
  package.json
  packages/e2e-tests/config/setup-playwright.js
  packages/e2e-tests/jest.playwright.config.js
  packages/e2e-tests/specs/tpc/index.test.ts
  packages/e2e-tests/specs/tpc/testData.ts
  packages/e2e-tests/tsconfig.json
  packages/e2e-tests/utils/addNewTicket.ts
  packages/e2e-tests/utils/getPriceTypeLabel.ts
  packages/e2e-tests/utils/index.ts
  packages/e2e-tests/utils/setPrice.ts
  packages/e2e-tests/utils/setPrices.ts
  packages/tpc/src/utils/test/ticketTotalData.ts
  yarn.lock
Labels: C: unit-tests 🧪, D: Packages 📦

#782 E2E: cleanup GH workflow.
  .github/workflows/pr-checks.yml
  package.json
  packages/e2e-tests/jest.playwright.config.ts
  yarn.lock
Labels: C: automation & deployment ⚙️

#783 TPC base price calculation E2E tests
  .github/workflows/pr-checks.yml
  packages/e2e-tests/specs/tpc/index.test.ts
  packages/tpc/src/buttons/ReverseCalculateButton.tsx
  packages/tpc/src/utils/test/utils.ts
Labels: C: unit-tests 🧪, D: Packages 📦

#785 Clean up E2E error logs and add PlayWright caching
  .github/workflows/pr-checks.yml
  packages/e2e-tests/utils/activate-plugin.js
  yarn.lock
Labels: C: automation & deployment ⚙️, T: code-quality 👾

#786 E2E: card view start and end date edit.
  package.json
  packages/e2e-tests/specs/dates/filters/sales.test.ts
  packages/e2e-tests/specs/dates/filters/search.test.ts
  packages/e2e-tests/specs/dates/filters/status.test.ts
  packages/e2e-tests/specs/rem/index.test.ts
  packages/e2e-tests/specs/shared/card-view-date-range.test.ts
  packages/e2e-tests/specs/tam/index.test.ts
  packages/e2e-tests/utils/addNewDate.ts
  packages/e2e-tests/utils/addNewTicket.ts
  packages/e2e-tests/utils/click-block-appender.js
  packages/e2e-tests/utils/click-block-toolbar-button.js
  packages/e2e-tests/utils/click-button.js
  packages/e2e-tests/utils/clickButton.ts
  packages/e2e-tests/utils/index.ts
  packages/e2e-tests/utils/is-in-default-block.js
  packages/e2e-tests/utils/removeAllPriceModifiers.ts
  packages/e2e-tests/utils/removeAllTickets.ts
  packages/e2e-tests/utils/removeLastDate.ts
  packages/e2e-tests/utils/removeLastTicket.ts
  packages/e2e-tests/utils/setListDisplayControl.ts
  yarn.lock
Labels: C: automation & deployment ⚙️

#788 E2E: edit existing date details.
  packages/e2e-tests/constants/index.ts
  packages/e2e-tests/specs/dates/card.test.ts
  packages/e2e-tests/specs/dates/edit.test.ts
  packages/e2e-tests/specs/shared/card-view-date-range.test.ts
  packages/e2e-tests/specs/tickets/card.test.ts
  packages/e2e-tests/utils/click-on-more-menu-item.js
  packages/e2e-tests/utils/clickLastDateFromPicker.ts
  packages/e2e-tests/utils/create-new-post.js
  packages/e2e-tests/utils/createNewEvent.ts
  packages/e2e-tests/utils/disable-pre-publish-checks.js
  packages/e2e-tests/utils/enable-pre-publish-checks.js
  packages/e2e-tests/utils/index.ts
  packages/e2e-tests/utils/switch-editor-mode-to.js
  packages/e2e-tests/utils/toggle-more-menu.js
  packages/e2e-tests/utils/toggle-preferences-option.js
  packages/rich-text-editor/package.json
  yarn.lock
Labels: C: automation & deployment ⚙️

#787 Improve E2E config and tests
  .github/workflows/deploy-master.yml
  .github/workflows/pr-checks.yml
  .wp-env.json
  package.json
  packages/e2e-tests/config/setup-playwright.js
  packages/e2e-tests/plugins/disable-animations.php
  packages/e2e-tests/plugins/nonce.php
  packages/e2e-tests/specs/rem/index.test.ts
  packages/e2e-tests/utils/activate-plugin.js
  packages/e2e-tests/utils/deactivate-plugin.js
  yarn.lock
Labels: C: automation & deployment ⚙️, C: unit-tests 🧪, D: Packages 📦

#790 E2E: existing ticket edit.
  packages/e2e-tests/assertions/expectCardToContain.ts
  packages/e2e-tests/assertions/index.ts
  packages/e2e-tests/specs/dates/edit.test.ts
  packages/e2e-tests/specs/tickets/edit.test.ts
Labels: C: automation & deployment ⚙️

#791 Fix the stale inline entity description
  packages/ee-components/src/SimpleTextEditorModal/index.tsx
Labels: C: UI/UX 🚽, D: EDTR ✏️, T: bug 🐞

#793 Cache build step to improve e2e execution time
  .github/workflows/pr-checks.yml
Labels: C: automation & deployment ⚙️, T: task 🧹

#796 E2E: table view tests.
  .gitignore
  domains/eventEditor/src/ui/datetimes/datesList/editable/EditableName.tsx
  domains/eventEditor/src/ui/datetimes/datesList/tableView/useBodyRowGenerator.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/editable/EditableName.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/tableView/useBodyRowGenerator.tsx
  packages/adapters/src/InlineEdit/InlineEdit.tsx
  packages/adapters/src/InlineEdit/InlineEditInput.tsx
  packages/adapters/src/InlineEdit/types.ts
  packages/e2e-tests/config/setup-playwright.js
  packages/e2e-tests/constants/index.ts
  packages/e2e-tests/jest.playwright.config.ts
  packages/e2e-tests/specs/shared/views/card-view-date-range.test.ts
  packages/e2e-tests/types.ts
  packages/e2e-tests/utils/addNewEntity.ts
  packages/e2e-tests/utils/findEntityIdByName.ts
  packages/e2e-tests/utils/index.ts
  packages/e2e-tests/utils/setListDisplayControl.ts
  packages/e2e-tests/utils/setPrice.ts
  packages/e2e-tests/utils/shared/config.js
  packages/e2e-tests/utils/switchView.ts
  packages/tpc/src/components/table/useBodyRowGenerator.tsx
  packages/ui-components/src/EntityCard/EntityCard.tsx
Labels: C: automation & deployment ⚙️
