Repository eventespresso/barista, pull requests merged in 2021-01, with the labels that each got.

#572 REM a11y audit.
  .storybook/manager.ts
  domains/rem/src/ui/Modal/styles.scss
  domains/rem/src/ui/MultiStep/Steps.tsx
  domains/rem/src/ui/rRule/style.scss
  packages/adapters/src/Checkbox/types.ts
  packages/form/src/styles.scss
  packages/rrule-generator/src/components/End/After.tsx
  packages/rrule-generator/src/components/Repeat/Daily/index.tsx
  packages/rrule-generator/src/components/Repeat/Frequency.tsx
  packages/rrule-generator/src/components/Repeat/Hourly/index.tsx
  packages/rrule-generator/src/components/Repeat/Monthly/On.tsx
  packages/rrule-generator/src/components/Repeat/Monthly/OnThe.tsx
  packages/rrule-generator/src/components/Repeat/Monthly/index.tsx
  packages/rrule-generator/src/components/Repeat/PositionSelect.tsx
  packages/rrule-generator/src/components/Repeat/Weekly/index.tsx
  packages/rrule-generator/src/components/Repeat/Yearly/On.tsx
  packages/rrule-generator/src/components/Repeat/Yearly/OnThe.tsx
  packages/rrule-generator/src/components/Repeat/Yearly/index.tsx
  packages/rrule-generator/src/components/styles.scss
  packages/rrule-generator/src/utils/computeRRule/fromString/computeMonthlyOnTheWhich.ts
  packages/rrule-generator/src/utils/misc.ts
  packages/ui-components/src/BiggieCalendarDate/BiggieCalendarDate.tsx
  packages/ui-components/src/EntityList/style.scss
  packages/ui-components/src/Radio/Radio.tsx
  packages/ui-components/src/Radio/index.ts
  packages/ui-components/src/Radio/style.scss
  packages/ui-components/src/Radio/types.ts
  packages/ui-components/src/SearchInput/SearchInput.tsx
  packages/ui-components/src/SearchInput/style.scss
  packages/ui-components/src/Select/index.stories.tsx
  packages/ui-components/src/Steps/Steps.tsx
  packages/ui-components/src/Steps/index.stories.tsx
  packages/ui-components/src/Steps/index.ts
  packages/ui-components/src/bulkEdit/BulkActions.tsx
  packages/ui-components/src/index.ts
  packages/ui-components/src/types.ts
  packages/ui-components/src/withLabel/types.ts
  packages/ui-components/src/withLabel/withLabel.tsx
Labels: C: UI/UX 🚽, C: accessibility ♿

#574 Fix File Exists Error
  ee-barista.php
  lib/Barista.php
Labels: C: services 🤝, D: Packages 📦, P3: med priority 😐, S7: code review 🔎, T: bug 🐞

#575 Event registration options markup refactor.
  domains/eventEditor/src/ui/EventRegistrationOptions/ActiveStatus.tsx
  domains/eventEditor/src/ui/EventRegistrationOptions/AltRegPage.tsx
  domains/eventEditor/src/ui/EventRegistrationOptions/DefaultRegistrationStatus.tsx
  domains/eventEditor/src/ui/EventRegistrationOptions/Donations.tsx
  domains/eventEditor/src/ui/EventRegistrationOptions/EventManager.tsx
  domains/eventEditor/src/ui/EventRegistrationOptions/EventPhoneNumber.tsx
  domains/eventEditor/src/ui/EventRegistrationOptions/MaxRegistrations.tsx
  domains/eventEditor/src/ui/EventRegistrationOptions/index.stories.tsx
  domains/eventEditor/src/ui/EventRegistrationOptions/index.tsx
  domains/eventEditor/src/ui/EventRegistrationOptions/style.scss
  packages/ui-components/src/Grid/GridItem.tsx
  packages/ui-components/src/Grid/style.scss
Labels: C: UI/UX 🚽

#584 Fix validation for DateTimeRangePicker
  packages/ui-components/src/DateTimeRangePicker/DateTimeRangePicker.tsx
Labels: C: assets 💎, D: Packages 📦, T: bug 🐞

#582 Fix EDTR Crash
  domains/eventEditor/src/ui/tickets/ticketsList/filterBar/controls/options.ts
Labels: C: assets 💎, D: EDTR ✏️, T: bug 🐞

#585 Persist Value of "Sort By" Filter
  packages/services/src/filterState/useEntityListFilterStateManager.ts
Labels: C: services 🤝, D: EDTR ✏️, T: enhancement ✨

#583 Improve onChange handlers for NumberInput
  packages/adapters/src/NumberInput/NumberInput.tsx
  packages/adapters/src/NumberInput/types.ts
  packages/form/src/adapters/Number.tsx
  packages/hooks/src/useOnChange/useOnChange.ts
Labels: C: data systems 🗑, D: EDTR ✏️, D: Packages 📦, T: bug 🐞

#586 Update deploy script to use dev branch
  tools/deploy.sh
Labels: C: assets 💎, C: automation & deployment ⚙️, T: task 🧹

#593 Horizontal scrollbar fix.
  domains/eventEditor/src/ui/styles.scss
Labels: C: UI/UX 🚽, D: EDTR ✏️, T: bug 🐞

#576 Responsive table cell refactor.
  domains/eventEditor/src/ui/datetimes/datesList/tableView/Checkbox.tsx
  domains/eventEditor/src/ui/datetimes/datesList/tableView/useBodyRowGenerator.tsx
  domains/eventEditor/src/ui/datetimes/datesList/tableView/useHeaderRowGenerator.tsx
  domains/eventEditor/src/ui/ticketAssignmentsManager/components/table/useGetBodyRows.tsx
  domains/eventEditor/src/ui/ticketAssignmentsManager/components/table/useGetHeaderRows.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/tableView/Checkbox.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/tableView/useBodyRowGenerator.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/tableView/useHeaderRowGenerator.tsx
  domains/rem/src/services/datesTableFilter/registerFilters.tsx
  packages/ui-components/src/DateTimeRangePicker/DateTimeRangePicker.tsx
  packages/ui-components/src/EntityActionsMenu/style.scss
  packages/ui-components/src/EntityList/EntityTable.tsx
  packages/ui-components/src/EspressoTable/ResponsiveTable.tsx
  packages/ui-components/src/EspressoTable/TableBody.tsx
  packages/ui-components/src/EspressoTable/TableFooter.tsx
  packages/ui-components/src/EspressoTable/TableHeader.tsx
  packages/ui-components/src/EspressoTable/index.ts
  packages/ui-components/src/EspressoTable/stories/data.tsx
  packages/ui-components/src/EspressoTable/stories/index.stories.tsx
  packages/ui-components/src/EspressoTable/style/_data-cell.scss
  packages/ui-components/src/EspressoTable/style/cell.scss
  packages/ui-components/src/EspressoTable/style/index.scss
  packages/ui-components/src/EspressoTable/style/laptop-style.scss
  packages/ui-components/src/EspressoTable/style/tablet-style.scss
  packages/ui-components/src/EspressoTable/types.ts
  packages/ui-components/src/EspressoTable/utils/enhanceCell.tsx
  packages/ui-components/src/EspressoTable/utils/index.ts
  packages/ui-components/src/types.ts
Labels: C: UI/UX 🚽, D: EDTR ✏️

#598 Soften TAM Error Messages
  domains/eventEditor/src/ui/ticketAssignmentsManager/components/ErrorMessage.tsx
  domains/eventEditor/src/ui/ticketAssignmentsManager/components/table/getRelationIcon/styles.scss
  packages/styles/src/_effects.scss
  packages/styles/src/variables/_base-colors.scss
  packages/styles/src/variables/_colors.scss
  packages/ui-components/src/Banner/style.scss
Labels: C: UI/UX 🚽, D: EDTR ✏️, P3: med priority 😐, S7: code review 🔎, T: enhancement ✨

#596 RTE with a11y
  packages/adapters/src/Popover/Popover.tsx
  packages/adapters/src/Popover/types.ts
  packages/adapters/src/Select/Select.tsx
  packages/adapters/src/TextInput/TextInput.tsx
  packages/rich-text-editor/package.json
  packages/rich-text-editor/src/editor/components/ToolbarItem.tsx
  packages/rich-text-editor/src/editor/components/index.ts
  packages/rich-text-editor/src/editor/context/StateProvider.tsx
  packages/rich-text-editor/src/editor/context/index.ts
  packages/rich-text-editor/src/editor/context/withState.tsx
  packages/rich-text-editor/src/editor/hooks/index.ts
  packages/rich-text-editor/src/editor/hooks/useEditorState.ts
  packages/rich-text-editor/src/editor/index.stories.tsx
  packages/rich-text-editor/src/editor/ui/RichTextEditor/DebugLog.tsx
  packages/rich-text-editor/src/editor/ui/RichTextEditor/RichTextEditor.tsx
  packages/rich-text-editor/src/editor/ui/RichTextEditor/index.ts
  packages/rich-text-editor/src/editor/ui/RichTextEditor/style.scss
  packages/rich-text-editor/src/editor/ui/RichTextEditor/types.ts
  packages/rich-text-editor/src/editor/ui/Toolbar/Toolbar.tsx
  packages/rich-text-editor/src/editor/ui/Toolbar/controls/blockType/Component.tsx
  packages/rich-text-editor/src/editor/ui/Toolbar/controls/blockType/index.tsx
  packages/rich-text-editor/src/editor/ui/Toolbar/controls/fontFamily/Component.tsx
  packages/rich-text-editor/src/editor/ui/Toolbar/controls/fontFamily/index.tsx
  packages/rich-text-editor/src/editor/ui/Toolbar/controls/fontSize/Component.tsx
  packages/rich-text-editor/src/editor/ui/Toolbar/controls/fontSize/index.tsx
  packages/rich-text-editor/src/editor/ui/Toolbar/controls/index.ts
  packages/rich-text-editor/src/editor/ui/Toolbar/controls/inline/Component.tsx
  packages/rich-text-editor/src/editor/ui/Toolbar/controls/inline/index.tsx
  packages/rich-text-editor/src/editor/ui/Toolbar/controls/link/Component.tsx
  packages/rich-text-editor/src/editor/ui/Toolbar/controls/link/index.tsx
  packages/rich-text-editor/src/editor/ui/Toolbar/controls/list/Component.tsx
  packages/rich-text-editor/src/editor/ui/Toolbar/controls/list/index.tsx
  packages/rich-text-editor/src/editor/ui/Toolbar/controls/textAlign/Component.tsx
  packages/rich-text-editor/src/editor/ui/Toolbar/controls/textAlign/index.tsx
  packages/rich-text-editor/src/editor/ui/Toolbar/index.ts
  packages/rich-text-editor/src/editor/ui/defaultToolbar.tsx
  packages/rich-text-editor/src/editor/ui/index.tsx
  packages/rich-text-editor/src/editor/ui/types.ts
  packages/rich-text-editor/src/editor/utils/getBlockStyle.ts
  packages/rich-text-editor/src/editor/utils/index.ts
  packages/rich-text-editor/src/editor/utils/misc.ts
  packages/ui-components/src/Button/Button.tsx
  packages/ui-components/src/Select/InlineSelect.tsx
  packages/ui-components/src/Select/Select.tsx
  packages/ui-components/src/Select/style.scss
  packages/ui-components/src/text-input/TextInput/TextInput.tsx
  yarn.lock
Labels: C: accessibility ♿, C: assets 💎, D: Packages 📦, T: feature request 🙏

#602 Wire up RTE edit mode
  domains/eventEditor/src/ui/EventDescription.tsx
  packages/ee-components/src/rich-text-editor/AdvancedTextEditor.tsx
  packages/rich-text-editor/src/components/AdvancedTextEditor/AdvancedTextEditor.tsx
  packages/rich-text-editor/src/components/AdvancedTextEditor/index.ts
  packages/rich-text-editor/src/components/AdvancedTextEditor/types.ts
  packages/rich-text-editor/src/components/RTEWithEditMode/RTEWithEditMode.tsx
  packages/rich-text-editor/src/components/RTEWithEditMode/index.ts
  packages/rich-text-editor/src/components/RTEWithEditMode/types.ts
  packages/rich-text-editor/src/components/RichTextEditor/DebugLog.tsx
  packages/rich-text-editor/src/components/RichTextEditor/RichTextEditor.tsx
  packages/rich-text-editor/src/components/RichTextEditor/types.ts
  packages/rich-text-editor/src/components/SimpleTextEditor/SimpleTextEditor.tsx
  packages/rich-text-editor/src/components/SimpleTextEditor/index.ts
  packages/rich-text-editor/src/components/SimpleTextEditor/types.ts
  packages/rich-text-editor/src/components/WithEditMode/WithEditMode.tsx
  packages/rich-text-editor/src/components/WithEditMode/index.ts
  packages/rich-text-editor/src/components/WithEditMode/style.scss
  packages/rich-text-editor/src/components/constants.ts
  packages/rich-text-editor/src/components/index.ts
  packages/rich-text-editor/src/context/StateProvider.tsx
  packages/rich-text-editor/src/utils/misc.ts
Labels: C: accessibility ♿, C: assets 💎, D: Packages 📦, T: enhancement ✨

#601 Inline validations does not disappear when required rule is fulfilled.
  packages/edtr-services/src/utils/dateAndTime.ts
Labels: C: UI/UX 🚽, D: EDTR ✏️, T: bug 🐞

#604 Fix TAM validation alert
  domains/eventEditor/src/ui/ticketAssignmentsManager/components/ModalContainer.tsx
Labels: C: UI/UX 🚽, D: EDTR ✏️, T: bug 🐞

#594 Entity List Sort/Reorder UI/UX Improvements
  domains/eventEditor/src/ui/datetimes/datesList/DatesList.tsx
  domains/eventEditor/src/ui/datetimes/datesList/filterBar/controls/SortByControl.tsx
  domains/eventEditor/src/ui/datetimes/datesList/filterBar/controls/SortByControl/DraggableDatetime.tsx
  domains/eventEditor/src/ui/datetimes/datesList/filterBar/controls/SortByControl/index.tsx
  domains/eventEditor/src/ui/datetimes/datesList/tableView/TableView.tsx
  domains/eventEditor/src/ui/datetimes/datesList/tableView/useBodyRowGenerator.tsx
  domains/eventEditor/src/ui/ticketAssignmentsManager/components/table/Table.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/filterBar/controls/SortByControl.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/filterBar/controls/SortByControl/DraggableTicket.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/filterBar/controls/SortByControl/index.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/tableView/useBodyRowGenerator.tsx
  package.json
  packages/adapters/package.json
  packages/adapters/src/dnd/index.ts
  packages/adapters/src/dnd/types.ts
  packages/adapters/src/index.ts
  packages/constants/src/datetime.ts
  packages/constants/src/index.ts
  packages/constants/src/ticket.ts
  packages/edtr-services/src/apollo/mutations/datetimes/index.ts
  packages/edtr-services/src/apollo/mutations/datetimes/useReorderDatetimes.ts
  packages/edtr-services/src/apollo/mutations/tickets/useReorderTickets.ts
  packages/edtr-services/src/apollo/mutations/useReorderEntities.ts
  packages/edtr-services/src/context/EntityListContext/datetimes/FilteredDatesProvider.tsx
  packages/edtr-services/src/context/EntityListContext/tickets/FilteredTicketsProvider.tsx
  packages/edtr-services/src/filterState/datetimes/useDatesListFilterState.ts
  packages/edtr-services/src/filterState/tickets/useFilteredTicketIds.ts
  packages/ee-components/src/EntityList/EntityList.tsx
  packages/ee-components/src/EntityList/EntityListFilterBar.tsx
  packages/ee-components/src/EntityList/EntityTable.tsx
  packages/ee-components/src/EntityList/types.ts
  packages/ee-components/src/dnd/index.stories.tsx
  packages/ee-components/src/filterBar/SortByControl/index.tsx
  packages/ee-components/src/filterBar/SortByControl/style.scss
  packages/ee-components/src/filterBar/SortByControl/types.ts
  packages/ee-components/src/filterBar/index.ts
  packages/ee-components/src/index.ts
  packages/services/src/filterState/test/useFilterStateManager.test.ts
  packages/services/src/filterState/types.ts
  packages/services/src/filterState/useEntityListFilterStateManager.ts
  packages/services/src/filterState/useFilteredEntities.ts
  packages/services/src/filterState/useStateReducer.ts
  packages/ui-components/package.json
  packages/ui-components/src/EntityCard/styles.scss
  packages/ui-components/src/EntityList/EntityTable.tsx
  packages/ui-components/src/EntityList/filterBar/buttons/ToggleSortingButton.tsx
  packages/ui-components/src/EntityList/filterBar/buttons/index.ts
  packages/ui-components/src/EntityList/filterBar/types.ts
  packages/ui-components/src/EspressoTable/ResponsiveTable.tsx
  packages/ui-components/src/EspressoTable/TableBody.tsx
  packages/ui-components/src/EspressoTable/TableHeader.tsx
  packages/ui-components/src/EspressoTable/TableRow.tsx
  packages/ui-components/src/EspressoTable/types.ts
  packages/ui-components/src/Select/types.ts
  packages/ui-components/src/dnd/DragAndDrop.tsx
  packages/ui-components/src/dnd/Draggable.tsx
  packages/ui-components/src/dnd/index.ts
  packages/ui-components/src/dnd/style.scss
  packages/ui-components/src/index.ts
  yarn.lock
Labels: C: UI/UX 🚽, D: EDTR ✏️, T: enhancement ✨

#611 Final(?) Attempt to fix the TAM validation bug
  domains/eventEditor/src/ui/ticketAssignmentsManager/components/ModalContainer.tsx
  domains/eventEditor/src/ui/ticketAssignmentsManager/components/useInvalidDataAlert.ts
Labels: C: data systems 🗑, D: EDTR ✏️, T: bug 🐞

#612 Fix TAM submit error when nothing is changed.
  domains/eventEditor/src/ui/ticketAssignmentsManager/data/useOnSubmitAssignments.ts
Labels: C: data systems 🗑, D: EDTR ✏️, T: bug 🐞

#613 Color picker component
  packages/adapters/package.json
  packages/adapters/src/ColorPicker/ColorPicker.tsx
  packages/adapters/src/ColorPicker/index.ts
  packages/adapters/src/ColorPicker/types.ts
  packages/adapters/src/index.ts
  packages/ui-components/src/ColorPicker/ColorPicker.tsx
  packages/ui-components/src/ColorPicker/ColorSwatches.tsx
  packages/ui-components/src/ColorPicker/Swatch.tsx
  packages/ui-components/src/ColorPicker/color-picker.scss
  packages/ui-components/src/ColorPicker/constants.ts
  packages/ui-components/src/ColorPicker/index.stories.tsx
  packages/ui-components/src/ColorPicker/index.ts
  packages/ui-components/src/ColorPicker/swatches.scss
  packages/ui-components/src/ColorPicker/types.ts
  yarn.lock
Labels: C: UI/UX 🚽, C: accessibility ♿, C: assets 💎, D: Packages 📦, T: enhancement ✨

#614 Datetime picker width fix on browser zoom out.
  packages/dates/src/DateTimePicker.tsx
  packages/dates/src/index.stories.tsx
  packages/dates/src/styles.scss
Labels: C: accessibility ♿, T: bug 🐞

#615 RTE color picker
  domains/eventEditor/src/ui/EventDescription.tsx
  packages/adapters/src/ColorPicker/ColorPicker.tsx
  packages/ee-components/src/rich-text-editor/AdvancedTextEditor.tsx
  packages/rich-text-editor/src/components/RichTextEditor/Toolbar/controls/colorPicker/Component.tsx
  packages/rich-text-editor/src/components/RichTextEditor/Toolbar/controls/colorPicker/index.tsx
  packages/rich-text-editor/src/components/RichTextEditor/Toolbar/controls/image/Component.tsx
  packages/rich-text-editor/src/components/RichTextEditor/Toolbar/controls/index.ts
  packages/rich-text-editor/src/components/RichTextEditor/Toolbar/defaultToolbar.tsx
  packages/ui-components/src/ColorPicker/ColorPicker.tsx
  packages/ui-components/src/ColorPicker/ColorSwatches.tsx
  packages/ui-components/src/ColorPicker/Swatch.tsx
  packages/ui-components/src/ColorPicker/constants.ts
  packages/ui-components/src/ColorPicker/index.ts
  packages/ui-components/src/ColorPicker/utils.ts
  packages/ui-components/src/index.ts
  packages/ui-components/src/withDebounce/withDebounce.tsx
Labels: C: accessibility ♿, D: Packages 📦, P3: med priority 😐, S7: code review 🔎, T: enhancement ✨

#624 Improve/Centralize mutation input normalization
  domains/eventEditor/src/ui/tickets/ticketForm/multiStep/Content.tsx
  packages/edtr-services/src/apollo/mutations/datetimes/constants.ts
  packages/edtr-services/src/apollo/mutations/datetimes/useMutationHandler.ts
  packages/edtr-services/src/apollo/mutations/datetimes/useMutationVariables.ts
  packages/edtr-services/src/apollo/mutations/datetimes/useOptimisticResponse.ts
  packages/edtr-services/src/apollo/mutations/prices/constants.ts
  packages/edtr-services/src/apollo/mutations/prices/useMutationHandler.ts
  packages/edtr-services/src/apollo/mutations/prices/useMutationVariables.ts
  packages/edtr-services/src/apollo/mutations/tickets/constants.ts
  packages/edtr-services/src/apollo/mutations/tickets/useMutationHandler.ts
  packages/edtr-services/src/apollo/mutations/tickets/useMutationVariables.ts
  packages/edtr-services/src/apollo/mutations/tickets/useOptimisticResponse.ts
  packages/utils/src/predicates/index.ts
Labels: C: data systems 🗑, D: EDTR ✏️, T: bug 🐞, T: code-quality 👾

#625 Fixed stale entity list in reorder UI when new entity is added.
  packages/edtr-services/src/apollo/mutations/datetimes/useReorderDatetimes.ts
  packages/edtr-services/src/apollo/mutations/tickets/useReorderTickets.ts
Labels: D: EDTR ✏️, T: bug 🐞

#622 Add Heading and Help Text to TAM Header
  domains/eventEditor/src/ui/ticketAssignmentsManager/components/table/styles.scss
  domains/eventEditor/src/ui/ticketAssignmentsManager/components/table/useGetHeaderRows.tsx
Labels: C: UI/UX 🚽, D: EDTR ✏️, P3: med priority 😐, S7: code review 🔎, T: enhancement ✨

#627 Fix RTE style and color toggles
  packages/rich-text-editor/src/components/RichTextEditor/RichTextEditor.tsx
  packages/rich-text-editor/src/components/RichTextEditor/Toolbar/ToolbarItem.tsx
  packages/rich-text-editor/src/components/RichTextEditor/Toolbar/ToolbarPopover.tsx
  packages/rich-text-editor/src/components/RichTextEditor/Toolbar/controls/colorPicker/Component.tsx
  packages/rich-text-editor/src/components/RichTextEditor/Toolbar/controls/image/Component.tsx
  packages/rich-text-editor/src/components/RichTextEditor/Toolbar/controls/inline/Component.tsx
  packages/rich-text-editor/src/components/RichTextEditor/Toolbar/controls/link/Component.tsx
  packages/rich-text-editor/src/components/RichTextEditor/Toolbar/index.ts
  packages/rich-text-editor/src/components/RichTextEditor/style.scss
  packages/ui-components/src/Popover/Popover.tsx
Labels: C: accessibility ♿, D: Packages 📦, T: bug 🐞

#619 Create Utility for Formatting Date Ranges
  domains/eventEditor/src/ui/datetimes/datesList/filterBar/controls/SortByControl/DraggableDatetime.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/filterBar/controls/SortByControl/DraggableTicket.tsx
  packages/dates/src/components/DatePicker.tsx
  packages/dates/src/components/DateRangePicker/DateRangePickerLegend.tsx
  packages/dates/src/components/DateRangePicker/index.tsx
  packages/dates/src/components/DateRangePicker/styles.scss
  packages/dates/src/components/DateTimePicker.tsx
  packages/dates/src/components/DateTimeRangePicker.tsx
  packages/dates/src/components/RangeFormat/index.stories.tsx
  packages/dates/src/components/RangeFormat/index.tsx
  packages/dates/src/components/RangeFormat/styles.scss
  packages/dates/src/components/TimePicker.tsx
  packages/dates/src/components/index.stories.tsx
  packages/dates/src/components/index.ts
  packages/dates/src/components/styles.scss
  packages/dates/src/index.ts
  packages/dates/src/types.ts
  packages/dates/src/utils/types.ts
  packages/ee-components/src/filterBar/SortByControl/style.scss
  packages/ui-components/src/CalendarDateRange/CalendarDateRange.tsx
Labels: C: UI/UX 🚽

#628 Multiple reorders fix
  domains/eventEditor/src/ui/datetimes/datesList/filterBar/controls/SortByControl/index.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/filterBar/controls/SortByControl/index.tsx
  packages/dates/src/components/RangeFormat/index.tsx
  packages/edtr-services/src/apollo/mutations/datetimes/useReorderDatetimes.ts
  packages/edtr-services/src/apollo/mutations/tickets/useReorderTickets.ts
  packages/edtr-services/src/apollo/mutations/useReorderEntities.ts
  packages/services/src/filterState/useStateReducer.ts
Labels: T: bug 🐞

#629 Track if TAM Relations are Initially Valid
  domains/eventEditor/src/ui/ticketAssignmentsManager/components/TicketAssignmentsManagerModal/buttons/useCancelButtonProps.tsx
  domains/eventEditor/src/ui/ticketAssignmentsManager/components/TicketAssignmentsManagerModal/index.tsx
  domains/eventEditor/src/ui/ticketAssignmentsManager/data/useDataStateManager.ts
  domains/eventEditor/src/ui/ticketAssignmentsManager/types.ts
  packages/services/src/relations/types.ts
  packages/services/src/relations/useRelationsManager.ts
Labels: C: services 🤝, D: EDTR ✏️, P3: med priority 😐, S7: code review 🔎, T: bug 🐞

#630 Standardize Tooltip & Menu Placement
  domains/eventEditor/src/ui/datetimes/DateRegistrationsLink.tsx
  domains/eventEditor/src/ui/datetimes/datesList/actionsMenu/AssignTicketsButton.tsx
  domains/eventEditor/src/ui/datetimes/datesList/actionsMenu/dropdown/DateMainMenu.tsx
  domains/eventEditor/src/ui/styles.scss
  domains/eventEditor/src/ui/ticketAssignmentsManager/components/table/styles.scss
  domains/eventEditor/src/ui/tickets/TicketRegistrationsLink.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/actionsMenu/AssignDatesButton.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/actionsMenu/dropdown/TicketMainMenu.tsx
  packages/adapters/src/Tooltip/Tooltip.tsx
  packages/tpc/src/buttons/TicketPriceCalculatorButton.tsx
  packages/ui-components/src/DropdownMenu/DropdownMenu.tsx
  packages/ui-components/src/TimezoneTimeInfo/Trigger.tsx
Labels: C: UI/UX 🚽, D: EDTR ✏️, P3: med priority 😐, S7: code review 🔎, T: bug 🐞

#631 RTE alignment fix
  packages/rich-text-editor/src/components/RichTextEditor/style.scss
  packages/rich-text-editor/src/components/WithEditMode/style.scss
  packages/rich-text-editor/src/utils/getBlockStyle.ts
Labels: C: accessibility ♿, D: Packages 📦, T: bug 🐞

#633 Fix entity sort popover timezones
  domains/eventEditor/src/ui/datetimes/datesList/filterBar/controls/SortByControl/DraggableDatetime.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/filterBar/controls/SortByControl/DraggableTicket.tsx
  packages/dates/src/components/RangeFormat/index.tsx
  packages/dates/src/types.ts
  packages/ee-components/src/RangeFormat/RangeFormat.tsx
  packages/ee-components/src/RangeFormat/index.ts
  packages/ee-components/src/index.ts
Labels: C: UI/UX 🚽, T: bug 🐞

#635 Experimental RTE for Event Description via feature flag
  ee-barista.php
  packages/ee-components/src/rich-text-editor/AdvancedTextEditor.tsx
  packages/rich-text-editor/src/components/RichTextEditor/Debug.tsx
  packages/rich-text-editor/src/components/WithEditMode/style.scss
  packages/rich-text-editor/src/context/StateProvider.tsx
  packages/rich-text-editor/src/index.ts
  packages/rich-text-editor/src/rte-old/components/RTEWithEditMode/style.scss
Labels: C: services 🤝, D: Packages 📦

#642 Fix i18n for WP older than 5.5
  packages/i18n/src/index.ts
Labels: C: assets 💎, D: Packages 📦, T: bug 🐞

#638 Remove Entity Name Validation for Edit Forms
  domains/eventEditor/src/ui/datetimes/dateForm/formValidation.ts
  domains/eventEditor/src/ui/datetimes/dateForm/useDateFormConfig.ts
  domains/eventEditor/src/ui/tickets/ticketForm/formValidation.ts
  domains/eventEditor/src/ui/tickets/ticketForm/useTicketFormConfig.ts
Labels: C: data systems 🗑, D: EDTR ✏️, P3: med priority 😐, S7: code review 🔎, T: task 🧹

#643 Fix Chakra Modal Z-Index
  packages/ui-components/src/Modal/styles.scss
Labels: C: assets 💎, D: Packages 📦, P3: med priority 😐, S7: code review 🔎, T: bug 🐞

#647 Add automatic rebase workflow
  .github/workflows/rebase.yml
Labels: C: automation & deployment ⚙️, T: task 🧹

#644 Refactor entity edit modals
  domains/eventEditor/src/ui/datetimes/dateForm/multiStep/Container.tsx
  domains/eventEditor/src/ui/datetimes/dateForm/multiStep/Content.tsx
  domains/eventEditor/src/ui/datetimes/dateForm/multiStep/ContentBody.tsx
  domains/eventEditor/src/ui/datetimes/dateForm/multiStep/ContentWrapper.tsx
  domains/eventEditor/src/ui/datetimes/dateForm/multiStep/FooterButtons.tsx
  domains/eventEditor/src/ui/datetimes/dateForm/multiStep/Modal.tsx
  domains/eventEditor/src/ui/datetimes/dateForm/multiStep/constants.ts
  domains/eventEditor/src/ui/datetimes/dateForm/multiStep/types.ts
  domains/eventEditor/src/ui/datetimes/dateForm/multiStep/useDataListener.ts
  domains/eventEditor/src/ui/datetimes/dateForm/multiStep/useOnSubmit.ts
  domains/eventEditor/src/ui/ticketAssignmentsManager/components/table/DateCell.tsx
  domains/eventEditor/src/ui/ticketAssignmentsManager/components/table/HeaderCell.tsx
  domains/eventEditor/src/ui/tickets/ticketForm/multiStep/Container.tsx
  domains/eventEditor/src/ui/tickets/ticketForm/multiStep/Content.tsx
  domains/eventEditor/src/ui/tickets/ticketForm/multiStep/ContentBody.tsx
  domains/eventEditor/src/ui/tickets/ticketForm/multiStep/ContentWrapper.tsx
  domains/eventEditor/src/ui/tickets/ticketForm/multiStep/FooterButtons.tsx
  domains/eventEditor/src/ui/tickets/ticketForm/multiStep/Modal.tsx
  domains/eventEditor/src/ui/tickets/ticketForm/multiStep/WithTPC.tsx
  domains/eventEditor/src/ui/tickets/ticketForm/multiStep/constants.ts
  domains/eventEditor/src/ui/tickets/ticketForm/multiStep/types.ts
  domains/eventEditor/src/ui/tickets/ticketForm/multiStep/useDataListener.ts
  domains/eventEditor/src/ui/tickets/ticketForm/multiStep/useOnSubmit.ts
  packages/edtr-services/src/forms/types.ts
  packages/ee-components/src/index.ts
  packages/ee-components/src/withFormSubscription.tsx
  packages/form/src/index.ts
  packages/ui-components/src/EntityEditModal/EntityEditModal.tsx
  packages/ui-components/src/EntityEditModal/types.ts
  packages/ui-components/src/Modal/ModalWithAlert.tsx
Labels: C: UI/UX 🚽, D: Packages 📦, T: enhancement ✨

#648 Standardize Modal Close for TAM
  domains/eventEditor/src/ui/ticketAssignmentsManager/components/TicketAssignmentsManagerModal.tsx
  domains/eventEditor/src/ui/ticketAssignmentsManager/components/TicketAssignmentsManagerModal/buttons/useCancelButtonProps.tsx
  domains/eventEditor/src/ui/ticketAssignmentsManager/components/TicketAssignmentsManagerModal/buttons/useSubmitButtonProps.tsx
  domains/eventEditor/src/ui/ticketAssignmentsManager/components/TicketAssignmentsManagerModal/index.tsx
  domains/eventEditor/src/ui/ticketAssignmentsManager/components/config.ts
  domains/eventEditor/src/ui/ticketAssignmentsManager/data/useAssignmentManager.ts
  domains/eventEditor/src/ui/ticketAssignmentsManager/types.ts
  packages/ui-components/src/Modal/ModalWithAlert.tsx
  packages/ui-components/src/Modal/types.ts
  packages/ui-components/src/Modal/useCancelButtonProps.tsx
  packages/ui-components/src/Modal/useSubmitButtonProps.tsx
Labels: C: UI/UX 🚽, D: Packages 📦, T: enhancement ✨

#645 Standardize Modal Close for TPC
  packages/tpc/src/components/TicketPriceCalculatorModal.tsx
  packages/tpc/src/data/types.ts
  packages/tpc/src/data/useDataReducer.ts
  packages/tpc/src/stateListeners/useInitStateListeners.ts
  packages/utils/src/index.ts
  packages/utils/src/misc.ts
Labels: C: UI/UX 🚽, D: Packages 📦, T: enhancement ✨

#649 Standardize Modal Close for REM
  domains/rem/src/data/types.ts
  domains/rem/src/data/useFormStateReducer.ts
  domains/rem/src/ui/Modal/Container.tsx
  domains/rem/src/ui/Modal/Modal.tsx
  domains/rem/src/ui/MultiStep/CancelButton.tsx
  domains/rem/src/ui/MultiStep/ContentBody.tsx
  domains/rem/src/ui/MultiStep/ContentFooter.tsx
  domains/rem/src/ui/MultiStep/constants.ts
  domains/rem/src/ui/rRule/index.tsx
  domains/rem/src/ui/recurrence/PatternEditor.tsx
  package.json
  yarn.lock
Labels: C: UI/UX 🚽, D: Packages 📦, T: enhancement ✨

#651 Standardize Modal Close for REM Ticket edit
  domains/rem/src/ui/EntityOptionsRow/index.tsx
  domains/rem/src/ui/Tickets/TicketTemplate.tsx
  domains/rem/src/ui/Tickets/actions/Edit.tsx
  domains/rem/src/ui/Tickets/actions/Trash.tsx
  domains/rem/src/ui/Tickets/card/Sidebar.tsx
  domains/rem/src/ui/Tickets/card/TicketCard.tsx
  domains/rem/src/ui/Tickets/card/types.ts
  domains/rem/src/ui/Tickets/index.tsx
  domains/rem/src/ui/Tickets/multiStep/Container.tsx
  domains/rem/src/ui/Tickets/multiStep/Content.tsx
  domains/rem/src/ui/Tickets/multiStep/ContentBody.tsx
  domains/rem/src/ui/Tickets/multiStep/ContentWrapper.tsx
  domains/rem/src/ui/Tickets/multiStep/FooterButtons.tsx
  domains/rem/src/ui/Tickets/multiStep/Modal.tsx
  domains/rem/src/ui/Tickets/multiStep/constants.ts
  domains/rem/src/ui/Tickets/multiStep/types.ts
  packages/ee-components/src/withFormSubscription.tsx
Labels: C: UI/UX 🚽, D: Packages 📦, T: enhancement ✨

#652 Improve form submit feedback
  domains/eventEditor/src/ui/datetimes/dateForm/multiStep/Content.tsx
  domains/eventEditor/src/ui/datetimes/dateForm/multiStep/FooterButtons.tsx
  domains/eventEditor/src/ui/datetimes/dateForm/multiStep/Modal.tsx
  domains/eventEditor/src/ui/datetimes/dateForm/multiStep/types.ts
  domains/eventEditor/src/ui/datetimes/dateForm/multiStep/useOnSubmit.ts
  domains/eventEditor/src/ui/datetimes/dateForm/useDateFormConfig.ts
  domains/eventEditor/src/ui/ticketAssignmentsManager/components/ModalContainer.tsx
  domains/eventEditor/src/ui/ticketAssignmentsManager/components/TicketAssignmentsManagerModal.tsx
  domains/eventEditor/src/ui/ticketAssignmentsManager/components/useSubmitButtonProps.ts
  domains/eventEditor/src/ui/ticketAssignmentsManager/context/types.ts
  domains/eventEditor/src/ui/tickets/ticketForm/multiStep/Content.tsx
  domains/eventEditor/src/ui/tickets/ticketForm/multiStep/FooterButtons.tsx
  domains/eventEditor/src/ui/tickets/ticketForm/multiStep/Modal.tsx
  domains/eventEditor/src/ui/tickets/ticketForm/multiStep/types.ts
  domains/eventEditor/src/ui/tickets/ticketForm/multiStep/useOnSubmit.ts
  domains/rem/src/ui/Modal/Container.tsx
  domains/rem/src/ui/MultiStep/ContentFooter.tsx
  domains/rem/src/ui/MultiStep/SubmitButton.tsx
  domains/rem/src/ui/Tickets/multiStep/FooterButtons.tsx
  domains/rem/src/ui/types.ts
  packages/ee-components/src/withFormSubscription.tsx
  packages/tpc/src/buttons/useSubmitButtonProps.tsx
  packages/tpc/src/components/ModalContainer.tsx
  packages/tpc/src/types.ts
  packages/ui-components/src/Stepper/buttons/Next.tsx
  packages/ui-components/src/Stepper/buttons/Previous.tsx
  packages/ui-components/src/Stepper/buttons/Submit.tsx
  packages/utils/src/misc.ts
Labels: C: UI/UX 🚽, D: Packages 📦, T: enhancement ✨

#653 Fix initial styles for RTE.
  packages/rich-text-editor/src/components/RichTextEditor/RichTextEditor.tsx
  packages/rich-text-editor/src/components/WithEditMode/WithEditMode.tsx
  packages/rich-text-editor/src/components/index.stories.tsx
  packages/rich-text-editor/src/context/StateProvider.tsx
  packages/rich-text-editor/src/context/withState.tsx
  packages/rich-text-editor/src/hooks/index.ts
  packages/rich-text-editor/src/hooks/useInitEditor.ts
Labels: C: UI/UX 🚽, C: accessibility ♿, D: Packages 📦

#656 Decouple ee-components from edtr-services
  domains/eventEditor/src/ui/datetimes/datesList/bulkEdit/actions/Actions.tsx
  domains/eventEditor/src/ui/datetimes/datesList/tableView/useBodyRowGenerator.tsx
  domains/eventEditor/src/ui/datetimes/datesList/tableView/useHeaderRowGenerator.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/bulkEdit/actions/Actions.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/tableView/useBodyRowGenerator.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/tableView/useHeaderRowGenerator.tsx
  eslint/levels.js
  packages/edtr-services/src/hooks/edtrState/index.ts
  packages/edtr-services/src/hooks/edtrState/useShowDatetimeBA.ts
  packages/edtr-services/src/hooks/edtrState/useShowTicketBA.ts
  packages/ee-components/src/EntityList/EntityList.tsx
  packages/ee-components/src/EntityList/EntityListFilterBar.tsx
  packages/ee-components/src/EntityList/types.ts
  packages/ee-components/src/bulkEdit/ToggleBulkActionsButton.tsx
  packages/ee-components/src/bulkEdit/index.ts
  packages/services/src/filterState/types.ts
  packages/services/src/filterState/useEntityListFilterStateManager.ts
  packages/services/src/filterState/useStateReducer.ts
  packages/ui-components/src/EntityList/filterBar/buttons/ToggleBulkActionsButton.tsx
  packages/ui-components/src/EntityList/filterBar/buttons/index.ts
  packages/ui-components/src/EntityList/filterBar/types.ts
  packages/ui-components/src/dnd/data.ts
  packages/ui-components/src/dnd/index.stories.tsx
  yarn.lock
Labels: C: assets 💎, D: Packages 📦, T: code-quality 👾, T: task 🧹

#657 Update the dependencies
  domains/blocks/package.json
  domains/wpPluginsPage/package.json
  package.json
  packages/adapters/package.json
  packages/dates/package.json
  packages/edtr-services/package.json
  packages/i18n/package.json
  packages/ioc/package.json
  packages/react-exit-modal-typeform/package.json
  packages/rich-text-editor/package.json
  packages/toaster/package.json
  yarn.lock
Labels: C: assets 💎, D: Packages 📦, T: task 🧹

#659 RTE image toolbar
  packages/hooks/src/index.ts
  packages/hooks/src/useOnClickOutside.ts
  packages/rich-text-editor/src/components/RichTextEditor/render/Image.tsx
  packages/rich-text-editor/src/components/RichTextEditor/render/Image/Image.tsx
  packages/rich-text-editor/src/components/RichTextEditor/render/Image/Toolbar.tsx
  packages/rich-text-editor/src/components/RichTextEditor/render/Image/index.ts
  packages/rich-text-editor/src/components/RichTextEditor/render/Image/types.ts
  packages/rich-text-editor/src/components/RichTextEditor/render/Media.tsx
  packages/rich-text-editor/src/components/RichTextEditor/style.scss
  packages/rich-text-editor/src/components/index.stories.tsx
Labels: C: accessibility ♿, D: Packages 📦, T: enhancement ✨

#661 HelpIcon outside click fix.
  packages/adapters/src/index.ts
  packages/form/src/HelperText/index.tsx
  packages/form/src/HelperText/style.scss
  packages/form/src/renderers/FieldRenderer.tsx
  packages/form/src/stories/config.tsx
  packages/form/src/styles.scss
  packages/ui-components/src/Divider/style.scss
  packages/ui-components/src/HelpIcon/index.tsx
  packages/ui-components/src/HelpIcon/style.scss
  packages/ui-components/src/Tooltip/ClickableIconWithTooltip/index.tsx
  packages/ui-components/src/Tooltip/ClickableIconWithTooltip/style.scss
Labels: C: UI/UX 🚽, T: enhancement ✨

#662 Simple Tickets List UI extraction
  domains/rem/src/ui/Tickets/TicketCard.tsx
  domains/rem/src/ui/Tickets/TicketTemplate.tsx
  domains/rem/src/ui/Tickets/card/TicketCard.tsx
  domains/rem/src/ui/Tickets/card/index.ts
  domains/rem/src/ui/Tickets/card/types.ts
  domains/rem/src/ui/Tickets/index.tsx
  domains/rem/src/ui/Tickets/multiStep/Container.tsx
  domains/rem/src/ui/Tickets/multiStep/Content.tsx
  domains/rem/src/ui/Tickets/multiStep/ContentRenderer.tsx
  domains/rem/src/ui/Tickets/multiStep/ContextProvider.tsx
  domains/rem/src/ui/Tickets/multiStep/Modal.tsx
  domains/rem/src/ui/Tickets/multiStep/ModalBody.tsx
  domains/rem/src/ui/Tickets/multiStep/index.ts
  domains/rem/src/ui/Tickets/multiStep/types.ts
  domains/rem/src/ui/Tickets/useTicketFormConfig.ts
  domains/rem/src/utils/misc.ts
  packages/edtr-services/src/constants.ts
  packages/ee-components/src/SimpleTicketCard/Sidebar.tsx
  packages/ee-components/src/SimpleTicketCard/SimpleTicketCard.tsx
  packages/ee-components/src/SimpleTicketCard/actions/Edit.tsx
  packages/ee-components/src/SimpleTicketCard/actions/Trash.tsx
  packages/ee-components/src/SimpleTicketCard/actions/index.ts
  packages/ee-components/src/SimpleTicketCard/actions/style.scss
  packages/ee-components/src/SimpleTicketCard/index.ts
  packages/ee-components/src/SimpleTicketCard/types.ts
  packages/ee-components/src/index.ts
  packages/ui-components/src/SimpleEntityList/Container.tsx
  packages/ui-components/src/SimpleEntityList/EntityOptionsRow/index.stories.tsx
  packages/ui-components/src/SimpleEntityList/EntityOptionsRow/index.tsx
  packages/ui-components/src/SimpleEntityList/EntityOptionsRow/style.scss
  packages/ui-components/src/SimpleEntityList/EntityTemplate.tsx
  packages/ui-components/src/SimpleEntityList/SimpleEntityList.tsx
  packages/ui-components/src/SimpleEntityList/index.ts
  packages/ui-components/src/SimpleEntityList/types.ts
  packages/ui-components/src/index.ts
Labels: C: UI/UX 🚽, D: EDTR ✏️, T: feature request 🙏

#665 Improve styles loading
  domains/eventEditor/src/ui/EventRegistrationOptions/style.scss
  domains/eventEditor/src/ui/datetimes/datesList/tableView/styles.scss
  domains/eventEditor/src/ui/styles.scss
  domains/eventEditor/src/ui/ticketAssignmentsManager/components/table/getRelationIcon/styles.scss
  domains/eventEditor/src/ui/ticketAssignmentsManager/components/table/styles.scss
  domains/rem/src/ui/EntityOptionsRow/style.scss
  domains/rem/src/ui/Modal/styles.scss
  domains/rem/src/ui/rRule/style.scss
  packages/dates/src/components/DateRangePicker/styles.scss
  packages/dates/src/components/RangeFormat/styles.scss
  packages/dates/src/components/styles.scss
  packages/ee-components/src/filterBar/SortByControl/style.scss
  packages/form/src/RenderFields/styles.scss
  packages/form/src/fields/Group/styles.scss
  packages/form/src/renderers/FieldRenderer.tsx
  packages/form/src/styles.scss
  packages/rich-text-editor/src/components/RichTextEditor/style.scss
  packages/rich-text-editor/src/components/WithEditMode/style.scss
  packages/rich-text-editor/src/rte-old/components/RTEWithEditMode/style.scss
  packages/rich-text-editor/src/rte-old/components/RichTextEditor/style.scss
  packages/rrule-generator/src/components/Repeat/Weekly/styles.scss
  packages/rrule-generator/src/components/styles.scss
  packages/styles/src/_base-styles.scss
  packages/styles/src/_effects.scss
  packages/styles/src/_functions.scss
  packages/styles/src/index.scss
  packages/styles/src/mixins/_base-styles.scss
  packages/styles/src/mixins/_index.scss
  packages/styles/src/root/_entity-status.scss
  packages/styles/src/variables/_base-colors.scss
  packages/styles/src/variables/_colors.scss
  packages/styles/src/variables/_prepend-append.scss
  packages/toaster/src/style.scss
  packages/tpc/src/components/styles.scss
  packages/ui-components/src/Button/ButtonRow/style.scss
  packages/ui-components/src/Button/IconButton/style.scss
  packages/ui-components/src/Button/_colors.scss
  packages/ui-components/src/Button/_sizes.scss
  packages/ui-components/src/Button/style.scss
  packages/ui-components/src/EmptyState/style.scss
  packages/ui-components/src/EntityCard/styles.scss
  packages/ui-components/src/EntityList/style.scss
  packages/ui-components/src/EspressoTable/style/cell.scss
  packages/ui-components/src/EspressoTable/style/tablet-style.scss
  packages/ui-components/src/Grid/style.scss
  packages/ui-components/src/Heading/style.scss
  packages/ui-components/src/InlineEdit/InlineEditInput/style.scss
  packages/ui-components/src/ItemCount/style.scss
  packages/ui-components/src/LoadingNotice/style.scss
  packages/ui-components/src/NumberInput/style.scss
  packages/ui-components/src/Radio/style.scss
  packages/ui-components/src/SearchInput/style.scss
  packages/ui-components/src/Select/style.scss
  packages/ui-components/src/Steps/style.scss
  packages/ui-components/src/Tag/style.scss
  packages/ui-components/src/Textarea/style.scss
  packages/ui-components/src/dnd/style.scss
  packages/ui-components/src/text-input/TextInput/style.scss
Labels: T: enhancement ✨

#666 DateTimeRangePicker and Pagination fixes.
  domains/eventEditor/src/ui/datetimes/datesList/cardView/DateCardSidebar.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/cardView/TicketCardSidebar.tsx
  packages/constants/src/misc.ts
  packages/hooks/src/index.ts
  packages/hooks/src/useViewportWidthGreaterThan.ts
  packages/tpc/src/fields/BaseField.tsx
  packages/ui-components/src/EditDateRangeButton/EditDateRangeButton.tsx
  packages/ui-components/src/EditDateRangeButton/styles.scss
  packages/ui-components/src/EditDateRangeButton/types.ts
  packages/ui-components/src/Legend/ToggleLegendButton.tsx
  packages/ui-components/src/MoneyInputWrapper/index.stories.tsx
  packages/ui-components/src/Pagination/index.stories.tsx
  packages/ui-components/src/Pagination/style.scss
  packages/ui-components/src/Popover/style.scss
  packages/ui-components/src/TimezoneTimeInfo/style.scss
  packages/ui-components/src/text-input/InputWithLabel/style.scss
Labels: C: UI/UX 🚽, T: bug 🐞

#670 SimpleEntityList UI fixes.
  domains/rem/src/ui/Tickets/index.tsx
  domains/rem/src/ui/Tickets/style.scss
  packages/constants/src/misc.ts
  packages/ee-components/src/SimpleTicketCard/SimpleTicketCard.tsx
  packages/ee-components/src/SimpleTicketCard/index.stories.tsx
  packages/ee-components/src/SimpleTicketCard/style.scss
  packages/ui-components/src/EntityCard/SimpleEntityCard/index.tsx
  packages/ui-components/src/EntityCard/SimpleEntityCard/styles.scss
  packages/ui-components/src/EntityCard/types.ts
  packages/ui-components/src/SimpleEntityList/SimpleEntityList.tsx
  packages/ui-components/src/SimpleEntityList/style.scss
Labels: C: UI/UX 🚽, T: bug 🐞

#671 Extract ticket update logic
  domains/eventEditor/src/ui/datetimes/dateForm/multiStep/Content.tsx
  domains/eventEditor/src/ui/tickets/defaultTickets/data/useMutateTicket.ts
  domains/eventEditor/src/ui/tickets/defaultTickets/data/useSubmitForm.ts
  domains/eventEditor/src/ui/tickets/ticketForm/multiStep/Container.tsx
  domains/eventEditor/src/ui/tickets/ticketForm/multiStep/Content.tsx
  domains/eventEditor/src/ui/tickets/ticketForm/multiStep/useOnSubmit.ts
  domains/rem/src/data/useMutateTickets.ts
  domains/wpUser/src/hooks/useTicketUpdateInput.ts
  packages/edtr-services/src/apollo/mutations/tickets/constants.ts
  packages/edtr-services/src/apollo/mutations/tickets/useMutationHandler.ts
  packages/edtr-services/src/ioc/index.ts
  packages/tpc/src/hooks/index.ts
  packages/tpc/src/hooks/useMutateTicket.ts
  packages/tpc/src/hooks/useOnSubmitPrices.ts
  packages/tpc/src/utils/index.ts
  packages/tpc/src/utils/shouldUpdateTicket.ts
  packages/utils/src/predicates/index.ts
Labels: D: EDTR ✏️, D: Packages 📦, T: code-quality 👾

#674 Fix default ticket mutations
  domains/eventEditor/src/ui/tickets/defaultTickets/data/useInitialState.ts
  packages/edtr-services/src/apollo/mutations/tickets/useMutationHandler.ts
  packages/edtr-services/src/apollo/mutations/tickets/useUpdateTicketCache.ts
  packages/edtr-services/src/apollo/queries/prices/index.ts
  packages/edtr-services/src/apollo/queries/prices/useDefaultTicketsPrices.ts
  packages/edtr-services/src/apollo/queries/prices/usePriceQueryOptions.ts
  packages/edtr-services/src/apollo/queries/prices/usePrices.ts
  packages/edtr-services/src/apollo/queries/tickets/index.ts
  packages/edtr-services/src/apollo/queries/tickets/test/data.ts
  packages/edtr-services/src/apollo/queries/tickets/useDefaultTicketIds.ts
  packages/edtr-services/src/apollo/queries/tickets/useDefaultTickets.ts
  packages/edtr-services/src/apollo/queries/tickets/useDefaultTicketsQueryOptions.ts
  packages/edtr-services/src/apollo/queries/tickets/useTicketQueryOptions.ts
  packages/edtr-services/src/apollo/queries/tickets/useTickets.ts
Labels: C: data systems 🗑, D: EDTR ✏️, T: bug 🐞

#673 PatternEditor RTL fixes.
  domains/eventEditor/src/ui/tickets/ticketsList/actions/Actions.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/actions/styles.scss
  domains/eventEditor/src/ui/tickets/ticketsList/newTicketOptions/AddSingleTicket.tsx
  domains/rem/src/ui/datetimeDetails/DateTemplate.tsx
  domains/rem/src/ui/recurrence/index.stories.tsx
  packages/rrule-generator/src/components/End/After.tsx
  packages/rrule-generator/src/components/End/index.tsx
  packages/ui-components/src/Button/IconButton/index.tsx
  packages/ui-components/src/Button/IconButton/style.scss
  packages/ui-components/src/Button/IconButton/types.ts
  packages/ui-components/src/DropdownMenu/DropdownMenu.tsx
  packages/ui-components/src/DropdownMenu/DropdownToggle/index.tsx
  packages/ui-components/src/DropdownMenu/DropdownToggle/styles.scss
  packages/ui-components/src/DropdownMenu/types.ts
  packages/ui-components/src/Radio/style.scss
  packages/ui-components/src/Select/index.stories.tsx
  packages/ui-components/src/Select/style.scss
  packages/ui-components/src/withLabel/style.scss
  packages/ui-components/src/withLabel/types.ts
  packages/ui-components/src/withLabel/withLabel.tsx
Labels: C: UI/UX 🚽, T: bug 🐞

#679 RTE scrollbar fix.
  packages/rich-text-editor/src/rte-old/components/RichTextEditor/style.scss
Labels: C: UI/UX 🚽, T: bug 🐞

#680 Fix prices for ticket templates
  domains/eventEditor/src/ui/tickets/defaultTickets/ModalBody.tsx
  domains/eventEditor/src/ui/tickets/defaultTickets/data/useDataStateManager.ts
  domains/eventEditor/src/ui/tickets/defaultTickets/data/useInitialState.ts
  domains/eventEditor/src/ui/tickets/hooks/useDeleteTicketHandler.ts
  domains/eventEditor/src/ui/tickets/ticketForm/useTicketFormConfig.ts
  domains/eventEditor/src/ui/tickets/ticketsList/actionsMenu/dropdown/useCopyTicket.ts
  domains/eventEditor/src/ui/tickets/ticketsList/bulkEdit/prices/editTogether/useOnSubmitPrices.ts
  domains/rem/src/data/useMutateTicket.ts
  domains/rem/src/ui/Tickets/index.tsx
  packages/edtr-services/src/apollo/queries/tickets/test/useTicketPrices.test.ts
  packages/edtr-services/src/apollo/queries/tickets/useTicketPrices.ts
  packages/tpc/src/data/useInitialState.ts
  packages/tpc/src/hooks/index.ts
  packages/tpc/src/hooks/useAddDefaultPrices.ts
  packages/tpc/src/hooks/usePrepTemplatePrices.ts
  packages/tpc/src/hooks/usePriceToTpcModifier.ts
  packages/tpc/src/utils/utilities.ts
Labels: C: data systems 🗑, D: EDTR ✏️, D: REM ♺, T: bug 🐞

#684 Fix stale entity data and wrong dates in table view
  domains/eventEditor/src/ui/datetimes/datesList/tableView/useBodyRowGenerator.tsx
  domains/eventEditor/src/ui/tickets/ticketsList/tableView/useBodyRowGenerator.tsx
Labels: C: data systems 🗑, D: EDTR ✏️, T: bug 🐞

#685 Hide bulk actions toggle button via Feature Flag
  packages/ee-components/src/EntityList/EntityList.tsx
  packages/ee-components/src/EntityList/EntityListFilterBar.tsx
  packages/ee-components/src/EntityList/types.ts
Labels: C: UI/UX 🚽, D: EDTR ✏️, T: bug 🐞

#686 Checkbox improvement.
  packages/ui-components/src/Checkbox/Checkbox.tsx
  packages/ui-components/src/Checkbox/style.scss
  packages/ui-components/src/EspressoTable/style/cell.scss
  packages/ui-components/src/bulkEdit/styles.scss
Labels: C: UI/UX 🚽

#682 Timezone info icon overlap fix.
  packages/adapters/src/Popover/Popover.tsx
  packages/adapters/src/Popover/types.ts
  packages/ui-components/src/TimezoneTimeInfo/TimezoneTimeInfo.tsx
  packages/ui-components/src/TimezoneTimeInfo/Trigger.tsx
Labels: C: UI/UX 🚽, D: EDTR ✏️, T: bug 🐞
