Repository eventespresso/barista, pull requests merged in 2022-03, with the labels that each got.

#1137 Rename `use_bulk_edit` to `ee_event_editor_bulk_edit`
  domains/core/admin/eventEditor/src/ui/datetimes/datesList/bulkEdit/actions/Actions.tsx
  domains/core/admin/eventEditor/src/ui/datetimes/datesList/tableView/Checkbox.tsx
  domains/core/admin/eventEditor/src/ui/tickets/ticketsList/bulkEdit/actions/Actions.tsx
  domains/core/admin/eventEditor/src/ui/tickets/ticketsList/tableView/Checkbox.tsx
  ee-barista.php
  packages/ee-components/src/EntityList/EntityList.tsx
  packages/services/src/permissions/useCurrentUserCan.ts
Labels: D: EE CORE ☕, C: UI/UX 🚽, C: services 🤝, D: Packages 📦

#1138 Wrap "Add New Date" Button in Feature Flag
  domains/core/admin/eventEditor/src/ui/datetimes/datesList/DatesListButtons.tsx
  domains/core/admin/eventEditor/src/ui/datetimes/datesList/newDateOptions/OptionsModalButton.tsx
Labels: T: enhancement ✨, S5: code review 🔎, D: EE CORE ☕, P3: med priority 😐

#1139 Add withPermission HOC and Fix New EDTR Caps
  domains/core/admin/eventEditor/src/ui/datetimes/datesList/DatesListButtons.tsx
  domains/core/admin/eventEditor/src/ui/datetimes/datesList/bulkEdit/actions/Actions.tsx
  domains/core/admin/eventEditor/src/ui/datetimes/datesList/tableView/Checkbox.tsx
  domains/core/admin/eventEditor/src/ui/tickets/ticketsList/bulkEdit/actions/Actions.tsx
  domains/core/admin/eventEditor/src/ui/tickets/ticketsList/tableView/Checkbox.tsx
  ee-barista.php
  packages/ee-components/src/EntityList/EntityList.tsx
  packages/services/src/permissions/index.ts
  packages/services/src/permissions/withPermission.tsx
Labels: S5: code review 🔎, D: EE CORE ☕, C: UI/UX 🚽, C: services 🤝, D: Packages 📦

#1135 E2E test for ticket selector, more ticket and one max attendees at frontend
  packages/e2e-tests/specs/admin/events/templates/ticket-selector/moreTicketSelectorOneMaxAttendees.test.ts
Labels: D: Packages 📦, C: tests 🧪, S:7 APPROVED ✔️

#1143 Check If Current User Is a Super Admin
  packages/data/src/queries/currentUser/queries.ts
  packages/data/src/queries/currentUser/types.ts
  packages/services/src/permissions/useCurrentUserCan.ts
Labels: C: data systems 🗑, C: services 🤝, S4: in progress 🚧, D: Packages 📦

#1140 Ticket Details Edit Form Section Requires `ee_advanced_event_editor` Capability
  domains/core/admin/eventEditor/src/ui/tickets/ticketForm/useTicketFormConfig.ts
  packages/ui-components/src/NumberInput/style.scss
Labels: D: EE CORE ☕, C: UI/UX 🚽, D: Packages 📦, S:7 APPROVED ✔️
