Repository eventespresso/barista, pull requests merged in 2023-11, with the labels that each got.

#1272 Fix E2E workflow failing to obtain head_ref from pull request
  .github/workflows/e2e-checks.yml
Labels: T: bug 🐛, S9: needs testing 🧪, C: automation & deployment ⚙️, P3: med priority 😐, S8: approved ✔️

#1269 Add New Feature Flags Admin UI
  domains/core/admin/eventEditor/src/ui/datetimes/datesList/bulkEdit/actions/Actions.tsx
  domains/core/admin/eventEditor/src/ui/datetimes/datesList/tableView/useBodyRowGenerator.tsx
  domains/core/admin/eventEditor/src/ui/datetimes/datesList/tableView/useHeaderRowGenerator.tsx
  domains/core/admin/eventEditor/src/ui/datetimes/registryInit.tsx
  domains/core/admin/eventEditor/src/ui/tickets/registryInit.tsx
  domains/core/admin/eventEditor/src/ui/tickets/ticketsList/bulkEdit/actions/Actions.tsx
  domains/core/admin/eventEditor/src/ui/tickets/ticketsList/filterBar/controls/options.ts
  domains/core/admin/eventEditor/src/ui/tickets/ticketsList/tableView/useBodyRowGenerator.tsx
  domains/core/admin/eventEditor/src/ui/tickets/ticketsList/tableView/useHeaderRowGenerator.tsx
  ee-barista.php
  lib/Barista.php
  lib/FeatureFlagsAdminPage.php
  lib/FeatureFlagsConfigForm.php
  packages/ee-components/src/EntityList/EntityList.tsx
  packages/ee-components/src/EntityList/EntityListFilterBar.tsx
  packages/ee-components/src/EntityList/types.ts
  packages/ee-components/src/filterBar/SortByControl/index.tsx
  packages/ee-components/src/filterBar/SortByControl/style.scss
  packages/services/src/filterState/types.ts
  packages/services/src/filterState/useEntityListFilterStateManager.ts
  packages/services/src/filterState/useStateReducer.ts
  packages/styles/src/mixins/_base-styles.scss
  packages/styles/src/mixins/_breakpoints.scss
  packages/ui-components/src/ActiveFilters/FilterTag/styles.scss
  packages/ui-components/src/ActiveFilters/styles.scss
  packages/ui-components/src/EntityList/EntityList.tsx
  packages/ui-components/src/EntityList/filterBar/buttons/ToggleFiltersButton.tsx
  packages/ui-components/src/EntityList/filterBar/style.scss
  packages/ui-components/src/EntityList/style.scss
  packages/ui-components/src/FilterBarFilter/FilterBarFilter.tsx
  packages/ui-components/src/Legend/ToggleLegendButton.tsx
  packages/ui-components/src/Pagination/style.scss
  packages/ui-components/src/Select/Select.tsx
  packages/ui-components/src/Select/types.ts
  packages/ui-components/src/bulkEdit/styles.scss
  packages/ui-components/src/types.ts
Labels: D: EE CORE ☕, C: UI/UX 🚽, C: services 🤝, D: Packages 📦, P3: med priority 😐, S8: approved ✔️, S:10 merge 🖇

#1242 Fix RTE Button Active State Styles
  packages/rich-text-editor/src/components/RichTextEditor/style.scss
  packages/rich-text-editor/src/rte-old/components/RichTextEditor/style.scss
Labels: T: bug 🐛, C: data systems 🗑, D: Packages 📦, P3: med priority 😐, S8: approved ✔️, S:10 merge 🖇

#1244 Fix Required Ticket Sort Order in EDTR
  domains/core/admin/eventEditor/src/ui/tickets/ticketForm/useTicketFormConfig.ts
  domains/rem/src/ui/Tickets/useTicketFormConfig.ts
  packages/predicates/src/tickets/sorters/index.ts
  packages/ui-components/src/withTooltip/style.scss
Labels: T: bug 🐛, D: REM ♺, D: EE CORE ☕, C: UI/UX 🚽, C: services 🤝, D: Packages 📦, S8: approved ✔️, S:10 merge 🖇

#1273 Add credit card parameter for E2E tests for PayPal Commerce
  .github/workflows/e2e-checks.yml
Labels: S9: needs testing 🧪, C: automation & deployment ⚙️, P3: med priority 😐, S8: approved ✔️

#1274 Increase Query Limit to 250
  domains/core/admin/blocks/src/event-attendees/attributes.ts
  domains/core/admin/blocks/src/services/apollo/queries/datetimes/useDatetimesQueryOptions.ts
  domains/core/admin/blocks/src/services/apollo/queries/events/useEventsQueryOptions.ts
  domains/core/admin/blocks/src/services/apollo/queries/tickets/useTicketsQueryOptions.ts
  domains/core/admin/eventEditor/src/ui/venue/VenueDetails.tsx
Labels: S11: completed 🚀, D: EE CORE ☕
