Repository eventespresso/barista, pull requests merged in 2023-06, with the labels that each got.

#1195 Save per page setting to local session
  packages/services/src/filterState/useEntityListFilterStateManager.ts
Labels: C: services 🤝, D: Packages 📦, S7: APPROVED ✔️

#1197 Fix/edtr bulk editor floating values
  .gitignore
  domains/core/admin/eventEditor/src/ui/datetimes/datesList/bulkEdit/details/useBulkEditFormConfig.ts
  domains/core/admin/eventEditor/src/ui/tickets/ticketsList/bulkEdit/details/useBulkEditFormConfig.ts
  package.json
  packages/dates/src/utils/addSub.ts
  packages/dates/src/utils/misc.ts
  packages/dates/src/utils/modifyDate.ts
  packages/dates/src/utils/test/modifyDate/fixture.ts
  packages/dates/src/utils/test/modifyDate/modifyDate.test.ts
  packages/dates/src/utils/types.ts
  yarn.lock
Labels: T: bug 🐞, C: build process 🔨, D: EE CORE ☕, C: data systems 🗑, C: assets 💎, D: Packages 📦, P3: med priority 😐, S7: APPROVED ✔️

#1206 EDTR UI Fixes
  domains/core/admin/eventEditor/src/ui/tickets/ticketsList/tableView/useHeaderRowGenerator.tsx
  domains/rem/src/services/datesTableFilter/registerFilters.tsx
  domains/rem/src/ui/RecurrenceTag.tsx
  packages/helpers/src/tickets/ticketVisibilityOptions.ts
  packages/ui-components/src/EspressoTable/style/_data-cell.scss
  packages/ui-components/src/EspressoTable/style/index.scss
  packages/ui-components/src/ItemCount/style.scss
Labels: D: REM ♺, D: EE CORE ☕, C: UI/UX 🚽, C: services 🤝, S4: in progress 🚧, D: Packages 📦

#1208 Fix/unit test calculate ticket total
  packages/tpc/src/utils/applyPriceModifiers.ts
  packages/tpc/src/utils/test/calculateBasePrice.test.ts
  packages/tpc/src/utils/test/calculateTicketTotal.test.ts
  packages/tpc/src/utils/test/ticketTotalData.ts
  packages/utils/src/money/parsedAmount.ts
  packages/utils/src/money/test/amountsMatch.test.ts
  packages/utils/src/money/test/formatAmount.test.ts
  packages/utils/src/money/test/parsedAmount.test.ts
  tsconfig.json
Labels: T: bug 🐞, C: build process 🔨, C: data systems 🗑, C: services 🤝, D: Packages 📦, P3: med priority 😐, S7: APPROVED ✔️

#1199 Fix/rem copy venue for new series
  domains/rem/src/constants/index.ts
  domains/rem/src/data/types.ts
  domains/rem/src/data/useFormStateManager.ts
  domains/rem/src/data/useFormStateReducer.ts
  domains/rem/src/data/useSubmitForm.ts
  domains/rem/src/ui/datetimeDetails/FormWrapper.tsx
  domains/rem/src/ui/datetimeDetails/useDateFormConfig.ts
  packages/edtr-services/src/apollo/mutations/datetimes/types.ts
  packages/edtr-services/src/apollo/mutations/datetimes/useDatetimeMutator.ts
  packages/edtr-services/src/apollo/types.ts
Labels: T: bug 🐞, D: REM ♺, C: data systems 🗑, D: Packages 📦, P3: med priority 😐, S7: APPROVED ✔️
