Repository eventespresso/barista, pull requests merged in 2023-07, with the labels that each got.

#1216 Fix Overzealous Missing Ticket Price Types Notice
  packages/predicates/src/priceTypes/selectionPredicates/index.ts
  packages/predicates/src/prices/selectionPredicates/index.test.ts
  packages/predicates/src/prices/selectionPredicates/index.ts
  packages/tpc/src/components/TicketPriceCalculator.tsx
Labels: C: data systems 🗑, C: services 🤝, D: Packages 📦, S7: APPROVED ✔️

#1220 Ensure New Default Tickets ALWAYS Have a Base Price
  domains/core/admin/eventEditor/src/ui/tickets/defaultTickets/data/useSubmitForm.ts
  packages/tpc/src/hooks/test/useDefaultBasePrice.test.ts
  packages/tpc/src/hooks/useDefaultBasePrice.ts
  packages/tpc/src/hooks/useMutatePrices.ts
  packages/tpc/src/hooks/useMutateTicket.ts
Labels: T: bug 🐞, D: EE CORE ☕, C: data systems 🗑, D: Packages 📦, S7: APPROVED ✔️

#1221 Chore/update eslint deps
  domains/core/admin/eventEditor/src/ui/ticketAssignmentsManager/data/test/useAssignmentManager.test.ts
  domains/rem/src/data/test/useGenerateDates.test.ts
  domains/rem/src/ui/Tickets/TicketCard.tsx
  package.json
  packages/helpers/src/tickets/ticketVisibilityOptions.ts
  packages/predicates/src/common/selectionById/index.test.ts
  yarn.lock
Labels: C: build process 🔨, D: REM ♺, D: EE CORE ☕, C: assets 💎, C: services 🤝, D: Packages 📦, P3: med priority 😐, T: code quality 👾, S7: APPROVED ✔️

#1223 Fix/e2e tests
  .gitignore
  .wp-env.json
  config/wp-env/make-config.js
  e2e-tests/fixtures/Auth.ts
  e2e-tests/fixtures/StorageState.ts
  e2e-tests/fixtures/fixtures.ts
  e2e-tests/package.json
  e2e-tests/specs/sample.spec.ts
  e2e-tests/specs/try-fixture.spec.ts
  e2e-tests/tsconfig.json
  package.json
  packages/e2e-tests/config/setup-playwright.ts
  packages/e2e-tests/jest.playwright.config.ts
  packages/e2e-tests/specs/add-ons/rem/index.test.ts
  packages/e2e-tests/specs/add-ons/wpUser/index.test.ts
  packages/e2e-tests/specs/admin/events/dates-list/edit.test.ts
  packages/e2e-tests/specs/admin/events/editor/ticket/assignments-manager/filters.test.ts
  packages/e2e-tests/specs/admin/events/editor/ticket/assignments-manager/index.test.ts
  packages/e2e-tests/specs/admin/events/editor/ticket/assignments-manager/related-count-vs-assignments.test.ts
  packages/e2e-tests/specs/admin/events/editor/ticket/assignments-manager/single-vs-global-tam.test.ts
  packages/e2e-tests/specs/admin/events/editor/ticket/assignments-manager/toggle-assignments.test.ts
  packages/e2e-tests/specs/admin/events/editor/ticket/price-calculator/index.test.ts
  packages/e2e-tests/specs/admin/events/editor/tickets-list/index.test.ts
  packages/e2e-tests/specs/admin/events/templates/archives/displayDatetimes.test.ts
  packages/e2e-tests/specs/admin/events/templates/archives/displayStatusBanner.test.ts
  packages/e2e-tests/specs/admin/events/templates/single/displayStatusBanner.test.ts
  packages/e2e-tests/specs/admin/events/templates/single/displayVenueDetails.test.ts
  packages/e2e-tests/specs/admin/events/templates/ticket-selector/freeTicketSelectorOneMaxAttendees.test.ts
  packages/e2e-tests/specs/admin/events/templates/ticket-selector/moreTicketSelectorOneMaxAttendees.test.ts
  packages/e2e-tests/specs/admin/events/templates/ticket-selector/moreTicketSelectorTenMaxAttendees.test.ts
  packages/e2e-tests/specs/public/single-page-checkout/registration-scenarios/index.test.ts
  packages/e2e-tests/specs/public/single-page-checkout/registration-scenarios/sold-out.test.ts
  packages/e2e-tests/specs/shared/copy-entity.test.ts
  packages/e2e-tests/specs/shared/date-capacity-vs-ticket-qty.test.ts
  packages/e2e-tests/specs/shared/pagination.test.ts
  packages/e2e-tests/specs/shared/search.test.ts
  packages/e2e-tests/specs/shared/two-dates-two-tickets.test.ts
  packages/e2e-tests/specs/shared/views/card-view-date-range.test.ts
  packages/e2e-tests/specs/shared/views/switch-view.test.ts
  packages/e2e-tests/specs/shared/views/table-view-new-entity-test.ts
  packages/e2e-tests/utils/admin/events/editor/DateEditor.ts
  packages/e2e-tests/utils/admin/events/editor/EDTRGlider.ts
  packages/e2e-tests/utils/admin/events/editor/EntityEditor.ts
  packages/e2e-tests/utils/admin/events/editor/RegistrationOptions.ts
  packages/e2e-tests/utils/admin/events/editor/TicketEditor.ts
  packages/e2e-tests/utils/admin/events/editor/addNewDate.ts
  packages/e2e-tests/utils/admin/events/editor/removeAllPriceModifiers.ts
  packages/e2e-tests/utils/admin/events/editor/removeAllTickets.ts
  packages/e2e-tests/utils/admin/events/editor/removeLastTicket.ts
  packages/e2e-tests/utils/admin/events/list/createNewEvent.ts
  packages/e2e-tests/utils/common/index.ts
  packages/e2e-tests/utils/common/itif.ts
  packages/e2e-tests/utils/dev/config.ts
  packages/e2e-tests/utils/public/reg-checkout/EventRegistrar.ts
  playwright.config.ts
  tsconfig.json
  workspaces.json
  yarn.lock
Labels: C: build process 🔨, C: assets 💎, D: Packages 📦, P3: med priority 😐, C: tests 🧪, T: code quality 👾, S7: APPROVED ✔️

#1224 Ensure New Price Modifiers Are Not Disabled
  packages/tpc/src/buttons/AddPriceModifierButtonData.tsx
Labels: T: bug 🐞, C: data systems 🗑, D: Packages 📦, P3: med priority 😐, S7: APPROVED ✔️

#1228 Update Playwright configuration for E2E tests
  config/wp-env/WpEnv.ts
  config/wp-env/make-config.js
  config/wp-env/run.ts
  e2e-tests/fixtures/Auth.ts
  e2e-tests/fixtures/Navigate.ts
  e2e-tests/fixtures/Nuke.ts
  e2e-tests/fixtures/StorageState.ts
  e2e-tests/fixtures/fixtures.ts
  e2e-tests/index.ts
  e2e-tests/setup/global-setup.ts
  e2e-tests/setup/global-teardown.ts
  e2e-tests/specs/environment.spec.ts
  e2e-tests/specs/sample.spec.ts
  e2e-tests/specs/try-fixture.spec.ts
  package.json
  playwright.config.ts
  tsconfig.json
  yarn.lock
Labels: C: build process 🔨, T: task 🧹, C: assets 💎, P3: med priority 😐, S7: APPROVED ✔️

#1231 Remove dev dependencies for old E2E tests
  .eslintrc.json
  .github/workflows/e2e-tests.yml
  package.json
  yarn.lock
Labels: C: build process 🔨, T: task 🧹, C: assets 💎, C: automation & deployment ⚙️, P3: med priority 😐, S7: APPROVED ✔️

#1233 Set `data-selected` on Selected Option
  packages/adapters/src/Select/Select.tsx
Labels: T: enhancement ✨, C: assets 💎, D: Packages 📦, P3: med priority 😐, S7: APPROVED ✔️

#1236 Create E2E test for Quick Links in Events page
  config/wp-env/WpEnv.ts
  e2e-tests/fixtures/Auth.ts
  e2e-tests/fixtures/DateFactory.ts
  e2e-tests/fixtures/Events.ts
  e2e-tests/fixtures/fixtures.ts
  e2e-tests/index.ts
  e2e-tests/setup/global-setup.ts
  e2e-tests/specs/environment.spec.ts
  e2e-tests/specs/events-page.spec.ts
  playwright.config.ts
Labels: T: task 🧹, P3: med priority 😐, S7: APPROVED ✔️

#1243 Consolidate E2E deps under its own package
  .gitignore
  e2e-tests/.gitignore
  e2e-tests/fixtures/Auth.ts
  e2e-tests/package.json
  e2e-tests/playwright.config.ts
  e2e-tests/specs/environment.spec.ts
  e2e-tests/tsconfig.json
  e2e-tests/wp-env/WpEnv.ts
  e2e-tests/wp-env/run.ts
  package.json
  tsconfig.json
  yarn.lock
Labels: C: build process 🔨, T: task 🧹, C: assets 💎, P3: med priority 😐, S7: APPROVED ✔️

#1245 Create a scaffolding utility for E2E tests
  e2e-tests/database/Client.ts
  e2e-tests/database/Event.ts
  e2e-tests/database/Factory.ts
  e2e-tests/database/Schema.ts
  e2e-tests/database/helper.ts
  e2e-tests/fixtures/Auth.ts
  e2e-tests/fixtures/DateFactory.ts
  e2e-tests/fixtures/Events.ts
  e2e-tests/fixtures/Navigate.ts
  e2e-tests/fixtures/Url.ts
  e2e-tests/fixtures/fixtures.ts
  e2e-tests/fixtures/utilities.ts
  e2e-tests/index.ts
  e2e-tests/package.json
  e2e-tests/setup/global-setup.ts
  e2e-tests/setup/global-teardown.ts
  e2e-tests/specs/events-page.spec.ts
  e2e-tests/specs/rest.spec.ts
  e2e-tests/tsconfig.json
  e2e-tests/wp-env/WpEnv.ts
  yarn.lock
Labels: T: chore 🧹, C: assets 💎, P3: med priority 😐, S8: approved ✔️
