Repository eventespresso/barista, pull requests merged in 2023-04, with the labels that each got.

#1171 fix: Resolved webpack warning.
  package.json
  yarn.lock
Labels: C: build process 🔨, C: assets 💎, S7: APPROVED ✔️

#1174 Fix TextInputWithLabel Styles
  .eslintrc.json
  README.md
  package.json
  packages/adapters/package.json
  packages/adapters/src/InputWithLabel/InputWithLabel.tsx
  packages/adapters/src/TextInput/TextInput.tsx
  packages/adapters/src/TextInput/types.ts
  packages/constants/package.json
  packages/data/package.json
  packages/dates/package.json
  packages/edtr-services/package.json
  packages/ee-components/package.json
  packages/events/package.json
  packages/form-builder/package.json
  packages/form/package.json
  packages/helpers/package.json
  packages/hooks/package.json
  packages/i18n/package.json
  packages/icons/package.json
  packages/ioc/package.json
  packages/plugins/package.json
  packages/predicates/package.json
  packages/registry/package.json
  packages/rich-text-editor/package.json
  packages/rrule-generator/package.json
  packages/services/package.json
  packages/slot-fill/package.json
  packages/storage/package.json
  packages/styles/package.json
  packages/toaster/package.json
  packages/tpc/package.json
  packages/ui-components/package.json
  packages/ui-components/src/TextInput/InputWithLabel/index.stories.tsx
  packages/ui-components/src/TextInput/InputWithLabel/style.scss
  packages/ui-components/src/TextInput/TextInput/TextInput.tsx
  packages/ui-components/src/TextInput/TextInput/style.scss
  packages/ui-components/src/TextInput/index.stories.tsx
  packages/ui-components/src/withLabel/style.scss
  packages/utils/package.json
Labels: C: build process 🔨, C: UI/UX 🚽, C: data systems 🗑, C: assets 💎, C: automation & deployment ⚙️, C: services 🤝, D: Packages 📦, C: accessibility ♿, S7: APPROVED ✔️

#1176 Protect Ticket Assignments Manager Table Positioning
  domains/core/admin/eventEditor/src/ui/ticketAssignmentsManager/components/table/styles.scss
Labels: T: bug 🐞, C: UI/UX 🚽, D: EDTR ✏️, P3: med priority 😐, S7: APPROVED ✔️

#1177 Fix : Updating Ticket Visibility Throws an Error
  .editorconfig
  .eslintrc.json
  domains/core/admin/eventEditor/src/ui/tickets/ticketForm/useTicketFormConfig.ts
  packages/adapters/src/TextInput/TextInput.tsx
  packages/e2e-tests/utils/admin/events/editor/TicketEditor.ts
Labels: D: EE CORE ☕, C: assets 💎, C: automation & deployment ⚙️, D: Packages 📦, C: tests 🧪, S7: APPROVED ✔️

#1179 Fix/e2e errors during workflow runs
  .github/workflows/e2e-tests.yml
  packages/e2e-tests/specs/add-ons/rem/index.test.ts
  packages/e2e-tests/specs/admin/event/categories/categoryShortcode.test.ts
  packages/e2e-tests/specs/admin/event/categories/createCategory.test.ts
  packages/e2e-tests/specs/admin/event/categories/editCategory.test.ts
  packages/e2e-tests/specs/admin/event/default/settings/defaultRegistrationStatus.test.ts
  packages/e2e-tests/specs/admin/event/events-list/bulkActions.test.ts
  packages/e2e-tests/specs/admin/event/events-list/linkForDraft.test.ts
  packages/e2e-tests/specs/admin/event/events-list/linkForThisMonth.test.ts
  packages/e2e-tests/specs/admin/event/events-list/linkForToday.test.ts
  packages/e2e-tests/specs/admin/event/events-list/linkForTrash.test.ts
  packages/e2e-tests/specs/admin/event/events-list/linkForViewAllEvents.test.ts
  packages/e2e-tests/specs/admin/event/events-list/pagination.test.ts
  packages/e2e-tests/specs/admin/event/events-list/search.test.ts
  packages/e2e-tests/specs/admin/events/editor/ticket/assignments-manager/utils.ts
  packages/e2e-tests/specs/admin/events/editor/tickets-list/filters/sortby.test.ts
  packages/e2e-tests/specs/admin/events/templates/archives/displayDatetimes.test.ts
  packages/e2e-tests/specs/admin/events/templates/archives/displayDescription.test.ts
  packages/e2e-tests/specs/admin/events/templates/archives/displayExpiredEvents.test.ts
  packages/e2e-tests/specs/admin/events/templates/archives/displayStatusBanner.test.ts
  packages/e2e-tests/specs/admin/events/templates/archives/displayTicketSelector.test.ts
  packages/e2e-tests/specs/admin/events/templates/single/displayStatusBanner.test.ts
  packages/e2e-tests/specs/admin/events/templates/single/displayVenueDetails.test.ts
  packages/e2e-tests/specs/admin/events/templates/ticket-selector/dateAndTimeFilterMaxChecked.test.ts
  packages/e2e-tests/specs/admin/events/templates/ticket-selector/dateAndTimeFilterThreshold.test.ts
  packages/e2e-tests/specs/admin/events/templates/ticket-selector/freeTicketSelectorOneMaxAttendees.test.ts
  packages/e2e-tests/specs/admin/events/templates/ticket-selector/moreTicketSelectorOneMaxAttendees.test.ts
  packages/e2e-tests/specs/admin/events/templates/ticket-selector/moreTicketSelectorTenMaxAttendees.test.ts
  packages/e2e-tests/specs/admin/events/templates/ticket-selector/showDateAndTimeFilter.test.ts
  packages/e2e-tests/specs/admin/events/templates/ticket-selector/showExpiredTickets.test.ts
  packages/e2e-tests/specs/admin/events/templates/ticket-selector/showTicketDetails.test.ts
  packages/e2e-tests/specs/admin/events/templates/ticket-selector/showTicketSaleInfo.test.ts
  tsconfig.json
Labels: C: build process 🔨, C: automation & deployment ⚙️, D: Packages 📦, C: tests 🧪, S7: APPROVED ✔️

#1181 Fix Imports in Test Files
  packages/e2e-tests/specs/add-ons/wpUser/index.test.ts
  packages/e2e-tests/specs/admin/event/events-list/linkForViewAllEvents.test.ts
  packages/e2e-tests/specs/admin/events/dates-list/edit.test.ts
  packages/e2e-tests/specs/admin/events/editor/ticket/assignments-manager/index.test.ts
  packages/e2e-tests/specs/admin/events/editor/ticket/assignments-manager/related-count-vs-assignments.test.ts
  packages/e2e-tests/specs/admin/events/editor/tickets-list/edit.test.ts
  packages/e2e-tests/specs/admin/events/editor/tickets-list/filters/status.test.ts
  packages/e2e-tests/specs/admin/events/templates/archives/displayVenueDetails.test.ts
  packages/e2e-tests/specs/admin/events/templates/ticket-selector/moreTicketSelectorTenMaxAttendees.test.ts
  packages/e2e-tests/specs/public/single-page-checkout/registration-scenarios/sold-out.test.ts
  packages/e2e-tests/specs/shared/copy-entity.test.ts
Labels: D: Packages 📦, C: tests 🧪, S7: APPROVED ✔️
