Repository eventespresso/barista, pull requests merged in 2024-05, with the labels that each got.

#1295 Upgrade typescript to v4.9.5
  package.json
  yarn.lock
Labels: C: build process 🔨, S9: needs testing 🧪, C: assets 💎, S8: approved ✔️

#1305 Fix workflow Deploy Production Assets To Cafe
  tools/clone-repo.sh
  tools/commit-changes.sh
  tools/copy-changes.sh
  tools/create-branch.sh
Labels: T: bug 🐛, S9: needs testing 🧪, C: automation & deployment ⚙️, P2: HIGH priority 😮, S8: approved ✔️

#1300 Fix Barista Plugin Trouncing WP Themes Admin
  lib/Barista.php
Labels: T: bug 🐛, S9: needs testing 🧪, P3: med priority 😐, S8: approved ✔️

#1280 Add Show All Option to Pagination Component
  packages/ui-components/src/Pagination/PerPage.tsx
  packages/ui-components/src/Pagination/constants.ts
  packages/ui-components/src/Pagination/style.scss
Labels: C: UI/UX 🚽, T: new feature ✨, D: Packages 📦, P3: med priority 😐, S8: approved ✔️, S:10 merge 🖇

#1308 Fix Feature Flags Admin
  ee-barista.php
  lib/FeatureFlagsAdminPage.php
  lib/FeatureFlagsConfigForm.php
Labels: T: refactor 🛠, P2: HIGH priority 😮, S3: needs feedback ❔, S8: approved ✔️

#1309 Add ItemCount to Datetime Registrations Link
  domains/core/admin/eventEditor/src/ui/datetimes/datesList/DateRegistrationsLink.tsx
Labels: D: EE CORE ☕, T: new feature ✨, P3: med priority 😐, S8: approved ✔️, S:10 merge 🖇

#1312 Refactor price fields of package TPC
  .eslintrc.json
  .gitignore
  jest.config.ts
  packages/adapters/src/NumberInput/types.ts
  packages/config/src/Factory.ts
  packages/config/src/test/data.ts
  packages/tpc/src/components/index.ts
  packages/tpc/src/components/price/factory/Factory.tsx
  packages/tpc/src/components/price/factory/IsPropsType.ts
  packages/tpc/src/components/price/factory/index.ts
  packages/tpc/src/components/price/factory/types.ts
  packages/tpc/src/components/price/index.ts
  packages/tpc/src/components/price/input/Description.tsx
  packages/tpc/src/components/price/input/FormattedPrice.tsx
  packages/tpc/src/components/price/input/ID.tsx
  packages/tpc/src/components/price/input/Name.tsx
  packages/tpc/src/components/price/input/Order.tsx
  packages/tpc/src/components/price/input/Type.tsx
  packages/tpc/src/components/price/input/amount/Amount.tsx
  packages/tpc/src/components/price/input/amount/index.ts
  packages/tpc/src/components/price/input/amount/styles.scss
  packages/tpc/src/components/price/input/amount/useAmount.tsx
  packages/tpc/src/components/price/input/index.ts
  packages/tpc/src/components/price/input/useData.ts
  packages/tpc/src/components/table/useBodyRowGenerator.tsx
  packages/tpc/src/components/table/useFooterRowGenerator.tsx
  packages/tpc/src/data/test/data.calculations.test.ts
  packages/tpc/src/fields/BaseField.tsx
  packages/tpc/src/fields/BaseNumberInputField.tsx
  packages/tpc/src/fields/MoneyInputWithConfig.tsx
  packages/tpc/src/fields/PriceField.tsx
  packages/tpc/src/fields/TicketPriceField.tsx
  packages/tpc/src/fields/index.ts
  packages/tpc/src/fields/types.ts
  packages/tpc/src/fields/useBaseField.tsx
  packages/tpc/src/fields/usePriceAmount.tsx
  packages/tpc/src/inputs/PriceAmountInput.tsx
  packages/tpc/src/inputs/PriceDescriptionInput.tsx
  packages/tpc/src/inputs/PriceNameInput.tsx
  packages/tpc/src/inputs/PriceOrderInput.tsx
  packages/tpc/src/inputs/PriceTypeInput.tsx
  packages/tpc/src/inputs/styles.scss
  packages/ui-components/src/NumberInput/index.tsx
  packages/ui-components/src/Select/types.ts
  packages/utils/src/money/test/amountsMatch.test.ts
  packages/utils/src/money/test/parsedAmount.test.ts
Labels: C: UI/UX 🚽, C: data systems 🗑, C: assets 💎, C: automation & deployment ⚙️, C: services 🤝, D: Packages 📦, C: tests 🧪, S8: approved ✔️, S:10 merge 🖇
