Repository eventespresso/barista, pull requests merged in 2024-01, with the labels that each got.

#1283 Fix optional property handling in DateCard component
  domains/core/admin/eventEditor/src/ui/datetimes/datesList/cardView/DateCard.tsx
Labels: S9: needs testing 🧪, D: EE CORE ☕, S8: approved ✔️

#1284 Fix Datetime TBD Status Predicates
  config/env.js
  config/webpackDevServer.config.js
  packages/adapters/package.json
  packages/constants/src/datetime.ts
  packages/edtr-services/src/apollo/mutations/useReorderEntities.ts
  packages/predicates/src/datetimes/filters/activeUpcoming/index.ts
  packages/predicates/src/datetimes/filters/soldOutOnly/index.ts
  packages/predicates/src/datetimes/filters/upcomingOnly/index.ts
  packages/predicates/src/datetimes/index.ts
  packages/predicates/src/datetimes/isCancelled/index.ts
  packages/predicates/src/datetimes/isPostponed/index.ts
  packages/predicates/src/datetimes/isTBD/index.ts
  packages/predicates/src/datetimes/isUpcoming/index.ts
  packages/ui-components/src/dnd/DragAndDrop.tsx
Labels: C: build process 🔨, S9: needs testing 🧪, C: UI/UX 🚽, C: data systems 🗑, C: assets 💎, C: services 🤝, D: Packages 📦, S8: approved ✔️

#1286 Allow manual trigger for E2E job
  .github/workflows/e2e-cache-warmup.yml
  .github/workflows/e2e-checks.yml
Labels: T: refactor 🛠, S9: needs testing 🧪, C: automation & deployment ⚙️, P3: med priority 😐, S8: approved ✔️
